extends layout
block vars
	- var title = "404"
block content
	.Undefined
		h2.Undefined_header Страница не найдена
		p.Undefined_text Так уж получилось, что из множества страниц нашего сайта<br class="hidden-xs"/> Вы оказались как раз на той, которая уже не существует.

		.UndefinedContent
			.UndefinedContent_under
				p.UndefinedContent_numbers.UndefinedContent_numbers-under 404
			.UndefinedContent_over
				p.UndefinedContent_numbers.UndefinedContent_numbers-over 404
				a.UndefinedContent_link(href="")
					span.UndefinedContent_icon
						include includes/svg/home.svg
					p.UndefinedContent_linkText Вернуться на главную страницу

