extends layout
include includes/mixins/index
block vars
	- var title = "Новость"
block content
	.HeadBackground.HeadBackground-article(style="background-image: url(/img/pages/article/article-img.jpg)")
	.Container
		.articlesWrapper
			.ArticleTeaser.ArticleTeaser-article
				.ArticleTeaser_border.ArticleTeaser_border-top
				.ArticleTeaser_border.ArticleTeaser_border-bottom
				time(datetime="2017-08-13 00:00").ArticleTeaser_date 13.08.2017
				h3.ArticleTeaser_header Квартал «Новые Котельники» становится больше
				a(href="#", class='ArticleTeaser_link ArticleTeaser_link-arrowLeft')
					.ArticleTeaser_linkInner.ArticleTeaser_linkInner-arrowLeft
						include includes/svg/arrow_right.svg
						p.ArticleTeaser_linkText Предыдущая новость

			article.ArticleFull.ArticleFull-article
				.ArticleFull_border.ArticleFull_border-top
				.ArticleFull_border.ArticleFull_border-bottom
				.ArticleFull_img(style="background: url(/img/pages/article/article-img.jpg) no-repeat center; background-size: cover;")
				.ArticleFull_inner
					time(datetime="2017-08-09 20:00").ArticleFull_date 09.08.2017
					.ArticleFull_social
						a(href="#" class="ArticleFull_socialLink share-facebook fb-root" data-title="Застройщик квартала «Новые Котельники» принял участие в забеге под эгидой благотворительного фонда Константина Хабенского" data-desc="<p>В&amp;nbsp;канун Масленицы в&amp;nbsp;Кузьминском парке состоялся благотворительный<span style=&quot;margin-right: 0.3em&quot;> </span> <span style=&quot;margin-left: -0.3em&quot;>«Забег</span> ради жизни» для&amp;nbsp;фонда Константина Хабенского. Представители застройщика принимали активное участие в&amp;nbsp;подготовке мероприятия и&amp;nbsp;обеспечили достойную анимационную программу.</p>" data-image="https://kvartalkotelniki.ru/upload/information_system_1/8/7/7/item_877/item_877.jpg" target="_blank")
							include includes/svg/facebook.svg
						a(href="#", class="ArticleFull_socialLink")
							include includes/svg/twitter.svg
						a(href="http://vk.com/share.php?url=http://sdi.blue-ant.ru/news/215/&amp;title=На низком старте: начинаем передачу кладовых помещений в 17-м корпусе&amp;description=&lt;p&gt;&lt;span&gt;Рады сообщить, что мы приступили к передаче кладовых помещений в доме № 17.&lt;/span&gt;&lt;/p&gt;&amp;image=", class="ArticleFull_socialLink")
							include includes/svg/vk.svg
					h2.ArticleFull_header День строителя
					//- TODO: replace ArticleFull_text* classes with right arrow selector (.ArticleFull_text > p)
					.CmsEditorOutput
						p
							strong Поздравляем всех строителей с предстоящим профессиональным праздником, который ежегодно отмечается во второе воскресенье августа! Пусть ваш труд всегда будет востребован и оценен, приятного вам трудового процесса и, конечно же, самых интересных проектов. Таких, как жилой квартал «Новые Котельники» - целый микрорайон с собственными детскими садами, школой и медицинским центром.
						p
							img(src="http://placehold.it/100x100", alt="")
						p В честь праздника мы приглашаем всех клиентов отметить этот день вместе с нами в офисе продаж новостройки 12 августа. Вас будут ждать ведущие и аниматоры, мастер-классы и аквагрим для детей, подарки и викторины и обязательно вкусный праздничный стол. Мы будем рады видеть вас среди наших гостей!
						p
							| Наш 
							u
								a(href="#") адрес 
							| неизменен: МО, городской округ Котельники, улица Угрешская, напротив дома №6. Приходите!


			.ArticleTeaser.ArticleTeaser-article
				.ArticleTeaser_border.ArticleTeaser_border-top
				.ArticleTeaser_border.ArticleTeaser_border-bottom
				time(datetime="2017-08-08 10:00").ArticleTeaser_date 08.08.2017
				h3.ArticleTeaser_header Тур выходного дня
				a(href="#", class='ArticleTeaser_link ArticleTeaser_link-arrowRight')
					.ArticleTeaser_linkInner
						p.ArticleTeaser_linkText Следующая новость
						include includes/svg/arrow_right.svg


		footer.ArticleLinks
			.ArticleLinks_prev.ArticleLinks_prev-arrowLeft
				include includes/svg/arrow_right.svg
				a(href="#", class="ArticleLinks_prevLink")
					| Предыдущая
					span.ArticleLinks_xsHidden  новость
			.ArticleLinks_all
				a(href="/news.html", class="ArticleLinks_allLink") К списку новостей
			.ArticleLinks_next.ArticleLinks_next-arrowRight
				a(href="#", class="ArticleLinks_nextLink")
					| Следующая
					span.ArticleLinks_xsHidden  новость
				include includes/svg/arrow_right.svg