extends layout
include includes/mixins/index
block vars
    - var title = "Новость"
block content
    .HeadBackground.HeadBackground-article(style="background-image: url(/img/structure_property_image_223.jpg)")
    .Container
        .articlesWrapper
            .ArticleTeaser.ArticleTeaser-article
                .ArticleTeaser_border.ArticleTeaser_border-top
                .ArticleTeaser_border.ArticleTeaser_border-bottom
                time(datetime="2017-08-13 00:00").ArticleTeaser_date 22.10.2018
                h3.ArticleTeaser_header Квартал «Новые Котельники» становится больше
                a(href="#", class='ArticleTeaser_link ArticleTeaser_link-arrowLeft')
                    .ArticleTeaser_linkInner.ArticleTeaser_linkInner-arrowLeft
                        include includes/svg/arrow_right.svg
                        p.ArticleTeaser_linkText Предыдущая новость

            article.ArticleFull.ArticleFull-article
                .ArticleFull_border.ArticleFull_border-top
                .ArticleFull_border.ArticleFull_border-bottom
                .ArticleFull_img(style="background: url(/img/news_12.jpg) no-repeat center; background-size: cover;")
                .ArticleFull_inner
                    time(datetime="2017-08-09 20:00").ArticleFull_date 22.10.2018
                    .ArticleFull_social
                        a(href="#" class="ArticleFull_socialLink share-facebook fb-root" data-title="Застройщик квартала «Новые Котельники» принял участие в забеге под эгидой благотворительного фонда Константина Хабенского" data-desc="<p>В&amp;nbsp;канун Масленицы в&amp;nbsp;Кузьминском парке состоялся благотворительный<span style=&quot;margin-right: 0.3em&quot;> </span> <span style=&quot;margin-left: -0.3em&quot;>«Забег</span> ради жизни» для&amp;nbsp;фонда Константина Хабенского. Представители застройщика принимали активное участие в&amp;nbsp;подготовке мероприятия и&amp;nbsp;обеспечили достойную анимационную программу.</p>" data-image="https://kvartalkotelniki.ru/upload/information_system_1/8/7/7/item_877/item_877.jpg" target="_blank")
                            include includes/svg/facebook.svg
                        a(href="#", class="ArticleFull_socialLink")
                            include includes/svg/twitter.svg
                        a(href="http://vk.com/share.php?url=http://sdi.blue-ant.ru/news/215/&amp;title=На низком старте: начинаем передачу кладовых помещений в 17-м корпусе&amp;description=&lt;p&gt;&lt;span&gt;Рады сообщить, что мы приступили к передаче кладовых помещений в доме № 17.&lt;/span&gt;&lt;/p&gt;&amp;image=", class="ArticleFull_socialLink")
                            include includes/svg/vk.svg
                    h1.ArticleFull_header 10 ноября 2018 г. в «Новых Котельниках»: игровой квест для всей семьи

                    .CmsEditorOutput
                        p Застройщик квартала «Новые Котельники» приготовил увлекательный игровой квест для&nbsp;всех возрастных категорий. Регистрация на&nbsp;это событие откроется на&nbsp;сайте квартала в&nbsp;ближайшее время.

                        p 10&nbsp;ноября на&nbsp;площадке у&nbsp;офиса продаж квартала «Новые Котельники» пройдет семейное мероприятие в&nbsp;формате игрового квеста. У&nbsp;всех желающих есть прекрасная возможность побороться за&nbsp;призовые места и&nbsp;выиграть соответствующий денежный приз.

                        p I&nbsp;место&nbsp;— 25&nbsp;000&nbsp;руб;<br> IIместо&nbsp;— 20&nbsp;000&nbsp;руб;<br> IIIместо&nbsp;— 15&nbsp;000&nbsp;руб.

                        p Для этого нужно зарегистрироваться в&nbsp;специальной форме на&nbsp;сайте квартала «Новые Котельники» (баннер для&nbsp;регистрации будет анонсирован дополнительно) и&nbsp;в&nbsp;день мероприятия приехать в&nbsp;<a href="/about/contacts/">офис</a> продаж квартала «Новые Котельники».

                        p Для гостей будут работать аквагример и&nbsp;шаржист, а&nbsp;также организованы угощения и&nbsp;согревающие напитки.

                        p Начало мероприятия в&nbsp;13:00, подробности по&nbsp;телефону +7 495 401-76-22<br><br>

                        p
                            a(href="#actionModal" data-fancy).Btn.Btn-type1 Оставить заявку


            .ArticleTeaser.ArticleTeaser-article
                .ArticleTeaser_border.ArticleTeaser_border-top
                .ArticleTeaser_border.ArticleTeaser_border-bottom
                time(datetime="2017-08-08 10:00").ArticleTeaser_date 08.08.2017
                h3.ArticleTeaser_header Тур выходного дня
                a(href="#", class='ArticleTeaser_link ArticleTeaser_link-arrowRight')
                    .ArticleTeaser_linkInner
                        p.ArticleTeaser_linkText Следующая новость
                        include includes/svg/arrow_right.svg


        footer.ArticleLinks
            .ArticleLinks_prev.ArticleLinks_prev-arrowLeft
                include includes/svg/arrow_right.svg
                a(href="#", class="ArticleLinks_prevLink")
                    | Предыдущая
                    span.ArticleLinks_xsHidden  новость
            .ArticleLinks_all
                a(href="/news.html", class="ArticleLinks_allLink") К списку новостей
            .ArticleLinks_next.ArticleLinks_next-arrowRight
                a(href="#", class="ArticleLinks_nextLink")
                    | Следующая
                    span.ArticleLinks_xsHidden  новость
                include includes/svg/arrow_right.svg

    include includes/chunks/action_modal.pug
