extends layout
block vars
    - var title = "Шахматка"
block content
    style.
        .Chess_bldNumVal-houseNum:after{content: '2'}
    .ChessSchemeSection
        #BtnsLegend.BtnsLegend.BtnsLegend-n1
            form.BtnsLegend_form
                .BtnsLegend_inner
                    .BtnsLegend_title.hidden-xs Тип квартиры
                    label.BtnsLegend_btn.BtnsLegend_btn-v1(title="студии") C
                        input.BtnsLegend_inp(type="checkbox" name="rooms0")
                    label.BtnsLegend_btn.BtnsLegend_btn-v2(title="1-но комн.") 1
                        input.BtnsLegend_inp(type="checkbox" name="rooms1")
                    label.BtnsLegend_btn.BtnsLegend_btn-v3(title="2-х комн.") 2
                        input.BtnsLegend_inp(type="checkbox" name="rooms2")
                    label.BtnsLegend_btn.BtnsLegend_btn-v4(title="3-х комн.") 3
                        input.BtnsLegend_inp(type="checkbox" name="rooms3")
                    label.BtnsLegend_btn.BtnsLegend_btn-v5(title="по акции")
                        span(style="margin-top:-2px")
                            include includes/svg/gift.svg
                        input.BtnsLegend_inp(type="checkbox" name="discount")
                    label.BtnsLegend_btn.BtnsLegend_btn-v6(title="отделка White Box")
                        span(style="margin-top:2px")
                            include includes/svg/brush_empty.svg
                        input.BtnsLegend_inp(type="checkbox" name="finish-whitebox")
                    label.BtnsLegend_btn.BtnsLegend_btn-v6(title="полная отделка")
                        span(style="margin-top:-2px")
                            include includes/svg/brush.svg
                        input.BtnsLegend_inp(type="checkbox" name="finish-full")

        #chessSlider.SectionsSlider.swiper-container
            .SectionsSlider_track.swiper-wrapper
            button.SectionsSlider_arrow.SectionsSlider_arrow-prev
                include includes/svg/arrow_right.svg
            button.SectionsSlider_arrow.SectionsSlider_arrow-next
                include includes/svg/arrow_right.svg

block page_bottom
    script(src="/js/chess.js")
