extends layout
block vars
    - var title = "Планировка"
block content
    .Container
        .FiltersSection._commercial
            .FiltersSection_leftCol.FiltersSection_leftCol-fullWidth
                .FiltersMobBar
                    a(href="/favorites.html").FiltersMobBar_btn.FiltersMobBar_btn-fav._commercial
                        include includes/svg/star.svg
                        span.FiltersMobBar_txt Избранное
                .Filterstopbar
                    .Filterstopbar_inner
                        .Filterstopbar_item.Filterstopbar_item-n6
                            a(href="/filters.html").Filterstopbar_link.Filterstopbar_link-leftIco
                                include includes/svg/arrow_short.svg
                                | К выбору
                        .Filterstopbar_item.Filterstopbar_item-n7.hidden-xs
                            a(href="/favorites.html").Filterstopbar_link Избранное
                                include includes/svg/star.svg
                        .Filterstopbar_item.Filterstopbar_item-n7.hidden-xs
                            a(href="#").Filterstopbar_link Печать
                                include includes/svg/printer.svg
                        .Filterstopbar_item.Filterstopbar_item-n7.hidden-xs
                            a(href="http://www.pdf995.com/samples/pdf.pdf" target='_blank').Filterstopbar_link Скачать
                                include includes/svg/adobe.svg
                .FiltersSection_flatTypeContainer
                    //-.FiltersSection_staticPicWrap
                        img.FiltersSection_staticPic(src='/tmp/flat_views/scheme.svg', alt='')
                        .FiltersSection_compass(style='-webkit-transform: rotate(45deg);transform: rotate(45deg);')

                    .BeforeAfterSlider.BeforeAfterSlider-n1.BeforeAfterSlider-tabs._commercial
                        .ba-tabs
                            a(href="#slider-floor", data-slider-tabs-link).ba-tabs__item На этаже
                            a(href="#slider-plan", data-slider-tabs-link).ba-tabs__item._active Планировка
                        .ba-slider
                            .ba-slider__item#slider-floor(data-slider-tabs-block style="display:none;")
                                img.BeforeAfterSlider_img(src='/tmp/flat_views/floor.svg', alt='')

                            .ba-slider__item#slider-plan(data-slider-tabs-block, data-before-after)
                                img.BeforeAfterSlider_img(src='/tmp/flat_views/scheme.svg', alt='')

                        .BeforeAfterSlider_overlayArea.BeforeAfterSlider_overlayArea-compass(style='-webkit-transform: rotate(45deg);transform: rotate(45deg);')
                        .BeforeAfterSlider_overlayArea.BeforeAfterSlider_overlayArea-sectionScheme(style='background-image: url(/tmp/section_scheme.svg)')
                    .FlatTypeDescr.FlatTypeDescr-woLift
                        h6.FlatTypeDescr_preHead Коммерческое помещение
                        h4.FlatTypeDescr_head Помещение №420
                        table.FlatTypeDescr_tbl
                            tbody
                                tr
                                    th.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-title Корпус
                                    td.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-val 6
                                tr
                                    th.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-title Секция
                                    td.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-val 3
                                tr
                                    th.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-title Этаж
                                    td.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-val 1
                                tr
                                    th.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-title Площадь
                                    td.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-val 84 м²

                        .reserv(style="margin: auto 0 15px")
                            a.Btn.Btn-type1(href="#" target="_blank") Забронировать
                        button.Btn.Btn-type1#makeOrderBtn Оставить заявку

    include includes/chunks/order_modal.pug
block page_bottom
    script(src="/js/commercial.js")
