extends layout
block vars
	- var title = "Контакты";
block content
	.Map.Map-fullscreen.Map-contact
		h1.Map_header Контакты
		.Map_map#Map

		.MapMore.MapMore-contact
			a.MapMore_link(href="/features.html")
				p.MapMore_textMobile Об окружении
				include includes/svg/arrow_right.svg

		.MapLocations.MapLocations-infrastructure
			span.MapLocations_headerIcon
				include includes/svg/arrow_accordion.svg
			h3.MapLocations_header(data-bind-marker="0") Офис продаж на объекте
			.MapLocations_wrapper
				.MapLocations_textWrapper
					p.MapLocations_text Для удобства клиентов, рядом с объектом открыт офис продаж:
					address.MapLocations_text
						| адрес:
						br
						span.MapLocations_text-bold г. Дзержинский, ул. Угрешская, напротив дома №6
					p.MapLocations_text
						| метро:
						br
						span.MapLocations_text-bold Котельники
					p.MapLocations_text
						| телефон:
						br
						span.MapLocations_text-bold +7(495)988-44-22
					p.MapLocations_text
						| время работы:
						br
						span.MapLocations_text-bold 09:00 - 20:00 (ежедневно)
					p.MapLocations_text
						| gps координаты:
						br
						span.MapLocations_text-bold Широта: 55°59'12"N (55.986692)
						br
						span.MapLocations_text-bold Долгота: 37°43'41"E (37.728029)
				img.MapLocations_img(src="img/news_1.jpg")

			span.MapLocations_headerIcon
				include includes/svg/arrow_accordion.svg
			h3.MapLocations_header(data-bind-marker="1") Застройщик Квартала
			.MapLocations_wrapper
				.MapLocations_textWrapper
					p.MapLocations_text Для удобства клиентов, рядом с объектом открыт офис продаж:
					address.MapLocations_text
						| адрес:
						br
						span.MapLocations_text-bold г. Дзержинский, ул. Угрешская, напротив дома №6
					p.MapLocations_text
						| метро:
						br
						span.MapLocations_text-bold Котельники
					p.MapLocations_text
						| телефон:
						br
						span.MapLocations_text-bold +7(495)988-44-22
					p.MapLocations_text
						| время работы:
						br
						span.MapLocations_text-bold 09:00 - 20:00 (ежедневно)
					p.MapLocations_text
						| gps координаты:
						br
						span.MapLocations_text-bold Широта: 55°59'12"N (55.986692)
						br
						span.MapLocations_text-bold Долгота: 37°43'41"E (37.728029)
				img.MapLocations_img(src="img/news_1.jpg")

			//- span.MapLocations_headerIcon
			//- 	include includes/svg/arrow_accordion.svg
			//- h3.MapLocations_header(data-bind-marker="2") Партнер «НДВ-недвижимость»
			//- .MapLocations_wrapper
			//- 	.MapLocations_textWrapper
			//- 		p.MapLocations_text Для удобства клиентов, рядом с объектом открыт офис продаж:
			//- 		address.MapLocations_text
			//- 			| адрес:
			//- 			br
			//- 			span.MapLocations_text-bold г. Дзержинский, ул. Угрешская, напротив дома №6
			//- 		p.MapLocations_text
			//- 			| метро:
			//- 			br
			//- 			span.MapLocations_text-bold Котельники
			//- 		p.MapLocations_text
			//- 			| телефон:
			//- 			br
			//- 			span.MapLocations_text-bold +7(495)988-44-22
			//- 		p.MapLocations_text
			//- 			| время работы:
			//- 			br
			//- 			span.MapLocations_text-bold 09:00 - 20:00 (ежедневно)
			//- 		p.MapLocations_text
			//- 			| gps координаты:
			//- 			br
			//- 			span.MapLocations_text-bold Широта: 55°59'12"N (55.986692)
			//- 			br
			//- 			span.MapLocations_text-bold Долгота: 37°43'41"E (37.728029)
			//- 	img.MapLocations_img(src="img/news_1.jpg")

		.MapTip
			p.MapTip_text Вы можете построить маршрут на автомобиле, выбрав точку на карте
			img.MapTip_img(src="img/pages/contact/tip-img.png")
			span.MapTip_close закрыть

		.MapSlider.MapSlider-slider.swiper-container
			.MapSlider_wrapper.swiper-wrapper
				.MapSlider_slide.swiper-slide
					h3.MapSlider_header Офис продаж на объекте
					.MapSlider_textWrapper
						p.MapSlider_text Для удобства клиентов, рядом с объектом открыт офис продаж:
						address.MapSlider_text
							| адрес:
							br
							span.MapSlider_text-bold г. Дзержинский, ул. Угрешская, напротив дома №6
						p.MapSlider_text
							| метро:
							br
							span.MapSlider_text-bold Котельники
						p.MapSlider_text
							| телефон:
							br
							span.MapSlider_text-bold +7(495)988-44-22
						p.MapSlider_text
							| время работы:
							br
							span.MapSlider_text-bold 09:00 - 20:00 (ежедневно)
						p.MapSlider_text
							| gps координаты:
							br
							span.MapSlider_text-bold Широта: 55°59'12"N (55.986692)
							br
							span.MapLocations_text-bold Долгота: 37°43'41"E (37.728029)
					img.MapSlider_img(src="img/news_1.jpg")

				.MapSlider_slide.swiper-slide
					h3.MapSlider_header Застройщик Квартала
					.MapSlider_textWrapper
						p.MapSlider_text Для удобства клиентов, рядом с объектом открыт офис продаж:
						address.MapSlider_text
							| адрес:
							br
							span.MapSlider_text-bold г. Дзержинский, ул. Угрешская, напротив дома №6
						p.MapSlider_text
							| метро:
							br
							span.MapSlider_text-bold Котельники
						p.MapSlider_text
							| телефон:
							br
							span.MapSlider_text-bold +7(495)988-44-22
						p.MapSlider_text
							| время работы:
							br
							span.MapSlider_text-bold 09:00 - 20:00 (ежедневно)
						p.MapSlider_text
							| gps координаты:
							br
							span.MapSlider_text-bold Широта: 55°59'12"N (55.986692)
							br
							span.MapLocations_text-bold Долгота: 37°43'41"E (37.728029)
					img.MapSlider_img(src="img/news_1.jpg")

				//- .MapSlider_slide.swiper-slide
				//- 	h3.MapSlider_header Партнер «НДВ-недвижимость»
				//- 	.MapSlider_textWrapper
				//- 		p.MapSlider_text Для удобства клиентов, рядом с объектом открыт офис продаж:
				//- 		address.MapSlider_text
				//- 			| адрес:
				//- 			br
				//- 			span.MapSlider_text-bold г. Дзержинский, ул. Угрешская, напротив дома №6
				//- 		p.MapSlider_text
				//- 			| метро:
				//- 			br
				//- 			span.MapSlider_text-bold Котельники
				//- 		p.MapSlider_text
				//- 			| телефон:
				//- 			br
				//- 			span.MapSlider_text-bold +7(495)988-44-22
				//- 		p.MapSlider_text
				//- 			| время работы:
				//- 			br
				//- 			span.MapSlider_text-bold 09:00 - 20:00 (ежедневно)
				//- 		p.MapSlider_text
				//- 			| gps координаты:
				//- 			br
				//- 			span.MapSlider_text-bold Широта: 55°59'12"N (55.986692)
				//- 			br
				//- 			span.MapLocations_text-bold Долгота: 37°43'41"E (37.728029)
				//- 	img.MapSlider_img(src="img/news_1.jpg")

block page_bottom
	include includes/chunks/infrasObjMarkers
	script(src="https://api-maps.yandex.ru/2.1/?apikey=c3135be3-6869-4028-b619-79f9c4ee5010&lang=ru_RU", type="text/javascript")
	script(src="/js/contacts.js")