extends layout
include includes/mixins/index
block vars
	- var title = "Progress"
block content
	
	.galleryWrapper

		.GalleryShow.swiper-container

			.GalleryShow_wrapper.swiper-wrapper
				.GalleryShow_slide.GalleryShow_slide-video.swiper-slide(hidden, data-slides-pack="1")
					.GalleryShow_videoWrapper
						iframe(class="GalleryShow_video", src="https://player.vimeo.com/video/250753027")

				.GalleryShow_slide.GalleryShow_slide-video.swiper-slide(hidden, data-slides-pack="1")
					.GalleryShow_videoWrapper
						iframe(class="GalleryShow_video", src="https://player.vimeo.com/video/250753292")

				.GalleryShow_slide.GalleryShow_slide-video.swiper-slide(hidden, data-slides-pack="1")
					.GalleryShow_videoWrapper
						iframe(class="GalleryShow_video", src="https://player.vimeo.com/video/250753366")

				.GalleryShow_slide.GalleryShow_slide-video.swiper-slide(hidden, data-slides-pack="1")
					.GalleryShow_videoWrapper
						iframe(class="GalleryShow_video", src="https://player.vimeo.com/video/250753450")



				.GalleryShow_slide.GalleryShow_slide-video.GalleryShow_slide-webcam.swiper-slide(hidden, id="GalleryShow_slide-webcam0", data-src="http://185.63.188.26:1935/live/F3.stream/playlist.m3u8", data-slides-pack="2")
					.GalleryShow_webcamWrapper

				.GalleryShow_slide.GalleryShow_slide-video.GalleryShow_slide-webcam.swiper-slide(hidden, id="GalleryShow_slide-webcam1", data-src="http://185.63.188.26:1935/live/F1.stream/playlist.m3u8", data-slides-pack="2")
					.GalleryShow_webcamWrapper


				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="3")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="3")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="3")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="3")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="3")

				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="4")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="4")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="4")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="4")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="4")

				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="5")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="5")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="5")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="5")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="5")

				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="6")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="6")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="6")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="6")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="6")

				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="7")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="7")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="7")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="7")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="7")

				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="8")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="8")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="8")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="8")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="8")

				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="9")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="9")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="9")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="9")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="9")

				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="10")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="10")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="10")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="10")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="10")

				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="11")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="11")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="11")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="11")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="11")

				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="12")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="12")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="12")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="12")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="12")

				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="13")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="13")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="13")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="13")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="13")


				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="14")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="14")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="14")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="14")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="14")


			.GalleryShow_toolpanel
				.GalleryShow_social
					span.GalleryShow_socialExtend
						include includes/svg/share.svg
					.GalleryShow_socialLinks
						a.GalleryShow_socialLink(href="#")
							include includes/svg/facebook.svg
						a.GalleryShow_socialLink(href="#")
							include includes/svg/twitter.svg
						a.GalleryShow_socialLink(href="#")
							include includes/svg/vk.svg
				.GalleryShow_controls
					.GalleryShow_prev.swiper-button-prev
						include includes/svg/arrow_right.svg
					.GalleryShow_counter
						p 01
					.GalleryShow_next.swiper-button-next
						include includes/svg/arrow_right.svg
				.GalleryShow_resize
					span.GalleryShow_resizeFull
						include includes/svg/fullscreen.svg
					span.GalleryShow_resizeNormal
						include includes/svg/fullscreen_exit.svg


		.GalleryTabs
			.GalleryTabs_item.GalleryTabs_item-active(data-trigger-pack="1")
				p Видеоотчет
			.GalleryTabs_item(data-trigger-pack="2")
				p Онлайн камеры
			.GalleryTabs_item(data-trigger-pack="3")
				p Декабрь
			.GalleryTabs_item(data-trigger-pack="4")
				p Январь
			.GalleryTabs_item(data-trigger-pack="5")
				p Февраль
			.GalleryTabs_item(data-trigger-pack="6")
				p Март
			.GalleryTabs_item(data-trigger-pack="7")
				p Апрель
			.GalleryTabs_item(data-trigger-pack="8")
				p Май
			.GalleryTabs_item(data-trigger-pack="9")
				p Июнь
			.GalleryTabs_item(data-trigger-pack="7")
				p Июль
			.GalleryTabs_item(data-trigger-pack="8")
				p Август
			.GalleryTabs_item(data-trigger-pack="9")
				p Сентябрь
			.GalleryTabs_item(data-trigger-pack="7")
				p Октябрь
			.GalleryTabs_item(data-trigger-pack="8")
				p Ноябрь
		
		.GallerySidebar

			.GallerySidebar_item.GallerySidebar_item-small(data-trigger-pack="1")
				.GallerySidebar_linkArea
				.GallerySidebar_img(style='background: url("img/pages/progress/progress-bg-1.jpg") no-repeat center; background-size: cover;')
					.GallerySidebar_mask
						img.GallerySidebar_playIcon(src="img/svg/play.svg")
						img.GallerySidebar_pauseIcon(src="img/svg/pause.svg")
				.GallerySidebar_info
					.GallerySidebar_textWrapper
						h3.GallerySidebar_header Свежий облет квадрокоптером

			.GallerySidebar_item.GallerySidebar_item-webcam.GallerySidebar_item-small(data-trigger-pack="2")
				.GallerySidebar_linkArea
				.GallerySidebar_img(style='background: url("img/pages/progress/progress-bg-2.jpg") no-repeat center; background-size: cover;')
					.GallerySidebar_mask
						img.GallerySidebar_playIcon(src="img/svg/play.svg")
						img.GallerySidebar_pauseIcon(src="img/svg/pause.svg")
				.GallerySidebar_info
					.GallerySidebar_textWrapper
						h3.GallerySidebar_header Онлайн камеры



			.GallerySidebar_item.GallerySidebar_item-big.GallerySidebar_item-expanded.GallerySidebar_item-empty(data-trigger-pack="3")
				.GallerySidebar_linkArea
				.GallerySidebar_img(style='background: url("img/pages/gallery/gallery3.png") no-repeat center; background-size: cover;')
				.GallerySidebar_info
					.GallerySidebar_order(data-order="12")
					.GallerySidebar_textWrapper
						h3.GallerySidebar_header Отделка квартир


			.GallerySidebar_item.GallerySidebar_item-big(data-trigger-pack="4")
				.GallerySidebar_linkArea
				.GallerySidebar_img(style='background: url("img/pages/gallery/gallery3.png") no-repeat center; background-size: cover;')
				.GallerySidebar_info
					.GallerySidebar_order(data-order="11")
					.GallerySidebar_textWrapper
						h3.GallerySidebar_header Отделка квартир
						p.GallerySidebar_text Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойкоторой Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которой
						a.GallerySidebar_more(href="") Подробнее
						a.GallerySidebar_flats(href="") Выбрать квартиры

			.GallerySidebar_item.GallerySidebar_item-big(data-trigger-pack="5")
				.GallerySidebar_linkArea
				.GallerySidebar_img(style='background: url("img/pages/gallery/gallery1.png") no-repeat center; background-size: cover;')
				.GallerySidebar_info
					.GallerySidebar_order(data-order="10")
					.GallerySidebar_textWrapper
						h3.GallerySidebar_header 3D тур
						p.GallerySidebar_text Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойкоторой Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которой
						a.GallerySidebar_more(href="") Подробнее
						a.GallerySidebar_flats(href="") Выбрать квартиры

			.GallerySidebar_item.GallerySidebar_item-big(data-trigger-pack="6")
				.GallerySidebar_linkArea
				.GallerySidebar_img(style='background: url("img/pages/gallery/gallery2.png") no-repeat center; background-size: cover;')
				.GallerySidebar_info
					.GallerySidebar_order(data-order="09")
					.GallerySidebar_textWrapper
						h3.GallerySidebar_header С высоты
						p.GallerySidebar_text Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойкоторой Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которой
						a.GallerySidebar_more(href="") Подробнее
						a.GallerySidebar_flats(href="") Выбрать квартиры

			.GallerySidebar_item.GallerySidebar_item-big(data-trigger-pack="7")
				.GallerySidebar_linkArea
				.GallerySidebar_img(style='background: url("img/pages/gallery/gallery3.png") no-repeat center; background-size: cover;')
				.GallerySidebar_info
					.GallerySidebar_order(data-order="08")
					.GallerySidebar_textWrapper
						h3.GallerySidebar_header Виды из окон
						p.GallerySidebar_text Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойкоторой Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которой
						a.GallerySidebar_more(href="") Подробнее
						a.GallerySidebar_flats(href="") Выбрать квартиры

			.GallerySidebar_item.GallerySidebar_item-big(data-trigger-pack="8")
				.GallerySidebar_linkArea
				.GallerySidebar_img(style='background: url("img/pages/gallery/gallery1.png") no-repeat center; background-size: cover;')
				.GallerySidebar_info
					.GallerySidebar_order(data-order="07")
					.GallerySidebar_textWrapper
						h3.GallerySidebar_header Отделка квартир
						p.GallerySidebar_text Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойкоторой Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которой
						a.GallerySidebar_more(href="") Подробнее
						a.GallerySidebar_flats(href="") Выбрать квартиры

			.GallerySidebar_item.GallerySidebar_item-big(data-trigger-pack="9")
				.GallerySidebar_linkArea
				.GallerySidebar_img(style='background: url("img/pages/gallery/gallery2.png") no-repeat center; background-size: cover;')
				.GallerySidebar_info
					.GallerySidebar_order(data-order="06")
					.GallerySidebar_textWrapper
						h3.GallerySidebar_header ON-LINE
						p.GallerySidebar_text Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойкоторой Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которой
						a.GallerySidebar_more(href="") Подробнее
						a.GallerySidebar_flats(href="") Выбрать квартиры

			.GallerySidebar_item.GallerySidebar_item-big(data-trigger-pack="10")
				.GallerySidebar_linkArea
				.GallerySidebar_img(style='background: url("img/pages/gallery/gallery3.png") no-repeat center; background-size: cover;')
				.GallerySidebar_info
					.GallerySidebar_order(data-order="05")
					.GallerySidebar_textWrapper
						h3.GallerySidebar_header Ход стройки
						p.GallerySidebar_text Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойкоторой Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которой
						a.GallerySidebar_more(href="") Подробнее
						a.GallerySidebar_flats(href="") Выбрать квартиры

			.GallerySidebar_item.GallerySidebar_item-big(data-trigger-pack="11")
				.GallerySidebar_linkArea
				.GallerySidebar_img(style='background: url("img/pages/gallery/gallery3.png") no-repeat center; background-size: cover;')
				.GallerySidebar_info
					.GallerySidebar_order(data-order="04")
					.GallerySidebar_textWrapper
						h3.GallerySidebar_header Ход стройки
						p.GallerySidebar_text Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойкоторой Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которой
						a.GallerySidebar_more(href="") Подробнее
						a.GallerySidebar_flats(href="") Выбрать квартиры

			.GallerySidebar_item.GallerySidebar_item-big(data-trigger-pack="12")
				.GallerySidebar_linkArea
				.GallerySidebar_img(style='background: url("img/pages/gallery/gallery3.png") no-repeat center; background-size: cover;')
				.GallerySidebar_info
					.GallerySidebar_order(data-order="03")
					.GallerySidebar_textWrapper
						h3.GallerySidebar_header Ход стройки
						p.GallerySidebar_text Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойкоторой Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которой
						a.GallerySidebar_more(href="") Подробнее
						a.GallerySidebar_flats(href="") Выбрать квартиры

			.GallerySidebar_item.GallerySidebar_item-big(data-trigger-pack="13")
				.GallerySidebar_linkArea
				.GallerySidebar_img(style='background: url("img/pages/gallery/gallery3.png") no-repeat center; background-size: cover;')
				.GallerySidebar_info
					.GallerySidebar_order(data-order="02")
					.GallerySidebar_textWrapper
						h3.GallerySidebar_header Ход стройки
						p.GallerySidebar_text Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойкоторой Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которой
						a.GallerySidebar_more(href="") Подробнее
						a.GallerySidebar_flats(href="") Выбрать квартиры

			.GallerySidebar_item.GallerySidebar_item-big(data-trigger-pack="14")
				.GallerySidebar_linkArea
				.GallerySidebar_img(style='background: url("img/pages/gallery/gallery3.png") no-repeat center; background-size: cover;')
				.GallerySidebar_info
					.GallerySidebar_order(data-order="01")
					.GallerySidebar_textWrapper
						h3.GallerySidebar_header Ход стройки
						p.GallerySidebar_text Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойкоторой Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которой
						a.GallerySidebar_more(href="") Подробнее
						a.GallerySidebar_flats(href="") Выбрать квартиры



block page_bottom
	script(src='//player.wowza.com/player/latest/wowzaplayer.min.js')
	script(src='js/diary.js')