extends layout
block vars
    - var title = "Документы"
block content
    .HeadBackground.HeadBackground-documents(style="background-image: url(/img/pages/documents/documents_head_bg.jpg)")
        h2.HeadBackground_header #{title}

    .Container
        .CardsList.CardsList-documents
            
            h2.CardsList_header.CardsList_header-documents
                span.CardsList_headerNumber 01. 
                | Договор долевого участия
            .CardsList_cell.CardsList_cell-documents

                .DocumentCard.DocumentCard-documents
                    h3.DocumentCard_header Договор долевого участия (корпус 1)
                    .DocumentCard_info
                        .DocumentCard_time 24:00
                        .DocumentCard_date 09.08.2017
                        .DocumentCard_company Воздвиженский Илья
                        .DocumentCard_changes
                            include includes/svg/edit.svg
                            .DocumentCard_changesText Изменения
                                .DocumentCard_tooltipText
                                    p Изменение пункта 4.1 Изменение пункта 4.1 Изменение пункта 4.1 Изменение пункта 4.1 Изменение пункта 4.1 Изменение пункта 4.1 Изменение пункта 4.1
                    .DocumentCard_documents
                        a(href="#", class='DocumentCard_docLink')
                            .DocumentCard_doc
                                img(src="/img/svg/pdf_yellow.svg" class="DocumentCard_docIcon")
                                .DocumentCard_docSize 1,1mb
                        a(href="#", class='DocumentCard_docLink')
                            .DocumentCard_doc
                                img(src="/img/svg/pdf_green.svg" class="DocumentCard_docIcon")
                                .DocumentCard_docSize 235 kb

            .CardsList_cell.CardsList_cell-documents

                .DocumentCard.DocumentCard-documents
                    h3.DocumentCard_header Договор долевого участия (корпус 1)
                    .DocumentCard_info
                        .DocumentCard_time 24:00
                        .DocumentCard_date 09.08.2017
                        .DocumentCard_company Воздвиженский Илья
                        .DocumentCard_changes
                            include includes/svg/edit.svg
                            .DocumentCard_changesText Изменения
                                .DocumentCard_tooltipText
                                    p Изменение пункта 4.1
                    .DocumentCard_documents
                        a(href="#", class='DocumentCard_docLink')
                            .DocumentCard_doc
                                img(src="/img/svg/pdf_yellow.svg" class="DocumentCard_docIcon")
                                .DocumentCard_docSize 1,1mb
                        a(href="#", class='DocumentCard_docLink')
                            .DocumentCard_doc
                                img(src="/img/svg/pdf_green.svg" class="DocumentCard_docIcon")
                                .DocumentCard_docSize 235 kb

            .CardsList_cell.CardsList_cell-documents

                .DocumentCard.DocumentCard-documents
                    h3.DocumentCard_header Договор долевого участия (корпус 1)
                    .DocumentCard_info
                        .DocumentCard_time 24:00
                        .DocumentCard_date 09.08.2017
                        .DocumentCard_company Воздвиженский Илья
                        .DocumentCard_changes
                            include includes/svg/edit.svg
                            .DocumentCard_changesText Изменения
                                .DocumentCard_tooltipText
                                    p Изменение пункта 4.1
                    .DocumentCard_documents
                        a(href="#", class='DocumentCard_docLink')
                            .DocumentCard_doc
                                img(src="/img/svg/pdf_yellow.svg" class="DocumentCard_docIcon")
                                .DocumentCard_docSize 1,1mb
                        a(href="#", class='DocumentCard_docLink')
                            .DocumentCard_doc
                                img(src="/img/svg/pdf_green.svg" class="DocumentCard_docIcon")
                                .DocumentCard_docSize 235 kb


        .CardsList.CardsList-documents

            h2.CardsList_header.CardsList_header-documents
                span.CardsList_headerNumber 01. 
                | Договор долевого участия
            .CardsList_cell.CardsList_cell-documents

                .DocumentCard.DocumentCard-documents
                    h3.DocumentCard_header Договор долевого участия (корпус 1)
                    .DocumentCard_info
                        .DocumentCard_time 24:00
                        .DocumentCard_date 09.08.2017
                        .DocumentCard_company Воздвиженский Илья
                        .DocumentCard_changes
                            include includes/svg/edit.svg
                            .DocumentCard_changesText Изменения
                                .DocumentCard_tooltipText
                                    p Изменение пункта 4.1
                    .DocumentCard_documents
                        a(href="#", class='DocumentCard_docLink')
                            .DocumentCard_doc
                                img(src="/img/svg/pdf_yellow.svg" class="DocumentCard_docIcon")
                                .DocumentCard_docSize 1,1mb
                        a(href="#", class='DocumentCard_docLink')
                            .DocumentCard_doc
                                img(src="/img/svg/pdf_green.svg" class="DocumentCard_docIcon")
                                .DocumentCard_docSize 235 kb

            .CardsList_cell.CardsList_cell-documents

                .DocumentCard.DocumentCard-documents
                    h3.DocumentCard_header Договор долевого участия (корпус 1)
                    .DocumentCard_info
                        .DocumentCard_time 24:00
                        .DocumentCard_date 09.08.2017
                        .DocumentCard_company Воздвиженский Илья
                        .DocumentCard_changes
                            include includes/svg/edit.svg
                            .DocumentCard_changesText Изменения
                                .DocumentCard_tooltipText
                                    p Изменение пункта 4.1
                    .DocumentCard_documents
                        a(href="#", class='DocumentCard_docLink')
                            .DocumentCard_doc
                                img(src="/img/svg/pdf_yellow.svg" class="DocumentCard_docIcon")
                                .DocumentCard_docSize 1,1mb
                        a(href="#", class='DocumentCard_docLink')
                            .DocumentCard_doc
                                img(src="/img/svg/pdf_green.svg" class="DocumentCard_docIcon")
                                .DocumentCard_docSize 235 kb

            .CardsList_cell.CardsList_cell-documents

                .DocumentCard.DocumentCard-documents
                    h3.DocumentCard_header Договор долевого участия (корпус 1)
                    .DocumentCard_info
                        .DocumentCard_time 24:00
                        .DocumentCard_date 09.08.2017
                        .DocumentCard_company Воздвиженский Илья
                        .DocumentCard_changes
                            include includes/svg/edit.svg
                            .DocumentCard_changesText Изменения
                                .DocumentCard_tooltipText
                                    p Изменение пункта 4.1
                    .DocumentCard_documents
                        a(href="#", class='DocumentCard_docLink')
                            .DocumentCard_doc
                                img(src="/img/svg/pdf_yellow.svg" class="DocumentCard_docIcon")
                                .DocumentCard_docSize 1,1mb
                        a(href="#", class='DocumentCard_docLink')
                            .DocumentCard_doc
                                img(src="/img/svg/pdf_green.svg" class="DocumentCard_docIcon")
                                .DocumentCard_docSize 235 kb

