extends layout
block vars
    - var title = "Избранные планировки"
block content
    .Container
        .FiltersSection
            .FiltersSection_leftCol
                include includes/blocks/FiltersMobBar
                .Filterstopbar
                    .Filterstopbar_inner
                        .Filterstopbar_item.Filterstopbar_item-n6
                            a(href="/filters.html").Filterstopbar_link.Filterstopbar_link-leftIco
                                include includes/svg/arrow_short.svg
                                | К выбору
                #flatTypesResultListContainer.FiltersSection_resultsList
                    .FiltersSection_preloadSpace
                        .swiper-lazy-preloader
                                                
            .FiltersSection_rightCol.compensate-for-scrollbar
                +FiltersOpts("flat")

    include includes/chunks/order_modal.pug
block page_bottom
    script(src='js/favorites.js')