extends layout
block vars
    - var title = "Преимущества"
    - var isBgLight = 1
    - 
        let routesArr = [
            {
                name:'metro',
                ttl:'10 минут до Метро «Котельники»',
                txt: 'а так же рядом находится станция метро «Люблино»',
            },
            {
                name:'bridge',
                ttl:'1,5 км до МКАД',
                txt: 'съезд с выделенной развязкой, на внешнюю и внутреннюю стороны',
            }, 
            {
                name:'way',
                ttl:'Новорязанское шоссе',
                txt: 'Удобный съезд в обе стороны на новорязанку',
            }, 
            {
                name:'airport',
                ttl:'Аэропорт Домодедово',
                txt: 'легкость добраться до метро Люблино',
            },
        ];
block content
    section.Bn.Bn-lightText(style="background-image:url(/img/slides/serf.jpg)")
        .Bn_inner
            h2.Bn_head Уникальные окрестности комплекса
            .Bn_text
                p Уникальная рекреационная зона проекта для взрослых и детей! Все жильцы могут посетить наш собственный полностью оборудованный пляж, который находится в некотором удалении от жилого комплекса.
    section
        .Container.NewsSection.NewsSection-n2
            .NewsSection_figuresWrap
                .NewsSection_col.NewsSection_col-n1
                    .Shape
                        .Shape_content.Shape_content-n17
                            .PseudoImg(style="background-image:url('/img/features/1.jpg')")
                                img.PseudoImg_pusher.hidden-sm.hidden-md(src="/img/pushers/320x298.png", alt="")
                                img.PseudoImg_pusher.hidden-xs.hidden-md(src="/img/pushers/384x635.png", alt="")
                                img.PseudoImg_pusher.hidden-xs.hidden-sm(src="/img/pushers/684x635.png", alt="")
                        // START: Ссылка на главную новость
                        .Shape_area.Shape_area-n13
                            .Shape_areaText.Shape_areaText-size2 Собственная рекреационная зона проекта с&nbsp;выходом на&nbsp;пляж 
                        // END: Ссылка на главную новость
                        .Shape_mask.Shape_mask-n10
                        .Shape_mask.Shape_mask-n6.hidden-xs
                        .Shape_mask.Shape_mask-n12
                        .Shape_mask.Shape_mask-n13.hidden-sm.hidden-md
                .NewsSection_col.NewsSection_col-n2.hidden-xs
                    .Shape
                        .Shape_content.Shape_content-n18
                            .PseudoImg
                                img.PseudoImg_pusher.hidden-sm.hidden-md(src="/img/pushers/320x298.png", alt="")
                                img.PseudoImg_pusher.hidden-xs.hidden-md(src="/img/pushers/384x635.png", alt="")
                                img.PseudoImg_pusher.hidden-xs.hidden-sm(src="/img/pushers/684x635.png", alt="")
                            .Shape_area.Shape_area-bg.Shape_area-n14(style="background-image:url('/img/snow.jpg')")
                            .Shape_area.Shape_area-bg.Shape_area-n15(style="background-image:url('/img/beach2.jpg')")
                            .Shape_area.Shape_area-bg.Shape_area-n18(style="background-image:url('/img/mountain.jpg')")
                        .Shape_area.Shape_area-n16
                            .Shape_areaText.Shape_areaText-size2 Работающий оборудованный пляж в пяти минутах ходьбы, дополнительные летние активности
                        .Shape_area.Shape_area-n19
                            .Shape_areaText.Shape_areaText-size2 Горнолыжный спуск с электрическими подъемниками
                        .Shape_area.Shape_area-n17
                            .Shape_areaText.Shape_areaText-size2 Для всей семьи, самый длинный съезд для тюбингов&nbsp;– более&nbsp;400м
                        .Shape_mask.Shape_mask-n8
                        .Shape_mask.Shape_mask-n7
    section.FeaturesSection.hidden-sm.hidden-md
        .Shape
            .Shape_content.Shape_content-n14
                .PseudoImg(style="background-image:url('/img/beach2.jpg')")
                    img.PseudoImg_pusher.hidden-sm.hidden-md(src="/img/pushers/320x200.png", alt="")
                .Shape_mask.Shape_mask-n10
                .Shape_mask.Shape_mask-n12
                .Shape_mask.Shape_mask-n13
            .Shape_footer
                p Работающий оборудованный пляж в пяти минутах ходьбы, дополнительные летние активности
        .Shape
            .Shape_content.Shape_content-n15
                .PseudoImg(style="background-image:url('/img/snow.jpg')")
                    img.PseudoImg_pusher.hidden-sm.hidden-md(src="/img/pushers/320x218.png", alt="")
                .Shape_mask.Shape_mask-n10
                .Shape_mask.Shape_mask-n7
            .Shape_footer
                p Для всей семьи, самый длинный съезд для тюбингов – более 400м


        .Shape
            .Shape_content.Shape_content-n16
                .PseudoImg(style="background-image:url('/img/mountain.jpg')")
                    img.PseudoImg_pusher.hidden-sm.hidden-md(src="/img/pushers/320x200.png", alt="")
                .Shape_mask.Shape_mask-n7
                .Shape_mask.Shape_mask-n8
            .Shape_footer
                p Горнолыжный спуск с электрическими подъемниками


        .Shape
            .Shape_content.Shape_content-n15
                .PseudoImg(style="background-image:url('/img/fish.jpg')")
                    img.PseudoImg_pusher.hidden-sm.hidden-md(src="/img/pushers/320x218.png", alt="")
                .Shape_mask.Shape_mask-n10.Shape_mask-green
                .Shape_mask.Shape_mask-n7.Shape_mask-green
            .Shape_footer
                    p Рыбное хозяйство, ловить рыбу всей семьей
        .Shape
            .Shape_content.Shape_content-n16
                .PseudoImg(style="background-image:url('/img/lake.jpg')")
                    img.PseudoImg_pusher.hidden-sm.hidden-md(src="/img/pushers/320x200.png", alt="")
                .Shape_mask.Shape_mask-n7.Shape_mask-green
                .Shape_mask.Shape_mask-n8.Shape_mask-green
            .Shape_footer
                    p Томилинский лесопарк
        .Shape
            .Shape_content.Shape_content-n15
                .PseudoImg(style="background-image:url('/img/racing.jpg')")
                    img.PseudoImg_pusher.hidden-sm.hidden-md(src="/img/pushers/320x218.png", alt="")
                .Shape_mask.Shape_mask-n10.Shape_mask-green
                .Shape_mask.Shape_mask-n7.Shape_mask-green
            .Shape_footer
                    p Летний и зимний автодром
        .Shape
            .Shape_content.Shape_content-n16
                .PseudoImg(style="background-image:url('/img/horse.jpg')")
                    img.PseudoImg_pusher.hidden-sm.hidden-md(src="/img/pushers/320x200.png", alt="")
                .Shape_mask.Shape_mask-n7
                .Shape_mask.Shape_mask-n8
            .Shape_footer
                    p Несколько конно-спортивных клубов
        .Shape
            .Shape_content.Shape_content-n15
                .PseudoImg(style="background-image:url('/img/shop.jpg')")
                    img.PseudoImg_pusher.hidden-sm.hidden-md(src="/img/pushers/320x218.png", alt="")
                .Shape_mask.Shape_mask-n10
                .Shape_mask.Shape_mask-n7
            .Shape_footer
                    p Шопинг: Белая дача со всеми известными гипермаркетами, Садовод, Аутлет
        .Shape
            .Shape_content.Shape_content-n16
                .PseudoImg(style="background-image:url('/img/deer.jpg')")
                    img.PseudoImg_pusher.hidden-sm.hidden-md(src="/img/pushers/320x200.png", alt="")
                .Shape_mask.Shape_mask-n7
                .Shape_mask.Shape_mask-n8
            .Shape_footer
                    p Оленья ферма, ферма хасок – зимой катание по лесу на оленях и упряжках с хаски
    
    section.FeaturesFigureSection.hidden-xs
        .Container
            .Shape
                .Shape_content.Shape_content-n19
                    .Shape_mask.Shape_mask-w25.Shape_mask-green.Shape_mask-n14
                    .Shape_mask.Shape_mask-w25.Shape_mask-green.Shape_mask-n15
                    .Shape_mask.Shape_mask-w25.Shape_mask-green.Shape_mask-n16
                    .Shape_mask.Shape_mask-w25.Shape_mask-green.Shape_mask-n17
                    .PseudoImg
                        img.PseudoImg_pusher.hidden-sm(src="/img/pushers/1366x335.png", alt="")
                        img.PseudoImg_pusher.hidden-md(src="/img/pushers/768x387.png", alt="")
                    .Shape_area.Shape_area-w25.Shape_area-bg.Shape_area-n20(style="background-image:url('/img/fish.jpg');background-position:left center;")
                    .Shape_area.Shape_area-w50.Shape_area-bg.Shape_area-n21(style="background-image:url('/img/lake.jpg');")
                    .Shape_area.Shape_area-w25.Shape_area-bg.Shape_area-n22(style="background-image:url('/img/racing.jpg');background-position: left 22% center;")
                .Shape_area.Shape_area-w25.Shape_area-n23.Shape_area-n23waved
                        .Shape_areaText.Shape_areaText-size2 Рыбное хозяйство, ловить рыбу всей семьей
                .Shape_area.Shape_area-w25.Shape_area-n24
                        .Shape_areaText.Shape_areaText-size2 Томилинский лесопарк
                .Shape_area.Shape_area-w25.Shape_area-n25
                        .Shape_areaText.Shape_areaText-size2 Летний и зимний автодром
    section.FeaturesFigureSection.hidden-xs
            .Container
                .Shape
                    .Shape_content.Shape_content-n20
                        .Shape_mask.Shape_mask-w25.Shape_mask-yellow.Shape_mask-n14
                        .Shape_mask.Shape_mask-w25.Shape_mask-yellow.Shape_mask-n15
                        .Shape_mask.Shape_mask-w25.Shape_mask-yellow.Shape_mask-n16
                        .Shape_mask.Shape_mask-w25.Shape_mask-yellow.Shape_mask-n17
                        .PseudoImg
                            img.PseudoImg_pusher.hidden-sm(src="/img/pushers/1366x335.png", alt="")
                            img.PseudoImg_pusher.hidden-md(src="/img/pushers/768x387.png", alt="")
                        .Shape_area.Shape_area-w25.Shape_area-bg.Shape_area-n20(style="background-image:url('/img/horse.jpg');background-position:left 70% center;")
                        .Shape_area.Shape_area-w25.Shape_area-bg.Shape_area-n26(style="background-image:url('/img/shop.jpg');")
                        .Shape_area.Shape_area-w50.Shape_area-bg.Shape_area-n27(style="background-image:url('/img/deer.jpg');")
                    .Shape_area.Shape_area-w25.Shape_area-n23
                            .Shape_areaText.Shape_areaText-size2 Несколько конно-спортивных клубов
                    .Shape_area.Shape_area-w25.Shape_area-n28
                            .Shape_areaText.Shape_areaText-size2 Шопинг: Белая дача со всеми известными гипермаркетами, Садовод, Аутлет
                    .Shape_area.Shape_area-w25.Shape_area-n29
                            .Shape_areaText.Shape_areaText-size2 Оленья ферма, ферма хасок – зимой катание по лесу на оленях и упряжках с хаски
    section
        .MirrorSliderSection#featuresPageMirrorSliderSection
            .MirrorSliderSection_cell.MirrorSliderSection_cell-n3
                .TextSlider
                    .TextSlider_inner.swiper-container
                        .TextSlider_track.swiper-wrapper
                            each i in [1,2,3,4,5]
                                .swiper-slide
                                    .TextSlider_item
                                        .TextSlider_head.TextSlider_head-bordered Инфраструктура комплекса
                                        .TextSlider_text
                                            p Все жильцы могут посетить наш собственный полностью оборудованный пляж, который находится в некотором удалении от отеля. Если воспользоваться бесплатным трансфером на море. На пляже есть шезлонги (обычные и с матрасами), зонтики, барный шатер, где можно получить бесплатные безалкогольные напитки в ассортименте и даже посмотреть телевизор. Есть туалеты, раздевалки, души и отдельная волейбольная площадка.
                    .TextSlider_bottom
                        +DotsPager("hidden-xs hidden-sm DotsPager-n1")
            .MirrorSliderSection_cell.MirrorSliderSection_cell-n4
                .Shape
                    .Shape_content
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    img.PseudoImg(src="/img/pushers/768x577.png" style="background-image:url('/img/slides/about_project_slides/slide1.jpg')" alt="")
                                .swiper-slide
                                    img.PseudoImg(src="/img/pushers/768x577.png" style="background-image:url('/img/slides/about_project_slides/slide2.jpg')" alt="")
                                .swiper-slide
                                    img.PseudoImg(src="/img/pushers/768x577.png" style="background-image:url('/img/slides/about_project_slides/slide3.jpg')" alt="")
                                .swiper-slide
                                    img.PseudoImg(src="/img/pushers/768x577.png" style="background-image:url('/img/slides/about_project_slides/slide4.jpg')" alt="")
                                .swiper-slide
                                    img.PseudoImg(src="/img/pushers/768x577.png" style="background-image:url('/img/slides/about_project_slides/slide5.jpg')" alt="")
                    .Shape_mask.Shape_mask-n1
                    .Shape_mask.Shape_mask-n2
                    .Shape_mask.Shape_mask-n3
                    .Shape_mask.Shape_mask-n4
                    .Shape_area.Shape_area-n3
                        +DotsPager("hidden-md")
    section.TranspSection
        .TranspSection_inner
            .TranspSection_headWrap
                h3.SectionHead.SectionHead-bordered.SectionHead-offsetLeft 
                    |Транспортная
                    br.SectionHead_br
                    |доступность
            .TranspSection_cardsList
                each route, i in routesArr
                    .TranspSection_item
                        div(class=`RouteCard${i % 2 !== 0 ? ' RouteCard-flipped' : ''}`)
                            .RouteCard_descWrap
                                h6.RouteCard_head #{route.ttl}
                                .RouteCard_text
                                    p #{route.txt}
                            a(data-src=`#MapPopup${i}`, data-fancybox=`MapPopup${i}`, href="javascript:;").RouteCard_controls
                                    .RouteCard_ctrLabel Посмотреть маршрут
                                    .RouteCard_fullscreenBtn
                                        include includes/svg/fullscreen.svg
                            .RouteCard_picWrap
                                .RouteCard_pic(style=`background-image:url(/img/transports/${route.name}.jpg)`)

    section
        .MapSection
            .MapSection_desc
                h3.SectionHead Развитая близлежащая социальная инфраструктура
                .SectionText
                    p Котельники граничат с Дзержинским, который является городом-спутником Москвы. Жители нового квартала смогут пользоваться всей необходимой инфра-структурой: медицинскими и образова-тельными центрами, пунктами бытовых услуг и отделениями банков, магазинами и ресторанами.
            .MapSection_map
                .Well.Well-n1
                    .Well_underlay.Well_underlay-green
                    .Map
                        .Map_map#Map
            .MapSection_desc(style="text-align:center;")
                h3.SectionHead Удобные условия приобретения квартир
                .SectionText
                    p Наши специалисты помогут вам разобраться в тонкостях оформления документов, ответят на вопросы.
        include includes/blocks/Prefooter2.pug

    
    .MapPopup#MapPopup0(style="display: none;")
        ul.MapPopup_tabGroup
            li.MapPopup_tab
                a.MapPopup_tabLink(href="#tabSection-1") м. «Котельники»
            li.MapPopup_tab
                a.MapPopup_tabLink(href="#tabSection-2") м. «Люблино»
            li.MapPopup_tab
                a.MapPopup_tabLink(href="#tabSection-3") м. «Алма-Атинская»
        .MapPopup_wrapper
            .MapPopup_map
            .MapPopup_info#tabSection-1
                .MapPopup_transport
                    .MapPopup_term
                        span.MapPopup_termIcon
                            include includes/svg/bus.svg
                        span.MapPopup_termText Автобусы:
                    .MapPopup_termValue 134, 245, 11А, 893

                .MapPopup_distance
                    .MapPopup_term
                        span.MapPopup_termIcon
                            include includes/svg/distance.svg
                        span.MapPopup_termText Расстояние:
                    .MapPopup_termValue 6,4 км

                .MapPopup_time
                    .MapPopup_term
                        span.MapPopup_termIcon
                            include includes/svg/clock.svg
                        span.MapPopup_termText Время в пути:
                    .MapPopup_termValue 10 минут
            .MapPopup_info#tabSection-2
                .MapPopup_transport
                    .MapPopup_term
                        span.MapPopup_termIcon
                            include includes/svg/bus.svg
                        span.MapPopup_termText Автобусы:
                    .MapPopup_termValue 134, 245, 11А, 893

                .MapPopup_distance
                    .MapPopup_term
                        span.MapPopup_termIcon
                            include includes/svg/distance.svg
                        span.MapPopup_termText Расстояние:
                    .MapPopup_termValue 6,4 км

                .MapPopup_time
                    .MapPopup_term
                        span.MapPopup_termIcon
                            include includes/svg/clock.svg
                        span.MapPopup_termText Время в пути:
                    .MapPopup_termValue 10 минут
            .MapPopup_info#tabSection-3
                .MapPopup_transport
                    .MapPopup_term
                        span.MapPopup_termIcon
                            include includes/svg/bus.svg
                        span.MapPopup_termText Автобусы:
                    .MapPopup_termValue 134, 245, 11А, 893

                .MapPopup_distance
                    .MapPopup_term
                        span.MapPopup_termIcon
                            include includes/svg/distance.svg
                        span.MapPopup_termText Расстояние:
                    .MapPopup_termValue 6,4 км

                .MapPopup_time
                    .MapPopup_term
                        span.MapPopup_termIcon
                            include includes/svg/clock.svg
                        span.MapPopup_termText Время в пути:
                    .MapPopup_termValue 10 минут
                    

    .MapPopup#MapPopup1(style="display: none;")
        ul.MapPopup_tabGroup
            li.MapPopup_tab
                a.MapPopup_tabLink(href="#tabSection-1") метро «Котельники»
        .MapPopup_wrapper
            .MapPopup_map
            .MapPopup_info#tabSection-1
                .MapPopup_transport
                    .MapPopup_term
                        span.MapPopup_termIcon
                            include includes/svg/bus.svg
                        span.MapPopup_termText Автобусы:
                    .MapPopup_termValue 134, 245, 11А, 893

                .MapPopup_distance
                    .MapPopup_term
                        span.MapPopup_termIcon
                            include includes/svg/distance.svg
                        span.MapPopup_termText Расстояние:
                    .MapPopup_termValue 6,4 км

                .MapPopup_time
                    .MapPopup_term
                        span.MapPopup_termIcon
                            include includes/svg/clock.svg
                        span.MapPopup_termText Время в пути:
                    .MapPopup_termValue 10 минут
                    
    .MapPopup#MapPopup2(style="display: none;")
        ul.MapPopup_tabGroup
            li.MapPopup_tab
                a.MapPopup_tabLink(href="#tabSection-1") метро «Котельники»
        .MapPopup_wrapper
            .MapPopup_map
            .MapPopup_info#tabSection-1
                .MapPopup_transport
                    .MapPopup_term
                        span.MapPopup_termIcon
                            include includes/svg/bus.svg
                        span.MapPopup_termText Автобусы:
                    .MapPopup_termValue 134, 245, 11А, 893

                .MapPopup_distance
                    .MapPopup_term
                        span.MapPopup_termIcon
                            include includes/svg/distance.svg
                        span.MapPopup_termText Расстояние:
                    .MapPopup_termValue 6,4 км

                .MapPopup_time
                    .MapPopup_term
                        span.MapPopup_termIcon
                            include includes/svg/clock.svg
                        span.MapPopup_termText Время в пути:
                    .MapPopup_termValue 10 минут

    .MapPopup#MapPopup3(style="display: none;")
        ul.MapPopup_tabGroup
            li.MapPopup_tab
                a.MapPopup_tabLink(href="#tabSection-1") метро «Котельники»
        .MapPopup_wrapper
            .MapPopup_map
            .MapPopup_info#tabSection-1
                .MapPopup_transport
                    .MapPopup_term
                        span.MapPopup_termIcon
                            include includes/svg/bus.svg
                        span.MapPopup_termText Автобусы:
                    .MapPopup_termValue 134, 245, 11А, 893

                .MapPopup_distance
                    .MapPopup_term
                        span.MapPopup_termIcon
                            include includes/svg/distance.svg
                        span.MapPopup_termText Расстояние:
                    .MapPopup_termValue 6,4 км

                .MapPopup_time
                    .MapPopup_term
                        span.MapPopup_termIcon
                            include includes/svg/clock.svg
                        span.MapPopup_termText Время в пути:
                    .MapPopup_termValue 10 минут



block page_bottom
    include includes/chunks/infrasObjYandexMarkers
    script(src="https://api-maps.yandex.ru/2.1/?apikey=c3135be3-6869-4028-b619-79f9c4ee5010&lang=ru_RU", type="text/javascript")
    script(src="/js/features.js")