extends layout
block vars
	- var title = "Выбор квартир";
block content
	.Container
		.FiltersSection
			.FiltersSection_leftCol
				include includes/blocks/FiltersMobBar
				.Filterstopbar
					.Filterstopbar_inner
						.Filterstopbar_item.Filterstopbar_item-n1
							select.Filterstopbar_select#priceSortSelect(name="sort_order" data-persist-id="sort_order" autocomplete="off" form="filterForm")
								option(value="1" selected) дешевле
								option(value="2" ) дороже
						.Filterstopbar_item.Filterstopbar_item-n3
							.Multycheckbox
								.Multycheckbox_ttl Отделка
								input.Multycheckbox_inp(name="finish" data-persist-id="finish" data-possible-values="[2, 1, 0]" value="2" type="hidden" form="filterForm" autocomplete="off")
								.Multycheckbox_ico.Multycheckbox_ico-type1
						.Filterstopbar_item.Filterstopbar_item-n4
							.Multycheckbox
								.Multycheckbox_ttl Акции
								input.Multycheckbox_inp(name="discount" data-persist-id="discount" data-possible-values="[2, 1]" value="2" type="hidden" form="filterForm" autocomplete="off")
								.Multycheckbox_ico.Multycheckbox_ico-type1
						.Filterstopbar_item.Filterstopbar_item-n2.hidden-xs
							select(multiple form="filterForm" name="views[]" data-persist-id="views" autocomplete="off").Filterstopbar_select#viewsSelect
								option(value="6") Пруд
								option(value="7") Двор
								option(value="8") Лес
								option(value="9") Парковка
								option(value="10") Пляж
						.Filterstopbar_item.Filterstopbar_item-n5.hidden-xs
							a(href="/favorites.html").Filterstopbar_link Избранное
								include includes/svg/star.svg
						a.Filterstopbar_item.Filterstopbar_item-link.hidden-xs(href="/genplan.html") Выбрать на генплане
							span.Filterstopbar_linkIcon
								include includes/svg/house_filters.svg
				#flatTypesResultListContainer.FiltersSection_resultsList
					.FiltersSection_preloadSpace
						.swiper-lazy-preloader
					//-each idx in [1, 2, 3, 1, 2, 3]
						.PlanCard
							.PlanCard_inner
								.PlanCard_controls
									if (idx == 2 || idx == 3)
										.PlanCard_ico.PlanCard_ico-brush.PlanCard_ico-active
											include includes/svg/brush.svg
									else
										.PlanCard_ico.PlanCard_ico-brush
											include includes/svg/brush.svg
									.PlanCard_ico.PlanCard_ico-gift
										include includes/svg/gift.svg
									a(href="#").PlanCard_ico.PlanCard_ico-star
										include includes/svg/star.svg
								a(href="/flat-type.html").PlanCard_schemeWrap
									img.PlanCard_scheme1(src=`/img/tmp/plans/${idx}.svg` alt="")
									.PlanCard_scheme2(style=`background-image:url('img/tmp/plans/${idx}.svg')`)
								.PlanCard_details
									.PlanCard_price
										.PlanCard_priceTitle цена: 
										.PlanCard_priceVals
											if (idx == 1 || idx == 3)
												ins.PlanCard_priceText.PlanCard_priceText-new 2 514 354 ₽
												del.PlanCard_priceText.PlanCard_priceText-old 2 514 354 ₽
											else
												.PlanCard_priceText.PlanCard_priceText-fix 2 514 354 ₽
									.PlanCard_area
										.PlanCard_areaTitle площадь:
										.PlanCard_areaValue 73,6 м²
			aside.FiltersSection_rightCol.FiltersSection_rightCol-active.compensate-for-scrollbar
				+FiltersOpts
block page_bottom
	script(src="/js/filters.js")