extends layout
block vars
	- var title = "Планировка";
block content
	.Container
		.FiltersSection
			.FiltersSection_leftCol
				include includes/blocks/FiltersMobBar
				.Filterstopbar
					.Filterstopbar_inner
						.Filterstopbar_item.Filterstopbar_item-n6
							a(href="/filters.html").Filterstopbar_link.Filterstopbar_link-leftIco
								include includes/svg/arrow_short.svg
								| К выбору
						.Filterstopbar_item.Filterstopbar_item-n7.hidden-xs
							a(href="/favorites.html").Filterstopbar_link Избранное
								include includes/svg/star.svg
						.Filterstopbar_item.Filterstopbar_item-n7.hidden-xs
							a(href="#").Filterstopbar_link Печать
								include includes/svg/printer.svg
						.Filterstopbar_item.Filterstopbar_item-n7.hidden-xs
							a(href="http://www.pdf995.com/samples/pdf.pdf" target='_blank').Filterstopbar_link Скачать
								include includes/svg/adobe.svg
				.FiltersSection_flatTypeContainer
					.BeforeAfterSlider.BeforeAfterSlider-n1
						.ba-slider
							.ba-slider__item
								img.BeforeAfterSlider_img(src='/tmp/flat_views/scheme.svg', alt='')
								.resize
									img.BeforeAfterSlider_img(src='/tmp/flat_views/3d.png', alt='')
								.BeforeAfterSlider_handle.handle
					.FlatTypeDescr
						h6.FlatTypeDescr_preHead Планировка
							a.FlatTypeDescr_star(href="#" data-flat-type-id="15")
								include includes/svg/star.svg
						h4.FlatTypeDescr_head Типовая 24
						table.FlatTypeDescr_tbl
							tbody
								tr
									th.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-title Общая площадь
									td.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-val 83,3-84 м²
								tr
									th.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-title Спален
									td.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-val 2
								tr
									th.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-title Балкон
									td.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-val Есть
								tr
									th.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-title Отделка
									td.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-val Доступна
						.FlatTypeDescr_text
							p Встречаются квартиры данной планировки с  видом на пруд и парк. Чтобы увидеть их
								a(href="#")
									strong нажмите здесь.
						.FlatTypeDescr_prices
							.FlatTypeDescr_priceFrom от 2 158 245 ₽
							.FlatTypeDescr_priceTo до 2 200 245 ₽
						button.Btn.Btn-type1#makeOrderBtn Оставить заявку
				.FlatsMinilist
					h4.FlatsMinilist_head Квартиры планировки #[b «Типовая 24»]
					.FlatsMinilist_listWrap ...
						//-each cardNum in [1,2,3,4,5,6]
							a(href='/flat-single.html').FlatTeaser
								.FlatTeaser_inner
									.FlatTeaser_detailsGroup.FlatTeaser_detailsGroup-n1
										.FlatTeaser_detail.FlatTeaser_detail-n1
											.FlatTeaser_lbl Квартира
											.FlatTeaser_val №25#{cardNum}
										.FlatTeaser_detail.FlatTeaser_detail-n2
											.FlatTeaser_lbl Корпус
											.FlatTeaser_val 1
										.FlatTeaser_detail.FlatTeaser_detail-n3
											.FlatTeaser_lbl Вид из окна
											.FlatTeaser_val
												if(cardNum === 1 || cardNum === 3)
													| Пруд, парк, улица, озеро
												else
													| Парк
									.FlatTeaser_detailsGroup.FlatTeaser_detailsGroup-n2
										.FlatTeaser_detail.FlatTeaser_detail-n4
											.FlatTeaser_lbl Площадь
											if(cardNum == 4 || cardNum == 1)
												.FlatTeaser_val 73,6 м²
											else
												.FlatTeaser_val 121,8 м²
										.FlatTeaser_detail.FlatTeaser_detail-n5
											.FlatTeaser_lbl Этаж
											.FlatTeaser_val #{cardNum}
										.FlatTeaser_detail.FlatTeaser_detail-n6
											.FlatTeaser_lbl Стоимость
											if(cardNum === 2 || cardNum === 3)
												.FlatTeaser_val.FlatTeaser_val-highlight 2 000 999 ₽
											else
												.FlatTeaser_val 4 054 234 ₽
								.FlatTeaser_controlsWrap
									.FlatTeaser_controlItem.FlatTeaser_controlItem-active
										include includes/svg/star.svg
									.FlatTeaser_controlItem
										include includes/svg/brush.svg
									if(cardNum === 2 || cardNum === 3)
										.FlatTeaser_controlItem.FlatTeaser_controlItem-highlight
											include includes/svg/gift.svg
									else
										.FlatTeaser_controlItem
											include includes/svg/gift.svg
								.FlatTeaser_pricesWrap
									if(cardNum === 2 || cardNum === 3)
										.FlatTeaser_prices.FlatTeaser_prices-highlight
											.FlatTeaser_lbl Стоимость
											del.FlatTeaser_price.FlatTeaser_price-old 4 000 999 ₽
											ins.FlatTeaser_price.FlatTeaser_price-new 2 000 999 ₽
									else
										.FlatTeaser_prices
											.FlatTeaser_lbl Стоимость
											.FlatTeaser_price 4 054 234 ₽

			.FiltersSection_rightCol.compensate-for-scrollbar
				+FiltersOpts("plan")
	include includes/chunks/order_modal_flat_type.pug
block page_bottom
	script(src='js/flat-type.js')
