extends layout
block vars
	- var title = "Карточка квартиры";
block content
	.Container
		.FiltersSection
			.FiltersSection_leftCol
				include includes/blocks/FiltersMobBar
				.Filterstopbar
					.Filterstopbar_inner
						.Filterstopbar_item.Filterstopbar_item-n6
							a(href="/filters.html").Filterstopbar_link.Filterstopbar_link-leftIco
								include includes/svg/arrow_short.svg
								| К выбору
						.Filterstopbar_item.Filterstopbar_item-n7.hidden-xs
							a(href="/favorites.html").Filterstopbar_link Избранное
								include includes/svg/star.svg
						.Filterstopbar_item.Filterstopbar_item-n7.hidden-xs
							a(href="#").Filterstopbar_link Печать
								include includes/svg/printer.svg
						.Filterstopbar_item.Filterstopbar_item-n7.hidden-xs
							a(href="http://www.pdf995.com/samples/pdf.pdf" target='_blank').Filterstopbar_link Скачать
								include includes/svg/adobe.svg
				.FiltersSection_flatTypeContainer
					.BeforeAfterSlider.BeforeAfterSlider-n1.BeforeAfterSlider-tabs
						.ba-tabs
							a(href="#slider-floor", data-slider-tabs-link).ba-tabs__item На этаже
							a(href="#slider-plan", data-slider-tabs-link).ba-tabs__item._active Планировка
						.ba-slider
							.ba-slider__item#slider-floor(data-slider-tabs-block style="display:none;")
								img.BeforeAfterSlider_img(src='/img/pics/floor.png', alt='')

							.ba-slider__item#slider-plan(data-slider-tabs-block, data-before-after)
								img.BeforeAfterSlider_img(src='/tmp/flat_views/scheme.svg', alt='')
								.resize
									img.BeforeAfterSlider_img(src='/tmp/flat_views/3d.png', alt='')
								.BeforeAfterSlider_handle.handle

						.BeforeAfterSlider_overlayArea.BeforeAfterSlider_overlayArea-compass(style='-webkit-transform: rotate(45deg);transform: rotate(45deg);')
						.BeforeAfterSlider_overlayArea.BeforeAfterSlider_overlayArea-sectionScheme(style='background-image: url(/tmp/section_scheme.svg)')
					.FlatTypeDescr.FlatTypeDescr-woLift
						h6.FlatTypeDescr_preHead Типовая 24
						h4.FlatTypeDescr_head(data-flat-id="253") Квартира №253
						table.FlatTypeDescr_tbl
							tbody
								tr
									th.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-title Общая площадь
									td.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-val 83,3 м²
								tr
									th.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-title Спален
									td.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-val 2
								tr
									th.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-title Этаж
									td.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-val 2
								tr
									th.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-title Стоимость за м²
									td.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-val 79 667 ₽
								tr
									th.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-title Ипотека по акции
									td.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-val.FlatTypeDescr_tblcell-priceVal 2 200 168 ₽
								tr
									th.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-title Отделка
									td.FlatTypeDescr_tblcell.FlatTypeDescr_tblcell-val Доступна

						.reserv(style="margin: auto 0 15px")
							a.Btn.Btn-type1(href="#" target="_blank") Забронировать
						button.Btn.Btn-type1#makeOrderBtn Оставить заявку

			.FiltersSection_rightCol.compensate-for-scrollbar
				+FiltersOpts("flat")

	include includes/chunks/order_modal.pug
block page_bottom
	//
		Тэг карточки товара Criteo OneTag
	script(type="text/javascript", src="//static.criteo.net/js/ld/ld.js", async="true")
	script(type="text/javascript").
		window.criteo_q = window.criteo_q || [];
		var deviceType = /iPad/.test(navigator.userAgent) ? "t" : /Mobile|iP(hone|od)|Android|BlackBerry|IEMobile|Silk/.test(navigator.userAgent) ? "m" : "d";
		var flatId = $('.FlatTypeDescr_head').data('flat-id');
		window.criteo_q.push(
		 { event: "setAccount", account: 56959},
		 { event: "setEmail", email: "" },
		 { event: "setSiteType", type: deviceType},
		 { event: "viewItem", item: flatId });
	//
		Конец тэга карточки товара Criteo OneTag

	script(src='js/flat-single.js')