extends layout
block vars
    - var title = "Коммерческие помещения - Корпус 1"
block content
    .SectChoose
        .SectChoose_picWrapper
            img(src="/img/tmp/plans/1k_1fl.svg" class="SectChoose_background" alt=title width='740' height='510')
            // нужно удалить из svg-тега аттрибуты  `width` и `height`, но оставить `viewbox`
            // также необходимо добавить в svg-тег параметр `xmlns:xlink='http://www.w3.org/1999/xlink`
            svg.SectChoose_plan(version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewbox='0 0 740 510' enable-background='new 0 0 740 510' xml:space='preserve')
                a.SectChoose_link(xlink:href="/commercial.html")
                    polygon(points='605,102 605,165 690,165 690,124 717,124 717,96 692,96 692,102')
                a.SectChoose_link(xlink:href="/commercial.html")
                    polygon(points='605,29 675,29 675,48 717,48 717,94 690,94 690,100 633,100 633,79 605,79')
                a.SectChoose_link(xlink:href="/commercial.html")
                    polygon(points='473,29 518,29 518,81 520,81 520,106 536,106 536,165 500,165 500,154 473,154')
                a.SectChoose_link(xlink:href="/commercial.html")
                    polygon(points='422,29 422,79 426,79 426,107 410,107 410,165 446,165 446,154 471,154 471,29')
                a.SectChoose_link(xlink:href="/commercial.html")
                    polygon(points='270,29 335,29 335,64 340,64 340,79 321,79 321,107 332,107 332,165 296,165 296,154 270,154')
                a.SectChoose_link(xlink:href="/commercial.html")
                    polygon(points='196,96 153.5,53.5 178,29 264,29 264,154 247,154 210,117 220,107 205,92 208,89 205.5,86.5')
                a.SectChoose_link(xlink:href="/commercial.html")
                    polygon(points='96,111 141,156 192.5,104.5 190,102 196,96 153.5,53.5')
                a.SectChoose_link(xlink:href="/commercial.html")
                    polygon(points='35,258 118,258 118,234 91,207 123,175 77.5,129.5 35,172')
                a.SectChoose_link(xlink:href="/commercial.html")
                    polygon(points='25,287 25,312 83,312 83,299 87,299 87,297 102,297 102,293 108,293 108,260 35,260 35,287')
                a.SectChoose_link(xlink:href="/commercial.html")
                    polygon(points='67,383 67,394 25,394 25,314 83,314 83,337 87,337 87,383')
                a.SectChoose_link(xlink:href="/commercial.html")
                    polygon(points='160,442 160,462 133,462 133,506 60,506 60,480 35,480 35,453 25,453 25,424 79,424 79,449 \
                    105,449 105,442')
        each i in [1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12]
            template.SectChoose_popupContent
                .PopupInfo
                    .PopupInfo_head
                        span Помещение
                        span 10A
                    dl.PopupInfo_list
                        dt.PopupInfo_dt Площадь
                        dd.PopupInfo_dd 56,3 м²
                        dt.PopupInfo_dt Цена за м²
                        dd.PopupInfo_dd 79 667 ₽
                        dt.PopupInfo_dt Цена
                        dd.PopupInfo_dd 4 245 652 ₽
        a(href="/floor_commercial.html").SectChoose_arrow.SectChoose_arrow-left
                include ./includes/svg/arrow_right.svg
        a(href="/floor_commercial.html").SectChoose_arrow.SectChoose_arrow-right
                include ./includes/svg/arrow_right.svg
        .SectChoose_compass(style="-webkit-transform: rotate(45deg);transform: rotate(45deg);")
        h1.SectChoose_title Корпус 1
block page_bottom
    script(src="/js/floor_commercial.js")
