extends layout
include includes/mixins/index
block vars
	- var title = "Furnish"
block content
	
	.galleryWrapper
	

		.GalleryShow.swiper-container

			.GalleryShow_wrapper.swiper-wrapper
				.GalleryShow_slide.GalleryShow_slide-scandinavian.swiper-slide(style="background: url('img/pages/furnish/scandinavian.jpg') no-repeat center; background-size: cover;", data-slides-pack="1")
				.GalleryShow_slide.GalleryShow_slide-scandinavian.swiper-slide(style="background: url('img/pages/furnish/scandinavian.jpg') no-repeat center; background-size: cover;", data-slides-pack="1")
				.GalleryShow_slide.GalleryShow_slide-scandinavian.swiper-slide(style="background: url('img/pages/furnish/scandinavian.jpg') no-repeat center; background-size: cover;", data-slides-pack="1")
				.GalleryShow_slide.GalleryShow_slide-scandinavian.swiper-slide(style="background: url('img/pages/furnish/scandinavian.jpg') no-repeat center; background-size: cover;", data-slides-pack="1")
				.GalleryShow_slide.GalleryShow_slide-scandinavian.swiper-slide(style="background: url('img/pages/furnish/scandinavian.jpg') no-repeat center; background-size: cover;", data-slides-pack="1")

				.GalleryShow_slide.GalleryShow_slide-modern.swiper-slide(hidden, style="background: url('img/pages/furnish/modern.jpg') no-repeat center; background-size: cover;", data-slides-pack="2")
				.GalleryShow_slide.GalleryShow_slide-modern.swiper-slide(hidden, style="background: url('img/pages/furnish/modern.jpg') no-repeat center; background-size: cover;", data-slides-pack="2")
				.GalleryShow_slide.GalleryShow_slide-modern.swiper-slide(hidden, style="background: url('img/pages/furnish/modern.jpg') no-repeat center; background-size: cover;", data-slides-pack="2")
				.GalleryShow_slide.GalleryShow_slide-modern.swiper-slide(hidden, style="background: url('img/pages/furnish/modern.jpg') no-repeat center; background-size: cover;", data-slides-pack="2")
				.GalleryShow_slide.GalleryShow_slide-modern.swiper-slide(hidden, style="background: url('img/pages/furnish/modern.jpg') no-repeat center; background-size: cover;", data-slides-pack="2")
				.GalleryShow_slide.GalleryShow_slide-modern.swiper-slide(hidden, style="background: url('img/pages/furnish/modern.jpg') no-repeat center; background-size: cover;", data-slides-pack="2")
				.GalleryShow_slide.GalleryShow_slide-modern.swiper-slide(hidden, style="background: url('img/pages/furnish/modern.jpg') no-repeat center; background-size: cover;", data-slides-pack="2")
				.GalleryShow_slide.GalleryShow_slide-modern.swiper-slide(hidden, style="background: url('img/pages/furnish/modern.jpg') no-repeat center; background-size: cover;", data-slides-pack="2")

				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/furnish/classic.jpg') no-repeat center; background-size: cover;", data-slides-pack="3")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/furnish/classic.jpg') no-repeat center; background-size: cover;", data-slides-pack="3")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/furnish/classic.jpg') no-repeat center; background-size: cover;", data-slides-pack="3")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/furnish/classic.jpg') no-repeat center; background-size: cover;", data-slides-pack="3")
				.GalleryShow_slide.GalleryShow_slide-classic.swiper-slide(hidden, style="background: url('img/pages/furnish/classic.jpg') no-repeat center; background-size: cover;", data-slides-pack="3")

			.GalleryShow_toolpanel
				.GalleryShow_social
					span.GalleryShow_socialExtend
						include includes/svg/share.svg
					.GalleryShow_socialLinks
						a.GalleryShow_socialLink(href="#")
							include includes/svg/facebook.svg
						a.GalleryShow_socialLink(href="#")
							include includes/svg/twitter.svg
						a.GalleryShow_socialLink(href="#")
							include includes/svg/vk.svg
				.GalleryShow_controls
					.GalleryShow_prev.swiper-button-prev
						include includes/svg/arrow_right.svg
					.GalleryShow_counter
						p 01
					.GalleryShow_next.swiper-button-next
						include includes/svg/arrow_right.svg
				.GalleryShow_virtualTour
					a.GalleryShow_virtualTourLink(href="#")
						include includes/svg/virtual_tour.svg
						p.GalleryShow_virtualTourText Виртуальный шоурум
				.GalleryShow_resize
					span.GalleryShow_resizeFull
						include includes/svg/fullscreen.svg
					span.GalleryShow_resizeNormal
						include includes/svg/fullscreen_exit.svg
		.GalleryTabs
			.GalleryTabs_item.GalleryTabs_item-active(data-trigger-pack="1")
				p Скандинавский
			.GalleryTabs_item(data-trigger-pack="2")
				p Современный
			.GalleryTabs_item(data-trigger-pack="3")
				p Классический

		.GallerySidebar


			.GallerySidebar_item.GallerySidebar_item-big.GallerySidebar_item-expanded(data-trigger-pack="1")
				.GallerySidebar_linkArea
				.GallerySidebar_img(style='background: url("img/pages/furnish/scandinavian.jpg") no-repeat center; background-size: cover;')
				.GallerySidebar_info
					.GallerySidebar_order.GallerySidebar_order-imgBg(data-order="01", style="background: url('img/pages/furnish/order-background-scandinavian.png') no-repeat center; background-size: cover;")
					.GallerySidebar_textWrapper
						h3.GallerySidebar_header Скандинавский
						p.GallerySidebar_text Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которой Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которой
						a.GallerySidebar_more(href="") Подробнее
						a.GallerySidebar_flats(href="") Выбрать квартиры

			.GallerySidebar_item.GallerySidebar_item-big(data-trigger-pack="2")
				.GallerySidebar_linkArea
				.GallerySidebar_img(style='background: url("img/pages/furnish/modern.jpg") no-repeat center; background-size: cover;')
				.GallerySidebar_info
					.GallerySidebar_order.GallerySidebar_order-imgBg(data-order="02", style="background: url('img/pages/furnish/order-background-modern.png') no-repeat center; background-size: cover;")
					.GallerySidebar_textWrapper
						h3.GallerySidebar_header Современный
						p.GallerySidebar_text Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойкоторой Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которой
						a.GallerySidebar_more(href="") Подробнее
						a.GallerySidebar_flats(href="") Выбрать квартиры

			.GallerySidebar_item.GallerySidebar_item-big(data-trigger-pack="3")
				.GallerySidebar_linkArea
				.GallerySidebar_img(style='background: url("img/pages/furnish/classic.jpg") no-repeat center; background-size: cover;')
				.GallerySidebar_info
					.GallerySidebar_order.GallerySidebar_order-imgBg(data-order="03", style="background: url('img/pages/furnish/order-background-classic.png') no-repeat center; background-size: cover;")
					.GallerySidebar_textWrapper
						h3.GallerySidebar_header Классический
						p.GallerySidebar_text Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойкоторой Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которой
						a.GallerySidebar_more(href="") Подробнее
						a.GallerySidebar_flats(href="") Выбрать квартиры

block page_bottom
	script(src='js/furnish.js')