extends layout
include includes/mixins/index
block vars
	- var title = "Gallery"
block content
	
	.galleryWrapper


		.GalleryShow.swiper-container

			.GalleryShow_wrapper.swiper-wrapper
				.GalleryShow_slide.GalleryShow_slide-scandinavian.swiper-slide(style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="1", data-upload-author="Илья Воздвиженский", data-upload-date="11:01 - 05.08.2017")
				.GalleryShow_slide.GalleryShow_slide-scandinavian.swiper-slide(style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="1", data-upload-author="Илья Воздвиженский", data-upload-date="12:02 - 05.08.2017")
				.GalleryShow_slide.GalleryShow_slide-scandinavian.swiper-slide(style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="1", data-upload-author="Илья Воздвиженский", data-upload-date="13:03 - 05.08.2017")
				.GalleryShow_slide.GalleryShow_slide-scandinavian.swiper-slide(style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="1", data-upload-author="Илья Воздвиженский", data-upload-date="14:04 - 05.08.2017")
				.GalleryShow_slide.GalleryShow_slide-scandinavian.swiper-slide(style="background: url('img/pages/gallery/gallery1.png') no-repeat center; background-size: cover;", data-slides-pack="1", data-upload-author="Илья Воздвиженский", data-upload-date="15:05 - 05.08.2017")

				.GalleryShow_slide.GalleryShow_slide-video.swiper-slide(hidden, data-slides-pack="31", data-upload-author="Илья Воздвиженский", data-upload-date="21:01 - 05.08.2017")
					.GalleryShow_videoWrapper
						iframe(class="GalleryShow_video", src="https://player.vimeo.com/video/250753027")

				.GalleryShow_slide.GalleryShow_slide-video.swiper-slide(hidden, data-slides-pack="31", data-upload-author="Илья Воздвиженский", data-upload-date="22:01 - 05.08.2017")
					.GalleryShow_videoWrapper
						iframe(class="GalleryShow_video", src="https://player.vimeo.com/video/250753292")

				.GalleryShow_slide.GalleryShow_slide-video.swiper-slide(hidden, data-slides-pack="31", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")
					.GalleryShow_videoWrapper
						iframe(class="GalleryShow_video", src="https://player.vimeo.com/video/250753366")

				.GalleryShow_slide.GalleryShow_slide-video.swiper-slide(hidden, data-slides-pack="31", data-upload-author="Илья Воздвиженский", data-upload-date="24:01 - 05.08.2017")
					.GalleryShow_videoWrapper
						iframe(class="GalleryShow_video", src="https://player.vimeo.com/video/250753450")

				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="3", data-upload-author="Илья Воздвиженский", data-upload-date="31:01 - 05.08.2017")
				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="3", data-upload-author="Илья Воздвиженский", data-upload-date="32:01 - 05.08.2017")
				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="3", data-upload-author="Илья Воздвиженский", data-upload-date="33:01 - 05.08.2017")
				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="3", data-upload-author="Илья Воздвиженский", data-upload-date="34:01 - 05.08.2017")
				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="3", data-upload-author="Илья Воздвиженский", data-upload-date="35:01 - 05.08.2017")

				.GalleryShow_slide.GalleryShow_slide-panorama.swiper-slide(hidden, id="GalleryShow_slide-panorama0" data-swf-path="panoramas/panorama_5/pano.swf" data-xml-path="panoramas/panorama_5/pano.xml", data-slides-pack="4", data-upload-author="Илья Воздвиженский", data-upload-date="41:01 - 05.08.2017")
				.GalleryShow_slide.GalleryShow_slide-panorama.swiper-slide(hidden, id="GalleryShow_slide-panorama1" data-swf-path="panoramas/panorama_10/pano.swf" data-xml-path="panoramas/panorama_10/pano.xml", data-slides-pack="4", data-upload-author="Илья Воздвиженский", data-upload-date="42:01 - 05.08.2017")
				.GalleryShow_slide.GalleryShow_slide-panorama.swiper-slide(hidden, id="GalleryShow_slide-panorama2" data-swf-path="panoramas/panorama_3/pano.swf" data-xml-path="panoramas/panorama_3/pano.xml", data-slides-pack="4", data-upload-author="Илья Воздвиженский", data-upload-date="41:01 - 05.08.2017")
				.GalleryShow_slide.GalleryShow_slide-panorama.swiper-slide(hidden, id="GalleryShow_slide-panorama3" data-swf-path="panoramas/panorama_2/pano.swf" data-xml-path="panoramas/panorama_2/pano.xml", data-slides-pack="4", data-upload-author="Илья Воздвиженский", data-upload-date="42:01 - 05.08.2017")
				.GalleryShow_slide.GalleryShow_slide-panorama.swiper-slide(hidden, id="GalleryShow_slide-panorama4" data-swf-path="panoramas/panorama_1/pano.swf" data-xml-path="panoramas/panorama_1/pano.xml", data-slides-pack="4", data-upload-author="Илья Воздвиженский", data-upload-date="41:01 - 05.08.2017")
				.GalleryShow_slide.GalleryShow_slide-panorama.swiper-slide(hidden, id="GalleryShow_slide-panorama5" data-swf-path="panoramas/panorama_6/pano.swf" data-xml-path="panoramas/panorama_6/pano.xml", data-slides-pack="4", data-upload-author="Илья Воздвиженский", data-upload-date="42:01 - 05.08.2017")
				.GalleryShow_slide.GalleryShow_slide-panorama.swiper-slide(hidden, id="GalleryShow_slide-panorama6" data-swf-path="panoramas/panorama_8/pano.swf" data-xml-path="panoramas/panorama_8/pano.xml", data-slides-pack="4", data-upload-author="Илья Воздвиженский", data-upload-date="41:01 - 05.08.2017")
				.GalleryShow_slide.GalleryShow_slide-panorama.swiper-slide(hidden, id="GalleryShow_slide-panorama7" data-swf-path="panoramas/panorama_11-2/pano.swf" data-xml-path="panoramas/panorama_11-2/pano.xml", data-slides-pack="4", data-upload-author="Илья Воздвиженский", data-upload-date="42:01 - 05.08.2017")
				.GalleryShow_slide.GalleryShow_slide-panorama.swiper-slide(hidden, id="GalleryShow_slide-panorama8" data-swf-path="panoramas/panorama_13/pano.swf" data-xml-path="panoramas/panorama_13/pano.xml", data-slides-pack="4", data-upload-author="Илья Воздвиженский", data-upload-date="41:01 - 05.08.2017")
				.GalleryShow_slide.GalleryShow_slide-panorama.swiper-slide(hidden, id="GalleryShow_slide-panorama9" data-swf-path="panoramas/panorama_12/pano.swf" data-xml-path="panoramas/panorama_12/pano.xml", data-slides-pack="4", data-upload-author="Илья Воздвиженский", data-upload-date="42:01 - 05.08.2017")
				.GalleryShow_slide.GalleryShow_slide-panorama.swiper-slide(hidden, id="GalleryShow_slide-panorama10" data-swf-path="panoramas/panorama_15/pano.swf" data-xml-path="panoramas/panorama_15/pano.xml", data-slides-pack="4", data-upload-author="Илья Воздвиженский", data-upload-date="41:01 - 05.08.2017")
				.GalleryShow_slide.GalleryShow_slide-panorama.swiper-slide(hidden, id="GalleryShow_slide-panorama11" data-swf-path="panoramas/panorama_16/pano.swf" data-xml-path="panoramas/panorama_16/pano.xml", data-slides-pack="4", data-upload-author="Илья Воздвиженский", data-upload-date="42:01 - 05.08.2017")
				.GalleryShow_slide.GalleryShow_slide-panorama.swiper-slide(hidden, id="GalleryShow_slide-panorama12" data-swf-path="panoramas/panorama_18-3/pano.swf" data-xml-path="panoramas/panorama_18-3/pano.xml", data-slides-pack="4", data-upload-author="Илья Воздвиженский", data-upload-date="41:01 - 05.08.2017")
				.GalleryShow_slide.GalleryShow_slide-panorama.swiper-slide(hidden, id="GalleryShow_slide-panorama13" data-swf-path="panoramas/panorama_21-3/pano.swf" data-xml-path="panoramas/panorama_21-3/pano.xml", data-slides-pack="4", data-upload-author="Илья Воздвиженский", data-upload-date="42:01 - 05.08.2017")
				.GalleryShow_slide.GalleryShow_slide-panorama.swiper-slide(hidden, id="GalleryShow_slide-panorama14" data-swf-path="panoramas/panorama_20-3/pano.swf" data-xml-path="panoramas/panorama_20-3/pano.xml", data-slides-pack="4", data-upload-author="Илья Воздвиженский", data-upload-date="41:01 - 05.08.2017")
				.GalleryShow_slide.GalleryShow_slide-panorama.swiper-slide(hidden, id="GalleryShow_slide-panorama15" data-swf-path="panoramas/panorama_19-3/pano.swf" data-xml-path="panoramas/panorama_19-3/pano.xml", data-slides-pack="4", data-upload-author="Илья Воздвиженский", data-upload-date="42:01 - 05.08.2017")

				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="5", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")
				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="5", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")
				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="5", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")
				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="5", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")
				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="5", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")

				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="6", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")
				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="6", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")
				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="6", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")
				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="6", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")
				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="6", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")

				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="7", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")
				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="7", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")
				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="7", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")
				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="7", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")
				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="7", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")

				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="8", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")
				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="8", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")
				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="8", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")
				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="8", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")
				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery2.png') no-repeat center; background-size: cover;", data-slides-pack="8", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")

				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="9", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")
				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="9", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")
				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="9", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")
				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="9", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")
				.GalleryShow_slide.swiper-slide(hidden, style="background: url('img/pages/gallery/gallery3.png') no-repeat center; background-size: cover;", data-slides-pack="9", data-upload-author="Илья Воздвиженский", data-upload-date="23:01 - 05.08.2017")

			.GalleryShow_toolpanel
				.GalleryShow_social
					span.GalleryShow_socialExtend
						include includes/svg/share.svg
					.GalleryShow_socialLinks
						a.GalleryShow_socialLink(href="#")
							include includes/svg/facebook.svg
						a.GalleryShow_socialLink(href="#")
							include includes/svg/twitter.svg
						a.GalleryShow_socialLink(href="#")
							include includes/svg/vk.svg
				.GalleryShow_controls
					.GalleryShow_prev.swiper-button-prev
						include includes/svg/arrow_right.svg
					.GalleryShow_counter
						p 01
					.GalleryShow_next.swiper-button-next
						include includes/svg/arrow_right.svg
				.GalleryShow_info
					span.GalleryShow_infoIcon
						include includes/svg/info.svg
					span.GalleryShow_infoText
						| Загрузил
						<br/>
						| Воздвиженский Илья
						<br/>
						| 23:01 - 05.08.2017
				.GalleryShow_resize
					span.GalleryShow_resizeFull
						include includes/svg/fullscreen.svg
					span.GalleryShow_resizeNormal
						include includes/svg/fullscreen_exit.svg

		.GalleryTabs
			.GalleryTabs_item.GalleryTabs_item-active(data-trigger-pack="1")
				p Виды Квартала
			.GalleryTabs_item(data-trigger-pack="31")
				p Видео о проекте
			.GalleryTabs_item(data-trigger-pack="3")
				p Окружение
			.GalleryTabs_item(data-trigger-pack="4")
				p 3D тур
			.GalleryTabs_item(data-trigger-pack="5")
				p С высоты
			.GalleryTabs_item(data-trigger-pack="6")
				p Виды из окон
			.GalleryTabs_item(data-trigger-pack="7")
				p Отделка
			.GalleryTabs_item(data-trigger-pack="8")
				p ON-LINE
			.GalleryTabs_item(data-trigger-pack="9")
				p Ход стройки
		.GallerySidebar


			.GallerySidebar_item.GallerySidebar_item-big.GallerySidebar_item-expanded(data-trigger-pack="1")
				.GallerySidebar_linkArea
				.GallerySidebar_img(style='background: url("img/pages/gallery/gallery1.png") no-repeat center; background-size: cover;')
				.GallerySidebar_info
					.GallerySidebar_order(data-order="01")
					.GallerySidebar_textWrapper
						h3.GallerySidebar_header Виды квартала
						p.GallerySidebar_text 1Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой55555сть которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которой
						a.GallerySidebar_more(href="") Подробнее
						a.GallerySidebar_flats(href="") Выбрать квартиры

			.GallerySidebar_item.GallerySidebar_item-big.GallerySidebar_item-video(data-trigger-pack="31")
				.GallerySidebar_linkArea
				.GallerySidebar_img(style='background: url("img/pages/gallery/gallery2.png") no-repeat center; background-size: cover;')
				.GallerySidebar_info
					.GallerySidebar_order(data-order="02")
					.GallerySidebar_textWrapper
						h3.GallerySidebar_header Видео о проекте
						p.GallerySidebar_text 2Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойкоторой Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которой
						a.GallerySidebar_more(href="") Подробнее
						a.GallerySidebar_flats(href="") Выбрать квартиры

			.GallerySidebar_item.GallerySidebar_item-big(data-trigger-pack="3")
				.GallerySidebar_linkArea
				.GallerySidebar_img(style='background: url("img/pages/gallery/gallery3.png") no-repeat center; background-size: cover;')
				.GallerySidebar_info
					.GallerySidebar_order(data-order="03")
					.GallerySidebar_textWrapper
						h3.GallerySidebar_header Отделка квартир
						p.GallerySidebar_text 3Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойкоторой Сэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которойСэкономить время и деньги покупатели смогут при выборе квартиры с уже готовой отделкой, стоимость которой
						a.GallerySidebar_more(href="") Подробнее
						a.GallerySidebar_flats(href="") Выбрать квартиры

			.GallerySidebar_item.GallerySidebar_item-big.GallerySidebar_item-panorama(data-trigger-pack="4")
				.GallerySidebar_linkArea
				.GallerySidebar_img(style='background: url("img/pages/gallery/gallery1.png") no-repeat center; background-size: cover;')
				.GallerySidebar_info
					.GallerySidebar_order(data-order="04")
					.GallerySidebar_textWrapper
						h3.GallerySidebar_header 3D тур
						.GallerySidebar_panoramaWrapper
							img.GallerySidebar_panoramaImg(src="/img/pages/gallery/plan_panorama.svg")
							.GallerySidebar_panoramaTrigger(data-trigger-panorama="1" style="top: 34%;left: 60.5%;")
							.GallerySidebar_panoramaTrigger(data-trigger-panorama="2" style="top: 20%;left: 57.5%;")
							.GallerySidebar_panoramaTrigger(data-trigger-panorama="3" style="top: 23%;left: 47.5%;")
							.GallerySidebar_panoramaTrigger(data-trigger-panorama="4" style="top: 16%;left: 45.5%;")
							.GallerySidebar_panoramaTrigger(data-trigger-panorama="5" style="top: 21%;left: 40.5%;")
							.GallerySidebar_panoramaTrigger(data-trigger-panorama="6" style="top: 26%;left: 31.5%;")
							.GallerySidebar_panoramaTrigger(data-trigger-panorama="7" style="top: 31%; left: 22%;")
							.GallerySidebar_panoramaTrigger(data-trigger-panorama="8" style="top: 39%;left: 30.5%;")
							.GallerySidebar_panoramaTrigger(data-trigger-panorama="9" style="top: 54%;left: 28.5%;")
							.GallerySidebar_panoramaTrigger(data-trigger-panorama="10" style="top: 52%;left: 40%;")
							.GallerySidebar_panoramaTrigger(data-trigger-panorama="11" style="top: 58%;left: 35%;")
							.GallerySidebar_panoramaTrigger(data-trigger-panorama="12" style="top: 63%;left: 44.5%;")
							.GallerySidebar_panoramaTrigger(data-trigger-panorama="13" style="top: 70%;left: 48.5%;")
							.GallerySidebar_panoramaTrigger(data-trigger-panorama="14" style="top: 76%;left: 52.5%;")
							.GallerySidebar_panoramaTrigger(data-trigger-panorama="15" style="top: 77%;left: 42.5%;")
							.GallerySidebar_panoramaTrigger(data-trigger-panorama="16" style="top: 80%;left: 35.5%;")



block page_bottom
	script(src="js/krpano.js")
	script(src='js/gallery.js')