extends layout
block vars
    - var title = "Выбор на генплане";
mixin popupExample
    template
        .PopupInfo
            .PopupInfo_head
                span Корпус
                span 3
            dl.PopupInfo_list
                dt.PopupInfo_dt
                    div
                        strong.PopupInfo_boldTxtRow Студия
                        small.PopupInfo_tinyTxtRow от 2,1 млн. ₽
                dd.PopupInfo_dd 68

                dt.PopupInfo_dt
                    div
                        strong.PopupInfo_boldTxtRow 1-я квартира
                        small.PopupInfo_tinyTxtRow от 4,0 млн. ₽
                dd.PopupInfo_dd 06

                dt.PopupInfo_dt
                    div
                        strong.PopupInfo_boldTxtRow 2-я квартира
                        small.PopupInfo_tinyTxtRow от 4,0 млн. ₽
                dd.PopupInfo_dd 12

                dt.PopupInfo_dt
                    div
                        strong.PopupInfo_boldTxtRow 3-я квартира
                        small.PopupInfo_tinyTxtRow от 6,2 млн. ₽
                dd.PopupInfo_dd 12

                dt.PopupInfo_dt.PopupInfo_dt-gray
                    strong.PopupInfo_boldTxtRow Стадия#[br]строительства
                dd.PopupInfo_dd.PopupInfo_dd-gray 15%

                dt.PopupInfo_dt.hidden
                    strong.PopupInfo_boldTxtRow Прогресс
                dd.PopupInfo_dd.PopupInfo_dd-fullWidth.PopupInfo_dd-hAuto.PopupInfo_dd-gray
                    .ProgressBar.ProgressBar-n1
                        .ProgressBar_bar(style="width: 15%")

                dt.PopupInfo_dt
                    strong.PopupInfo_boldTxtRow Срок сдачи
                dd.PopupInfo_dd 3кв 2019г

block content
    section.Genplan
        .Genplan_buttonsWrap
            #BtnsLegend.BtnsLegend
                .BtnsLegend_inner
                    h6.BtnsLegend_title.BtnsLegend_title-white Стадия строительства
                    .BtnsLegend_btn.BtnsLegend_btn-v7 I
                    .BtnsLegend_btn.BtnsLegend_btn-v8(style="opacity:0.48;") II
                    .BtnsLegend_btn.BtnsLegend_btn-v9(style="opacity:0.48;") III

        .Genplan_planWrap
            +Fitblock('/img/genplan_main.jpg', 1522, 1152, 'Fitblock-genplan Fitblock-xsScrollable')
                a.Genplan_marker.Genplan_marker-v1.Genplan_marker-active(style="top:20%;left:20%;" href="/chess_house-12.html") 12
                    +popupExample
                a.Genplan_marker.Genplan_marker-v1.Genplan_marker-active(style="top:50%;left:70%;" href="/chess_house-12.html") 43
                    +popupExample
                div.Genplan_marker.Genplan_marker-v1.Genplan_marker-active.Genplan_marker-sold(style="top:27%;left:33%;") 6
                    template
                        .PopupInfo
                            .PopupInfo_head
                                span Корпус
                                span 3
                            dl.PopupInfo_list
                                dt.PopupInfo_dt
                                    div
                                        strong.PopupInfo_boldTxtRow Срок заселения
                                        small.PopupInfo_tinyTxtRow
                                dd.PopupInfo_dd Дом сдан
                                dt.PopupInfo_dt.PopupInfo_dt-fullWidth
                                    strong.PopupInfo_boldTxtRow Все квартиры проданы

                div.Genplan_marker.Genplan_marker-v2(style="top:30%;left:30%;" href="/chess_house-12.html") 23
                div.Genplan_marker.Genplan_marker-v3(style="top:40%;left:40%;" href="/chess_house-12.html") 34
                div.Genplan_marker.Genplan_marker-v2(style="top:70%;left:80%;" href="/chess_house-12.html") 51
                div.Genplan_marker.Genplan_marker-v3(style="top:67%;left:40%;" href="/chess_house-12.html") 61
            .Genplan_compass(style="-webkit-transform: rotate(45deg);transform: rotate(45deg);")

        a.Genplan_filterLink(href="/filters.html") Подбор по параметрам
            span.Genplan_filterLinkIcon
                include includes/svg/filter.svg

block page_bottom
    script(src="/js/genplan.js")