extends layout
block vars
	- var title = "Коммерческие помещения";

block content
	section.Genplan
		.Genplan_planWrap
			+Fitblock('/img/bld_choose_map_bg.svg', 1366, 787, 'Fitblock-genplan2d Fitblock-xsScrollable Fitblock-smScrollable')
				svg.BldChoose(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1366" height="787" viewBox="0 0 1366 787")
					defs
						lineargradient#d(x1='0%', y1='0%', y2='100%')
							stop(offset='0%', stop-color='#86C98B')
							stop(offset='100%', stop-color='#7DCAC5')
					g(transform='translate(-5 -2)')
						a.BldChoose_bld(xlink:href="/house_commercial.html")
							path(d='M2.8 34.3v24.1H.3V100h7.3v5.5h16.9v-9.1h6.1V81.3h3.6V66.2h-3.6V48.7l3-3 3 2.4 10.3-10.2-2.4-3 3.6-3.1h9.1v1.9h2.4v2.4h27.8v-2.4h2.5v-1.9h9.6v1.9h2.5v2.4h14.5v-2.4h24.2v-8.5h6V7.7h-9V4.1h-15.2V.5H108v3.6H80.8V.5H66.3v3.6H33z', transform='translate(45.7 239.2)')
						a.BldChoose_bld(xlink:href="/house_commercial.html")
							path(d='M175.2 10.7v21.1h5.4v2.5h24.2v2.4h14.5v-2.4h2.4v-2.5h9.7v2.5h2.4v2.4h27.9v-2.4h2.4v-2.5H275v2.5h1.8v2.4h14.5v-2.4h24.8v-2.5h5.5V10.7h-5.5V6.5h-11.5V4.1h-6V.5h-15.2v3.6h-27.8V.5h-15.1v3.6h-27.2V.5h-15.8v3.6h-6v2.4h-10.9v4.2z', transform='translate(45.7 239.2)')
						a.BldChoose_bld(xlink:href="/house_commercial.html")
							path(d='M401.7 248.1l.6 18.1h5.5v8.5h24.8v2.4h15v-2.4h2.5v-2.4h9l3.7 3.6-1.2 1.8 9.7 10.2 1.8-1.8 3.6 3.7.6 9h-2.4v3h-2.4v28.4h2.4v2.4h2.4l-.6 9.6h-1.8v43h7.3v5.3H499v-9h6v-15.7h3.7v-15.7h-3.6v-26.6h3.6V308h-3.6v-19.4h2.4v-5.4h2.4v-4.8l-6-6-1.2.6-7.3-7.9 2.4-3-11-10.3-2.3 2.5-8-7.9.7-.6-6-6h-5.4v1.8l-5.5.6v1.8h-18.7v-3.6h-15.2v3.6h-15.7v4.2z')
						a.BldChoose_bld.BldChoose_bld-disabled(xlink:href="/house_commercial.html")
							path(d='M867.2 79.3v-3.6h17v3.6h26v-3.6h17v3.6h26v-3.6h15v3.6h6v2.4h11.6V86h5.4v21h-5.4v2.5H961v2.4h-14.5v-2.4h-15.2v2.4h-27.8v-2.4h-2.4V107h-8.3v2.4h-2.5v2.4h-27.8v-2.4H848v2.4h-14.5v-2.4h-24.2V107h-5.5V86h5.5v-4.3h10.9v-2.4h6v-3.6H842v3.6h25.3z')
						a.BldChoose_bld.BldChoose_bld-disabled(xlink:href="/house_commercial.html")
							path(d='M503.5 502.4v-24.2h2.4V436h-7.2v-5.4h-17v9h-6v15.7H472v15.1h3.7v16.9l-3.1 3.6-3-2.4-10.3 10.2 2.5 2.4-3.7 3.7h-9V503h-2.5v-2.5h-27.8v2.5h-2.4v1.8h-9.7V503h-2.4v-2.5h-14.5v2.5h-24.2v7.8h-6.1v17.5h9.1v4.2h15.1v3.6h14.5v-3.6h27.3v3.6H440v-3.6h33.2z')
						a.BldChoose_bld.BldChoose_bld-disabled(xlink:href="/house_commercial.html")
							path(d='M196.2 515v2.4h40.5V509h6.1v-19.9h-9.1v-2.4h-10.3v-4.3h-15.7v4.3H178v-4.3h-14.5v4.3h-21.7l-3.1-3.7 1.8-1.2L129 471l-1.2 1.2-3.6-3v-17.5h4.2v-15.1h-4.2V407h4.2v-15.1l-4.2-.6v-11.4h-6v-9.7H100v6h-8.5v13.3H94v6.7h-2.5v13.2H94v15.1h1.8v9.7H94v6.6h-2.5v12.7H94V483l33.8 34.4h12.7V515h20v2.4h24.2V515z')
						a.BldChoose_bld.BldChoose_bld-disabled(xlink:href="/house_commercial.html")
							path(d='M710.4 238.1v4.2h-17.6v-2.4h-6v-2.4h-6.7v3.6l-10.9 11.5-3.6-3.7-10.9 11.5 3 3-10.8 10.9h-3.7v7.2h2.4v22.3h-2.4v12.7h2.4v6.6h2.5v9.7h-2.5v11.5h-2.4v12.6h2.4v10.9h-2.4v12.7h9.1v6h18.2v-9h5.4v-15.7h4.8v-15.7h-4.2v-25.4h4.2V305h-4.8v-16.8l3.6-3.7 1.8 1.8 10.9-10.8-1.8-1.8 3.6-3.6h10.3v2.4h39.9V264h6.1v-19.3h-9.1v-2.4h-15.1v-4.2z')
						a.BldChoose_bld.BldChoose_bld-disabled(xlink:href="/house_commercial.html")
							path(d='M850.7 237.5v4.2l-25.4.6v-4.8h-15.1v4.8h-15.1v1.8h-8.5v19.3h5.4v8.5h32.1v1.8h7.9v-1.8h1.2v-2.5h9.7v2.5h1.2v1.8h7.8v-1.8H884v-8.5h5.4v-19.3H881v-1.8h-15.2v-4.2z')
						a.BldChoose_bld.BldChoose_bld-disabled(xlink:href="/house_commercial.html")
							path(d='M1152.7 101.5v4.2l-25.4.6v-4.8h-15.1v4.8h-15.1v1.8h-8.5v19.3h5.4v8.5h32.1v1.8h7.9v-1.8h1.2v-2.5h9.7v2.5h1.2v1.8h7.8v-1.8h32.1v-8.5h5.4v-19.3h-8.4v-1.8h-15.2v-4.2z')
						a.BldChoose_bld.BldChoose_bld-disabled(xlink:href="/house_commercial.html")
							path(d='M933.6 247.7v17.5h6.6v8.5h32.1v2.4h7.9v-2.4h1.2v-2.4h8.4l3.7 3.6-1.8 1.2 10.2 10.8 1.9-1.8 3.6 3.7v15h-2.4v12.7h2.4v6.6h2.4v9.7h-2.4v10.9h-2.4v12.6h2.4v10.3h-2.4v13.3h8.4v5.4h18.2v-9.1h5.4v-15h4.9v-15.1h-4.9v-25.4h4.9v-15h-4.9v-13.3h-1.8v-4.8h1.8v-5.5h2.4v-4.8l-6-6-.6.6-7.9-7.9 3.1-3-10.3-10.9-3.1 3.1-7.8-7.3.6-.6-6.1-6h-4.8v2.4h-5.4v1.8h-17.6v-4.2h-15.1v4.2h-15.1v4.2z')
						a.BldChoose_bld.BldChoose_bld-disabled(xlink:href="/house_commercial.html")
							path(d='M937.2 572.9v2.5h-39.9v-8.5h-6.1V547h9.1v-2.4h15.1v-4.2h15.8v4.2H956v-4.2h14.5v4.8h20l3.6-3.6-1.8-1.8 10.9-10.9 1.8 1.8 3-3.6v-16.9h-4.2v-15.7h4.2v-31.4l-1.8 3v-15l2.4-3.7-.6-15.6h6v-9.1h18.2v6h9.1v12.7h-2.5v10.9h2.5v12.6h-2.5v11.5h-2.4v15.7h2.4v6.6h2.5v12.7h-2.5V541l-34.4 34.4h-12.7v-2.5h-18.8l.6 2.5h-24.2l-.6-2.5z')
						a.BldChoose_bld.BldChoose_bld-disabled(xlink:href="/house_commercial.html")
							path(d='M746.7 575.4v2.4h40.5v-8.5h6v-19.9h-9V547h-9.7v-4.2h-15.7v4.2h-32.1v-4.2h-14.5v4.2H694l-3.6-3.6 1.8-1.2-10.9-10.9-1.8 1.2-3.6-3V512h4.8v-15.1h-4.2v-22.3h4.2v-15.1l-4.8-.6v-18.7h-5.4v-9.6h-18.2v6h-9.1v13.3h2.4v13.8h-2.4v9.7h2.4v11.5h2.5v9.6h-2.5v6.6h-2.4v12.7h2.4v29.6l34.5 34.4h12.7v-2.4H711v2.4h24.2v-2.4z')
						a.BldChoose_bld.BldChoose_bld-disabled(xlink:href="/house_commercial.html")
							path(d='M1307.4 312.3h-6V299h-2.4v-28.9l-34.5-34.4h-12.7v2.4H1233l.6-2.4h-24.2l-.6 2.4h-11.5v-2.4h-39.9v8.4h-6v19.3h9v2.4h15.2v4.3h15.7v-4.3h24.8v4.3h14.5v-4.3h20l3.6 3.6-1.8 1.9 10.9 10.8 1.8-1.8 3 3.6v16.9h-4.2v15.7h4.2v31.4h-4.2v15.7h4.8l-.6 15.7v52.5l.6 15.6h-4.8v15.7h4.2v31.4h-4.2v15.7h4.2v16.9l-3 3.6-1.8-1.8-10.9 10.9 1.8 1.8-3.6 3.6h-20v-4.8h-14.5v4.2h-24.8v-4.2h-15.7v4.2h-15.2v2.4h-9v19.9h6v8.5h39.9v-2.5h11.5l.6 2.5h24.2l-.6-2.5h18.8v2.5h12.7L1299 541v-29.6h2.4v-12.7h-2.4v-6.6h-2.5v-15.7h2.5v-11.5h8.4z')
				a(href="/house_commercial.html", style="top:34%;left:5%;").Genplan_smallNumber 1
				a(href="/house_commercial.html", style="top:32.5%;left:21.1%;").Genplan_smallNumber 2
				a(href="/house_commercial.html", style="top:34%;left:34.65%;").Genplan_smallNumber 3
			.Genplan_compass(style="-webkit-transform: rotate(45deg);transform: rotate(45deg);")
			h2.Genplan_title Нежилые помещения

block page_bottom
	script(src="/js/commercial_genplan.js")