extends layout
block vars
	- var title = "Главная";
	- var isBgLight = 1;
block content
	section
		.Slideshow#homepageSlideshow
			.Slideshow_track.swiper-container
				.swiper-wrapper
					.Slideshow_slide.swiper-slide(style="background-image: url('/img/slides/slide1.jpg')" data-slide-title='Свой собственный пляж' data-slide-desc="Описание главного слайда")
					.Slideshow_slide.swiper-slide(style="background-image: url('/img/slides/slide2.jpg')" data-slide-title='Заголовок 2' data-slide-desc="Описание 2")
					.Slideshow_slide.swiper-slide(style="background-image: url('/img/slides/slide3.jpg')" data-slide-title='Заголовок 3' data-slide-desc="Описание 3")
			.Slideshow_inner
				.Slideshow_nav
					button.Slideshow_arrow.Slideshow_arrow-prev
						include includes/svg/arrow_short.svg
					.Slideshow_counter 01
					button.Slideshow_arrow.Slideshow_arrow-next
						include includes/svg/arrow_short.svg
				h4.Slideshow_slideTitle Свой собственный пляж 1
				p.Slideshow_slideDesc Описание главного слайда
				a(href="https://kvartalkotelniki.ru/about/news/1640/").Slideshow_logo
					img(src="/img/logo.png", alt="")
				div.Slideshow_logo._finalist
					img(src="/img/finalist.png", alt="")
				.Slideshow_linksList
					.Slideshow_linkWrap
						a(href="/#promosSection").Slideshow_link Акции
							include includes/svg/arrow_accordion.svg
					.Slideshow_linkWrap
						a(href="#newsSection").Slideshow_link Новости
							include includes/svg/arrow_accordion.svg
					.Slideshow_linkWrap
						a(href="#aboutSection").Slideshow_link Инфраструктура
							include includes/svg/arrow_accordion.svg
					.Slideshow_linkWrap
						a(href="#minigenplanSection").Slideshow_link Генплан
							include includes/svg/arrow_accordion.svg
				.Slideshow_toastsWrap
					.stack.stack--yuda#stack_yuda
						.stack__item
							a(href="https://kvartalkotelniki.ru/conditions/actions/1537/", target="_blank").Slideshow_toastLink
								.Toast.Toast-info
									.Toast_text
										span.Toast_strongText 50 квартир
										| по уникальной цене!
									.Toast_circleWrapper
										.Toast_circle
										.Toast_circle
						.stack__item
							a(href="https://exporealty.ru/visit/registration/", target="_blank").Slideshow_toastLink
								.Toast.Toast-info
									.Toast_text
										| Получить бесплатный билет
										br
										| на Специализированную выставку-ярмарку
										br.hidden-xs
										span.Toast_strongText «Недвижимость 2018 от Лидеров»
									.Toast_circleWrapper
										.Toast_circle
										.Toast_circle
				.Slideshow_messagersWrapper.hidden-sm.hidden-md
					p.Slideshow_messagersText Задать вопрос
					a(href="tg://resolve?domain=+79164780024").Slideshow_messagersLink
						img(src="/img/telegram_logo.svg", alt="").Slideshow_messagersImg
					a(href="whatsapp://send?phone=79164780024").Slideshow_messagersLink
						img(src="/img/whatsapp_logo.svg", alt="").Slideshow_messagersImg
		#homepageCoundown.Countdown.Countdown-topLeft
			.Countdown_title ДО ПОВЫШЕНИЯ ЦЕН ОСТАЛОСЬ
			.Countdown_clock(data-countdown-until="2018/04/30")

	h1.homepageMainHead
		small.homepageMainHead_subtext Жилой квартал
		| «НОВЫЕ КОТЕЛЬНИКИ»
	section#promosSection

		.CardsGroup1.Container
			.CardsGroup1_item.CardsGroup1_item-n1
				h3.SectionHead Выгодные
					span.SectionHead_markedText акции
				.SectionText
					p Представляем вам выгодные скидки, которые действительно работают и чтоб вы понимали мы делаем все это для вас. Все жильцы могут посетить наш собственный полностью оборудованный пляж, который находится в некотором удалении от отеля.
			.CardsGroup1_item.CardsGroup1_item-n2
				+PromoCard("Отделка от 7500 ₽", "/img/akci_1.jpg")
			.CardsGroup1_item.CardsGroup1_item-n3
				+PromoCard("Скидки на студии 8%", "/img/akci_2.jpg")
			.CardsGroup1_item.CardsGroup1_item-n4
				+PromoCard("Квартиры с видом на водоем по специальной цене", "/img/akci_3.jpg")

			.CardsGroup1_mobSwiperWrap.swiper-container#homepageCardsMinislider_1
				.swiper-wrapper
					.swiper-slide
						+PromoCard("Отделка от 7500 ₽", "/img/akci_1.jpg")
					.swiper-slide
						+PromoCard("Скидки на студии 8%", "/img/akci_2.jpg")
					.swiper-slide
						+PromoCard("Квартиры с видом на водоем по специальной цене", "/img/akci_3.jpg")
	section#newsSection
		.BgText.hidden-xs.hidden-sm
			.BgText_text НОВОСТИ
		.Container.NewsSection.NewsMain
			.NewsSection_headWrap
				h3.SectionHead
					span.SectionHead_markedText.SectionHead_markedText-yellow Новости
				.LinksList.LinksList-n1
					.LinksList_item
						a(href="#").LinksList_link
							span.LinksList_text Форум
							.LinksList_icoWrap
								include includes/svg/forum.svg
					.LinksList_item
						a(href="#").LinksList_link
							.LinksList_text(data-fancybox data-src="#FormPopup" href="javascript:;") Подписаться на новости
							.LinksList_icoWrap
								include includes/svg/paperplane.svg
			.NewsSection_figuresWrap.hidden-xs
				.NewsSection_col.NewsSection_col-n1
					.NewsMain_item._item1
						.NewsMain_img(style="background-image:url('/img/tmp/684x520.jpg')")
						.NewsMain_txtBlock
							.NewsMain_tlt Скидка 6 тыс руб на каждый квадратный метр в 3-комнатных квартирах «Новых Котельников»
							//-.NewsMain_tlt Квартира в «Н.&nbsp;Котельниках»
							.NewsMain_txt
								p С 1 мая в квартале «Новые Котельники» стартовало майское спецпредложение для потенциальных покупателей квартир больших площадей – экономия до 450 342 руб при покупке трехкомнатной квартиры в новых корпусах. Акция распространяется на определенный пул квартир – всего 13 лотов.
								a(href="#").NewsMain_more Подробнее
				.NewsSection_col.NewsSection_col-n2
					.NewsMain_item._item2
						.NewsMain_img(style="background-image:url('/img/tmp/684x260.jpg')")
						.NewsMain_txtBlock
							.NewsMain_tlt В корпусах первой очереди ведутся работы по монтажу холодного остекления
							.NewsMain_txt
								p В 1 корпусе в завершающей стадии - монтаж декоративных ограждений, работы по устройству стяжек и утеплению холодных зон 25-го этажа.
								a(href="#").NewsMain_more Подробнее
				.NewsSection_col.NewsSection_col-n3
					.NewsMain_item._item3
						.NewsMain_img(style="background-image:url('/img/slides/slide3.jpg')")
						.NewsMain_txtBlock
							.NewsMain_tlt Международный день защиты детей в квартале «Новые Котельники»
							.NewsMain_txt
								p 1 июня 2019 г. в офисе продаж квартала «Новые Котельники» пройдет мероприятие, приуроченное Международному дню защиты детей.
								a(href="#").NewsMain_more Подробнее
			.NewsSection_mobileNewsBlock.hidden-sm.hidden-md
				.NewsMain_mob
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.NewsMain_item
									.NewsMain_img(style="background-image:url('/img/tmp/684x520.jpg')")
									.NewsMain_txtBlock
										.NewsMain_tlt Скидка 6 тыс руб на каждый квадратный метр в 3-комнатных квартирах «Новых Котельников»
										.NewsMain_txt
											p С 1 мая в квартале «Новые Котельники» стартовало майское спецпредложение для потенциальных покупателей квартир больших площадей – экономия до 450 342 руб при покупке трехкомнатной квартиры в новых корпусах. Акция распространяется на определенный пул квартир – всего 13 лотов.
											a(href="#").NewsMain_more Подробнее
							.swiper-slide
								.NewsMain_item
									.NewsMain_img(style="background-image:url('/img/tmp/684x260.jpg')")
									.NewsMain_txtBlock
										.NewsMain_tlt В корпусах первой очереди ведутся работы по монтажу холодного остекления
										.NewsMain_txt
											p В 1 корпусе в завершающей стадии - монтаж декоративных ограждений, работы по устройству стяжек и утеплению холодных зон 25-го этажа.
											a(href="#").NewsMain_more Подробнее
							.swiper-slide
								.NewsMain_item
									.NewsMain_img(style="background-image:url('/img/slides/slide3.jpg')")
									.NewsMain_txtBlock
										.NewsMain_tlt Международный день защиты детей в квартале «Новые Котельники»
										.NewsMain_txt
											p 1 июня 2019 г. в офисе продаж квартала «Новые Котельники» пройдет мероприятие, приуроченное Международному дню защиты детей.
											a(href="#").NewsMain_more Подробнее
				.NewsMain_slPager
					+DotsPager
	section#aboutSection
		.BgText
				h3.BgText_text О ПРОЕКТЕ
		.MirrorSliderSection#AboutProjectSection
			.MirrorSliderSection_cell.MirrorSliderSection_cell-n1
				.TextSlider
					.TextSlider_inner.swiper-container
						.TextSlider_track.swiper-wrapper
							.swiper-slide
								.TextSlider_item
									.TextSlider_num 01
									.TextSlider_head Квартал в котором можно все
									.TextSlider_text
										p Жилой Квартал Новые Котельники строится в соответствии последним трендам современного Мегаполиса. В проекте были учтены все нюансы комфортной жизни. В нашем квартале есть все необходимое для учебы и развития детей, занятий спортом, активного отдыха в любое время года, открытия малого бизнеса и многое другое. А главное, в нем отлично сочетаются достоинства городской и загородной жизни: развитая инфраструктура и чистейшая экология рядом.
										p Квартале Новые Котельники есть все, что ежедневно необходимо человеку в современном мире!
										a(href="/about.html").TextSlider_link О проекте
											include includes/svg/arrow_right.svg
							.swiper-slide
								.TextSlider_item
									.TextSlider_num 02
									.TextSlider_head Свой собственный пляж
									.TextSlider_text
										p Жилой Квартал Новые Котельники возводится на берегу чистейших озер с прозрачной водой и белоснежным песком. Для жителей квартала будет оборудована собственная пляжная зона с множеством беседок и шезлонгов, где можно позагорать, искупаться, провести летний вечер в кафе или покататься на лодках. Все любители экстремальных видов спорта смогут освоить вейкборт или гидроцикл.
										a(href="/about.html").TextSlider_link О проекте
											include includes/svg/arrow_right.svg
							.swiper-slide
								.TextSlider_item
									.TextSlider_num 03
									.TextSlider_head Все для спорта и отдыха
									.TextSlider_text
										p На прилегающей территории квартала для занятий спортом и отдыха открыты:
										ul
											li Горнолыжный комплекс для катания на лыжах и сноуборде, с отдельной трассой для тюбинга, Конный клуб, Скейтпарк;
											li Беговые и лыжные трассы в Томилинском лесопарке;
											li Велодорожки с бесшовным резиновым безопасным покрытием;
											li Площадки для волейбола, хоккея и воркаута;
											li Рекреационные зоны и многое другое для проведения досуга всей семьи.
										a(href="/about.html").TextSlider_link О проекте
											include includes/svg/arrow_right.svg
							.swiper-slide
								.TextSlider_item
									.TextSlider_num 04
									.TextSlider_head Все для детей
									.TextSlider_text
										p Для самых маленьких жителей квартала, проектом предусмотрено все необходимое для учебы, игр и развития:
										ul
											li 4 детских сада, общей вместимостью 630 детей;
											li Муниципальная школа на 1500 мест;
											li Большое количество игровых и спортивных зон.
										p Родители могут быть спокойны за безопасность своих чад, играющих во дворе, ведь весь квартал построен по принципу «Двор без машин».
										a(href="/about.html").TextSlider_link О проекте
											include includes/svg/arrow_right.svg
							.swiper-slide
								.TextSlider_item
									.TextSlider_num 05
									.TextSlider_head Все для повседневной жизни
									.TextSlider_text
										p На первых этажах всех жилых зданий будут располагаться торговые и офисные помещения: магазины, кафе, салоны красоты, аптеки, банки, центры личного развития и многое другое.
										p Для жителей квартала будут построены собственные объекты социальной инфраструктуры:
										ul
											li Деловой центр
											li Медицинский центр
											li Поликлиника
											li Паркинги
										a(href="/about.html").TextSlider_link О проекте
											include includes/svg/arrow_right.svg

					.TextSlider_bottom
						+DotsPager("hidden-xs hidden-sm DotsPager-n1")
			.MirrorSliderSection_cell.MirrorSliderSection_cell-n2
				.Shape
					.Shape_content
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									img.PseudoImg(src="/img/pushers/768x577.png" style="background-image:url('/img/slides/about_project_slides/slide1.jpg')" alt="")
								.swiper-slide
									img.PseudoImg(src="/img/pushers/768x577.png" style="background-image:url('/img/slides/about_project_slides/slide2.jpg')" alt="")
								.swiper-slide
									img.PseudoImg(src="/img/pushers/768x577.png" style="background-image:url('/img/slides/about_project_slides/slide3.jpg')" alt="")
								.swiper-slide
									img.PseudoImg(src="/img/pushers/768x577.png" style="background-image:url('/img/slides/about_project_slides/slide4.jpg')" alt="")
								.swiper-slide
									img.PseudoImg(src="/img/pushers/768x577.png" style="background-image:url('/img/slides/about_project_slides/slide5.jpg')" alt="")
					.Shape_mask.Shape_mask-n1
					.Shape_mask.Shape_mask-n2
					.Shape_mask.Shape_mask-n3
					.Shape_mask.Shape_mask-n4
					.Shape_area.Shape_area-n3
						+DotsPager("hidden-md")
	include includes/chunks/infrasObjMarkers.pug
	section
		.MapSection
			.MapSection_desc
				h3.SectionHead Уникальная внешняя
					span.SectionHead_markedText.SectionHead_markedText-yellow инфраструктура
				.SectionText
					p Котельники граничат с Дзержинским, который является городом-спутником Москвы. Жители нового квартала смогут пользоваться всей необходимой инфра-структурой: медицинскими и образова-тельными центрами, пунктами бытовых услуг и отделениями банков, магазинами и ресторанами.
			.MapSection_map
				.Well.Well-n1
					.Well_underlay
					.Map
						.Map_map#Map
	section#minigenplanSection
		.BgText.hidden-xs
				.BgText_text О КОМПЛЕКСЕ
		.Minigenplan.Container
			.Minigenplan_cell.Minigenplan_cell-n1
				h3.SectionHead
					span.SectionHead_markedText О комплексе
				ul.Minigenplan_list
					li.Minigenplan_listLeaf
						a.Minigenplan_listLink(href="#" data-trigger-marker="1")
							span Прогулочная зона
							span.Minigenplan_plusIco +
						div.Minigenplan_tabText  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint fuga consectetur sunt qui, quia nam vel tenetur odit mollitia architecto.
					li.Minigenplan_listLeaf
						a.Minigenplan_listLink(href="#" data-trigger-marker="2")
							span Детский сад и школа
							span.Minigenplan_plusIco +
						div.Minigenplan_tabText  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, eum pariatur aperiam laudantium inventore, impedit. Minus nostrum, suscipit ipsam deleniti.
					li.Minigenplan_listLeaf
						a.Minigenplan_listLink(href="#" data-trigger-marker="3")
							span Свой собственный пляж
							span.Minigenplan_plusIco +
						div.Minigenplan_tabText  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio esse nihil nesciunt omnis. Debitis ratione culpa consequuntur sapiente, velit rerum.
					li.Minigenplan_listLeaf
						a.Minigenplan_listLink(href="#" data-trigger-marker="4")
							span Спортивные площадки
							span.Minigenplan_plusIco +
						div.Minigenplan_tabText  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis amet accusantium tempora voluptas a nihil nisi? Non quisquam ea, architecto?
					li.Minigenplan_listLeaf
						a.Minigenplan_listLink(href="#" data-trigger-marker="5")
							span Многоуровневый паркинг
							span.Minigenplan_plusIco +
						div.Minigenplan_tabText  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui cupiditate, dolore beatae ab aut laudantium reprehenderit quam necessitatibus odio, itaque.
					li.Minigenplan_listLeaf
						a.Minigenplan_listLink(href="#" data-trigger-marker="6")
							span Магазины на первых этажах
							span.Minigenplan_plusIco +
						div.Minigenplan_tabText  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda praesentium veniam expedita non repudiandae atque labore sint reprehenderit tempore consequatur.
			.Minigenplan_cell.Minigenplan_cell-n2
				.Shape
					.Shape_content
						img#minigenplanShapePusherImg(src="/img/pushers/768x577.png" alt="")
						+Fitblock('/img/genplan.jpg', 845, 563)
						a.Minigenplan_marker(style="top:28%;left:33%;" href="#" data-marker="1")
						a.Minigenplan_marker(style="top:29%;left:60%;" href="#" data-marker="2")
						a.Minigenplan_marker(style="top:41%;left:81%;" href="#" data-marker="3")
						a.Minigenplan_marker(style="top:58%;left:7%;" href="#" data-marker="4")
						a.Minigenplan_marker(style="top:63%;left:31%;" href="#" data-marker="5")
						a.Minigenplan_marker(style="top:75%;left:43%;" href="#" data-marker="6")
						a.Minigenplan_marker(style="top:65%;left:60%;" href="#" data-marker="7")
						a.Minigenplan_marker(style="top:74%;left:71%;" href="#" data-marker="8")
						a.Minigenplan_marker(style="top:64%;left:78%;" href="#" data-marker="9")
					.Shape_mask.Shape_mask-n1
					.Shape_mask.Shape_mask-n2
					.Shape_mask.Shape_mask-n3
					.Shape_mask.Shape_mask-n4
					a(href="/genplan.html").Shape_area.Shape_area-n4
						span.hidden-xs Посмотреть на генплане
						include includes/svg/fullscreen.svg
			.ActionPopup#ActionPopup1(style="display: none;" data-fancybox)
				a(href="#").ActionPopup_link
					img(src="/img/banner.jpg", alt="")
	+FormPopup(FormPopup-homepage)
		fieldset.FormPopup_fieldset
			label.FormPopup_label(for="emailInput") Email
			input.FormPopup_input(type="email" id="emailInput" required="required" placeholder="example@mail.com")
	include includes/blocks/Prefooter.pug
	include includes/chunks/action_modal_index.pug
block page_bottom
	include includes/chunks/infrasObjYandexMarkers
	script(src="https://api-maps.yandex.ru/2.1/?apikey=c3135be3-6869-4028-b619-79f9c4ee5010&lang=ru_RU", type="text/javascript")
	script(src="/js/homepage.js")
