extends layout
block vars
	- var title = "Внешняя инфраструктура";
block content
	.Map.Map-fullscreen.Map-infrastructure
		h1.Map_header Инфраструктура
		.Map_map#Map
		.MapMore.MapMore-infrastructure
			a.MapMore_link(href="/features.html")
				p.MapMore_text Подробности о расположении
				include includes/svg/arrow_right.svg
				p.MapMore_textMobile Расположение
				include includes/svg/arrow_right.svg
		.MapLocations.MapLocations-infrastructure
			span.MapLocations_headerIcon
				include includes/svg/arrow_accordion.svg
			h3.MapLocations_header Социальные объекты
			.MapLocations_wrapper
				.MapLocations_item(data-marker-type="25")
					p.MapLocations_itemText Банки
					span.MapLocations_icoWrap.MapLocations_icoWrap-n25(style="color: #52A88B;")
						include includes/svg/map/bank.svg
				.MapLocations_item(data-marker-type="26")
					p.MapLocations_itemText МФЦ
					span.MapLocations_icoWrap.MapLocations_icoWrap-n26(style="color: #53A852;")
						include includes/svg/map/mfc.svg
				.MapLocations_item(data-marker-type="52")
					p.MapLocations_itemText Аптеки
					span.MapLocations_icoWrap.MapLocations_icoWrap-n52(style="color: #DC5252;")
						include includes/svg/map/pharmacy.svg
				.MapLocations_item(data-marker-type="53")
					p.MapLocations_itemText Храмы
					span.MapLocations_icoWrap.MapLocations_icoWrap-n53(style="color: #A57A7A;")
						include includes/svg/map/temple.svg
				.MapLocations_item(data-marker-type="47")
					p.MapLocations_itemText Почта
					span.MapLocations_icoWrap.MapLocations_icoWrap-n47(style="color: #5584f0;")
						include includes/svg/map/post.svg
				.MapLocations_item(data-marker-type="11")
					p.MapLocations_itemText Магазины
					span.MapLocations_icoWrap.MapLocations_icoWrap-n11(style="color: #ff8f71;")
						include includes/svg/map/shop.svg
				.MapLocations_item(data-marker-type="12")
					p.MapLocations_itemText Школы
					span.MapLocations_icoWrap.MapLocations_icoWrap-n12(style="color: #88cefe;")
						include includes/svg/map/open-book.svg
				.MapLocations_item(data-marker-type="13")
					p.MapLocations_itemText Детские сады
					span.MapLocations_icoWrap.MapLocations_icoWrap-n13(style="color: #b474ff;")
						include includes/svg/map/horse.svg
				.MapLocations_item(data-marker-type="14")
					p.MapLocations_itemText Больницы
					span.MapLocations_icoWrap.MapLocations_icoWrap-n14(style="color: #ff747d;")
						include includes/svg/map/hospital.svg
				.MapLocations_item(data-marker-type="15")
					p.MapLocations_itemText Спортивный зал
					span.MapLocations_icoWrap.MapLocations_icoWrap-n15(style="color: #D17E7D;")
						include includes/svg/map/training.svg
				.MapLocations_item(data-marker-type="18")
					p.MapLocations_itemText Бассейны
					span.MapLocations_icoWrap.MapLocations_icoWrap-n18(style="color: #ff79ba;")
						include includes/svg/map/bathroom.svg
			span.MapLocations_headerIcon
				span.MapLocations_icoWrap.MapLocations_icoWrap-n1
					include includes/svg/arrow_accordion.svg
			h3.MapLocations_header Особенности окружения
			.MapLocations_wrapper
				.MapLocations_item(data-marker-type="48")
					p.MapLocations_itemText Парки
					span.MapLocations_icoWrap.MapLocations_icoWrap-n48(style="color: #a0d97a;")
						include includes/svg/map/park.svg
				.MapLocations_item(data-marker-type="49")
					p.MapLocations_itemText Заправки
					span.MapLocations_icoWrap.MapLocations_icoWrap-n49(style="color: #dd55f0;")
						include includes/svg/map/gas-station.svg
				.MapLocations_item(data-marker-type="51")
					p.MapLocations_itemText Метро
					span.MapLocations_icoWrap.MapLocations_icoWrap-n51(style="color: #d80027;")
						include includes/svg/map/metro.svg
				.MapLocations_item(data-marker-type="16")
					p.MapLocations_itemText Дороги
					span.MapLocations_icoWrap.MapLocations_icoWrap-n16(style="color: #77a6ff;")
						include includes/svg/map/road.svg
				.MapLocations_item(data-marker-type="17")
					p.MapLocations_itemText Пляжи
					span.MapLocations_icoWrap.MapLocations_icoWrap-n17(style="color: #ffce77;")
						include includes/svg/map/beach.svg
		.MapSlider.MapSlider-slider.swiper-container
			.MapSlider_wrapper.swiper-wrapper
				.MapSlider_slide.swiper-slide
					h3.MapSlider_header Особенности окружения
					.MapLocations_item(data-marker-type="3")
						p.MapLocations_itemText Магазины
						span.MapLocations_icoWrap.MapLocations_icoWrap-n1(style="color: #88cefe;")
							include includes/svg/map/shop.svg
					.MapLocations_item(data-marker-type="5")
						p.MapLocations_itemText Школы
						span.MapLocations_icoWrap.MapLocations_icoWrap-n2(style="color: #b474ff;")
							include includes/svg/map/open-book.svg
					.MapLocations_item(data-marker-type="6")
						p.MapLocations_itemText Детские сады
						span.MapLocations_icoWrap.MapLocations_icoWrap-n3(style="color: #ff747d;")
							include includes/svg/map/horse.svg
					.MapLocations_item(data-marker-type="1")
						p.MapLocations_itemText Больницы
						span.MapLocations_icoWrap.MapLocations_icoWrap-n4(style="color: #FF747D;")
							include includes/svg/map/hospital.svg
					.MapLocations_item(data-marker-type="2")
				.MapSlider_slide.swiper-slide
					h3.MapSlider_header Особенности окружения
					.MapSlider_item
						p.MapSlider_itemText Магазины
						span.MapLocations_icoWrap.MapLocations_icoWrap-n1(style="color: #88cefe;")
							include includes/svg/map/shop.svg
					.MapSlider_item
						p.MapSlider_itemText Школы
						span.MapLocations_icoWrap.MapLocations_icoWrap-n2(style="color: #b474ff;")
							include includes/svg/map/open-book.svg
					.MapSlider_item
						p.MapSlider_itemText Детские сады
						span.MapLocations_icoWrap.MapLocations_icoWrap-n3(style="color: #ff747d;")
							include includes/svg/map/horse.svg
					.MapSlider_item
						p.MapSlider_itemText Больницы
						span.MapLocations_icoWrap.MapLocations_icoWrap-n4(style="color: #FF747D;")
							include includes/svg/map/hospital.svg
					.MapSlider_item
						p.MapSlider_itemText Спортивный зал
						span.MapLocations_icoWrap.MapLocations_icoWrap-n5(style="color: #d27e7e;")
							include includes/svg/map/training.svg

block page_bottom
	include includes/chunks/infrasObjYandexMarkers
	script(src="https://api-maps.yandex.ru/2.1/?apikey=c3135be3-6869-4028-b619-79f9c4ee5010&lang=ru_RU", type="text/javascript")
	script(src="js/infras_external.js")