extends layout
block vars
	- var title = "Blank page"
block content
	.Infras
		+Fitblock('/img/pages/infras/genplan.jpg', 1920, 1080, 'Fitblock-genplan Infras_genplan')
			span.Infras_point(style="background: #7ACAA9; left:5%; top: 56%;", title="На территории будет построено 1 школ")
				span.Infras_pointPlus
			span.Infras_point(style="background: #7DC2F4; left:28%; top: 60%;", title="На территории будет построено 2 школ")
				span.Infras_pointPlus
			span.Infras_point(style="background: #AC6CFC; left:28.5%; top: 46%;", title="На территории будет построено 3 школ")
				span.Infras_pointPlus
			span.Infras_point(style="background: #9CC046; left:36%; top: 74%;", title="На территории будет построено 4 школ")
				span.Infras_pointPlus
			span.Infras_point(style="background: #861DFA; left:47.5%; top: 63%;", title="На территории будет построено 5 школ")
				span.Infras_pointPlus
			span.Infras_point(style="background: #FD6A75; left:56.5%; top: 62%;", title="На территории будет построено 6 школ")
				span.Infras_pointPlus
			span.Infras_point(style="background: #7ACAA9; left:59%; top: 75%;", title="На территории будет построено 7 школ")
				span.Infras_pointPlus
			span.Infras_point(style="background: #FD856B; left:41%; top: 53.5%;", title="На территории будет построено 8 школ")
				span.Infras_pointPlus
			span.Infras_point(style="background: #3EBFAF; left:30%; top: 25%;", title="На территории будет построено 9 школ")
				span.Infras_pointPlus
			span.Infras_point(style="background: #4588DC; left:49%; top: 30%;", title="На территории будет построено 10 школ")
				span.Infras_pointPlus
			span.Infras_point(style="background: #FAC24C; left:61%; top: 39%;", title="На территории будет построено 11 школ")
				span.Infras_pointPlus

		.MapLocations.MapLocations-infras
			span.MapLocations_headerIcon
				include includes/svg/arrow_accordion.svg
			h3.MapLocations_header Объекты
			.MapLocations_wrapper
				.MapLocations_item.MapLocations_item-1
					p.MapLocations_itemText Прогулочная зона
					.MapLocations_itemBullet(style="background:#FD856B;")
						.MapLocations_itemBulletShadow(style="background:#FD856B; opacity: .2;")
				.MapLocations_item.MapLocations_item-2
					p.MapLocations_itemText Школы
					.MapLocations_itemBullet(style="background:#81C9FC;")
						.MapLocations_itemBulletShadow(style="background:#81C9FC; opacity: .2;")
				.MapLocations_item.MapLocations_item-3
					p.MapLocations_itemText Детские сады
					.MapLocations_itemBullet(style="background:#AC6CFC;")
						.MapLocations_itemBulletShadow(style="background:#AC6CFC; opacity: .2;")
				.MapLocations_item.MapLocations_item-4
					p.MapLocations_itemText Магазины на первых этажах
					.MapLocations_itemBullet(style="background:#FD6A75;")
						.MapLocations_itemBulletShadow(style="background:#FD6A75; opacity: .2;")
				.MapLocations_item.MapLocations_item-5
					p.MapLocations_itemText Многоуровневый паркинг
					.MapLocations_itemBullet(style="background:#7ACAA9;")
						.MapLocations_itemBulletShadow(style="background:#7ACAA9; opacity: .2;")
				.MapLocations_item.MapLocations_item-6
					p.MapLocations_itemText Пляж
					.MapLocations_itemBullet(style="background:#FAC24C;")
						.MapLocations_itemBulletShadow(style="background:#FAC24C; opacity: .2;")
				.MapLocations_item.MapLocations_item-7
					p.MapLocations_itemText Водоем
					.MapLocations_itemBullet(style="background:#4588DC;")
						.MapLocations_itemBulletShadow(style="background:#4588DC; opacity: .2;")
				.MapLocations_item.MapLocations_item-8
					p.MapLocations_itemText Торговый центр
					.MapLocations_itemBullet(style="background:#861DFA;")
						.MapLocations_itemBulletShadow(style="background:#861DFA; opacity: .2;")
				.MapLocations_item.MapLocations_item-9
					p.MapLocations_itemText Спортивные площадки 
					.MapLocations_itemBullet(style="background:#9CC046;")
						.MapLocations_itemBulletShadow(style="background:#9CC046; opacity: .2;")
				.MapLocations_item.MapLocations_item-10
					p.MapLocations_itemText Лесопарк
					.MapLocations_itemBullet(style="background:#3EBFAF;")
						.MapLocations_itemBulletShadow(style="background:#3EBFAF; opacity: .2;")

		.MapMore.MapMore-infras
			a.MapMore_link(href="/features.html")
				p.MapMore_text Подробности об окружении
				include includes/svg/arrow_right.svg
				p.MapMore_textMobile Об окружении
				include includes/svg/arrow_right.svg

block page_bottom
	script(src="js/infras_internal.js")