extends layout
block vars
    - var title = "Рассрочка"
block content
    .HeadBackground.HeadBackground-instalments(style="background-image: url(/img/pages/instalments/instalments_head_bg.jpg)")
        h2.HeadBackground_header Рассрочка

    .Container
        h3.PageHeader.PageHeader-instalments
            |Жилой Квартал Новые Котельники предлагает несколько вариантов 
            br.PageHeader_br.PageHeader_br-material.hidden-xs
            |рассрочки от Застройщика.
        .CardsList.CardsList-instalments
            .CardsList_cell.CardsList_cell-instalments
                .PayCard.PayCard-instalments
                    .PayCard_border.PayCard_border-bottom
 
                    .PayCard_text.PayCard_text-instalments
                        .PayCard_header.PayCard_header-instalments Беспроцентная рассрочка
                        ul.PayCard_textList
                            li.PayCard_textListItem 
                                |Минимальный первоначальный взнос от 
                                strong 30%;
                            li.PayCard_textListItem 
                                |Максимальный срок рассрочки 
                                strong 6 месяцев.
                        .PayCard_subHeader.PayCard_subHeader-instalments Погашение осуществляется равными платежами ежемесячно.

            .CardsList_cell.CardsList_cell-instalments
                .PayCard.PayCard-instalments
                    .PayCard_border.PayCard_border-bottom

                    .PayCard_text.PayCard_text-instalments
                        .PayCard_header.PayCard_header-instalments При обращении необходимо при себе иметь:
                        ul.PayCard_textList
                            li.PayCard_textListItem 
                                |Минимальный первоначальный взнос от 
                                strong 30%;
                            li.PayCard_textListItem 
                                |Максимальный срок рассрочки до 
                                strong I квартала 2019 г.
                        .PayCard_subHeader.PayCard_subHeader-instalments Остаток суммы выплачивается равными частями с учётом начисления 1% в месяц на остаток по задолженности.

        .Subscribe.Subscribe-instalments
            h3.Subscribe_header У Вас возникли вопросы
            p.Subscribe_text 
                |Наши менеджеры помогут выбрать оптимальную программу, собрать
                br
                | необходимый пакет документов и заключить сделку.
            form.Subscribe_form
                input.Subscribe_inp.Subscribe_inp-textField(type="tel", placeholder="+7 (925) 222-33-33")
                input.Subscribe_inp.Subscribe_inp-submit.Btn(type="submit", value="Отправить")