include includes/mixins/index
doctype html
block vars
html(lang="ru")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title #{title} | Новые Котельники
		link(rel="icon" type="image/png" href="/img/favicon.png" sizes="32x32")
		link(href='/css/vendor.css', rel='stylesheet')
		link(href='/css/style.css', rel='stylesheet')
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfaTaFj-PqY5UD4GfBI0sksjAEnFe8b7s&region=RU")
	body(class=`Body${isBgLight ? ' Body-lightBg': ''}`)
		#pagePreloader.Preloader.Preloader-active
		.Underlay
			.Underlay_line.Underlay_line-n1
			.Underlay_line.Underlay_line-n2
			.Underlay_line.Underlay_line-n3
		header.Header.compensate-for-scrollbar
			.Header_section.Header_section-logo
				a.Header_logoLink(href="/")
					img.Header_logo(src="/img/logos/logo.svg", alt="Новые Котельники")
			.Header_section.Header_section-divider.Header_section-divider-n1
			.Header_section.Header_section-burger
				button.Burger
					span.Burger_pic
						span.Burger_dash.Burger_dash-n1
						span.Burger_dash.Burger_dash-n2
					span.Burger_title Меню
			.Header_section.Header_section-center
				a(href="#")
					span Ипотечные каникулы
			.Header_section.Header_section-center
				a(href="#")
					span Эскроу-счета
			.Header_section.Header_section-center
				a(href="/filters.html").Btn.Btn-forHeader
					span Выбрать квартиру
			.Header_section.Header_section-nav
				nav.Nav
					ul.Nav_menu
						li.Nav_item
							a(href="#").Nav_link Преимущества
						//-li.Nav_item
							a(href="#").Nav_link Акции
						li.Nav_item
							a(href="#").Nav_link Ипотека
						li.Nav_item
							a(href="#").Nav_link Контакты
			.Header_section.Header_section-divider
			.Header_section.Header_section-phone
				.CallmeLink
					a(href="tel:74952494646").CallmeLink_icoWrap +7 (495) 135-17-22
					span.CallmeLink_num +7 (495) 249-46-46
			.header-counter(data-counter="98")
				em.header-counter__sep
				em.header-counter__sep
				em.header-counter__sep
				em.header-counter__sep
				em.header-counter__sep
				em.header-counter__sep
				em.header-counter__sep
				em.header-counter__sep
				em.header-counter__sep
				.header-counter__inner
					.header-counter__info
						div Готовность<br class="hidden-xs"> 1-й&nbsp;очереди
						div 98%
		main.Content
			block content
		footer.Footer
			.Footer_formWrap
				form.FeedbackForm(action="/ajax/form-response.json"  method="get")
					h5.FeedbackForm_title Если у Вас вознкилки какие-либо вопросы, оставьте свои контактные данные и наши менеджеры ответят на них.
					.FeedbackForm_controlsWrap
						.FeedbackForm_control
							input.FeedbackForm_inp(placeholder="Ваше имя" type="text" name="name" required="required" maxlength="60")
						.FeedbackForm_control
							input.FeedbackForm_inp(placeholder="Ваш телефон" type="tel" name="phone" required="required")
						.FeedbackForm_control
							input.FeedbackForm_inp(placeholder="Ваша почта" type="email" name="email")
							<input type="hidden" name="url" value="">
						.FeedbackForm_control
							button.FeedbackForm_btn.Btn(type="submit" name="Submit") Отправить
			.Footer_copyrightWrap
				.Footer_copyright © «Новые Котельники», 2017
				.Footer_socicons
					a.Footer_socLink(href="#")
						include includes/svg/facebook.svg
					a.Footer_socLink(href="#")
						include includes/svg/twitter.svg
					a.Footer_socLink(href="#")
						include includes/svg/vk.svg
					a.Footer_socLink(href="#")
						include includes/svg/instagram.svg
					a.Footer_socLink(href="#")
						include includes/svg/youtube.svg
				.Footer_developerLinkWrap
					a(href="http://blue-ant.ru/" target="_blank" rel="nofollow noopener").Footer_developerLink
						include includes/svg/blueant.svg
			hr.Footer_hr
			.Footer_disclaimer!= 'Материалы, представленные на сайте не являются публичной офертой. Визуализации объекта являются ориентировочными. Застройщик вправе вносить изменения в проектную  документацию в соответствии с действующим законодательством. <a href="#" data-src="#PrivacyPolicyPopup">Политика конфидециальности.</a>'
		nav.MobMenu
			.MobMenu_overlay
			ul.MobMenu_list.MobMenu_list-active#topLevelMobMenu
				li.MobMenu_item
					a(href="#mobSubmenu_1").MobMenu_link.MobMenu_link-withSubmenu О проекте
				li.MobMenu_item
					a(href="#mobSubmenu_2").MobMenu_link.MobMenu_link-withSubmenu Выгодные условия
				li.MobMenu_item
					a(href="#mobSubmenu_3").MobMenu_link.MobMenu_link-withSubmenu Инфраструктура
				li.MobMenu_item
					a(href="#mobSubmenu_4").MobMenu_link.MobMenu_link-withSubmenu Галерея проекта
				li.MobMenu_item
					a(href="#mobSubmenu_5").MobMenu_link.MobMenu_link-withSubmenu Выбрать квартиру
				li.MobMenu_item
					+MenuFooter(class="MenuFooter-forMobileMenu")
			ul.MobMenu_list#mobSubmenu_1
				li.MobMenu_item
					a(href="#").MobMenu_link.MobMenu_link-toBack назад
				li.MobMenu_item
					a(href="/features.html").MobMenu_link Преимущества
				li.MobMenu_item
					a(href="/location.html").MobMenu_link Расположение
				li.MobMenu_item
					a(href="/genplan.html").MobMenu_link Генплан проекта
				li.MobMenu_item
					a(href="/diary.html").MobMenu_link Ход строительства
				li.MobMenu_item
					a(href="#").MobMenu_link Инфраструктура
				li.MobMenu_item
					a(href="/news.html").MobMenu_link Новости
				li.MobMenu_item
					a(href="/docs.html").MobMenu_link Документы
				li.MobMenu_item
					a(href="/partners.html").MobMenu_link Партнеры проекта
				li.MobMenu_item
					a(href="#").MobMenu_link Нежилые помещения
				li.MobMenu_item
					a(href="/contacts.html").MobMenu_link Контакты
			ul.MobMenu_list#mobSubmenu_2
				li.MobMenu_item
					a(href="#").MobMenu_link.MobMenu_link-toBack назад
				li.MobMenu_item
					a(href="/mortgage.html").MobMenu_link Ипотека
				li.MobMenu_item
					a(href="/instalments.html").MobMenu_link Рассрочка
				li.MobMenu_item
					a(href="/maternal.html").MobMenu_link Материнский капитал
				li.MobMenu_item
					a(href="/promotings.html").MobMenu_link Акции
			ul.MobMenu_list#mobSubmenu_3
				li.MobMenu_item
					a(href="#").MobMenu_link.MobMenu_link-toBack назад
				li.MobMenu_item
					a(href="/infras_about.html").MobMenu_link Уникальность инфраструктуры
				li.MobMenu_item
					a(href="/infras_internal.html").MobMenu_link Внутренняя инфраструктура
				li.MobMenu_item
					a(href="/infras_external.html").MobMenu_link Внешняя инфраструктура
				li.MobMenu_item
					a(href="/features.html").MobMenu_link Преимущества расположения
			ul.MobMenu_list#mobSubmenu_4
				li.MobMenu_item
					a(href="#").MobMenu_link.MobMenu_link-toBack назад
				li.MobMenu_item
					a(href="/gallery.html").MobMenu_link Фотогалерея
				li.MobMenu_item
					a(href="/gallery.html#group31").MobMenu_link Видеогалерея
				li.MobMenu_item
					a(href="/gallery.html#group4").MobMenu_link 3D тур
				li.MobMenu_item
					a(href="/webcams.html").MobMenu_link Онлайн камеры
			ul.MobMenu_list#mobSubmenu_5
				li.MobMenu_item
					a(href="#").MobMenu_link.MobMenu_link-toBack назад
				li.MobMenu_item
					a(href="/genplan.html").MobMenu_link На генплане
				li.MobMenu_item
					a(href="/filters.html").MobMenu_link По параметрам
				li.MobMenu_item
					a(href="/furnish.html").MobMenu_link Квартиры с отделкой
		nav.BigMenu
			.BigMenu_unitsContainer
				.BigMenu_unit.BigMenu_unit-n1
					h6.BigMenu_unitHead О проекте
					ul.BigMenu_list
						li.BigMenu_item
							a(href="/features.html").BigMenu_link
								span.BigMenu_textCutter Преимущества
						li.BigMenu_item
							a(href="/location.html").BigMenu_link
								span.BigMenu_textCutter Расположение
						li.BigMenu_item
							a(href="/genplan.html").BigMenu_link
								span.BigMenu_textCutter Генплан проекта
						li.BigMenu_item
							a(href="/diary.html").BigMenu_link
								span.BigMenu_textCutter Ход строительства
						li.BigMenu_item
							a(href="/infras.html").BigMenu_link
								span.BigMenu_textCutter Инфраструктура
						li.BigMenu_item
							a(href="/news.html").BigMenu_link
								span.BigMenu_textCutter Новости
						li.BigMenu_item
							a(href="/docs.html").BigMenu_link
								span.BigMenu_textCutter Документы
						li.BigMenu_item
							a(href="/partners.html").BigMenu_link
								span.BigMenu_textCutter Партнеры проекта
						li.BigMenu_item
							a(href="/commercial.html").BigMenu_link
								span.BigMenu_textCutter Нежилые помещения
						li.BigMenu_item
							a(href="/contacts.html").BigMenu_link
								span.BigMenu_textCutter Контакты
				.BigMenu_unit.BigMenu_unit-n2
					h6.BigMenu_unitHead
						a(href="/payment.html") Выгодные условия
					ul.BigMenu_list
						li.BigMenu_item
							a(href="/mortgage.html").BigMenu_link
								span.BigMenu_textCutter Ипотека
						li.BigMenu_item
							a(href="/instalments.html").BigMenu_link
								span.BigMenu_textCutter Рассрочка
						li.BigMenu_item
							a(href="/maternal.html").BigMenu_link
								span.BigMenu_textCutter Материнский капитал
						li.BigMenu_item
							a(href="/promotings.html").BigMenu_link
								span.BigMenu_textCutter Акции
				.BigMenu_unit.BigMenu_unit-n3
					h6.BigMenu_unitHead Галерея проекта
					ul.BigMenu_list
						li.BigMenu_item
							a(href="/gallery.html").BigMenu_link
								span.BigMenu_textCutter Фотогалерея
						li.BigMenu_item
							a(href="/gallery.html#group31").BigMenu_link
								span.BigMenu_textCutter Видеогалерея
						li.BigMenu_item
							a(href="/gallery.html#group4").BigMenu_link
								span.BigMenu_textCutter 3D тур
						li.BigMenu_item
							a(href="/webcams.html").BigMenu_link
								span.BigMenu_textCutter Онлайн камеры
				.BigMenu_unit.BigMenu_unit-n4
					h6.BigMenu_unitHead Инфраструктура
					ul.BigMenu_list
						li.BigMenu_item
							a(href="/infras_about.html").BigMenu_link
								span.BigMenu_textCutter Уникальность инфраструктуры
						li.BigMenu_item
							a(href="/infras_internal.html").BigMenu_link
								span.BigMenu_textCutter Внутренняя инфраструктура
						li.BigMenu_item
							a(href="/infras_external.html").BigMenu_link
								span.BigMenu_textCutter Внешняя инфраструктура
						li.BigMenu_item
							a(href="/features.html").BigMenu_link
								span.BigMenu_textCutter Преимущества расположения
				.BigMenu_unit.BigMenu_unit-n5
					h6.BigMenu_unitHead Выбрать квартиру
					ul.BigMenu_list
						li.BigMenu_item
							a(href="/genplan.html").BigMenu_link
								span.BigMenu_textCutter На генплане
						li.BigMenu_item
							a(href="/filters.html").BigMenu_link
								span.BigMenu_textCutter По параметрам
						li.BigMenu_item
							a(href="/furnish.html").BigMenu_link
								span.BigMenu_textCutter Квартиры с отделкой
			.BigMenu_footerWrap
				+MenuFooter
		.PrivacyPolicyPopup#PrivacyPolicyPopup(style="display: none;")
			.PrivacyPolicy.ps--privacyPolicy
				h2.PrivacyPolicy_title!= 'Политика конфиденциальности'
				.PrivacyPolicy_text
					h3!= 'ПОЛИТИКА КОМПАНИИ В ОТНОШЕНИИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ'
					h3!= '1. ОБЩИЕ ПОЛОЖЕНИЯ'
					p!= 'Политика обработки персональных данных (далее – Политика) разработана в соответствии с Федеральным законом от 27.07.2006. №152-ФЗ «О персональных данных» (далее – ФЗ-152).'
					p!= 'Настоящая Политика определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных в ООО &quot;БОТНАРУ ФИТ&quot; (далее – Оператор) с целью защиты прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.'
					p!= 'В Политике используются следующие основные понятия:'
					ul
						li!= '- автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники;'
						li!= '- блокирование персональных данных - временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);'
						li!= '- информационная система персональных данных - совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств;'
						li!= '- обезличивание персональных данных'
						li!= '- действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному субъекту персональных данных;'
						li!= '- обработка персональных данных - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;'
						li!= '- оператор - государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;'
						li!= '- персональные данные – любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных);'
						li!= '- предоставление персональных данных – действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц;'
						i!= '- распространение персональных данных - действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационно- телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом;'
						li!= '- трансграничная передача персональных данных - передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому или иностранному юридическому лицу.'
						li!= '- уничтожение персональных данных - действия, в результате которых невозможно восстановить содержание персональных данных в информационной системе персональных данных и (или) результате которых уничтожаются материальные носители персональных данных;'
					p!= 'Компания обязана опубликовать или иным образом обеспечить неограниченный доступ к настоящей Политике обработки персональных данных в соответствии с ч. 2 ст. 18.1. ФЗ-152. 5'
					h3!= '2. ПРИНЦИПЫ И УСЛОВИЯ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ'
					h3!= '2.1 Принципы обработки персональных данных'
					p!= 'Обработка персональных данных у Оператора осуществляется на основе следующих принципов:'
					ul
						li!= '- законности и справедливой основы;'
						li!= '- ограничения обработки персональных данных достижением конкретных, заранее определенных и законных целей;'
						li!= '- недопущения обработки персональных данных, несовместимой с целями сбора персональных данных;'
						li!= '- недопущения объединения баз данных, содержащих персональные данные, обработка которых осуществляется в целях, несовместимых между собой;'
						li!= '- обработки только тех персональных данных, которые отвечают целям их обработки;'
						li!= '- соответствия содержания и объема обрабатываемых персональных данных заявленным целям обработки;'
						li!= '- недопущения обработки персональных данных, избыточных по отношению к заявленным целям их обработки;'
						li!= '- обеспечения точности, достаточности и актуальности персональных данных по отношению к целям обработки персональных данных;'
						li!= '- уничтожения либо обезличивания персональных данных по достижении целей их обработки или в случае утраты необходимости в достижении этих целей, при невозможности устранения Оператором допущенных нарушений персональных данных, если иное не предусмотрено федеральным законом.'
					h3!= '2.2 Условия обработки персональных данных'
					p!= 'Оператор производит обработку персональных данных при наличии хотя бы одного из следующих условий:'
					ul
						li!= '- обработка персональных данных осуществляется с согласия субъекта персональных данных на обработку его персональных данных;'
						li!= '- обработка персональных данных необходима для достижения целей, предусмотренных международным договором Российской Федерации или законом, для осуществления и выполнения возложенных законодательством Российской Федерации на оператора функций, полномочий и обязанностей;'
						li!= '- обработка персональных данных необходима для осуществления правосудия, исполнения судебного акта, акта другого органа или должностного лица, подлежащих исполнению в соответствии с законодательством Российской Федерации об исполнительном производстве;'
						li!= '- обработка персональных данных необходима для исполнения договора, стороной которого либо выгодоприобретателем или поручителем по которому является субъект персональных данных, а также для заключения договора по инициативе субъекта персональных данных или договора, по которому субъект персональных данных будет являться выгодоприобретателем или поручителем;'
						li!= '- обработка персональных данных необходима для осуществления прав и законных интересов оператора или третьих лиц либо для достижения общественно значимых целей при условии, что при этом не нарушаются права и свободы субъекта персональных данных;'
						li!= '- осуществляется обработка персональных данных, доступ неограниченного круга лиц к которым предоставлен субъектом персональных данных либо по его просьбе (далее - общедоступные персональные данные);'
						li!= '- осуществляется обработка персональных данных, подлежащих опубликованию или обязательному раскрытию в соответствии с федеральным законом.'
					p!= 'Для указанных целей могут обрабатываться персональные данные субъекта: фамилия, имя, отчество; год, месяц, дата рождения; место рождения, адрес; семейное положение; социальное положение; имущественное положение; образование; профессия; доходы; ИНН, СНИЛС, контактная информация (телефон, адрес электронной почты), иные сведения, предусмотренные типовыми формами и установленным порядком обработки.'
					h3!= '2.3 Конфиденциальность персональных данных'
					p!= 'Оператор и иные лица, получившие доступ к персональным данным, обязаны не раскрывать третьим лицам и не распространять персональные данные без согласия субъекта персональных данных, если иное не предусмотрено федеральным законом.'
					h3!= '2.4 Общедоступные источники персональных данных'
					p!= 'В целях информационного обеспечения у Оператора могут создаваться общедоступные источники персональных данных субъектов, в том числе справочники и адресные книги. В общедоступные источники персональных данных с письменного согласия субъекта могут включаться его фамилия, имя, отчество, дата и место рождения, должность, номера контактных телефонов, адрес электронной почты и иные персональные данные, сообщаемые субъектом персональных данных. Сведения о субъекте должны быть в любое время исключены из общедоступных источников персональных данных по требованию субъекта либо по решению суда или иных уполномоченных государственных органов.'
					h3!= '2.5 Специальные категории персональных данных'
					p!= 'Обработка Оператором специальных категорий персональных данных, касающихся расовой, национальной принадлежности, политических взглядов, религиозных или философских убеждений, состояния здоровья, интимной жизни, допускается в случаях, если:'
					ul
						li!= '- субъект персональных данных дал согласие в письменной форме на обработку своих персональных данных;'
						li!= '- персональные данные сделаны общедоступными субъектом персональных данных;'
						li!= '- обработка персональных данных осуществляется в соответствии с законодательством о государственной социальной помощи, трудовым законодательством, законодательством Российской Федерации о пенсиях по государственному пенсионному обеспечению, о трудовых пенсиях;'
						li!= '- обработка персональных данных необходима для защиты жизни, здоровья или иных жизненно важных интересов субъекта персональных данных либо жизни, здоровья или иных жизненно важных интересов других лиц и получение согласия субъекта персональных данных невозможно;'
						li!= '- обработка персональных данных осуществляется в медико-профилактических целях, в целях установления медицинского диагноза, оказания медицинских и медико- социальных услуг при условии, что обработка персональных данных осуществляется лицом, профессионально занимающимся медицинской деятельностью и обязанным в соответствии с законодательством Российской Федерации сохранять врачебную тайну;'
						li!= '- обработка персональных данных необходима для установления или осуществления прав субъекта персональных данных или третьих лиц, а равно и в связи с осуществлением правосудия;'
						li!= '- обработка персональных данных осуществляется в соответствии с законодательством об обязательных видах страхования, со страховым законодательством. Обработка специальных категорий персональных данных должна быть незамедлительно прекращена, если устранены причины, вследствие которых осуществлялась их обработка, если иное не установлено федеральным законом. Обработка персональных данных о судимости может осуществляться Оператором исключительно в случаях и в порядке, которые определяются в соответствии с федеральными законами.'
					h3!= '2.6 Биометрические персональные данные'
					p!= 'Сведения, которые характеризуют физиологические и биологические особенности человека, на основании которых можно установить его личность - биометрические персональные данные - могут обрабатываться Оператором только при наличии согласия в письменной форме субъекта.'
					h3!= '2.7 Поручение обработки персональных данных другому лицу'
					p!= 'Оператор вправе поручить обработку персональных данных другому лицу с согласия субъекта персональных данных, если иное не предусмотрено федеральным законом, на основании заключаемого с этим лицом договора. Лицо, осуществляющее обработку персональных данных по поручению Оператора, обязано соблюдать принципы и правила обработки персональных данных, предусмотренные ФЗ-152.'
					h3!= '2.8 Трансграничная передача персональных данных'
					p!= 'Оператор обязан убедиться в том, что иностранным государством, на территорию которого предполагается осуществлять передачу персональных данных, обеспечивается адекватная защита прав субъектов персональных данных, до начала осуществления такой передачи.'
					p!= 'Трансграничная передача персональных данных на территории иностранных государств, не обеспечивающих адекватной защиты прав субъектов персональных данных, может осуществляться в случаях:'
					ul
						li!= '- наличия согласия в письменной форме субъекта персональных данных на трансграничную передачу его персональных данных;'
						li!= '- исполнения договора, стороной которого является субъект персональных данных.'
					h3!= '3. ПРАВА СУБЪЕКТА ПЕРСОНАЛЬНЫХ ДАННЫХ'
					h3!= '3.1 Согласие субъекта персональных данных на обработку его персональных данных'
					p!= 'Субъект персональных данных принимает решение о предоставлении его персональных данных и дает согласие на их обработку свободно, своей волей и в своем интересе. Согласие на обработку персональных данных может быть дано субъектом персональных данных или его представителем в любой позволяющей подтвердить факт его получения форме, если иное не установлено федеральным законом.'
					p!= 'Обязанность предоставить доказательство получения согласия субъекта персональных данных на обработку его персональных данных или доказательство наличия оснований, указанных в ФЗ-152, возлагается на Оператора.'
					h3!= '3.2 Права субъекта персональных данных'
					p!= 'Субъект персональных данных имеет право на получение у Оператора информации, касающейся обработки его персональных данных, если такое право не ограничено в соответствии с федеральными законами. Субъект персональных данных вправе требовать от Оператора уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав.'
					p!= 'Обработка персональных данных в целях продвижения товаров, работ, услуг на рынке путем осуществления прямых контактов с потенциальным потребителем с помощью средств связи, а также в целях политической агитации допускается только при условии предварительного согласия субъекта персональных данных. Указанная обработка персональных данных признается осуществляемой без предварительного согласия субъекта персональных данных, если Компания не докажет, что такое согласие было получено.'
					p!= 'Оператор обязан немедленно прекратить по требованию субъекта персональных данных обработку его персональных данных в вышеуказанных целях.'
					p!= 'Запрещается принятие на основании исключительно автоматизированной обработки персональных данных решений, порождающих юридические последствия в отношении субъекта персональных данных или иным образом затрагивающих его права и законные интересы, за исключением случаев, предусмотренных федеральными законами, или при наличии согласия в письменной форме субъекта персональных данных.'
					p!= 'Если субъект персональных данных считает, что Оператор осуществляет обработку его персональных данных с нарушением требований ФЗ-152 или иным образом нарушает его права и свободы, субъект персональных данных вправе обжаловать действия или бездействие Оператора в Уполномоченный орган по защите прав субъектов персональных данных или в судебном порядке.'
					p!= 'Субъект персональных данных имеет право на защиту своих прав и законных интересов, в том числе на возмещение убытков и (или) компенсацию морального вреда в судебном порядке.'
					h3!= '4. ОБЕСПЕЧЕНИЕ БЕЗОПАСНОСТИ ПЕРСОНАЛЬНЫХ ДАННЫХ'
					p!= 'Безопасность персональных данных, обрабатываемых Оператора, обеспечивается реализацией правовых, организационных и технических мер, необходимых для обеспечения требований федерального законодательства в области защиты персональных данных.'
					p!= 'Для предотвращения несанкционированного доступа к персональным данным Оператором применяются следующие организационно-технические меры:'
					ul
						li!= '- назначение должностных лиц, ответственных за организацию обработки и защиты персональных данных;'
						li!= '- ограничение состава лиц, имеющих доступ к персональным данным;'
						li!= '- ознакомление субъектов с требованиями федерального законодательства и нормативных документов Оператора по обработке и защите персональных данных;'
						li!= '- организация учета, хранения и обращения носителей информации;'
						li!= '- определение угроз безопасности персональных данных при их обработке, формирование на их основе моделей угроз;'
						li!= '- разработка на основе модели угроз системы защиты персональных данных;  проверка готовности и эффективности использования средств защиты информации;'
						li!= '- разграничение доступа пользователей к информационным ресурсам и программно- аппаратным средствам обработки информации;'
						li!= '- регистрация и учет действий пользователей информационных систем персональных данных;'
						li!= '- использование антивирусных средств и средств восстановления системы защиты персональных данных;'
						li!= '- применение в необходимых случаях средств межсетевого экранирования, обнаружения вторжений, анализа защищенности и средств криптографической защиты информации;  организация пропускного режима на территорию Оператора, охраны помещений с техническими средствами обработки персональных данных.'
					h3!= '5. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ'
					p!= 'Иные права и обязанности Оператора, как оператора персональных данных определяются законодательством Российской Федерации в области персональных данных. Должностные лица Оператора, виновные в нарушении норм, регулирующих обработку и защиту персональных данных, несут материальную, дисциплинарную, административную, гражданско-правовую или уголовную ответственность в порядке, установленном федеральными законами.'
		script(src='/js/vendor.js')
		script(src='/js/common.js')
		block page_bottom
