extends layout
block vars
	- var title = "Расположение";
block content
	//- #Map(style="width: 100%; height: calc(100vh - 64px); margin-bottom: 54px;")
	.Map.Map-fullscreen.Map-location
		h1.Map_header Расположение
		.Map_map#Map
		.MapMore.MapMore-location
			a.MapMore_link(href="/features.html")
				p.MapMore_text Подробности о расположении
				include includes/svg/arrow_right.svg
				p.MapMore_textMobile Об окружении
				include includes/svg/arrow_right.svg
		.MapLocations.MapLocations-location
			span.MapLocations_headerIcon
				include includes/svg/arrow_accordion.svg
			h3.MapLocations_header Схема проезда на автомобиле
			.MapLocations_wrapper
				.MapLocations_item.isOff(data-route-id="0")
					p.MapLocations_itemText по Новорязанскому шоссе
					.MapLocations_itemBullet(style="background:#6F9EFC;")
						.MapLocations_itemBulletShadow(style="background:#6F9EFC; opacity: .2;")
				.MapLocations_item.isOff(data-route-id="1")
					p.MapLocations_itemText с улицы Энергетиковs
					.MapLocations_itemBullet(style="background:#AC6CFC;")
						.MapLocations_itemBulletShadow(style="background:#AC6CFC; opacity: .2;")
				.MapLocations_item.isOff(data-route-id="2")
					p.MapLocations_itemText по Новоегорьевскому шоссе
					.MapLocations_itemBullet(style="background:#FD856B;")
						.MapLocations_itemBulletShadow(style="background:#FD856B; opacity: .2;")

			span.MapLocations_headerIcon
				include includes/svg/arrow_accordion.svg
			h3.MapLocations_header Общественный транспорт
			.MapLocations_wrapper
				.MapLocations_item(data-route-id="3")
					p.MapLocations_itemText от м. «Котельники» автобусы: 305, 54, 904
					.MapLocations_itemBullet(style="background:#52a88b;")
						.MapLocations_itemBulletShadow(style="background:#52a88b; opacity: .2;")
				.MapLocations_item(data-route-id="4")
					p.MapLocations_itemText От ж/д станции «Люберцы-1» автобусы: 305, 54, 904
					.MapLocations_itemBullet(style="background:#ff747c;")
						.MapLocations_itemBulletShadow(style="background:#ff747c; opacity: .2;")
				.MapLocations_item.isOff(data-route-id="5")
					p.MapLocations_itemText от м. «Алма-Атинская» автобусы: 305, 54, 904
					.MapLocations_itemBullet(style="background:#186189;")
						.MapLocations_itemBulletShadow(style="background:#186189; opacity: .2;")
				.MapLocations_item(data-route-id="6")
					p.MapLocations_itemText от м. «Люблино»
					.MapLocations_itemBullet(style="background:#a060df;")
						.MapLocations_itemBulletShadow(style="background:#a060df; opacity: .2;")
				
		.MapTip.MapTip-location
			p.MapTip_text Вы можете построить маршрут на автомобиле, выбрав точку на карте
			img.MapTip_img(src="img/pages/contact/tip-img.png")
			span.MapTip_close закрыть

		.MapSlider.MapSlider-slider.MapSlider-location.swiper-container
			.MapSlider_wrapper.swiper-wrapper
				.MapSlider_slide.swiper-slide
					h3.MapSlider_header Офис продаж на объекте
					.MapSlider_item.isOff(data-route-id="0")
						p.MapSlider_itemText по Новорязанскому шоссе
						.MapSlider_itemBullet(style="background:#6F9EFC;")
							.MapSlider_itemBulletShadow(style="background:#6F9EFC; opacity: .2;")
					.MapSlider_item.isOff(data-route-id="1")
						p.MapSlider_itemText с улицы Энергетиков
						.MapSlider_itemBullet(style="background:#AC6CFC;")
							.MapSlider_itemBulletShadow(style="background:#AC6CFC; opacity: .2;")
					.MapSlider_item.isOff(data-route-id="2")
						p.MapSlider_itemText по Новоегорьевскому шоссе
						.MapSlider_itemBullet(style="background:#FD856B;")
							.MapSlider_itemBulletShadow(style="background:#FD856B; opacity: .2;")

				.MapSlider_slide.swiper-slide
					h3.MapSlider_header Общественный транспорт
					.MapSlider_item(data-route-id="3")
						p.MapSlider_itemText от м. «Котельники» автобусы: 305, 54, 904
						.MapSlider_itemBullet(style="background:#52a88b;")
							.MapSlider_itemBulletShadow(style="background:#52a88b; opacity: .2;")
					.MapSlider_item(data-route-id="4")
						p.MapSlider_itemText От ж/д станции «Люберцы-1» автобусы: 305, 54, 904
						.MapSlider_itemBullet(style="background:#ff747c;")
							.MapSlider_itemBulletShadow(style="background:#ff747c; opacity: .2;")
					.MapSlider_item.isOff(data-route-id="5")
						p.MapSlider_itemText От м. «Алма-Атинская» автобусы: 305, 54, 904
						.MapSlider_itemBullet(style="background:#186189;")
							.MapSlider_itemBulletShadow(style="background:#186189; opacity: .2;")
					.MapSlider_item(data-route-id="6")
						p.MapSlider_itemText От м. «Люблино»
						.MapSlider_itemBullet(style="background:#a060df;")
							.MapSlider_itemBulletShadow(style="background:#a060df; opacity: .2;")

block page_bottom
	script(src="https://api-maps.yandex.ru/2.1/?apikey=c3135be3-6869-4028-b619-79f9c4ee5010&lang=ru_RU", type="text/javascript")
	script(src="/js/location.js")