extends layout
block vars
    - var title = "Материнский капитал"
block content
    .HeadBackground.HeadBackground-maternal(style="background-image: url(/img/pages/maternal/maternal_head_bg.jpg)")
        h2.HeadBackground_header Материнский капитал

    .Container
        h3.PageHeader.PageHeader-maternal
            |Субсидию по материнскому капиталу в качестве
            br.PageHeader_br.PageHeader_br-material.hidden-xs
            |первого взноса без повышения ставки
        .CardsList.CardsList-maternal
            .CardsList_cell.CardsList_cell-maternal
                .PayCard.PayCard-maternal
                    .PayCard_border.PayCard_border-bottom
 
                    .PayCard_text.PayCard_text-maternal
                        .PayCard_header.PayCard_header-maternal Размер материнского капитала составляет:
                        .PayCard_subHeader.PayCard_subHeader-big 453 026 ₽
                        .PayCard_subHeader.PayCard_subHeader-maternal Эти средства возможно направить на улучшение жилищных условий, использовав данную сумму при покупке квартиры в Жилом Квартале Новые Котельники.

            .CardsList_cell.CardsList_cell-maternal
                .PayCard.PayCard-maternal
                    .PayCard_border.PayCard_border-bottom

                    .PayCard_text.PayCard_text-maternal
                        .PayCard_header.PayCard_header-maternal При обращении необходимо при себе иметь:
                        ul.PayCard_textList
                            li.PayCard_textListItem Государственный сертификат на материнский (семейный) капитал;
                            li.PayCard_textListItem Справка из Пенсионного фонда РФ о размере и операциях.
                        .PayCard_subHeader.PayCard_subHeader-maternal Все остальное сделают наши менеджеры - они помогут подобрать квартиру и оформить все необходимые документы для заключения договора.

        .Subscribe.Subscribe-maternal
            h3.Subscribe_header У Вас возникли вопросы
            p.Subscribe_text 
                |Наши менеджеры помогут выбрать оптимальную программу, собрать
                br
                | необходимый пакет документов и заключить сделку.

            form.Subscribe_form(data-action="/ajax/form-response.json")
                input.Subscribe_inp.Subscribe_inp-textField(type="tel" name="phone" placeholder="+7 (925) 222-33-33")
                input.Subscribe_inp.Subscribe_inp-submit.Btn(type="submit" value="Отправить")