extends layout
block vars
	- var title = "News"
block content
	.HeadBackground.HeadBackground-news(style="background-image: url(/img/pages/news/news_head_bg.jpg)")
		h2.HeadBackground_header Новости
		.DateFilter.DateFilter-news

			span.DateFilter_currentMonth Сентябрь
			ul.DateFilter_monthList
				li.DateFilter_monthItem
					a(href="#") Январь
				li.DateFilter_monthItem
					a(href="#") Февраль
				li.DateFilter_monthItem
					a(href="#") Март
				li.DateFilter_monthItem
					a(href="#") Апрель
				li.DateFilter_monthItem
					a(href="#") Май
				li.DateFilter_monthItem
					a(href="#") Июнь
				li.DateFilter_monthItem
					a(href="#") Июль
				li.DateFilter_monthItem
					a(href="#") Август
				li.DateFilter_monthItem
					a(href="#") Сентябрь
				li.DateFilter_monthItem
						a(href="#").DateFilter_monthItem-active Октябрь
				li.DateFilter_monthItem
					a(href="#") Ноябрь
				li.DateFilter_monthItem
					a(href="#") Декабрь
			.DateFilter_divider
			span.DateFilter_currentYear 2017
			ul.DateFilter_yearList
				li.DateFilter_yearItem.DateFilter_yearItem-active
					a(href="#") 2017
				li.DateFilter_yearItem
					a(href="#") 2016
				li.DateFilter_yearItem
					a(href="#") 2015
				li.DateFilter_yearItem
					a(href="#") 2014
				li.DateFilter_yearItem
					a(href="#") 2013
				li.DateFilter_yearItem
					a(href="#") 2012
				li.DateFilter_yearItem
					a(href="#") 2011
				li.DateFilter_yearItem
					a(href="#") 2010

		.HeadBackground_linkForum
			a(href="#") Форум
				include includes/svg/forum_green.svg

	.Container
		.CardsList.CardsList-news

			.CardsList_cell.CardsList_cell-news
				.NewsCard
					.NewsCard_border.PayCard_border-top
					.NewsCard_border.PayCard_border-bottom
					time(datetime="2017-08-09 20:00").NewsCard_date 09.08.2017
					.NewsCard_social
						a.NewsCard_socialLink(href="#")
							include includes/svg/facebook.svg
						a.NewsCard_socialLink(href="#")
							include includes/svg/twitter.svg
						a.NewsCard_socialLink(href="#")
							include includes/svg/vk.svg
					a(href="article.html", class="NewsCard_headerLink")
						h3.NewsCard_header День строителя
					a(href="article.html", class="NewsCard_imgLink")
						.NewsCard_img(style="background: url(img/pages/news/news_img_1.jpg) no-repeat center; background-size: cover;")
					p.NewsCard_subHeader Поздравляем всех строителей с предстоящим профессиональным праздником, который ежегодно отмечается во второе воскресень…

			.CardsList_cell.CardsList_cell-news
				.NewsCard
					.NewsCard_border.PayCard_border-top
					.NewsCard_border.PayCard_border-bottom
					time(datetime="2017-08-09 20:00").NewsCard_date 09.08.2017
					.NewsCard_social
						a.NewsCard_socialLink(href="#")
							include includes/svg/facebook.svg
						a.NewsCard_socialLink(href="#")
							include includes/svg/twitter.svg
						a.NewsCard_socialLink(href="#")
							include includes/svg/vk.svg
					a(href="article.html", class="NewsCard_headerLink")
						h3.NewsCard_header День строителя
					a(href="article.html", class="NewsCard_imgLink")
						.NewsCard_img(style="background: url(img/pages/news/news_img_2.jpg) no-repeat center; background-size: cover;")
					p.NewsCard_subHeader Поздравляем всех строителей с предстоящим профессиональным праздником, который ежегодно отмечается во второе воскресень…

			.CardsList_cell.CardsList_cell-news
				.NewsCard
					.NewsCard_border.PayCard_border-top
					.NewsCard_border.PayCard_border-bottom
					time(datetime="2017-08-09 20:00").NewsCard_date 09.08.2017 
					.NewsCard_social
						a.NewsCard_socialLink(href="#")
							include includes/svg/facebook.svg
						a.NewsCard_socialLink(href="#")
							include includes/svg/twitter.svg
						a.NewsCard_socialLink(href="#")
							include includes/svg/vk.svg
					a(href="article.html", class="NewsCard_headerLink")
						h3.NewsCard_header День строителя
					a(href="article.html", class="NewsCard_imgLink")
						.NewsCard_img(style="background: url(img/pages/news/news_img_3.jpg) no-repeat center; background-size: cover;")
					p.NewsCard_subHeader Поздравляем всех строителей с предстоящим профессиональным праздником, который ежегодно отмечается во второе воскресень…

			.CardsList_cell.CardsList_cell-news
				.NewsCard
					.NewsCard_border.PayCard_border-top
					.NewsCard_border.PayCard_border-bottom
					time(datetime="2017-08-09 20:00").NewsCard_date 09.08.2017 
					.NewsCard_social
						a.NewsCard_socialLink(href="#")
							include includes/svg/facebook.svg
						a.NewsCard_socialLink(href="#")
							include includes/svg/twitter.svg
						a.NewsCard_socialLink(href="#")
							include includes/svg/vk.svg
					a(href="article.html", class="NewsCard_headerLink")
						h3.NewsCard_header День строителя
					a(href="article.html", class="NewsCard_imgLink")
						.NewsCard_img(style="background: url(img/pages/news/news_img_1.jpg) no-repeat center; background-size: cover;")
					p.NewsCard_subHeader Поздравляем всех строителей с предстоящим профессиональным праздником, который ежегодно отмечается во второе воскресень…

			.CardsList_cell.CardsList_cell-news
				.NewsCard
					.NewsCard_border.PayCard_border-top
					.NewsCard_border.PayCard_border-bottom
					time(datetime="2017-08-09 20:00").NewsCard_date 09.08.2017 
					.NewsCard_social
						a.NewsCard_socialLink(href="#")
							include includes/svg/facebook.svg
						a.NewsCard_socialLink(href="#")
							include includes/svg/twitter.svg
						a.NewsCard_socialLink(href="#")
							include includes/svg/vk.svg
					a(href="article.html", class="NewsCard_headerLink")
						h3.NewsCard_header День строителя
					a(href="article.html", class="NewsCard_imgLink")
						.NewsCard_img(style="background: url(img/pages/news/news_img_2.jpg) no-repeat center; background-size: cover;")
					p.NewsCard_subHeader Поздравляем всех строителей с предстоящим профессиональным праздником, который ежегодно отмечается во второе воскресень…

			.CardsList_cell.CardsList_cell-news
				.NewsCard
					.NewsCard_border.PayCard_border-top
					.NewsCard_border.PayCard_border-bottom
					time(datetime="2017-08-09 20:00").NewsCard_date 09.08.2017 
					.NewsCard_social
						a.NewsCard_socialLink(href="#")
							include includes/svg/facebook.svg
						a.NewsCard_socialLink(href="#")
							include includes/svg/twitter.svg
						a.NewsCard_socialLink(href="#")
							include includes/svg/vk.svg
					a(href="article.html", class="NewsCard_headerLink")
						h3.NewsCard_header День строителя
					a(href="article.html", class="NewsCard_imgLink")
						.NewsCard_img(style="background: url(img/pages/news/news_img_3.jpg) no-repeat center; background-size: cover;")
					p.NewsCard_subHeader Поздравляем всех строителей с предстоящим профессиональным праздником, который ежегодно отмечается во второе воскресень…

			.CardsList_cell.CardsList_cell-news
				.NewsCard
					.NewsCard_border.PayCard_border-top
					.NewsCard_border.PayCard_border-bottom
					time(datetime="2017-08-09 20:00").NewsCard_date 09.08.2017 
					.NewsCard_social
						a.NewsCard_socialLink(href="#")
							include includes/svg/facebook.svg
						a.NewsCard_socialLink(href="#")
							include includes/svg/twitter.svg
						a.NewsCard_socialLink(href="#")
							include includes/svg/vk.svg
					a(href="article.html", class="NewsCard_headerLink")
						h3.NewsCard_header День строителя
					a(href="article.html", class="NewsCard_imgLink")
						.NewsCard_img(style="background: url(img/pages/news/news_img_1.jpg) no-repeat center; background-size: cover;")
					p.NewsCard_subHeader Поздравляем всех строителей с предстоящим профессиональным праздником, который ежегодно отмечается во второе воскресень…

			.CardsList_cell.CardsList_cell-news
				.NewsCard
					.NewsCard_border.PayCard_border-top
					.NewsCard_border.PayCard_border-bottom
					time(datetime="2017-08-09 20:00").NewsCard_date 09.08.2017 
					.NewsCard_social
						a.NewsCard_socialLink(href="#")
							include includes/svg/facebook.svg
						a.NewsCard_socialLink(href="#")
							include includes/svg/twitter.svg
						a.NewsCard_socialLink(href="#")
							include includes/svg/vk.svg
					a(href="article.html", class="NewsCard_headerLink")
						h3.NewsCard_header День строителя
					a(href="article.html", class="NewsCard_imgLink")
						.NewsCard_img(style="background: url(img/pages/news/news_img_2.jpg) no-repeat center; background-size: cover;")
					p.NewsCard_subHeader Поздравляем всех строителей с предстоящим профессиональным праздником, который ежегодно отмечается во второе воскресень…

		ul.NewsPagination
			li.NewsPagination_item
				a(href="#") 01
			li.NewsPagination_item.NewsPagination_item-current
				a(href="#") 02
			li.NewsPagination_item
				a(href="#") 03
			li.NewsPagination_item
				a(href="#") 04
			li.NewsPagination_item
				a(href="#") ...

block page_bottom
	script(src='js/news.js')