extends layout
block vars
    - var title = "Наши партнеры"
block content
    .HeadBackground.HeadBackground-news(style="background-image: url(/img/pages/partners/img_partners.jpg)")
        h2.HeadBackground_header Наши партнеры

    .PartnersList.Container
        .PartnersList_item
                a(data-fancybox data-src="#partnerModal_1" href="javascript:;").FirmCard
                    .FirmCard_inner
                        .FirmCard_descWrap
                            h6.FirmCard_title Девелопер проекта
                            .FirmCard_text Концерн «Русич» - это вертикально-интегрированный девелоперский холдинг, который объединяет несколько направлений деятельности…
                        .FirmCard_logoWrap
                            img.FirmCard_logo(src="/img/logos/Rusich_logo.svg", alt="")

        .PartnersList_item
                a(data-fancybox data-src="#partnerModal_1" href="javascript:;").FirmCard
                    .FirmCard_inner
                        .FirmCard_descWrap
                            h6.FirmCard_title Генеральный подрядчик
                            .FirmCard_text Концерн «Русич» - это вертикально-интегрированный девелоперский холдинг, который объединяет несколько направлений деятельности…
                        .FirmCard_logoWrap
                            img.FirmCard_logo(src="/img/logos/rusich_comp.svg", alt="")

        .PartnersList_item
                a(data-fancybox data-src="#partnerModal_1" href="javascript:;").FirmCard
                    .FirmCard_inner
                        .FirmCard_descWrap
                            h6.FirmCard_title Проектная организация
                            .FirmCard_text ООО «P-Проект» — компания, выполняющая полный спектр подготовительных и проектно-изыскательских работ, от …
                        .FirmCard_logoWrap
                            img.FirmCard_logo(src="/img/logos/r_proect.svg", alt="")

        .PartnersList_item
                a(data-fancybox data-src="#partnerModal_1" href="javascript:;").FirmCard
                    .FirmCard_inner
                        .FirmCard_descWrap
                            h6.FirmCard_title Эксклюзивный агент по реализации
                            .FirmCard_text Концерн «Русич» - это вертикально-интегрированный девелоперский холдинг, который объединяет несколько направлений деятельности…
                        .FirmCard_logoWrap    
                            img.FirmCard_logo(src="/img/logos/ndv.svg", alt="")

        .PartnersList_item
                a(data-fancybox data-src="#partnerModal_1" href="javascript:;").FirmCard
                    .FirmCard_inner
                        .FirmCard_descWrap
                            h6.FirmCard_title Финансовый партнер
                            .FirmCard_text Промсвязьбанк — универсальный коммерческий банк, оказывающий финансовые услуги для корпоративных…
                        .FirmCard_logoWrap
                            img.FirmCard_logo(src="/img/logos/prob_bank.svg", alt="")

        .PartnersList_item
                a(data-fancybox data-src="#partnerModal_1" href="javascript:;").FirmCard
                    .FirmCard_inner
                        .FirmCard_descWrap
                            h6.FirmCard_title Финансовый партнер
                            .FirmCard_text Банк «Возрождение» — это персональный банк для корпоративных и частных клиентов, предоставляющий финансовые услуги по …
                        .FirmCard_logoWrap
                            img.FirmCard_logo(src="/img/logos/logo_voz.svg", alt="")



    #partnerModal_1(style="display:none;")
        .FirmModal
            .FirmModal_top
                img.FirmModal_logo(src="/img/logos/ndv.svg", alt="НДВ-Недвижимость")
                a.FirmModal_link(href="#" target="_blank" rel="noopener noreferrer") www.ndv.ru
            .FirmModal_content
                h4.FirmModal_title Эксклюзивный агент по реализации «НДВ-Недвижимость»
                .FirmModal_desc
                    p «НДВ-Недвижимость» – агентство с 15-летним опытом работы и широкой филиальной сетью. Каждый офис компании – это «супермаркет недвижимости», где любой клиент может получить все виды риэлторских услуг. Новостройки, вторичная и коммерческая недвижимость, аренда, ипотека и страхование — агентство предоставляет высокий уровень сервиса по каждому из этих направлений. Достижения компании подтверждены многочисленными наградами, среди которых — «Марка № 1 в России», премии «Компания года» и «Бренд года».