extends layout
block vars
	- var title = "Payment"
block content
	.HeadBackground.HeadBackground-payment(style="background-image: url(/img/pages/payment/payment_head_bg.jpg)")
		h2.HeadBackground_header Способы оплаты

	.Container
		h3.PageHeader.PageHeader-payment
			|Способы оплаты
			br
			|для любой жизненной ситуации
		.CardsList.CardsList-payment
			.CardsList_cell.CardsList_cell-payment
				.PayCard
					a.PayCard_link(href="")
						.PayCard_border.PayCard_border-top
						.PayCard_border.PayCard_border-bottom
						.PayCard_img
							img.PayCard_ico.PayCard_ico-first(src="/img/pics/cart.svg", alt="")
							img.PayCard_ico(src="/img/pics/cart_hover.svg", alt="")
						.PayCard_text
							.PayCard_header 100% оплата
							.PayCard_subHeader Выгодный способ приобретения квартиры и существенная экономия благодаря акционным программам.

			.CardsList_cell.CardsList_cell-payment
				.PayCard
					a.PayCard_link(href="")
						.PayCard_border.PayCard_border-top
						.PayCard_border.PayCard_border-bottom
						.PayCard_img
								img.PayCard_ico.PayCard_ico-first(src="/img/pics/calendar.svg", alt="")
								img.PayCard_ico(src="/img/pics/calendar_hover.svg", alt="")
						.PayCard_text
							.PayCard_header Рассрочка
							.PayCard_subHeader Уникальное предложение, покупка квартиры в «Рассрочку 0%» быстро и без переплат.

			.CardsList_cell.CardsList_cell-payment
				.PayCard
					a.PayCard_link(href="")
						.PayCard_border.PayCard_border-top
						.PayCard_border.PayCard_border-bottom
						.PayCard_img
							img.PayCard_ico.PayCard_ico-first(src="/img/pics/house.svg", alt="")
							img.PayCard_ico(src="/img/pics/house_hover.svg", alt="")
						.PayCard_text
							.PayCard_header Ипотека
							.PayCard_subHeader Лучшие предложения от банков для наших клиентов: - низкие процентные ставки - первоначальный взнос от 0%.

			.CardsList_cell.CardsList_cell-payment
				.PayCard
					a.PayCard_link(href="")
						.PayCard_border.PayCard_border-top
						.PayCard_border.PayCard_border-bottom
						.PayCard_img
							img.PayCard_ico.PayCard_ico-first(src="/img/pics/kid.svg", alt="")
							img.PayCard_ico(src="/img/pics/kid_hover.svg", alt="")
						.PayCard_text
							.PayCard_header Материнский капитал
							.PayCard_subHeader Покупка недвижимости с привлечением материнского капитала и уникальной акцией.

		.Subscribe.Subscribe-payment
			h3.Subscribe_header Если у Вас возникли вопросы
			p.Subscribe_text Наши менеджеры помогут выбрать оптимальную программу, собрать необходимый пакет документов и заключить сделку.
			form.Subscribe_form(data-action="/ajax/form-response.json")
				input.Subscribe_inp.Subscribe_inp-textField(type="tel" name="phone" placeholder="+7 (925) 222-33-33")
				input.Subscribe_inp.Subscribe_inp-submit.Btn(type="submit" value="Отправить")