extends layout
block vars
    - var title = "Акции"
block content
    .HeadBackground.HeadBackground-news(style="background-image: url(/img/pages/promos/promosbn.jpg)")
        h2.HeadBackground_header #{title}

    .Container
        section.PromoCardsList
            .PromoCardsList_item
                .PostCard
                    .PostCard_border.PostCard_border-top
                    .PostCard_inner
                        .PostCard_half.PostCard_half-left
                            .PostCard_details
                                .PostCard_date 15.08.2017 - 30.08.2017
                                .PostCard_social
                                    a.PostCard_socialLink(href="#")
                                        include includes/svg/facebook.svg
                                    a.PostCard_socialLink(href="#")
                                        include includes/svg/twitter.svg
                                    a.PostCard_socialLink(href="#")
                                        include includes/svg/vk.svg
                            .PostCard_title Машиноместа со скидкой до 50%
                            .PostCard_text Только до 1 августа в жилом квартале «Новые Котельники» будет действовать специальное предложение от застройщика, позволяющее приобрести парковочное место со скидкой в 50%. Акцией могут воспользоваться все, кто приобретает жилую недвижимость в корпусах №№1, 2 и 3 в период с 12 июля по 1 августа. Обязательным условием для участия является полностью оплаченная…
                            a.PostCard_readMoreLink(href="/promoting-single.html") подробнее
                        .PostCard_half.PostCard_half-right
                            .PostCard_pic(style="background-image: url(/img/tmp/promocard0.jpg)")
                    .PostCard_border.PostCard_border-bottom
            .PromoCardsList_item
                .PostCard
                    .PostCard_border.PostCard_border-top
                    .PostCard_inner
                        .PostCard_half.PostCard_half-left
                            .PostCard_details
                                .PostCard_date 15.08.2017 - 30.08.2017
                                .PostCard_social
                                    a.PostCard_socialLink(href="#")
                                        include includes/svg/facebook.svg
                                    a.PostCard_socialLink(href="#")
                                        include includes/svg/twitter.svg
                                    a.PostCard_socialLink(href="#")
                                        include includes/svg/vk.svg
                            .PostCard_title Полеты над Котельниками
                            .PostCard_text Только до 1 августа в жилом квартале «Новые Котельники» будет действовать специальное предложение от застройщика, позволяющее приобрести парковочное место со скидкой в 50%. Акцией могут воспользоваться все, кто приобретает жилую недвижимость в корпусах №№1, 2 и 3 в период с 12 июля по 1 августа. Обязательным условием для участия является полностью оплаченная…
                            a.PostCard_readMoreLink(href="/promoting-single.html") подробнее
                        .PostCard_half.PostCard_half-right
                            .PostCard_pic(style="background-image: url(/img/tmp/promocard1.jpg)")
                    .PostCard_border.PostCard_border-bottom