extends layout
include includes/mixins/index
block vars
	- var title = "Описание акции"
block content
	.HeadBackground.HeadBackground-article(style="background-image: url(/img/pages/article/article-img.jpg)")
	.Container
		.articlesWrapper

			article.ArticleFull.ArticleFull-article.ArticleFull-woTeasers
				.ArticleFull_border.ArticleFull_border-top
				.ArticleFull_border.ArticleFull_border-bottom
				.ArticleFull_img(style="background: url(/img/pages/article/article-img.jpg) no-repeat center; background-size: cover;")
				.ArticleFull_inner
					time(datetime="2017-08-09 20:00").ArticleFull_date 09.08.2017
					.ArticleFull_social
						a(href="#", class="ArticleFull_socialLink")
							include includes/svg/facebook.svg
						a(href="#", class="ArticleFull_socialLink")
							include includes/svg/twitter.svg
						a(href="#", class="ArticleFull_socialLink")
							include includes/svg/vk.svg
					h2.ArticleFull_header День строителя
					//- TODO: replace ArticleFull_text* classes with right arrow selector (.ArticleFull_text > p)
					.CmsEditorOutput
						p
							strong Поздравляем всех строителей с предстоящим профессиональным праздником, который ежегодно отмечается во второе воскресенье августа! Пусть ваш труд всегда будет востребован и оценен, приятного вам трудового процесса и, конечно же, самых интересных проектов. Таких, как жилой квартал «Новые Котельники» - целый микрорайон с собственными детскими садами, школой и медицинским центром.
						p
							img(src="http://placehold.it/100x100", alt="")
						p В честь праздника мы приглашаем всех клиентов отметить этот день вместе с нами в офисе продаж новостройки 12 августа. Вас будут ждать ведущие и аниматоры, мастер-классы и аквагрим для детей, подарки и викторины и обязательно вкусный праздничный стол. Мы будем рады видеть вас среди наших гостей!
						p
							| Наш 
							u
								a(href="#") адрес 
							| неизменен: МО, городской округ Котельники, улица Угрешская, напротив дома №6. Приходите!



		footer.ArticleLinks

			.ArticleLinks_all(style="margin:0 auto;")
				a(href="/promotings.html", class="ArticleLinks_allLink") К списку акций