extends layout
block vars
    - var title = "Веб-камеры"
block content
    iframe.el(width="640" height="360" src="https://play.boomstream.com/player.html?code=KGTbPRXX" frameborder="0" scrolling="no" allowfullscreen)
block page_bottom
    //-script(src="/js/script_file_for_this_page.js")