html,
body
    height 100%
html
    font-size 10px
body
    font-family 'Gilroy'
    font-size 1.4rem
    display flex
    flex-direction column
    color $gray
    @media $xs
        padding-top 55px
    @media $smPlus
        padding-top 64px
strong
    font-weight 600
b
    font-weight 700