@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&subset=cyrillic')

@font-face
    font-family 'Gilroy'
    src url('/fonts/Gilroy-UltraLight.woff2') format('woff2'),
        url('/fonts/Gilroy-UltraLight.woff') format('woff'),
        url('/fonts/Gilroy-UltraLight.ttf') format('truetype')
    font-weight 200
    font-style normal
    
@font-face
    font-family 'Gilroy'
    src url('/fonts/Gilroy-Regular.woff2') format('woff2'),
        url('/fonts/Gilroy-Regular.woff') format('woff'),
        url('/fonts/Gilroy-Regular.ttf') format('truetype')
    font-weight 400
    font-style normal

@font-face
    font-family 'Gilroy'
    src url('/fonts/Gilroy-Medium.woff2') format('woff2'),
        url('/fonts/Gilroy-Medium.woff') format('woff'),
        url('/fonts/Gilroy-Medium.ttf') format('truetype')
    font-weight 500
    font-style normal

@font-face
    font-family 'Gilroy'
    src url('/fonts/Gilroy-Bold.woff2') format('woff2'),
        url('/fonts/Gilroy-Bold.woff') format('woff'),
        url('/fonts/Gilroy-Bold.ttf') format('truetype')
    font-weight 700
    font-style normal
    
@font-face
    font-family 'Gilroy'
    src url('/fonts/Gilroy-Black.woff2') format('woff2'),
        url('/fonts/Gilroy-Black.woff') format('woff'),
        url('/fonts/Gilroy-Black.ttf') format('truetype')
    font-weight 800
    font-style normal

