.fs-wrap
    display block
    cursor pointer
    line-height 1
    width auto
    position relative
    &.multiple
        .fs-option
            position relative
            padding-right 30px
            .fs-checkbox
                position absolute
                display block
                width 30px
                top 0
                right 0
                bottom 0
                & > i
                    position absolute
                    margin auto
                    left 0
                    right 6px
                    top 0
                    bottom: 0
                    width 14px
                    height 14px
                    border 1px solid #f2f2f2
                    border-radius 2px
                    background-color #fff
                    &:after
                        content ''
                        position absolute
                        width 8px
                        height 8px
                        left 50%
                        top 50%
                        margin-top -4px
                        margin-left -4px
                        background-image linear-gradient(135deg, #86c98b, #7dcac5)
                        border-radius 1px
                        display none
            &.selected
                .fs-checkbox
                    & > i
                        background-color #fff
                        border-color #86c98b
                        &:after
                            display block
            &:hover
                //color #fabf2e
                .fs-checkbox > i
                        border-color #fabf2e
                        &:after
                            background-image linear-gradient(135deg, #ffd46c, #fabf2e)
            

.fs-label-wrap
    position relative
    cursor pointer
    .fs-label
        padding 6px 20px 6px 15px
        text-overflow ellipsis
        white-space nowrap
        overflow hidden

.fs-label-wrap,
.fs-dropdown
    user-select none

.fs-arrow
    width 0
    height 0
    border-left 3px solid transparent
    border-right 3px solid transparent
    border-top 4px solid #333
    position absolute
    top 0
    right 5px
    bottom 0
    margin auto

.fs-dropdown
    position absolute
    background-color #fff
    box-shadow 0 27px 32px 0 rgba(36, 40, 46, 0.14)
    width 158px
    margin-top 5px
    z-index 1000
    border-radius 2px
    overflow hidden
    left 0
    .fs-options
        max-height 200px
        overflow auto
        font-size 1.2rem
        font-weight 500

.fs-search
    padding 0 4px
    & > input
        border none !important
        box-shadow none !important
        outline none
        padding 4px 0
        width 100%

.fs-option,
.fs-search,
.fs-optgroup-label
    padding 10px 15px
    border-bottom 1px solid #eee
    cursor default

.fs-option
    cursor pointer
    border-bottom none
    &.disabled
        opacity 0.4
        cursor default
    &.hl
        background-color #f5f5f5
.fs-option-label
    overflow hidden;
    white-space nowrap
    text-overflow ellipsis
.fs-optgroup-label
    font-weight bold
    text-align center