//- START: responsive helpers
@media $xs
    .hidden-xs
        display none!important
@media $sm
    .hidden-sm
        display none!important
@media $md
    .hidden-md
        display none!important

.hidden
    display none!important
//- END: responsive helpers