@media $ie11
    body
        display block
    .PlanCard
        &_inner
            display block
    .Shape
        &_area
            background #fff
            &-n4
                bottom 0
        &_mask
            &-n1,
            &-n6
                top 0
    .Minigenplan_cell
        .Shape
            &_mask
                &-n4
                    bottom 0

    .Shape
        &_mask
            &-n13
                top 0
    .PayCard_subHeader-big,
    .UndefinedContent_numbers-under,
    .UndefinedContent_numbers-over,
    .UndefinedContent_over,
    .UndefinedContent_link,
    .MortgageSlider_order,
    .MortgagePluses_block:before
        background none
        color #84c99b
    .HeadBackground_linkForum
        top unset
        @media $xs
            bottom 24px
        @media $smPlus
            bottom 8px
    .Toast_circleWrapper:before
        transform none
        top 15px
        left 15px

@supports $edge
    .Shape
        &_area
            background #fff
            &-n4
                bottom 0
        &_mask
            &-n1,
            &-n6
                top 0
    .Minigenplan_cell
        .Shape
            &_mask
                &-n4
                    bottom 0

    .Shape
        &_mask
            &-n13
                top 0