@keyframes circlesFast {
    0% {
        transform scale(0)
        opacity 1
    }
    55% {
        opacity 0
    }
    100% {
        transform scale(1.4)
        opacity 0
    }
}

@keyframes circlesSlow {
    0% {
        transform scale(0)
        opacity 1
    }
    95% {
        opacity 0
    }
    100% {
        transform scale(1)
        opacity 0
    }
}

@keyframes pointBounce {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    20% {
        transform: translate(-50%, -50%) scale(1.3);
    }
    26% {
        transform: translate(-50%, -50%) scale(1);
    }
    35% {
        transform: translate(-50%, -50%) scale(1);
    }
    44% {
        transform: translate(-50%, -50%) scale(1);
    }
    60% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}