clearfix()
    &:after
    &:before
        content ""
        display table
    &:after
        clear both

cardsBorder()
    height 5px
    width 100%
    background linear-gradient(to right, #86c98b, #86d3a4 49%, #7dcac5)