@require 'includes/vars.styl'
@require 'includes/mixins.styl'
@require 'includes/helpers.styl'
@require 'includes/base.styl'
@require 'includes/fonts.styl'
@require 'includes/fSelect.styl'
@require 'includes/keyframes.styl'
@require 'includes/blocks/*.styl'


//- START: fancybox override
.fancybox-slide--inline
    padding 0 15px
    & > *
        padding 0
        overflow visible
.fancybox-bg
    background-color $overlayColor
.fancybox-is-open > .fancybox-bg
    opacity 0.8

//- END: fancybox override

//- START: styles for .articlesWrapper on article.html

.articlesWrapper
    width 100%
    height auto
    position relative
    @media $smMinus
        justify-content center
    @media $md
        padding 0 30px

//- END: styles for .articlesWrapper on article.html


//- START: styles for mortgagesWrapper on article.html

.mortgageWrapper
    padding 0 50px
    @media $xs
        padding 0 20px

//- END: styles for .mortgageWrapper on article.html


//- START: styles for FurnishContainer on furnish.html

.galleryWrapper
    height calc(100vh - 64px)
    position relative
    overflow hidden
    transition height .3s ease
    @media $xs
        height auto
    @media $sm
        height calc(92vh - 64px)
        &-full
            height calc(132vh - 64px)

@require 'includes/ie_edge.styl'

.fancybox-container
    &._custom
        .FormModal_header
            display block
            height 160px
            background-color transparent
            background-repeat no-repeat
            background-position 50% 50%
            background-size cover

        .FormModal_title
            font-size 22px
            line-height 30px
            padding 0
            margin-bottom 30px

            + p
                text-align center
                margin-bottom 20px

                a
                    color #88c990

                    &:hover
                        text-decoration underline

        .FormModal_row
            margin-bottom 30px

        .FormModal_lbl
            position relative
            cursor text

        .FormModal_inp
            border none
            border-bottom solid 1px #85c8a2
            padding 0

            &.error
                border-color #d0021b

            &:focus,
            &._active
                + .FormModal_lblText
                    line-height 20px
                    top -20px
                    font-size 10px

        .FormModal_lblText
            transition ease .3s all
            position absolute
            top 0
            left 0
            line-height 45px
            margin 0
            padding 0
            font-size 12px
            letter-spacing .6px

        .FormModal_hint

            + .FormModal_hint
                margin-top 25px

.custom-checkbox
    position relative
    display block
    padding-left 20px
    font-size 12px
    letter-spacing 0.6px
    color #4a5565

    a
        color #88c990

        &:hover
            text-decoration underline

    input
        visibility: hidden;
        width: 0;

        &:checked
            + .custom-checkbox__ico
                background #85c8a2

        &.error
            + .custom-checkbox__ico
                border-color #d0021b

                + span
                    color #d0021b

    &__ico
        position absolute
        top 0
        left 0
        width 12px
        height 12px
        border solid 1px #85c8a2

        &:before
            content ''
            position absolute
            top 50%
            left 50%
            width 8px
            height 8px
            background transparent url('../img/svg/check.svg') 0 0 no-repeat
            transform translate(-50%, -50%)

