#actionModal(style="display:none;", data-banner)
    .FormModal_header(style="background-image: url('/img/index_action_bg.jpg')")
    .FormModal
        h4.FormModal_title Регистрация <br> на семейный Квест 10 ноября
        p
            a(href="") Подбробнее о квесте

        form.FormModal_form(action="/ajax/form-response.json" method="get")
            .FormModal_row
                label.FormModal_lbl
                    input.FormModal_inp(type="text" required="required" name="name")
                    span.FormModal_lblText Ваше имя #[small.FormModal_redStar *]
            .FormModal_row
                label.FormModal_lbl
                    input.FormModal_inp(type="tel" name="phone" required="required")
                    span.FormModal_lblText Ваш телефон #[small.FormModal_redStar *]
            .FormModal_row
                label.FormModal_lbl
                    input(type="email" name="email").FormModal_inp
                    span.FormModal_lblText Ваша почта #[small.FormModal_redStar *]

            .FormModal_row
                label.FormModal_lbl
                    input(type="text" name="participants").FormModal_inp
                    span.FormModal_lblText Количество участников #[small.FormModal_redStar *]

            .FormModal_row.FormModal_row-btn
               button(type="submit").flatModal_submitBtn.Btn.Btn-block Отправить

            .FormModal_hint
                label.custom-checkbox
                    input(type="checkbox" name="conditions" checked required)
                    span.custom-checkbox__ico
                    span С&nbsp;
                        a(href="") условиями проведения
                        |&nbsp;акции ознакомлен и даю согласие на обработку &nbsp;
                        a(href="") персональных данных


            .FormModal_hint #[small.FormModal_redStar *] поля обязательные к заполнению
