script.
    window.ifrasObjsMarkers = [
    {
    "coords":
    {
    "lat": 55.635131,
    "lng":  37.851109,
    },
    "title": "«Ашан сити»",
    "type": 39,

    "ico": "/img/mappins/Auchan.png"
    }
    , {
    "coords":
    {
    "lat": 55.638038,
    "lng":  37.843824,
    },
    "title": "Бассейн «Нева»",
    "type": 45,

    "ico": "http://kvartalkotelniki.ru/upload/information_system_20/0/4/5/group_45/information_groups_property_311.png"
    }
    , {
    "coords":
    {
    "lat": 55.634867,
    "lng":  37.852813,
    },
    "title": "Горнолыжный комплекс «Фристайл»",
    "type": 44,

    "ico": "http://kvartalkotelniki.ru/upload/information_system_20/6/7/4/item_674/information_items_property_375.png"
    }
    , {
    "coords":
    {
    "lat": 55.648126,
    "lng":  37.857056,
    },
    "title": "Государственный университет «Дубна»",
    "type": 42,

    "ico": "http://kvartalkotelniki.ru/upload/information_system_20/0/4/2/group_42/information_groups_property_307.png"
    }
    , {
    "coords":
    {
    "lat": 55.646816,
    "lng":  37.853805,
    },
    "title": "Детская поликлиника",
    "type": 37,

    "ico": "http://kvartalkotelniki.ru/upload/information_system_20/6/4/5/item_645/information_items_property_302.png"
    }
    , {
    "coords":
    {
    "lat": 55.649943,
    "lng":  37.855425,
    },
    "title": "Детский сад «Семицветик»",
    "type": 41,

    "ico": "http://kvartalkotelniki.ru/upload/information_system_20/0/4/1/group_41/information_groups_property_306.png"
    }
    , {
    "coords":
    {
    "lat": 55.634874,
    "lng":  37.846445,
    },
    "title": "Детский сад «Созвездие»",
    "type": 41,

    "ico": "http://kvartalkotelniki.ru/upload/information_system_20/0/4/1/group_41/information_groups_property_306.png"
    }
    , {
    "coords":
    {
    "lat": 55.645056,
    "lng":  37.858505,
    },
    "title": "Детский сад «Солнышко»",
    "type": 41,

    "ico": "http://kvartalkotelniki.ru/upload/information_system_20/0/4/1/group_41/information_groups_property_306.png"
    }
    , {
    "coords":
    {
    "lat": 55.635890,
    "lng":  37.845615,
    },
    "title": "Лицей №3 им. Голованова",
    "type": 42,

    "ico": "http://kvartalkotelniki.ru/upload/information_system_20/0/4/2/group_42/information_groups_property_307.png"
    }
    , {
    "coords":
    {
    "lat": 55.635034,
    "lng":  37.849832,
    },
    "title": "Магазин «Дикси»",
    "type": 39,

    "ico": "http://kvartalkotelniki.ru/upload/information_system_20/6/7/0/item_670/information_items_property_342.png"
    }
    , {
    "coords":
    {
    "lat": 55.651812,
    "lng":  37.856047,
    },
    "title": "Магазин «Пятерочка»",
    "type": 39,

    "ico": "http://kvartalkotelniki.ru/upload/information_system_20/6/6/1/item_661/information_items_property_339.png"
    }
    , {
    "coords":
    {
    "lat": 55.646852,
    "lng":  37.860264,
    },
    "title": "Магазин «Пятерочка»",
    "type": 39,

    "ico": "http://kvartalkotelniki.ru/upload/information_system_20/6/6/6/item_666/information_items_property_340.png"
    }
    , {
    "coords":
    {
    "lat": 55.637732,
    "lng":  37.844117,
    },
    "title": "Магазин «Пятерочка»",
    "type": 39,

    "ico": "http://kvartalkotelniki.ru/upload/information_system_20/6/6/9/item_669/information_items_property_341.png"
    }
    , {
    "coords":
    {
    "lat": 55.654153,
    "lng":  37.844095,
    },
    "title": "Мега «Балая Дача»",
    "type": 39,

    "ico": "/img/mappins/Mega.png"
    }
    , {
    "coords":
    {
    "lat": 55.637385,
    "lng":  37.859421,
    },
    "title": "Место для купания",
    "type": 45,

    "ico": "http://kvartalkotelniki.ru/upload/information_system_20/0/4/5/group_45/information_groups_property_311.png"
    }
    , {
    "coords":
    {
    "lat": 55.673720,
    "lng":  37.859038,
    },
    "title": "Метро «Котельники»",
    "type": 50,

    "ico": "http://kvartalkotelniki.ru/upload/information_system_20/8/2/1/item_821/information_items_property_374.png"
    }
    , {
    "coords":
    {
    "lat": 55.637555,
    "lng":  37.857555,
    },
    "title": "Пляж",
    "type": 43,

    "ico": "http://kvartalkotelniki.ru/upload/information_system_20/0/4/3/group_43/information_groups_property_308.png"
    }
    , {
    "coords":
    {
    "lat": 55.655847,
    "lng":  37.838510,
    },
    "title": "Развязка МКАД",
    "type": 38,
    "order": "0",
    "ico": "http://kvartalkotelniki.ru/upload/information_system_20/6/5/8/item_658/information_items_property_303.png"
    }
    , {
    "coords":
    {
    "lat": 55.640515,
    "lng":  37.819934,
    },
    "title": "Развязка МКАД",
    "type": 38,
    "order": "1",
    "ico": "http://kvartalkotelniki.ru/upload/information_system_20/6/5/9/item_659/information_items_property_304.png"
    }
    , {
    "coords":
    {
    "lat": 55.648478,
    "lng":  37.858118,
    },
    "title": "Школа №1 им. Чурилова",
    "type": 42,

    "ico": "http://kvartalkotelniki.ru/upload/information_system_20/0/4/2/group_42/information_groups_property_307.png"
    }

    ]
