script.
	window.ifrasObjsYandexMarkers = [
		{
		"coords":
		{
		"lat": 55.635237,
		"lng":  37.851139,
		},
		"title": "«Ашан сити»",
		"type": 11,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/5/5/1/item_551/information_items_property_1987.png"
		}
	, {
		"coords":
		{
		"lat": 55.652772,
		"lng":  37.844745,
		},
		"title": "«Ашан»",
		"type": 11,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/5/5/5/item_555/information_items_property_1986.png"
		}
	, {
		"coords":
		{
		"lat": 55.635024,
		"lng":  37.849691,
		},
		"title": "«Дикси»",
		"type": 11,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/1/group_11/information_groups_property_115.png"
		}
	, {
		"coords":
		{
		"lat": 55.648146,
		"lng":  37.853387,
		},
		"title": "«Дикси»",
		"type": 11,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/1/group_11/information_groups_property_115.png"
		}
	, {
		"coords":
		{
		"lat": 55.652942,
		"lng":  37.847964,
		},
		"title": "«ИКЕА»",
		"type": 11,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/5/5/4/item_554/information_items_property_1988.png"
		}
	, {
		"coords":
		{
		"lat": 55.635564,
		"lng":  37.842588,
		},
		"title": "«Магнит»",
		"type": 11,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/1/group_11/information_groups_property_115.png"
		}
	, {
		"coords":
		{
		"lat": 55.637663,
		"lng":  37.844048,
		},
		"title": "«Пятерочка»",
		"type": 11,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/1/group_11/information_groups_property_115.png"
		}
	, {
		"coords":
		{
		"lat": 55.646765,
		"lng":  37.860270,
		},
		"title": "«Пятерочка»",
		"type": 11,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/1/group_11/information_groups_property_115.png"
		}
	, {
		"coords":
		{
		"lat": 55.651753,
		"lng":  37.856041,
		},
		"title": "«Пятерочка»",
		"type": 11,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/1/group_11/information_groups_property_115.png"
		}
	, {
		"coords":
		{
		"lat": 55.649254,
		"lng":  37.860611,
		},
		"title": "«Пятерочка»",
		"type": 11,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/1/group_11/information_groups_property_115.png"
		}
	, {
		"coords":
		{
		"lat": 55.637070,
		"lng":  37.841972,
		},
		"title": "«Пятерочка»",
		"type": 11,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/1/group_11/information_groups_property_115.png"
		}
	, {
		"coords":
		{
		"lat": 55.628819,
		"lng":  37.853061,
		},
		"title": "«Пятерочка»",
		"type": 11,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/8/9/3/item_893/information_items_property_390.png"
		}
	, {
		"coords":
		{
		"lat": 55.633871,
		"lng":  37.844809,
		},
		"title": "«Сбербанк»",
		"type": 25,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/2/5/group_25/information_groups_property_368.png"
		}
	, {
		"coords":
		{
		"lat": 55.646700,
		"lng":  37.859721,
		},
		"title": "«Сбербанк»",
		"type": 25,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/2/5/group_25/information_groups_property_368.png"
		}
	, {
		"coords":
		{
		"lat": 55.635862,
		"lng":  37.843747,
		},
		"title": "Аптека",
		"type": 52,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/5/2/group_52/information_groups_property_392.png"
		}
	, {
		"coords":
		{
		"lat": 55.634879,
		"lng":  37.845099,
		},
		"title": "Аптека",
		"type": 52,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/5/2/group_52/information_groups_property_392.png"
		}
	, {
		"coords":
		{
		"lat": 55.632254,
		"lng":  37.847782,
		},
		"title": "Аптека",
		"type": 52,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/8/9/5/item_895/information_items_property_393.png"
		}
	, {
		"coords":
		{
		"lat": 55.631064,
		"lng":  37.858404,
		},
		"title": "Аптека",
		"type": 52,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/8/9/6/item_896/information_items_property_394.png"
		}
	, {
		"coords":
		{
		"lat": 55.638112,
		"lng":  37.843618,
		},
		"title": "Бассейн",
		"type": 18,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/8/group_18/information_groups_property_129.png"
		}
	, {
		"coords":
		{
		"lat": 55.634891,
		"lng":  37.852598,
		},
		"title": "Горнолыжный компекс",
		"type": 15,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/5/group_15/information_groups_property_123.png"
		}
	, {
		"coords":
		{
		"lat": 55.628069,
		"lng":  37.849370,
		},
		"title": "Городская больница",
		"type": 14,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/8/9/7/item_897/information_items_property_395.png"
		}
	, {
		"coords":
		{
		"lat": 55.646813,
		"lng":  37.853768,
		},
		"title": "Детская поликлиника",
		"type": 14,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/4/group_14/information_groups_property_120.png"
		}
	, {
		"coords":
		{
		"lat": 55.632961,
		"lng":  37.847406,
		},
		"title": "Детский парк",
		"type": 48,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/4/8/group_48/information_groups_property_372.png"
		}
	, {
		"coords":
		{
		"lat": 55.634982,
		"lng":  37.846537,
		},
		"title": "Детский сад",
		"type": 13,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/3/group_13/information_groups_property_118.png"
		}
	, {
		"coords":
		{
		"lat": 55.633871,
		"lng":  37.846805,
		},
		"title": "Детский сад",
		"type": 13,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/3/group_13/information_groups_property_118.png"
		}
	, {
		"coords":
		{
		"lat": 55.649895,
		"lng":  37.855442,
		},
		"title": "Детский сад",
		"type": 13,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/3/group_13/information_groups_property_118.png"
		}
	, {
		"coords":
		{
		"lat": 55.645066,
		"lng":  37.858832,
		},
		"title": "Детский сад",
		"type": 13,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/3/group_13/information_groups_property_118.png"
		}
	, {
		"coords":
		{
		"lat": 55.629264,
		"lng":  37.850581,
		},
		"title": "Детский сад",
		"type": 13,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/9/0/1/item_901/information_items_property_399.png"
		}
	, {
		"coords":
		{
		"lat": 55.631170,
		"lng":  37.856739,
		},
		"title": "Детский сад",
		"type": 13,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/9/0/2/item_902/information_items_property_400.png"
		}
	, {
		"coords":
		{
		"lat": 55.629252,
		"lng":  37.861781,
		},
		"title": "Детский сад",
		"type": 13,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/9/0/3/item_903/information_items_property_401.png"
		}
	, {
		"coords":
		{
		"lat": 55.626605,
		"lng":  37.853477,
		},
		"title": "Детский сад",
		"type": 13,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/9/0/4/item_904/information_items_property_402.png"
		}
	, {
		"coords":
		{
		"lat": 55.633414,
		"lng":  37.844114,
		},
		"title": "Детский сад «Радуга»",
		"type": 13,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/3/group_13/information_groups_property_118.png"
		}
	, {
		"coords":
		{
		"lat": 55.648726,
		"lng":  37.860386,
		},
		"title": "Детский сад «Солнышко»",
		"type": 13,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/3/group_13/information_groups_property_118.png"
		}
	, {
		"coords":
		{
		"lat": 55.639706,
		"lng":  37.842551,
		},
		"title": "Заправка",
		"type": 49,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/4/9/group_49/information_groups_property_371.png"
		}
	, {
		"coords":
		{
		"lat": 55.639633,
		"lng":  37.844128,
		},
		"title": "Кафе",
		"type": 11,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/1/group_11/information_groups_property_115.png"
		}
	, {
		"coords":
		{
		"lat": 55.637201,
		"lng":  37.841945,
		},
		"title": "Кафе",
		"type": 11,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/1/group_11/information_groups_property_115.png"
		}
	, {
		"coords":
		{
		"lat": 55.632955,
		"lng":  37.853124,
		},
		"title": "Кафе",
		"type": 11,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/1/group_11/information_groups_property_115.png"
		}
	, {
		"coords":
		{
		"lat": 55.651296,
		"lng":  37.866393,
		},
		"title": "Конный клуб",
		"type": 15,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/5/group_15/information_groups_property_123.png"
		}
	, {
		"coords":
		{
		"lat": 55.635977,
		"lng":  37.845818,
		},
		"title": "Лицей",
		"type": 12,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/2/group_12/information_groups_property_116.png"
		}
	, {
		"coords":
		{
		"lat": 55.631826,
		"lng":  37.853006,
		},
		"title": "Лицей",
		"type": 12,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/2/group_12/information_groups_property_116.png"
		}
	, {
		"coords":
		{
		"lat": 55.631776,
		"lng":  37.853109,
		},
		"title": "Лицей №6",
		"type": 12,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/8/9/8/item_898/information_items_property_396.png"
		}
	, {
		"coords":
		{
		"lat": 55.628636,
		"lng":  37.857803,
		},
		"title": "Магазин «Магнит»",
		"type": 11,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/8/9/4/item_894/information_items_property_391.png"
		}
	, {
		"coords":
		{
		"lat": 55.631507,
		"lng":  37.849863,
		},
		"title": "Магазин «Пятерочка»",
		"type": 11,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/8/9/2/item_892/information_items_property_389.png"
		}
	, {
		"coords":
		{
		"lat": 55.638735,
		"lng":  37.841049,
		},
		"title": "Мак­до­нальдс",
		"type": 11,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/1/group_11/information_groups_property_115.png"
		}
	, {
		"coords":
		{
		"lat": 55.654179,
		"lng":  37.844187,
		},
		"title": "Мега «Балая Дача»",
		"type": 11,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/5/5/3/item_553/information_items_property_1989.png"
		}
	, {
		"coords":
		{
		"lat": 55.637435,
		"lng":  37.859333,
		},
		"title": "Место для купания",
		"type": 17,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/7/group_17/information_groups_property_128.png"
		}
	, {
		"coords":
		{
		"lat": 55.632181,
		"lng":  37.766752,
		},
		"title": "Метро «Алма-Атинская»",
		"type": 51,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/1/0/0/item_1005/information_items_property_378.png"
		}
	, {
		"coords":
		{
		"lat": 55.673792,
		"lng":  37.859188,
		},
		"title": "Метро «Котельники»",
		"type": 51,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/8/2/3/item_823/information_items_property_378.png"
		}
	, {
		"coords":
		{
		"lat": 55.640565,
		"lng":  37.819768,
		},
		"title": "МКАД",
		"type": 16,
		"flag": 1,
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/6/group_16/information_groups_property_125.png",
		"ico2": "https://kvartalkotelniki.ru/img/pages/location/road_popup_1.png"
		}
	, {
		"coords":
		{
		"lat": 55.632305,
		"lng":  37.856858,
		},
		"title": "МФЦ",
		"type": 26,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/2/6/group_26/information_groups_property_370.png"
		}
	, {
		"coords":
		{
		"lat": 55.632372,
		"lng":  37.856331,
		},
		"title": "МФЦ",
		"type": 26,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/9/0/0/item_900/information_items_property_398.png"
		}
	, {
		"coords":
		{
		"lat": 55.622966,
		"lng":  37.840077,
		},
		"title": "Никола-Угрешский монастырь",
		"type": 53,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/9/0/5/item_905/information_items_property_404.png"
		}
	, {
		"coords":
		{
		"lat": 55.635668,
		"lng":  37.856353,
		},
		"title": "Озеро для купания",
		"type": 17,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/7/group_17/information_groups_property_128.png"
		}
	, {
		"coords":
		{
		"lat": 55.634630,
		"lng":  37.855442,
		},
		"title": "Пляж",
		"type": 17,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/7/group_17/information_groups_property_128.png"
		}
	, {
		"coords":
		{
		"lat": 55.637484,
		"lng":  37.857509,
		},
		"title": "Пляж",
		"type": 17,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/7/group_17/information_groups_property_128.png"
		}
	, {
		"coords":
		{
		"lat": 55.636458,
		"lng":  37.842548,
		},
		"title": "Почта",
		"type": 47,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/4/7/group_47/information_groups_property_369.png"
		}
	, {
		"coords":
		{
		"lat": 55.656000,
		"lng":  37.838703,
		},
		"title": "Развязка МКАД",
		"type": 16,
		"flag": 1,
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/6/group_16/information_groups_property_125.png",
		"ico2": "https://kvartalkotelniki.ru/img/pages/location/road_popup_2.png"
		}
	, {
		"coords":
		{
		"lat": 55.635364,
		"lng":  37.844230,
		},
		"title": "Сквер",
		"type": 48,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/4/8/group_48/information_groups_property_372.png"
		}
	, {
		"coords":
		{
		"lat": 55.634777,
		"lng":  37.843331,
		},
		"title": "Спортивный клуб «Медведь»",
		"type": 15,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/5/group_15/information_groups_property_123.png"
		}
	, {
		"coords":
		{
		"lat": 55.638659,
		"lng":  37.856268,
		},
		"title": "Томилинский лесопарк",
		"type": 48,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/4/8/group_48/information_groups_property_372.png"
		}
	, {
		"coords":
		{
		"lat": 55.648136,
		"lng":  37.857223,
		},
		"title": "Университет",
		"type": 12,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/2/group_12/information_groups_property_116.png"
		}
	, {
		"coords":
		{
		"lat": 55.646328,
		"lng":  37.858703,
		},
		"title": "Центр развития ребенка",
		"type": 13,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/3/group_13/information_groups_property_118.png"
		}
	, {
		"coords":
		{
		"lat": 55.648124,
		"lng":  37.858038,
		},
		"title": "Школа",
		"type": 12,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/0/1/2/group_12/information_groups_property_116.png"
		}
	, {
		"coords":
		{
		"lat": 55.633227,
		"lng":  37.865537,
		},
		"title": "Школа №7",
		"type": 12,
		
		"ico": "http://kvartalkotelniki.ru/upload/information_system_9/8/9/9/item_899/information_items_property_397.png"
		}

		]