#orderModal(style="display:none;")
  .FormModal
    h4.FormModal_title Здравствуйте!
    
    form#ApplicationForm.FormModal_form(action="/ajax/form-response.json", method="get", data-page-alias="flat-single")
      .FormModal_desc Введите ваши контактные данные, наш менеджер свяжется с Вами в ближайшее время и ответит на интересующие вас вопросы.
      .FormModal_row
        label.FormModal_lbl 
          span.FormModal_lblText Телефон #[small.FormModal_redStar *]
          input.FormModal_inp(type="tel" required="required" name="phone" placeholder="+7 (987) 654-32-10")
      .FormModal_row
        label.FormModal_lbl 
          span.FormModal_lblText Имя #[small.FormModal_redStar *]
          input.FormModal_inp(name="name" required="required" placeholder="Ваше имя")
      .FormModal_row
        label.FormModal_lbl 
          span.FormModal_lblText Email
          input(type="email" name="email" placeholder="example@yourmail.com").FormModal_inp.FormModal_inp-email
      .FormModal_row.FormModal_row-btn
         button(type="submit").flatModal_submitBtn.Btn.Btn-block Отправить
      .FormModal_hint #[small.FormModal_redStar *] поля обязательные к заполнению