.ActionPopup
    width 720px
    background transparent
    @media $xs
        width 90vw
    @media $sm
        width 510px
    &_link
        position relative
        z-index 100
        display block
        height auto