.ArticleLinks
	display flex
	flex-flow row nowrap
	justify-content center
	align-items center
	position relative
	height 100px
	margin 0 auto
	@media $smMinus
		justify-content space-between
	@media $sm
		width 77.5%
	@media $xs
		width 90%
		height 80px
	&_prev
		font-weight 500
		@media $md
			display none
		@media $xs
			font-size 1rem
	&_prev-arrowLeft
		& > .SvgIco
			transform: rotate(180deg)
		& > .ArticleLinks_prevLink
			padding-left 15px
	&_all
		font-weight 500
		@media $smMinus
			margin-right 20px
			margin-left 20px
		@media $xs
			font-size 1rem
	&_next
		font-weight 500
		@media $md
			display none
		@media $xs
			font-size 1rem
	&_next-arrowRight > .ArticleLinks_nextLink
			padding-right 15px
	&_xsHidden
		@media $xs
			display none