.ArticleTeaser
	border-radius 2px
	background #ffffff
	box-shadow: 0 10px 50px rgba(0,0,0,.15)
	&-article
		position relative
		padding 40px 26px 40px 26px
		margin-top 70px
		&:first-of-type
			position absolute
			margin-top 0
			left 3%
			right 77%
			top 200px
		&:last-of-type
			position absolute
			margin-top 0
			right 3%
			left 77%
			top 200px
		@media $smMinus
			display none
	&_border
		position absolute
		left 0
		width 100%
		height 5px
		display block
		transition all .3s ease
		&:before, &:after
			content ''
			display block
			position absolute
			left 0
			top 0
			width 100%
			height 100%
			transition opacity .3s ease
		&:before
			background linear-gradient(to right, #86c98b, #86d3a4 49%, #7dcac5)
			z-index 5
		&:after
			background linear-gradient(271deg, #ffd46c, #fed061 20%, #fdcc56 40%, #fcc74a 60%, #fbc33d 80%, #fabf2e);
			z-index 4
	&_border-top
		top 0
	&_border-bottom
		bottom 0
	&:hover > &_border:before
		opacity 0
	&_header
		font-size 1.8rem
		font-weight 500
		padding-top 20px
		padding-bottom 26px
	&_link
		&:hover
			color $orange
		&-arrowLeft
			.SvgIco
				transform rotate(180deg)
			.ArticleTeaser_linkText
				padding-left 20px
		&-arrowRight
			.ArticleTeaser_linkText
				padding-right 20px
	&_linkInner
		display flex
		flex-flow row nowrap
		justify-content flex-start
		align-items center
	&_linkText
		font-weight 500
		color #4a5565