.ArticleFull
	box-shadow: 0 10px 50px rgba(0,0,0,.15)
	background white
	&-article
		position relative
		margin-top -140px
		width 47%
		margin-left auto
		margin-right auto
		@media $sm
			width 78%
		@media $xs
			width 90%
			margin-top -65px
		@media $md
			flex-basis 48%
	&-woTeasers
		position relative
		margin-top -140px
		margin-right auto
		margin-left auto
	&_img
		width 100%
		height 262px
		opacity 0.9
		@media $xs
			height 123px
	&_border
		position absolute
		left 0
		width 100%
		height 5px
		display block
		transition all .3s ease
		&:before, &:after
			content ''
			display block
			position absolute
			left 0
			top 0
			width 100%
			height 100%
			transition opacity .3s ease
		&:before
			background linear-gradient(to right, #86c98b, #86d3a4 49%, #7dcac5)
			z-index 5
		&:after
			background linear-gradient(271deg, #ffd46c, #fed061 20%, #fdcc56 40%, #fcc74a 60%, #fbc33d 80%, #fabf2e);
			z-index 4
	&_border-top
		top 0
	&_border-bottom
		bottom 0
	&:hover > &_border:before
		opacity 0
	&_inner
		padding 40px 30px 40px 40px
	&_date
		float left
	&_social
		float right
	&_socialLink
		padding: 7px 7px
		&:hover
			color #85CDC8
	&_header
		clear both
		font-size 2.2rem
		font-weight 500
		color #4b5666
		line-height normal
		padding-top 20px
