.Balloon
	position absolute
	padding 12px 18px 12px 15px
	border-radius 8px
	background-color #FFF
	box-shadow 0 2px 7px 1px rgba(0, 0, 0, 0.3)
	color $gray
	
	&_close
		position absolute
		top 1px
		right 1px
		opacity 0.6
	
	&_arrow
		position absolute
		right 0
		bottom -15px
		left 0
		width 15px
		height 15px
		margin auto
		box-shadow -2px 2px 2px 0 rgba(178, 178, 178, .4)
		background #fff
		transform translate(0,-50%) rotate(-45deg)
	
	&_content
		font-size 13px
		text-align center
	
	&-top
		margin-top -10px