.BanksList
	margin 40px auto 0 auto
	padding-bottom 90px
	@media $xs
		padding-bottom 80px
	@media $sm
		margin-top 60px
	&_row
		min-height 71px
		display flex
		flex-flow row nowrap
		justify-content space-between
		align-items center
		border-radius 2px
		background #ffffff
		box-shadow 0 6px 8px 0 rgba(0, 0, 0, 0.04)
		margin-top 10px
		padding 10px 45px
		@media $xs
			padding 15px 15px
			min-height 0
	&_cell
		height 100%
		z-index 10
	&_cell:not(&_cell-img)
		@media $sm
			flex-basis 18%
	&_cell:not(:last-of-type)
		margin-right 5px
	&_cell-img
		flex-basis 20%
	&_cell-rate
		@media $sm
			flex-basis 8%
	&_cell-description
		@media $xs
			display none
	&_header
		font-size 1.2rem
		letter-spacing 0.3px
		padding-bottom 7px
		text-align center
		@media $xs
			font-size .8rem
		&-star
			&:after
				content '*'
				color #fcca4d
				font-size 20px
	&_text
		font-weight 600
		letter-spacing 0.3px
		line-height normal
		text-align center
		font-size 1.25rem
		@media $xs
			font-size 1.2rem
	&_tipText
		font-size 12px
		padding-top 17px
		float right
		color #4a5565
		@media $xs
			text-align center
	&_tipSign
		color #fcca4d
		font-size 24px
		padding-right 10px
		position relative
		top 11px