.BeforeAfterSlider
    background-color #E2E9E4
    border-radius 2px
    overflow hidden
    position relative
    user-select none
    max-width 800px
    margin 0 auto
    &-tabs
        @media $smPlus
            padding-left 44px

    &_img
        pointer-events none
        @media $xs
            margin-bottom 40px
    &_handle.handle
        background-color #ffffff
        &:after
            width 49px
            height 63px
            background url('/img/slider_handler.svg') center no-repeat
            background-size contain
            @media $xs
                margin -60px 0 0 -23px
            @media $smPlus
                margin -30px 0 0 -23px
    &-n1
        @media $xs
            margin 0 -15px
        @media $md
            flex 1
            &>.ba-slider
                height 100%
    &_overlayArea
        position absolute
        background center no-repeat
        background-size contain
        &-compass
            pointer-events none
            background-image url('/img/pics/compass.svg')
            @media $xs
                left 12px
                bottom 55px
                width 28px
                height 28px
            @media $sm
                left 17px
                bottom 17px
                width 30px
                height 30px
            @media $md
                left 20px
                bottom 20px
                width 34px
                height 34px
        &-sectionScheme
            pointer-events none
            @media $xs
                right 14px
                top 14px
                width 60px
                height 60px
            @media $sm
                right 14px
                top 14px
                width 80px
                height 80px
            @media $md
                right 18px
                top 18px
                width 86px
                height 86px
    &._commercial
        max-width none
        max-height 608px
        @media $smMinus
            max-height 620px
        & .ba-slider
            height 100%
            &__item
                height 100%
                &#slider-floor
                    padding 80px
                    @media $xs
                        padding 20px
            & img
                max-width 100%
                max-height 100%
                height 100%
                object-fit contain
                @media $smMinus
                    max-height 620px
                @media $xs
                    max-height 360px
                    height 360px
//TODO: color svgs sources
.ba-slider>.BeforeAfterSlider_img
    filter: brightness(0.5);

.ba-tabs
    position absolute
    left 0
    top 0
    bottom 0
    width 44px
    background-color #2c2f32
    display flex
    flex-direction column
    justify-content flex-start
    align-items center

    &__item
        transition ease .3s all
        position relative
        display block
        white-space nowrap
        transform rotate(-90deg)
        padding 0 10px
        height 44px
        line-height 44px
        font-size 12px
        color rgba(255, 255, 255, .3)

        &:last-child
            margin-bottom 60px
            margin-top 55px
            order -1

        &:hover
            color rgba(255, 255, 255, .7)

        &:before
            transition ease .3s all
            content ''
            position absolute
            bottom 0
            left 0
            right 0
            height 3px
            background-color transparent
            visibility hidden
            transform scaleX(0)

        &._active
            color #fff
            cursor default

            &:before
                background-color #86c98b
                visibility visible
                transform scaleX(1)

        @media $xs
            transform rotate(0deg)
            width 50%
            text-align center
            border-right solid 1px #474c51

            &:last-child
                order 0
                margin 0
                order -1

    @media $xs
        height 44px
        width auto
        top auto
        left 15px
        right 15px
        bottom 0
        z-index 100
        flex-direction row
        justify-content center
