.BgText
    position absolute
    max-width 100%
    overflow hidden
    pointer-events none
    z-index -1000
    user-select none
    &_text
        position relative
        left 50%
        transform translateX(-68%)
        font-weight bold
        line-height 0.9
        text-align center
        color #F6F7F8
        white-space nowrap
        vertical-align top
        @media $xs
            font-size 21rem
            letter-spacing 2px
        @media $smPlus
            font-size 45rem
            letter-spacing 4.2px