.BigMenu
    position fixed
    left 0
    width 100%
    background #fff
    top 64px
    display none
    z-index 1000
    @media $xs
        display none!important
    @media $sm
        padding 52px 26px 24px 45px
    @media $md
        padding 50px 42px
    &_unitsContainer
        display flex
        max-width 1566px
        margin 0 auto
        @media $sm
            flex-direction column
            flex-wrap wrap
            max-height 600px
        @media $md
            justify-content space-between
    &_unitsContainer-active &_textCutter
        opacity .4
    &_unitsContainer-active &_textCutter-active
        opacity 1
    &_unit
        @media $sm
            width 33.3333333%
            font-size 1.2rem
            letter-spacing 0.2px
            padding-bottom 65px
        @media $md
            font-size 1.4rem
            padding-bottom 6px
            max-width 26%

    &_unitHead
        font-weight 500
        color #a5a5a5
        text-transform uppercase
        @media $sm
            padding-bottom 46px
            letter-spacing 0.2px
        @media $md
            padding-bottom 44px
            letter-spacing 0.3px
    &_list
        border-left 1px solid #D5D5D5
    &_item
        margin-top 3.1rem
        &:first-child
            margin-top 0  
    &_link
        position relative
        color #42474b
        display inline-block
        max-width 100%
        line-height 1
        padding-left 20px
        &:after
            content ''
            position absolute
            top 50%
            left 0
            display block
            border 1px solid #fff
            background-color #d9d9d9
            transition all 0.2s
            width 6px
            height 6px
            margin-left -.35rem
            margin-top -3px
        &:hover:after
            transform scale(2)
            background-color #61b9b3
    &_textCutter
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
        display inline-block
        width 100%
        vertical-align middle
        transition all .2s ease