.BldChoose
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    &_bld
        cursor pointer
        fill url(#d)
        &:hover
            fill #FBC53F
            filter drop-shadow(0 0 6px rgba(69, 59, 34, .12))
        &-disabled
            opacity .5
            pointer-events none
            filter grayscale(.2)