.Bn
    display flex
    flex-direction column
    background center no-repeat
    background-size cover
    justify-content center
    position relative
    @media $xs
        text-align center
        padding 23px
        height calc(100vh - 55px)
        max-height 681px
        margin-bottom 42px
    @media $sm
        padding 40px
        min-height calc(100vh - 64px)
        margin-bottom 30px
    @media $md
        padding 48px 64px
        min-height calc(100vh - 64px)
        margin-bottom 56px
    &-lightText
        color #fff
    &:before
        content ''
        position absolute
        top 0
        right 0
        left 0
        bottom 0
        background-image linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16))
    &_inner
        position relative
        z-index 1
        @media $sm
            max-width 672px
        @media $smPlus
            max-width 692px
    &_head
        font-weight 700
        @media $xs
            padding 0 18px 18px 18px
            font-size 3rem
            letter-spacing -0.7px
        @media $smPlus
            font-size 60px
            line-height 0.88
            letter-spacing -1.4px
            padding-bottom 32px
    &_text
        font-weight 500
        @media $xs
            font-size 1.2rem
            line-height 1.33
        @media $smPlus
            font-size 1.6rem
            line-height 1.38