.Btn
    display inline-block
    font-weight 400
    text-align center
    color #fff
    white-space nowrap
    vertical-align middle
    user-select none
    border none
    padding 18px
    font-size 1.2rem
    border-radius 2px
    background linear-gradient(to right, #86C98B, #7DCAC5)
    &:hover
        background linear-gradient(to right, #FFD46C, #FABF2E)
    &-block
        display block
        width 100%
    &-type1
        width 100%
        max-width 300px
        margin 0 auto
        display block
        @media $xs
            padding 1.35rem
        @media $smPlus
            padding 1.6rem
    &-n1
        width 178px
        display block
        margin 5px auto 100px
        @media $xs
            padding 1.35rem
        @media $smPlus
            padding 1.6rem
        
    &-forHeader
        font-size 1.4rem
        padding 13px 21px
        box-shadow 0 10px 15px 0 rgba(51, 76, 86, 0.13)
    &-modalClose
        position absolute
        padding 0
        height 42px
        width 42px
        line-height 42px
        @media $xs
            bottom 100%
            right 0px
            border-bottom-left-radius 0
            border-bottom-right-radius 0
            height 42px
            width 42px
            line-height 42px
        @media $smPlus
            left 100%
            top 0px
            border-top-left-radius 0
            border-bottom-left-radius 0
    &-features
        background #ffce77
        @media $xs
            bottom auto
            top 0
            right 0
            position fixed
        @media $smPlus
            left auto
            top -62px
            right 0
        &:hover
            background  #ffce77