.BtnsLegend
    user-select none
    z-index 100
    position relative
    @media $xs
        border-top 1px solid #f0f0f0
        position relative
        background #fff
        box-shadow 0 10px 25px 0 rgba(73, 74, 73, .1)
    @media $smPlus
        position absolute
        right 0
    &-n1
        @media $xs
            margin-bottom 10px
         @media $sm
            position relative
    &_inner
        display flex
        align-items center
        @media $xs
            padding 15px
            justify-content center
            flex-wrap wrap
        @media $smPlus
            padding 25px 35px 0 0
            justify-content flex-end
    &_btn
        width 34px
        height 34px
        text-align center
        margin 0 8px
        overflow hidden
        border-radius 50%
        background #E4E8EB
        font-size 12px
        font-weight bold
        letter-spacing 1px
        color #fff
        display flex
        justify-content center
        align-items center
        transition all .1s
        box-shadow none
        &-active&-v1
            background-color #84ddf8
            box-shadow 0 10px 25px 0 rgba(132, 221, 248, .45)
        &-active&-v2
            background-color #92a3fd
            box-shadow 0 10px 15px 0 rgba(147, 163, 252, .45)
        &-active&-v3
            background-color #ce97fe
            box-shadow 0 10px 25px 0 rgba(206, 151, 254, .45)
        &-active&-v4
            background-color #feac95
            box-shadow 0 10px 25px 0 rgba(254, 172, 149, .45)
        &-active&-v5
            background-color #fac43d
            box-shadow 0 10px 25px 0 rgba(233, 184, 60, .45)
        &-active&-v6
            background-color #80cab0
            box-shadow 0 10px 25px 0 rgba(128, 202, 176, .45)
        &-v7
            background-color #80c9b0
        &-v8
            background-color #67c4f3
        &-v9
            background-color #754fb6
    &_title
        white-space nowrap
        font-size 12px
        letter-spacing .1px
        text-align right
        font-weight 500
        &-white
            color #fff
        @media $xs
            color inherit
            width 100%
            font-weight 700
            text-align center
            padding-bottom 10px
    &_inp
        border: 0
        clip: rect(0 0 0 0)
        height: 1px
        margin: -1px
        overflow: hidden
        padding: 0
        position: absolute
        width: 1px
        pointer-events none
    &_tooltip
        padding 6px 8px 5px 8px
        font-size 12px
        font-weight 400
        line-height 14px
        color #3D3E40
        border solid 1px currentColor
        background-color white
        white-space nowrap
