.Burger
    background none
    cursor pointer
    padding 10px
    border none
    &_title
        font-size 1.4rem
        line-height 0
        @media $xs
            display none
    &_pic
        height 8px
        width 11px
        position relative
        display inline-block
        margin-right 10px
    &_dash
        height 2px
        position absolute
        left 0
        width 100%
        top 50%
        margin-top -1px
        transition all 0.3s
        background $gray
        &-n1
            transform translateY(-2px)
        &-n2
            transform translateY(2px)
    &_pic-menuOpen
        & > .Burger_dash
            transform none