.CallmeLink
    white-space nowrap
    letter-spacing -0.014em
    @media $xs
        padding-top 3px
    &_num
        white-space nowrap
        @media $xs
            display none
    &_icoWrap
        font-size 0
        &:before
            content ''
            display inline-block
            width 17px
            height 17px
            background url(/img/phone.svg) no-repeat center
            background-size cover
            position relative
            top 3px
            margin-right 9px
            @media $xs
                width 100%
                height 100%
                top 0
        @media $xs
            width 17px
            height 17px
            display block
            float right
            margin-right 10px
            & > *
                display none !important
        @media $smPlus
            pointer-events none
            // margin-right 10px