.CardsList
	width 100%
	padding 0 30px
	margin 0 auto
	&-payment
		display: flex
		flex-flow row nowrap
		justify-content space-between
		align-items center
		padding-bottom 60px
		@media $xs
			padding-bottom 30px
		@media $smMinus
			flex-wrap wrap 
		@media $sm
			justify-content center
			padding-bottom 60px
		@media $xs
			display block
	&_cell-payment
		flex-basis 20.3%
		margin 20px 30px
		@media $xs
			width 100%
			flex-basis 100%
			height auto
			margin-right 0
			margin-left 0
		@media $smMinus
			flex-wrap wrap
			justify-content center
		@media $sm
			flex-basis 40%
		@media $md
			max-width 20.3%
	&-news
		display flex
		flex-wrap wrap
		flex-direction flex-start
		align-items stretch
		padding-bottom 40px
		@media $sm
			width 80%
			padding-left 0
			padding-right 0
		@media $xs
			display block
	&-maternal, &-instalments
		display: flex
		flex-flow row nowrap
		justify-content center
		padding-bottom 50px
		@media $xs
			width 100%
			flex-basis 100%
			height auto
			margin-right 0
			margin-left 0
		@media $sm
			width 80%
			padding-left 0
			padding-right 0
			justify-content space-between
		@media $xs
			display block
	&_cell-maternal, &_cell-instalments
		flex-basis 28%
		margin 0 30px
		@media $xs
			width 100%
			flex-basis 100%
			height auto
			margin-right 0
			margin-left 0
			margin-bottom 20px
		@media $sm
			flex-basis 45%
			margin 0 0
	&_cell-news
		display inline-block
		flex-basis 20.3%
		margin-top 50px
		@media $md
			max-width 20.3%
			&:not(:nth-child(4n))
				margin-right 6.2%
		@media $sm
			flex-basis 45.2%
			max-width 45.2%
			&:not(:nth-child(2n))
				margin-right 9.2%
		@media $xs
			flex-basis 100%
			width 100%
			display flex
			flex-flow column nowrap
	&-documents
		display: flex
		flex-flow row wrap
		justify-content flex-start
		padding-bottom 60px
	&_cell-documents
		flex-basis 46.5%
		margin-top 25px
		&:nth-child(odd)
			margin-left 7%
		@media $smMinus
			flex-basis 100%
			&:nth-child(odd)
				margin-left 0
	&_header-documents
		flex-basis 100%
		font-size 2rem
		font-weight bold
		padding-bottom 15px
		@media $sm
			padding-bottom 30px
	&_headerNumber
		color $orange
		font-weight bold