.CardsGroup1
    background-repeat no-repeat
    @media $xs
        padding 48px 30px 0
        background-size 100% auto
        background-image  url('/img/wavesbg-xs.svg')
    @media $sm
        padding 40px 15px 60px
        position relative
        justify-content center
        &:before
            content ''
            position absolute
            width 25%
            height 19.5vw
            background-image  url('/img/wavesbg.svg')
            background-size contain
            right 25%
            bottom 0px
            pointer-events none
    @media $smPlus
        display flex
        flex-wrap wrap
        background-size 25% auto
        background-image  url('/img/wavesbg.svg')
    @media $md
        padding 32px 0
        background-image url('/img/wavesbg.svg')
        background-size 25% auto
        
    &_item
        flex 1
        position relative
        @media $sm
            padding 0 15px
            max-width 50%
        @media $md
            padding 0 25px
            max-width 25%
        &-n1
            @media $xs
                padding-bottom 23px
            @media $sm
                width 100%
                min-width 100%
                padding-bottom 67px
            @media $md
                align-self center
                position relative
                top -44px
        &-n2,
        &-n3,
        &-n4
            @media $xs
                display none
        &-n2
            @media $md
                margin-top 44px
        &-n3
            @media $sm
                margin-top 94px
            @media $md
                margin-top 88px
        &-n4
            @media $md
                margin-top 0
    &_mobSwiperWrap
        @media $xs
            margin 0 -30px
            padding-bottom 68px
            padding-right 30px
            padding-left 30px
            &>.swiper-wrapper>.swiper-slide
                transition all 0.3s
                &-next,&-prev
                    filter opacity(0.4)
        @media $smPlus
            display none