.ChessFilterBar
    user-select none
    @media $xs
        margin-bottom 10px
        border-top 1px solid #f0f0f0
        position relative
        z-index 1200
        background #fff
        box-shadow 0 10px 25px 0 rgba(73, 74, 73, 0.1)
    @media $md
            position absolute
            right 0
            z-index 100
    &_inner
        display flex
        align-items center
        @media $xs
            height 64px
            justify-content center
        @media $smPlus
            padding 25px 35px 0 0
            justify-content flex-end
    &_btn
        width 34px
        height 34px
        text-align center
        margin 0 8px
        overflow hidden
        border-radius 50%
        background #E4E8EB
        font-size 12px
        font-weight bold
        letter-spacing 0.3px
        color #fff
        display flex
        justify-content center
        align-items center
        transition all 0.1s
        box-shadow none
        &-active&-v1
            background-color #84ddf8
            box-shadow 0 10px 25px 0 rgba(132, 221, 248, 0.45)
        &-active&-v2
            background-color #92a3fd
            box-shadow 0 10px 15px 0 rgba(147, 163, 252, 0.45)
        &-active&-v3
            background-color #ce97fe
            box-shadow 0 10px 25px 0 rgba(206, 151, 254, 0.45)
        &-active&-v4
            background-color #feac95
            box-shadow 0 10px 25px 0 rgba(254, 172, 149, 0.45)
        &-active&-v5
            background-color #fac43d
            box-shadow 0 10px 25px 0 rgba(233, 184, 60, 0.45)
    &_title
        white-space nowrap
        font-size 12px
        letter-spacing 0.1px
        text-align right
        @media $xs
            display none
    &_inp
        border: 0
        clip: rect(0 0 0 0)
        height: 1px
        margin: -1px
        overflow: hidden
        padding: 0
        position: absolute
        width: 1px
        pointer-events none