.ChessSchemeSection
    min-height 100%
    position relative
    background-image linear-gradient(to bottom, #eef3f6, #fffefe)
    position relative
    display flex
    flex-direction column
    &:after
        content ''
        width 100%
        height 69px
        position absolute
        pointer-events none
        left 0
        bottom 0
        z-index 10
        background-repeat repeat-x
        background-position center bottom
        background-image url('/img/forest_md.svg');
        @media $sm
            background-image url('/img/forest_sm.svg');
