.Chess
    padding-right 64px
    padding-left 64px
    line-height 1
    font-size normal
    margin 0 auto
    box-sizing border-box
    user-select none
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &_roof
        display block
        height 70px
        background-size contain
        background-repeat no-repeat
        background-position center bottom
        pointer-events none
        for $num in 2 3 4 5 6
            &-spanto{$num}
                background-image url('/img/roof_' + $num + '.svg')
            // TODO: create special roof svg for 7 flats floors
            &-spanto7
                background-image url('/img/roof_6.svg')
    &_inner
        padding 12px 0
        position relative
        background-image linear-gradient(to top, #7dcac4 0, #86c98d 196px, #d9e3d7 197px)
    &_row
        position relative
        padding 0 12px
        background #DAE2D7
        &-lowFloor
            background none
        &:after
            content ""
            display table
            clear both
        &-footer
            background none
    &_rowNum
        position absolute
        top 50%
        height 12px
        line-height 12px
        margin-top -5px
        min-width 14px
        left -22px
        text-align center
        font-size 12px
        color #d0d5da
        display block
        pointer-events none
    &_row:hover > &_rowNum
        color #4a5565
    &_cell
        float left
        margin 4px
        position relative
        width 16px
        height 16px
        padding 2px
        background-color #91989A
        &-footer
            pointer-events none
            height 40px
        &-onLowFloor
            background-color #465959
    &_flatlink
        display block
        height 12px
        visibility hidden
        &-active
            visibility visible
        &-rooms0
            background-color #84ddf8
        &-rooms1
            background-color #91a3fe
        &-rooms2
            background-color #ce97fe
        &-rooms3
            background-color #feac95
        &-discount
            box-shadow 0 0 0 .25rem #fac43e
    &_title
        text-align center
        font-size 12px
        padding 7px 0
    &_buildingNumbers
        overflow visible
        position absolute
        left calc(100% + 10px)
        bottom 106px
        min-width 42px

    &_bldNumsItem
        float left
        position relative

        &-n1
            &:after
                content ''
                position absolute
                background-color #dee4e7
                width 100%
                height 1px
                background-color #dee4e7
                left 0
                bottom 2px


    &_bldNumVal
        position absolute
        text-align center
        font-size 7rem
        height 70px
        font-weight 700
        width 100%
        left 0
        line-height 74px
        letter-spacing 0.6px
        color #DFE5E7
        top 0
    &_bldNumLabel
        width 100%
        position relative
        z-index 1
        text-align center
        font-size 1.2rem
        height 100%
        height 70px
        line-height 70px

.SectionsSlider_slide
    &-active,
    &-next,
    &-prev
        & > .Chess > .Chess_inner > .Chess_row > .Chess_rowNum
            opacity 1
