.CmsEditorOutput
	& > ul, & > ol
		padding-top 15px
		padding-left 20px
		& > li
			list-style-type initial
			padding 3px 0
	& > p, & > table
		padding-top 15px
		line-height 24px
		strong
			font-weight 500
			font-size 1.6rem
	& > ol
		& > li
			list-style-type decimal
	& > p > img, & > a > img
		margin-top 15px
	& > hr
		margin-top 15px
		margin-bottom 0