.Content-galleryFull
	.galleryWrapper
		@media $sm
			height calc(129vh - 64px - 89px)
	.GalleryShow_resize .GalleryShow_resizeFull
		display none
	.GalleryShow_resizeNormal
		display block
	.GallerySidebar
		@media $md
			transform translate3d(-100%, 0, 0)
	.GalleryShow
		@media $md
			width 100%