.Countdown
    position absolute
    z-index 1000
    &-topLeft
        top 100px
        left 35px
    &_title
        color #fdcb50
        font-size 12px
        font-weight 700
        letter-spacing 0.1em
        padding-bottom 12px
        text-align center
    &_clock
        display flex
        padding-bottom 9px
    &_clockItem
        margin-left 6px
        text-align center
        height 40px
        &:first-child
            margin-left 0
    &_digitsPair
        width 72px
        height 100%
        position relative
        overflow hidden
        display flex
        justify-content space-between
    &_digit
        width 35px
        height 100%
        border-radius 2px
        background white url("/img/countdown_digit_bg.svg") center
        background-size 100% 100%
        color #5b6573
        font-size 30px
        font-weight 700
        text-align center
        line-height 40px
    &_itemLabel
        color #fff
        font-size 10px
        font-weight 700
        padding-top 9px
        
#homepageCoundown
    @media $xs
        top 174px
        transform scale(0.7)
        transform-origin top right
        left auto
        right 20px