.CustomCheckbox
    user-select none
    &_input
        display none
    &_view
        border-radius 50%
        border solid 3px #3b4145
        width 40px
        height 40px
        overflow hidden
        display block
        font-size 12px
        font-weight 700
        line-height 36px
        letter-spacing 0.2px
        text-align center
        color #ffffff
    &_input:checked + &_view
        box-shadow 0 2px 4px 0 rgba(85, 138, 118, 0.31)
        border-color #7dcac5
    &_view:hover
        @media $md
            border-color #fabf2e
    &._wide
        & .CustomCheckbox_view
            width 100px
            border-radius 40px

/*  &_input:not(:checked).error+&_view
        border-color: #d07b7b*/
