.DateFilter
	width 145px
	&-news
		margin-left auto
		margin-right auto
		margin-top 30px
		position relative
		z-index 12
		display flex
		flex-flow row nowrap
		justify-content space-between
		align-items center
		@media $xs
			margin-left 20px
			width 105px
			margin-top 17px
			position relative
	&_currentMonth
		font-size 1.5rem
		font-weight 500
		letter-spacing 0.3px
		color white
		position relative
		text-align center
		text-transform uppercase
		order 3
		&:before
			content ''
			display block
			width 100%
			height 3px
			position absolute
			left 0
			bottom -10px
			background #86D2A3
			border-radius 10px
		&:hover + .DateFilter_monthList
			opacity 1
			visibility visible
		@media $xs
			font-size 1rem
	&_divider
		width 1px
		height 12px
		background rgba(255,255,255,1)
		order 2
	&_currentYear
		font-size 1.5rem
		font-weight 500
		letter-spacing 0.3px
		color white
		position relative
		text-align center
		order 1
		&:before
			content ''
			display block
			width 100%
			height 3px
			position absolute
			left 0
			bottom -10px
			background #86D2A3
			border-radius 10px
		&:hover + .DateFilter_yearList
			opacity 1
			visibility visible
		@media $xs
			font-size 1rem
	&_monthList
		width 92px
		height auto
		opacity 1
		border-radius 3px
		background #ffffff
		box-shadow 0 27px 32px 0 rgba(36, 40, 46, 0.14)
		padding-top 10px
		padding-bottom 10px
		position absolute
		right -8px
		top -14px
		opacity 0
		visibility hidden
		transition all .3s ease
		z-index 10
		&:hover
			visibility visible
			opacity 1
	&_yearList
		width 72px
		height auto
		opacity 1
		border-radius 3px
		background #ffffff
		box-shadow 0 27px 32px 0 rgba(36, 40, 46, 0.14)
		padding-top 10px
		padding-bottom 10px
		position absolute
		left -21px
		top -15px
		opacity 0
		visibility hidden
		transition all .3s ease
		z-index 10
		&:hover
			visibility visible
			opacity 1
	&_yearItem
		font-weight 600
		text-align center
		letter-spacing 0.4px
		line-height 25px
		color #B9B9B9
		transition color .3s ease
		&:hover
			color #4b5666
	&_yearItem-active
		color #4b5666
	&_monthItem
		font-weight 600
		text-align center
		letter-spacing 0.4px
		line-height 25px
		color #B9B9B9
		transition color .3s ease
		&:hover
			color #4b5666
	&_monthItem-active
		color #4b5666