.DocumentCard
    height 115px
    border-radius 2px
    background white
    box-shadow: 0 32px 47px rgba(0,0,0,0.08)
    display flex
    flex-flow column wrap
    align-items space-between
    justify-content center
    padding 25px 25px
    background: url(/img/pages/documents/gradient_docs.jpg) no-repeat right, white
    background-size contain
    transition transform .2s ease, box-shadow .2s ease
    &:hover
        transform scale(.95)
        box-shadow 0 4px 8px rgba(0,0,0,.05)
    @media $xs
        height auto
        background-size auto 100%
        padding 15px 15px
        align-items flex-start
    &_header
        font-size 1.6rem
        font-weight 500
        color #4a5565
        flex-basis 50%
        @media $xs
            font-size 1.4rem
        @media $sm
            max-width 60vw
        @media $md
            max-width 420px
    &_info
        display: flex
        flex-flow row wrap
        justify-content flex-start
        align-items flex-end
        flex-basis 50%
    &_time
        font-size 1.2rem
        color #4a5565
        margin-right 15px
        position relative
        @media $xs
            position relative
            top 36px
        &:before
            content ''
            display block
            height 100%
            width 1px
            background rgba(0,0,0,.2)
            position absolute
            right -8px
            top 0
    &_date
        font-size 1.2rem
        color #4a5565
        margin-right 15px
        @media $xs
            position relative
            top 36px
    &_company
        font-size 1.2rem
        color #4a5565
        margin-right 15px
        @media $xs
            order 3
            flex-basis 100%
            position relative
            top 50px
    &_changes
        font-size 1.2rem
        color #7ecbc1
        display: flex
        flex-flow row nowrap
        justify-content flex-start
        align-items center
        @media $xs
            order 4
            flex-basis 100%
            position relative
            top 62px
    &_changesText
        margin-left 5px
        position relative
        cursor pointer
    &_changes:hover &_tooltipText
        opacity 1 !important
    &_tooltipText
        background linear-gradient(106deg, #86c98b, #7dcac5)
        box-shadow 0 14px 32px 0 rgba(19, 33, 36, 0.05), 0 14px 32px 0 rgba(51, 76, 86, 0.05)
        position absolute
        left 50%
        top 0
        transform translate(-74%,calc(-100% - 12px))
        color white
        padding 18px 15px 18px 15px
        font-size 13px
        width 180px
        pointer-events none
        opacity 0
        transition opacity .3s ease
        @media $xs
            transform translate(-52%, calc(-100% - 12px))
        &:before
            content ''
            display block
            border 5px solid transparent
            border-top-color #80C9AB
            position absolute
            bottom -9px
            left 50%
            transform translateX(-50%)
    &_documents
        align-self flex-end
        display flex
        flex-flow row nowrap
        justify-content flex-start
        align-items center
        flex-basis 100%
        @media $xs
            position relative
            top -5px
    &_doc
        position relative
        &:before
            content ''
            display block
            position absolute
            width 80%
            height 55%
            background transparent
            top 10px
            left 2px
            box-shadow: 0 5px 15px rgba(0,0,0,.25)
            z-index 10
    &_docIcon
        z-index 11
        position relative
    &_docLink:last-of-type
        margin-left 20px
    &_docSize
        font-size 1rem
        text-align center
        padding-top 5px