.DotsPager
    display flex
    align-items center
    @media $smMinus
        justify-content center
    // &-n1
    //     @media $md
    //         padding-top 35px
    &_dot,&_arrow
        margin 0 9px
    &_dot
        width 2px
        height 2px
        background-color #4a5565
        border-radius 50%
        @media $xs
            display none
    &_arrow
        @media $md
            &:hover
                color #82cfb4
        &-disabled
            opacity 0.4
            pointer-events none
        &-left
            transform scaleX(-1) translateY(-1px)
            margin-left 0
        &-right
            transform  translateY(-1px)
            margin-right 0
    &_activeDot
        font-weight bold
        letter-spacing 0.1px
        
        text-align center
        @media $xs
            font-size 12px
            min-width 15px
        @media $smPlus
            font-size 14px
            min-width 17px
    &_dotsWrap
        display flex
        align-items center
        width auto