.FeedbackForm
    padding-bottom 68px
    &_controlsWrap
        display flex
        flex-wrap nowrap
        max-width 810px
        margin 0 auto
        justify-content space-between
    &_control
        max-width 150px
        width 150px
        height 50px
    &_inp, &_btn
        display block
        width 100%
    &_inp
        height 100%
        background none
        border none
        border-bottom 1px solid #5F6164
        color #fff
        font-size 1.2rem
        font-style italic
        letter-spacing 0.6px
        &:placeholder
            color #5F6164
        &:focus
            border-color #fabf2e
        &.error
            border-color #d0021b
        &:-webkit-autofill
            -webkit-box-shadow: inset 0 0 0 50px #1b1e22 !important; /* Цвет фона при автозаполнии в хроме */
            -webkit-text-fill-color: #fff !important; /* цвет текста */
            color: #fff !important; /* цвет текста */
    &_btn
        box-shadow 0 17px 21px 0 rgba(0, 0, 0, 0.59)
    &_title
        font-size 1.4rem
        letter-spacing 0.6px
        text-align center
        color #ffffff
        padding-bottom 38px