.Filterstopbar
    border-radius 2px
    background-color #ffffff
    box-shadow 0 12px 32px 0 rgba(0, 0, 0, 0.1)
    user-select none
    position relative
    z-index 10
    @media $md
        padding-left 10px
    &_inner
        display flex
        justify-content space-between
        align-items center
        height 38px
    &_item
        font-size 1.2rem
        font-weight 500
        &-n1
            min-width 86px
        &-n3,&-n4,&-n5,&-n6,&-n7
            padding 0 15px
        &-n2
            flex 1
            visibility hidden!important
        &-n6
            flex 1
        .fs-wrap
            float left
        .fs-dropdown
            margin-top 12px
        &-link
            background linear-gradient(101deg, #86c98b, #7dcac5)
            border-radius 2px
            border-top-left-radius 0
            border-bottom-left-radius 0
            font-size 1.2rem
            color white
            width 194px
            height 100%
            display flex
            flex-flow row nowrap
            justify-content center
            align-items center
    &_linkIcon
        margin-left 10px
    &_link
        white-space nowrap
        & > .SvgIco
            vertical-align top
            margin-left 7px
            position relative
            &-star
                top -2px
        &-leftIco
            & > .SvgIco
                margin-right 7px
                margin-left 0
    &_mobileButtons
        @media $smPlus
            display none