.FiltersOpts
	background-color #2c2f32
	@media $xs
		width 100%
		height 100%
		max-height 100%
		overflow auto
	@media $smPlus
		width 100%
		min-height 644px
		box-shadow 0 12px 32px 0 rgba(0, 0, 0, 0.1)
	@media $md
		border-radius 2px
	&_mobTopbar
		border-bottom 1px solid #484c50
		font-size 12px
		font-weight 500
		width 100%
		display flex
		justify-content space-between
		@media $smPlus
			display none
	&_mobTopBtn
		display flex
		height 38px
		justify-content center
		align-items center
		padding 0 15px
		background none
		border none
		color #f5f5f5
	&_mobTopBtnTxt
		display block
		margin-top 2px
		margin-left 6px
	&_showFilterSidePanelBtn
		@media $xs
			display none
		@media $sm
			position absolute
			top 0
			bottom 0
			right 100%
			width 62px
			border-top-left-radius 2px
			border-bottom-left-radius 2px
			background-color #2c2f32
			display flex
			flex-direction column
			justify-content space-between
			border-right 1px solid #484c50
			cursor pointer
			trasition all 0.3
		@media $md
			display none
	&_tabletHideFilterBtn
		@media $xs
			display none
		@media $sm
			height 51px
			background none
			border none
			border-top 1px solid #484c50
			display block
			width 100%
			letter-spacing 0.3px
			color #ffffff
			font-size 1.4rem
		@media $md
			display none
		&>.SvgIco-arrowShort
			transform rotate(180deg)
			color #7dcac5
			margin-left 6px
	&_tabletShowBtn
		text-align center
		font-size 12px
		color #f5f5f5
		font-weight 500
		&>.SvgIco-filter,&>.SvgIco-arrowShort
			color #7dcac5
		&-n1
			padding-top 25px
			&>.SvgIco-filter
				margin-bottom 8px
		&-n2
			padding 24px 0
			border-top 1px solid #484c50
	&_inner
		background-color #2c2f32
		min-height 100%
		display flex
		flex-direction column
		justify-content space-between
		align-items center
	&_form
		width 220px
		@media $xs
			padding-top 25px
		@media $sm
			padding-top 45px
		@media $md
			padding-top 35px
	&_item
		padding-bottom 34px
	&_form-disabled,
	&_item-disabled
		user-select none
		pointer-events none
		opacity 0.5
		filter grayscale(100%)
	&_label,&_resetBtn
		font-size 1.4rem
		font-weight 700
		letter-spacing 0.3px
		color #fff
		padding-bottom 8px
	&_checkboxesRow
		/*display flex
		flex-wrap wrap
		align-items center*/
		display grid
		grid-template-columns repeat(4, 1fr)
		grid-column-gap 20px
		grid-row-gap 10px
		/*&>.CustomCheckbox
			margin-left 20px
			&:first-child
				margin-left 0
			&:nth-child(5n)
				margin-top 10px
				margin-left 0
			&:nth-child(6n)
				margin-top 10px
			&:nth-child(7n)
				margin-top 10px*/
		&-justify
			justify-content space-between
			&>.CustomCheckbox
				margin-left 0
	&_resetBtn
		display block
		padding 0
		border none
		background none
		& > .SvgIco-refresh
			color #7dcac5
			margin-left 5px

.FiltersOpts_showFilterSidePanelBtn
	visibility visible
	filter opacity(1)
	transition all 0.3s
.FiltersSection_rightCol-active .FiltersOpts_showFilterSidePanelBtn
	visibility hidden
	filter opacity(0)