.FiltersMobBar
    display flex
    flex-wrap wrap
    @media $smPlus
        display none
    &_btn
        width 50%
        max-width 50%
        display flex
        align-items center
        justify-content center
        height 38px
        color #f5f5f5
        font-size 1.2rem
        font-weight 500
        background-color #2c2f32
        border none
        padding 0
        &>.SvgIco
            color #7dcac5
        &-fav
            color #fff
            flex-basis 50%
            &>.SvgIco-star
                position relative
                color #fff
                top -1px
            &._commercial
                max-width 100%
                width 100%
                flex-basis 100%
        &-filter
            flex-basis 50%
        &-genplan
            max-width unset
            width 100%
            flex-basis 100%
            background-image linear-gradient(103deg, #86c98b, #7dcac5)
    &_genplanText
        padding-left 10px
        padding-top 4px
        font-weight normal
    &_txt
        display block
        padding-left 6px
