.FiltersSection
    display flex
    width 100%
    position relative
    background #FAFAFA
    @media $smMinus
        overflow hidden
    @media $smPlus
        padding 24px 16px
    @media $md
        min-height 880px

    &_leftCol
        flex 1
        @media $sm
            padding-right 72px
        @media $md
            padding-right 326px
        &-fullWidth
            padding-right 0
    &_rightCol
        transition transform .3s
        background-color #2c2f32
        z-index 10
        @media $xs
            position fixed
            top -248px
            left 0
            width 100%
            bottom -248px
            z-index 1100
            padding 248px 0
            transform translateX(100%)
        @media $sm
            position fixed
            right 18px
            transform translateX(330px)
        @media $smPlus
            width 310px
        @media $md
            right 16px
            position absolute
            &.compensate-for-scrollbar
                margin-right 0
        &-active
            @media $xs
                transform translateX(0%)
            @media $sm
                transform translateX(0%)
    &_compass
        @extends .BeforeAfterSlider_overlayArea
        @extends .BeforeAfterSlider_overlayArea-compass
    &_staticPicWrap
        background #e1e9e4
        flex 1
        position relative
    &_staticPic
        display block
        max-width 100%
        margin 0 auto
        @media $sm
            max-height 460px
        @media $md
            max-height 50vh
            min-height 582px
            
    &_resultsList
        display flex
        justify-content space-between
        flex-wrap wrap
        @media $xs
            padding 15px
        @media $smPlus
            padding-top 25px
        &:empty:after
            font-size 1.6em
            font-weight 500
            content 'Нет квартир по вашим параметрам.'
            min-height 400px
            padding 100px
        &:after
            @media $md
                content ""
                width calc(33.3333% - 16px)
    &_flatTypeContainer
        @media $xs
            padding 0 15px 15px
        @media $smPlus
            padding-top 25px
            //padding-bottom 25px
        @media $md
            display flex
        
    &_preloadSpace
        min-height calc(100vh - 400px)
        position relative
        width 100%

&._commercial
    min-height 0