.FirmModal
    max-width 510px
    overflow hidden
    border-radius 2px
    &_top
        text-align center
        background-color rgb(245, 245, 245)
        @media $xs
            padding 32px 63px
        @media $smPlus
            padding 70px 70px 30px
        
    &_logo
        display block
        width 100%
        @media $xs
            max-height 85px
            margin 0  auto 23px
        @media $smPlus
            max-height 138px
            margin 0  auto 38px
    &_link
        color #4a5565
        display inline-block
        position relative
        font-size 1.6rem
        font-weight 500
        letter-spacing 1px
        padding-bottom 7px
        &:after
            content ''
            position absolute
            bottom 0
            left 0px
            width 100%
            height 3px
            border-radius 3px
            background-image linear-gradient(92deg, #86c98b, #7dcac5)
            box-shadow 0 2px 4px 0 rgba(85, 138, 111, 0.31)
    &_content
        @media $xs
            padding 20px 20px 16px
        @media $smPlus
            padding 40px 40px 30px
    &_title
        letter-spacing 0.1px
        color #4a5565
        font-weight 500
        border-bottom 1px solid #EBEBEB
        letter-spacing 0.1px
        @media $xs
            font-size 1.4rem
            line-height 2.0
            margin-bottom 20px
            padding-bottom 20px
         @media $smPlus
            font-size 2.2rem
            line-height 1.27
            margin-bottom 25px
            padding-bottom 25px
            
        @media $smPlus
            font-size 2.2rem
            line-height 1.27
    &_desc
        color #4a5565
        letter-spacing 0.1px
        @media $xs
            font-size 1.2rem
            line-height 2.0
        @media $smPlus
            font-size 1.4rem
            line-height 1.71
        & > p,
        & > ul
            margin-bottom 1em