.FirmCard
    border-radius 2px
    position relative
    display block
    overflow hidden
    @media $xs
        background #ffffff url('/img/pages/partners/cardpattern-xs.svg') right top no-repeat
        background-size  auto 100%
        box-shadow 0 24px 32px 0 rgba(19, 33, 36, 0.05), 0 24px 32px 0 rgba(51, 76, 86, 0.05)
        padding 5px 0
        &:after,&:before
            cardsBorder()
            content ''
            position absolute
            left 0px
        &:before
            top 0
        &:after
            bottom 0
    @media $smPlus
        background #ffffff url('/img/pages/partners/cardpattern.svg') right top no-repeat
        background-size contain
        box-shadow 0 24px 32px 0 #1321240c, 0 24px 32px 0 #334c560c
    &_inner
        display flex
        justify-content space-between
        @media $xs
            flex-wrap wrap
            padding 25px 15px 28px 15px
        @media $smPlus
            padding 26px 36px 26px 26px
            min-height 100%
    &_descWrap
        padding-right 30px
        @media $xs
            width 100%
            min-width 100%
    &_title
        font-weight 500
        @media $xs
            font-size 1.4rem
            padding-bottom 10px
        @media $smPlus
            font-size 1.6rem
            padding-bottom 11px
    &_text
        font-size 1.2rem
        line-height 1.33
        letter-spacing -0.3px
    &_logoWrap
        @media $xs
            width 100%
            min-width 100%
            order -10
            padding-bottom 20px
        @media $smPlus
            align-self center
    &_logo
        max-width unset
        
        @media $xs
            height 30px
            width auto
        // @media $smPlus
        //     min-height 50px