.FlatTeaser
    display flex
    background #fff
    @media $xs
        margin-bottom 15px
        box-shadow 0 7px 20px 0 rgba(0, 0, 0, 0.05)
    @media $sm
        box-shadow 0 12px 32px 0 rgba(0, 0, 0, 0.1)
        border-radius 2px
    @media $smPlus
        margin-bottom 20px
    @media $md
        box-shadow 0 4px 6px 0 rgba(0, 0, 0, 0.04)
        border-radius 2px
        transition all .2s
        &:hover
            transform scale(0.98)
    &_inner
        @media $xs
            display table
            table-layout fixed
            width calc(100% - 42px)
        @media $smPlus
            display flex
            flex 1
    &_controlsWrap
        display flex
        @media $xs
            flex-direction column
            border-left 1px solid #f2f2f2
        @media $smPlus
            align-items center
    &_controlItem
        color #ebebec
        @media $xs
            width 40px
            flex 1
            display flex
            align-items center
            justify-content center
            border-top 1px solid #f2f2f2
            &:first-child
                border none
        @media $sm
            padding-right 24px
        @media $md
            padding-right 48px
        &-active
            color #7dcac5
        &-highlight
                color #fcc642
    
    &_detailsGroup
        @media $xs
            display table-row
        @media $smPlus
            display flex
        &-n1
            @media $smPlus
                width 62%
        &-n2
            @media $smPlus
                width 38%
                padding-left 20px
                
    &_detailsGroup-n1 > &_detail
        @media $xs
            border-bottom 1px solid #f2f2f2
        
    &_detail
        @media $xs
            display table-cell
            padding 14px 14px 14px 0
        @media $smPlus
            padding 19px 6px 19px 0
        &-n1, &-n4
            @media $xs
                padding-left 25px
                width 40%
        &-n1
            @media $smPlus
                padding-left 25px
                width 35%
            @media $md
                padding-left 39px
        &-n2
            @media $xs
                width 22%
            @media $smPlus
                width 20%
        &-n3
            @media $xs
                width 38%
            @media $smPlus
                width 45%
        &-n4
            @media $smPlus
                width 50%
        &-n5
            @media $smPlus
                width 50%
        &-n6
            @media $smPlus
                display none
                
    &_lbl
        padding-bottom 8px
        @media $smMinus
            font-size 1rem
            letter-spacing 0.2px
        @media $md
            font-size 1.2rem
            letter-spacing 0.3px
    &_prices  &_lbl
        color #90835A
            
    &_val
        white-space nowrap
        width: 100%
        text-overflow ellipsis
        overflow hidden
        letter-spacing 0.3px
        font-weight 500
        @media $xs
            font-size 1.3rem
            &-highlight
                color #fcc642
        @media $sm
            font-size 1.4rem
        @media $md
            font-size 1.6rem
    &_pricesWrap
        @media $xs
            display none
        @media $sm
            min-width 118px
        @media $md
            min-width 170px
        
    &_prices
        color #fff
        min-height 100%
        background-image linear-gradient(122deg, #86c98b, #7dcac5)
        @media $sm
            padding 19px 21px 19px 17px
        @media $md
            padding 19px 37px 19px 44px
            
            
        &-highlight
            background-image linear-gradient(122deg, #ffd46c, #fabf2e)
            @media $sm
                padding-top 12px
                padding-bottom 12px
            @media $md
                padding-top 10px
                padding-bottom 10px
    &_price
        display block
        white-space nowrap
        @media $md
            font-size 1.6rem
            color #90835A
            @media $smPlus
                padding-bottom 2px
                margin-top -2px
        &-old
            @media $smPlus
                font-size 14px
                position relative
                top 3px
                color #90835a
        &-new
            color #4A5565
            @media $md
                font-weight 500