.FlatTypeDescr
    display flex
    flex-direction column
    background #fff
    border-radius 2px
    box-shadow 0 7px 20px 0 rgba(0, 0, 0, .05)
    position relative
    @media $xs
        padding 25px
        margin-top -38px
    @media $smPlus
        padding 35px 35px 30px
    @media $md
        max-width 420px
        width 420px
        padding 43px 60px
    &-woLift
        @media $xs
            margin-top 0
    &_preHead
        letter-spacing .3px
        padding-bottom 2px
        @media $xs
            font-size 1.4rem
        @media $smPlus
            font-size 1.8rem
            
    &_head
        font-weight bold
        color #85d2a8
        padding-bottom 10px
        @media $xs
            font-size 2.2rem
        @media $smPlus
            font-size 3.2rem
    &_star
        color #ebebec
        position relative
        top -2px
        left 8px
        &-active
            color #85d2a8
        &:hover
            color #fcc642
    &_tblrow-available &_tblcell
        padding 0
    &_tblrow-available &_furnishLink
        display inline-block
        padding 13px 0
        position relative
        &:before
            content ''
            display block
            position absolute
            bottom 0
            left 0
            width 100%
            height 3px
            background linear-gradient(to right, #86c98b, #7dcac5)
            transition opacity .3s ease
            opacity 1
            z-index 10
            box-shadow 0 4px 6px 0 rgba(0, 0, 0, .04)
        &:after
            content ''
            display block
            position absolute
            bottom 0
            left 0
            width 100%
            height 3px
            background linear-gradient(122deg, #ffd46c, #fabf2e)
            transition all .3s ease
            z-index 9
            box-shadow 0 4px 6px 0 rgba(0, 0, 0, .04)
    &_tblrow-available:hover &_furnishLink:before
        opacity 0
    &_tbl
        width 100%
        @media $xs
            margin-bottom 16px
        @media $smPlus
            margin-bottom 25px
    &_tblcell
        vertical-align middle
        border-bottom 1px solid #f2f2f2
        @media $xs
            padding 10px 0
        @media $smPlus
            padding 12px 0
        &-title
            text-align left
            font-weight 400
            @media $xs
                font-size 1rem
                line-height 1.4
                letter-spacing .1px
            @media $smPlus
                font-size 1.2rem
                line-height 1.33
                letter-spacing .2px
        &-val
            text-align right
            font-weight 500
            letter-spacing .2px
            @media $xs
                font-size 12px
                line-height 1.17
            @media $smPlus
                font-size 14px
                line-height 1.14
                
    &_text
        font-weight 400
        font-style italic
        font-stretch normal
        border-bottom 1px solid #f2f2f2
        @media $xs
            font-size 1rem
            line-height 1.4
            letter-spacing .3px
            padding-bottom 13px
        @media $smPlus
            font-size 1.2rem
            line-height 1.5
            letter-spacing .2px
            padding-bottom 14px
    &_warningText
        color #e95518
    &_prices
        display table
        table-layout fixed
        width 100%
        @media $smPlus
            font-size 1.8rem
    &_priceFrom,
    &_priceTo
        display table-cell
        font-weight 700
        @media $xs
            padding 20px 0
        @media $smPlus
            padding 22px 0
    &_priceTo
        text-align right