.FlatsMinilist
    @media $xs
        padding 0 15px 25px 15px
        margin-bottom 15px
    @media $sm
        padding 0 0 25px
        margin-bottom 15px
    &_head
        border-radius 2px
        background-color #ffffff
        box-shadow 0 7px 20px 0 rgba(0, 0, 0, 0.05)
        letter-spacing 0.3px
        @media $xs
            padding 18px 19px
            margin-bottom 15px
            text-align center
        @media $sm
            font-size 1.8rem
            padding 26px 32px
            margin-bottom 25px
        @media $md
            font-size 2.4rem
            padding 18px 32px
            margin-bottom 25px
    &_listWrap
        &:empty&:before
            content "Нет квартир по Вашим параметрам..."
            padding 30px
            font-size 1.2em
            font-weight 500
            min-height 200px
            display block