.FlatParams
    box-shadow 0 25px 32px 0 rgba(0, 0, 0, 0.15)
    width 215px
    &_head
        font-size 16px
        font-weight bold
        letter-spacing 0.1px
        color #ffffff
        padding 18px 20px
        display flex
        justify-content space-between
        background #999
        &-v0
            background #84ddf8
        &-v1
            background #91a3fe
        &-v2
            background #ce96ff
        &-v3
            background #ffac94
         &-discount
            background linear-gradient(103deg, #ffd46c, #fabf2e)
    &_list
        background #fff
        padding 0 22px
        clearfix()
    &_dt,
    &_dd
        float left
        width 50%
        border-bottom 1px solid #f2f2f2
        height 50px
        line-height 50px
        overflow hidden
    &_dt
        font-size 1.2rem
        font-weight 500
    &_dd
        font-size 1.4rem
        font-weight 700
        letter-spacing 0.1px
        text-align right
        &-del
            text-decoration line-through
            color #ADB3B9