.Footer
	background-color #1b1e22
	flex-shrink 0
	color #5F6164
	@media $xs
		padding 20px 20px 12px
	@media $sm
		padding 25px 30px
	@media $md
		padding 62px 35px 20px
	&_formWrap
		color #fff
		@media $smMinus
			display none
	&_copyright
		@media $xs
			font-size 1rem
		@media $smPlus
			font-size 1.2rem
	&_disclaimer
		padding 0 30px
		text-align center
		& > a
			text-decoration underline
			&:hover
				text-decoration none
		@media $xs
			font-size 0.8rem
		@media $smPlus
			font-size 1rem
	&_copyrightWrap
		display flex
		justify-content space-between
		flex-wrap wrap
		align-items center
		position relative
	&_socicons
		text-align center
		@media $xs
			width 100%
			order -1
			padding-bottom 13px
	&_developerLinkWrap,&_copyright
		@media $xs
			flex-shrink 0
	&_developerLinkWrap,&_copyright,&_socicons
		@media $smPlus
			flex 1
	&_developerLinkWrap
		text-align right
		min-height 18px
	&_developerLink
		position absolute
		left 0
		top 55px
		z-index 1
		@media $smMinus
			top 69px
		@media $xs
			top 73px
		&:hover
			color #477795
	&_socLink
		display inline-block
		margin 0 13px
		&:hover
			color #fff
	&_hr
		border-color #27292D
		@media $xs
			margin 13px -20px
		@media $sm
			margin 25px -30px
		@media $md
			margin 20px -35px