.FormSuccess
    min-height 170px
    display flex
    align-items center
    justify-content center
    text-align center
    font-weight 600
    font-size 1.2em
    padding 20px
    

.FormPopup>.FormSuccess
    min-height 150px