.FormModal
    color #4a5565
    max-width 402px
    @media $xs
        padding 25px 25px 30px
    @media $smPlus
        padding 40px 45px
    &_title
        font-weight 500
        text-align center
        @media $xs
            font-size 1.4rem
            line-height 1.71
            letter-spacing 0
            padding-bottom 10px
        @media $smPlus
            font-size 2.2rem
            line-height 1.09
            letter-spacing 0.1px
            padding-bottom 19px
    &_desc
        font-size 1.2rem
        line-height 1.5
        text-align center
        @media $xs
            padding-bottom 19px
        @media $smPlus
            padding-bottom 34px
    &_row
        @media $xs
            margin-bottom 20px
        @media $smPlus
            margin-bottom 24px
        &-btn
            @media $xs
                margin-bottom 15px
                padding-top 5px
            @media $smPlus
                padding-top 11px
    &_lbl
        display block
    &_lblText
        display block
        font-size 1rem
        letter-spacing 0.1px
        padding-bottom 7px
    &_redStar
        color #d0021b
        font-size 1em
    &_inp
        display block
        border-radius 2px
        border-style solid
        border-width 2px
        border-image  linear-gradient(99deg, #86c98b, #7dcac5)
        border-image-slice 1
        width 100%
        padding 0 16px
        font-weight 500
        @media $xs
            height 40px
            line-height 40px
        @media $smPlus
            height 45px
            line-height 45px
        &:focus
            border-image linear-gradient(99deg, #ffd46c, #fabf2e)
            border-image-slice 1
        &.error
            border-color #d0021b
            border-image none
    &_submitBtn
        margin-bottom 15px
    &_hint
        font-size 1.2rem
        letter-spacing 0.1px