.FormPopup
    width 402px
    border-radius 2px
    border-top-right-radius 0px
    @media $xs
        width 100%
    &#FormPopup
        padding 40px 40px
    &_header
        font-size 22px
        line-height 1.09
        font-weight 500
        font-family 'Gilroy'
        text-align center
        padding-bottom 62px
    &_label
        font-size 10px
        display block
        padding-bottom 8px
    &_input
        display block
        font-weight 600
        width 100%
        height 45px
        padding 0 16px
        border solid 2px #f2f2f2
        margin-bottom 35px
        &:focus
            border-image linear-gradient(99deg, #ffd46c, #fabf2e)
            border-image-slice 1
        &.error
            border-color #d0021b
            border-image none
    &_inputSubmit
        width 100%