.GallerySidebar
	width 25%
	height 100%
	position absolute
	left 0
	top 0
	background #1B1E22
	transition transform .3s ease
	@media $xs
		position relative
		width 100%
		margin-top calc(92vh - 55px)
	@media $sm
		position relative
		width 100%
		height 25%
		display flex
		flex-flow row nowrap
		border-top 6px solid #3A4047 !important
	&_item
		border-right 3px solid #1B1E22
		overflow hidden
		position relative
		&:not(:last-of-type)
			@media $md
				border-bottom 3px solid #1B1E22
		@media $sm
			flex-basis 33.33333%
			position relative
			min-width 285px
			height 100%
			border-top 0
			border-bottom 0
			&:not(:first-of-type), &:not(:last-of-type)
				border-left 2px solid #1B1E22
				border-right 2px solid #1B1E22
	&_item-big
		@media $xs
			display none
			border none !important
	&_item-expanded
		display block
	&_item-small
		height 83px
		display flex
		flex-flow row nowrap
		@media $xs
			display none
		@media $sm
			display inline-flex
			flex-flow column nowrap
			justify-content space-between
			height 100%
	&_item-expanded &_mask
		background rgba(0,0,0,0)
	&_item-playing &_playIcon
		visibility hidden
		opacity 0
	&_item-playing &_pauseIcon
		visibility visible
		opacity 1
	&_item-expanded &_order:after
		opacity 0
	&_item-big&_item-expanded &_info
		@media $sm
			height 100%
		@media $md
			height 175px
	&_item-expanded&_item-empty &_info
		height 60px
		@media $xs
			padding 0 0
			height 0
	&_item-expanded &_img:before
		opacity 0 !important
	&_item-expanded &_textWrapper
		@media $sm
			overflow-y scroll
	&_item-second
		@media $sm
			border-right 5px solid #1B1E22 !important
			border-left 5px solid #1B1E22 !important
	&_item-big &_img
		position relative
		width 100%
		padding-top 60%
		cursor pointer
		&:before
			content ''
			display block
			height 100%
			width 100%
			position absolute
			left 0
			top 0
			background black
			opacity .6
			transition opacity .3s ease
		@media $xs
			display none
		@media $sm
			padding-top 0
			position absolute
			left 0
			top 0
			width 100%
			bottom 52px
	&_item-small &_img
		height 100%
		flex-basis 50%
		order 2
		position relative
		cursor pointer
		@media $sm
			order 1
			position absolute
			top 0
			bottom 60px
			left 0
			width 100%
			height auto
	&_item-small &_img:hover &_mask
		background rgba(0,0,0,0)
	&_mask
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background rgba(0,0,0,.6)
		transition background .3s ease
	&_playIcon, &_pauseIcon
		position absolute
		left 50%
		top 50%
		transform translate(-50%, -50%)
	&_pauseIcon
		visibility hidden
		opacity 0
	&_item-big &_info
		height 60px
		background white
		transition all .3s ease
		position relative
		padding-left 70px
		overflow hidden
		padding-bottom 23px
		&-expanded
			height auto !important
		@media $xs
			padding 30px
			height auto
		@media $sm
			position absolute
			bottom 0
			left 0
			width 100%
			padding-bottom 15px
	&_item-small &_info
		background white
		height 100%
		flex-basis 50%
		display flex
		flex-flow row nowrap
		justify-content center
		align-items center
		@media $sm
			order 2
			height 60px
			position absolute
			bottom 0
			left 0
			width 100%
	&_item-small &_linkArea
		padding-top 0
		height 100%
		width 100%
	&_item-expanded &_linkArea
		display none
	&_linkArea
		position absolute
		top 0
		left 0
		width 100%
		z-index 10
		padding-top calc(60% + 60px)
		cursor pointer
		@media $sm
			padding-top calc(55% + 60px)
	&_info-expanded &_text
		height auto !important
	&_info-expanded &_flats
		@media $md
			display block
	&_item-big &_textWrapper
		padding-right 15px
		padding-bottom 30px
		@media $xs
			padding 0
		@media $sm
			height 104%
			padding-bottom 0
	&_item-small &_textWrapper
		display flex
		flex-flow row nowrap
		justify-content center
		align-items center
	&_item-big &_header
		line-height 60px
		font-weight 600
		@media $xs
			display none
	&_item-small &_header
		line-height 16px
		font-weight 600
		text-align center
	&_text
		line-height 1.6
		font-size 1.2rem
		font-weight normal
		height 60px
		@media $xs
			height auto
		@media $sm
			height auto
	&_more, &_flats
		font-size 1.2rem
		color #80cdb8
		display block
		padding-top 20px
		@media $smMinus
			display none
	&_more
		float left
	&_flats
		float right
		display none
	&_order
		width 55px
		height 100%
		margin-right 15px
		position absolute
		left 0
		top 0
		height 100%
		background linear-gradient(135deg, #ffd46c, #fabf2e)
		@media $xs
			display none
		&:after
			content ''
			display block
			position absolute
			left 0
			top 0
			height 100%
			width 100%
			background linear-gradient(135deg, #86c98b, #7dcac5)
			transition opacity .3s ease
		&:before
			content attr(data-order)
			font-size 3.6rem
			line-height 60px
			display block
			text-align center
			font-weight 800
			color white
			position relative
			z-index 15
	&_order-imgBg:after
		display none
	&_item-panorama&_item-expanded &_info
		@media $md
			height auto
	&_panoramaWrapper
		position relative
		background #1c1e23
	&_item-panorama &_info
		padding-left 55px
		padding-bottom 0
		@media $xs
			padding 0 0
	&_item-panorama &_textWrapper
		padding-right 0
		padding-bottom 0
	&_item-panorama &_header
		padding-left 15px
	&_panoramaImg
		width 100%
		height auto
	&_panoramaTrigger
		position absolute
		width 12px
		height 12px
		background linear-gradient(135deg, #ffd46c, #fabf2e)
		box-shadow 0 3px 4px 0 rgba(138, 127, 85, 0.31)
		border-radius 12px
		overflow hidden
		cursor pointer
		&:before
			content ''
			display block
			position absolute
			left 0
			top 0
			width 100%
			height 100%
			opacity 1
			background linear-gradient(to right, #86c98b, #86d3a4 49%, #7dcac5)
			box-shadow 0 3px 4px 0 rgba(85, 138, 118, 0.31)
			border-radius 12px
			transition opacity .3s ease
		&-active
			&:before
				opacity 0
			
