.GalleryShow
	width 75%
	height 100%
	position absolute
	right 0
	top 0
	transition width .3s ease,  height .3s ease
	&:before
		content ''
		display block
		width 100%
		height 50%
		position absolute
		bottom 0
		left 0
		background linear-gradient(to bottom, rgba(27, 30, 34, 0), rgba(27, 30, 34, 0.6))
	@media $xs
		width 100%
		height calc(92vh - 55px)
	@media $sm
		position relative
		height 75%
		width 100%
	&_wrapper
	&_slide
		height 100%
		top 0
		left 0
		position relative
		background black
		&:before
			content ''
			display block
			position absolute
			left 0
			bottom 0
			height 50%
			width 100%
			z-index 999
			background linear-gradient(to bottom, rgba(27, 30, 34, 0), rgba(27, 30, 34, 0.2))
			pointer-events none
		[id*="-Container"]
			@media $xs
				margin-top 46px
				height calc(100% - 115px) !important
			@media $smPlus
				height calc(100% - 70px) !important
	&_video
		height calc(100% - 70px)
	&_videoWrapper
		position relative
		height 100%
	&_video
		position absolute
		left 0
		right 0
		top 0
		width 100%
		height calc(100% - 70px)
		@media $xs
			height calc(100% - 45px)
	&_toolpanel
		position absolute
		width 100%
		height 70px
		left 0
		bottom 0
		z-index 10
		background transparent
		&-black
			background #1B1E22
		@media $xs
			background #1B1E22
	&_social
		position absolute
		top 50%
		transform translateY(-50%)
		left 35px
		@media $smPlus
			top 70%
	&_socialLinks
		width 70px
		display flex
		flex-flow row nowrap
		justify-content space-between
		align-items center
		color white
		position absolute
		bottom -2px
		left -14px
		@media $xs
			display none
			height 120px
			width 40px
			flex-flow column nowrap
			border-radius 7px
			overflow hidden
		&-active
			@media $xs
				display flex
	&_socialLink
		padding 10px
		&:hover
			color $orange
		@media $xs
			flex-basis 33.33333%
			width 100%
			background white
			border 1px solid #f0f0f0
			color #81C9A7
			display flex
			flex-flow row nowrap
			justify-content center
			align-items center
	&_socialExtend
		color white
		display block
		padding 10px 10px
		position relative
		left -10px
		@media $smPlus
			display none
	&_prev, &_next
		position relative
		background transparent
		height 100%
		width auto
		margin 0 0
		padding 0 0
		color white
		&:hover
			color $orange
	&_prev
		.SvgIco
			transform rotate(180deg)
	&_counter
		color white
		font-weight 500
	&_controls
		width 100px
		display flex
		flex-flow row nowrap
		justify-content space-between
		align-items center
		position absolute
		top 50%
		transform translate(-50%, -50%)
		left 50%
		z-index 10
	&_virtualTour
		position absolute
		top 50%
		transform translateY(-50%)
		right 10px
		display flex
		flex-flow row nowrap
		justify-content center
		align-items center
		width 50%
		color white
		@media $xs
			width 10px
			right 35px
	&_virtualTourLink
		display flex
		flex-flow row nowrap
		justify-content center
		align-items center
		position relative
		&:hover
			color $orange
	&_virtualTourText
		padding-left 20px
		font-weight 500
		@media $xs
			display none
	&_info
		position absolute
		right 75px
		top 50%
		transform translateY(-50%)
		z-index 11
		cursor pointer
		@media $xs
			right 25px
	&_infoIcon
		color white
		padding 10px 10px
	&_infoText
		position absolute
		left 50%
		top 0
		transform translate(-50%, calc(-100% - 14px))
		background white
		font-size 10px
		letter-spacing .3px
		font-weight 400
		line-height normal
		padding 12px 15px
		border-radius 5px
		white-space nowrap
		opacity 0
		visibility hidden
		transition all .3s ease
		@media $xs
			transform translate(-70%,calc(-100% - 14px))
			left 0
		&:before
			content ''
			display block
			border 5px solid transparent
			border-top-color white
			position absolute
			bottom -10px
			left 50%
			transform translateX(-50%)
			@media $xs
				left 80%
	&_info:hover &_infoText
		opacity 1
		visibility visible
	&_resize
		color white
		cursor pointer
		position relative
		z-index 11
		position absolute
		top 50%
		transform translateY(-50%)
		right 35px
		@media $xs
			display none
	&_resizeNormal
		display none