.GalleryTabs
	@media $smPlus
		display none
	position absolute
	top 0
	left 0
	width 100%
	height 45px
	box-shadow: 0 10px 25px 0 rgba(73, 74, 73, 0.1);
	z-index 12
	font-size 0
	white-space nowrap
	overflow-x scroll
	&::-webkit-scrollbar
		@media $xs
			height 0
			width 0
	&_item
		background white
		display inline-block
		height 100%
		padding 0 20px
		font-size 12px
		font-weight 500
		line-height 45px
		min-width 33.33333%
		text-align center
		position relative
		color rgba(74,85,101, .4)
		@media $smPlus
			display none
		&:before
			content ''
			display block
			width 100%
			height 4px
			background: linear-gradient(93deg, #86c98b, #7dcac5);
			position absolute
			left 50%
			transform translateX(-50%)
			bottom 0
			opacity 0
			visibility hidden
			pointer-events none
		&-active
			color #4a5565
			&:before
				opacity 1
				visibility visible