.Genplan
    height 100%
    position relative
    @media $xs
        min-height 400px
    @media $smPlus
        min-height 798px

    &_planWrap
        position absolute
        top 0
        left 0
        bottom 0
        right 0
    &_buttonsWrap + &_planWrap
        @media $xs
            top 84px
    &_marker
        position absolute
        width 46px
        height 46px
        margin-left -23px
        margin-top -23px
        background #666
        border-radius 50%
        overflow hidden
        z-index 10
        transition all .05s
        color #fff
        display flex
        justify-content center
        align-items center
        font-size 1.6rem
        font-weight 700
        letter-spacing .4px
        padding-top 2px
        opacity .6
        pointer-events none
        @media $xs
            transform scale(.6)
        &-active
            pointer-events all
            opacity 1
        &-soon
            cursor help
            
        &-v1
            background #80c9b0
            box-shadow 0 2px 4px 0 rgba(85, 138, 115, .31)
        &-v2
            background #67c4f3
            box-shadow 0 2px 4px 0 rgba(103, 196, 243, .31)
        &-v3
            background #754fb6
            box-shadow rgba(117, 79, 182, .31)

        &:before
            content ''
            position absolute
            left 3px
            right 3px
            top 3px
            bottom 3px
            border-radius 50%
            border solid 3px #ffffff
            pointer-events none
        &-sold
            background #FABF2E
            color rgba(255,255,255, 0.5)
            &:before
                border-color rgba(255,255,255, 0.5)
    &_smallNumber
        position absolute
        border-radius 50%
        text-align center
        font-size 14px
        font-weight 700
        font-style normal
        font-stretch normal
        letter-spacing .3px
        color #83caa1
        background-color #ffffff
        box-shadow 0 10px 25px 0 rgba(0, 0, 0, .19)
        z-index 10
        overflow hidden
        pointer-events none
        display block
        @media $xs
            width 20px
            height 20px
            line-height @height
            margin-left (-1 * @width / 2)
            margin-top (-1 * @height / 2)
        @media $smPlus
            width 28px
            height 28px
            line-height @height
            margin-left (-1 * @width / 2)
            margin-top (-1 * @height / 2)
        &-active
            color #fbc53f
    &_compass
        position absolute
        width 34px
        height 34px
        left 35px
        bottom 25px
        z-index 10
        pointer-events none
        background url("/img/pics/compass.svg") center no-repeat
        background-size contain
    &_filterLink
        position absolute
        bottom 30px
        right 30px
        min-width 212px
        height 45px
        border-radius 2px
        background white
        z-index 100
        font-size 1.3rem
        font-weight 500
        padding-left 10px
        padding-right 10px
        display flex
        flex-flow row nowrap
        justify-content center
        align-items center
        @media $xs
            min-width 176px
            height 30px
            font-size 1.2rem
            right 10px
            bottom 24px
            padding-right 5px
            padding-left 5px
    &_filterLinkIcon
        color #82caa0
        padding-left 10px
    &_title
        font-size 28px
        font-weight 700
        letter-spacing .3px
        color #4a5565
        position absolute
        top 30px
        left 30px
        pointer-events none
        @media $xs
            display none
a.Genplan_marker
    &:hover
        box-shadow 0 2px 4px 0 rgba(138, 122, 85, .31)
        background #fabf2e
        opacity 1