.HeadBackground
	width 100%
	height 250px
	position relative
	padding-top 110px
	@media $xs
		height 130px
		padding-top 55px
	&,
	&_img
		background-size cover
		background-position center
		background-repeat no-repeat
	&_img
		position absolute
		left 0
		top 0
		height 100%
		width 100%

	&:before
		content ''
		display block
		position absolute
		left 0
		top 0
		height 100%
		width 100%
		background #1B1E22
		opacity .2
	&-documents
		margin-bottom 55px
		@media $sm
			margin-bottom 40px

	&-article
		&:before
			content ''
			display block
			width 100%
			height 100%
			position absolute
			left 0
			top 0
			background rgba(0,0,0,.6)
	
	&_linkForum
		position absolute
		right 55px
		top 67%
		color white
		font-size: 1.5rem
		font-weight 500
	
	&_header
		font-size 2.8rem
		font-weight bold
		color white
		text-align center
		position relative
		z-index 10
		@media $xs
			font-size 2.2rem !important
		