.header-counter
    display none
    position absolute
    left 0
    height 4px
    top 100%
    width 100%
    box-shadow 0 5px 15px 0 rgba(51, 76, 86, 0.2)
    background-color #c2c8d0

.header-counter__inner
    position relative
    background-image linear-gradient(to right, #86c98b, #86d3a4 49%, #7dcac5)
    height 100%
    width 76%

.header-counter__info
    position absolute
    right 0
    top: 100%
    min-width 105px
    padding 10px
    background-color #fff
    box-sizing border-box
    margin-top 10px
    display flex
    flex-direction row
    justify-content flex-start
    align-items center
    font-size: 10px
    font-family 'Gilroy'
    border-radius 3px
    box-shadow 0 5px 15px 0 rgba(51, 76, 86, 0.2)
    transform: translateX(50%)

    &:before
        content ''
        position absolute
        bottom 100%
        left 50%
        margin-left -10px
        width 0
        height 0
        border-style solid
        border-width 0 10px 10px 10px
        border-color transparent transparent #ffffff transparent

    &._right
        border-radius 3px 0 3px 3px
        transform none
        &:before
            left auto
            right 0
            margin-left 0
            border-width 0 0 10px 10px
            border-color transparent transparent #fff transparent
    &._left
        border-radius 0 3px 3px 3px

.header-counter__info._left
    &:before
        left 0
        margin-left 0
        border-width 10px 0 0  10px
        border-color transparent transparent transparent #fff

.header-counter__info div
    &:last-child
        font-size 14px
        font-weight 600
        margin-left 5px

.header-counter__sep
    height 100%
    position absolute
    z-index 100
    top 0
    width 1px
    background-color #fff
    opacity .7
    left 10%

    &:nth-child(2)
        left 20%

    &:nth-child(3)
        left 30%

    &:nth-child(4)
        left 40%

    &:nth-child(5)
        left 50%

    &:nth-child(6)
        left 60%

    &:nth-child(7)
        left 70%

    &:nth-child(8)
        left 80%

    &:nth-child(9)
        left 80%
