.Header
    display flex
    flex-wrap nowrap
    align-items center
    background-color #ffffff
    box-shadow 0 2px 5px 0 rgba(0,0,0,0.09)
    position fixed
    left 0
    right 0
    top 0
    z-index 1100
    @media $xs
        padding 0 10px
        height $headerHeightSm
        justify-content space-between
    @media $sm
        padding 0 25px
        height $headerHeightMd
    @media $md
        padding 0 35px
        height $headerHeightMd

    &_logo
        width auto
        display block
        max-width 100%
        @media $xs
            margin 0 auto
            height 30px
        @media $sm
            height 30px
        @media $md
            height 37px
    &_section
        flex auto
        overflow hidden
        &:nth-child(4), &:nth-child(5)
            @media $smMinus
                display none
        &:nth-child(6)
            @media $smMinus
                margin 0 auto
        &-divider
            width 2px
            max-width 2px
            margin-left 30px
            margin-right 30px
            height 18px
            background-color  rgba(150, 150, 150, 0.1)
            &-n1
                margin-right 20px
            @media $smMinus
                display none
        &-burger
            @media $xs
                order -1
                width 20%
            @media $sm
                width calc(33.33333% - 136px)
                max-width calc(33.33333% - 136px)
                flex-shrink 0
            @media $md
                width: calc(50% - 302px);
                max-width: calc(50% - 306px);
                margin-right auto
        &-center
            flex-shrink 0
            flex-grow 0
            text-align center
            @media $xs
                display none
            @media $sm
                width auto //33.333333%
                max-width none //33.333333%
            @media $md
                width 170px //200px
                max-width 170px //200px
        &-phone
            text-align right
            @media $xs
                width 20%
            @media $smPlus
                flex-grow: 0
                flex-shrink 0
            @media $smMinus
                margin-left: auto
        &-nav
            flex-grow 0
            flex-shrink 0
            margin-left 2%
            @media $smMinus
                display none
            @media $md
                height 100%
        &-logo
            flex-shrink 0
            @media $xs
                text-align center
                width 80%
            @media $sm
                width 134px
                max-width 134px
            @media $md
                width 150px
                max-width 150px