.homepageMainHead
    font-weight 700
    text-align center
    line-height 1
    @media $xs
        padding 28px 0
        font-size 2rem
    @media $smPlus
        padding 45px 0 10px
        font-size 2.2rem
    &_subtext
        font-size 90%
        font-weight 400
        display block
        color #a4a9b1
        padding 8px 0