.Infras
    height 762px
    overflow-y hidden
    position relative
    @media $xs
        height auto
    @media $sm
        height 100%
    &_genplan
        @media $xs
            position relative
            height 70vh
        @media $smMinus
            border-bottom 4px solid #343A40
            overflow-x auto
            .Fitblock_inner
                margin-left 0 !important
                left 0 !important
    &_point
        position absolute
        width 31px
        height 31px
        border-radius 30px
        cursor pointer
    &_pointPlus
        position absolute
        left 0
        top 0
        height 100%
        width 100%
        background url(/img/pages/infras/plus.svg) no-repeat center
        background-size 10px 10px
    &_tipPopup
        background white
        max-width 200px
        border-radius 2px
    &_tipPopupText
        padding 10px 15px 10px 15px
        font-weight 600
        line-height normal
        font-size 14px