.LinksList
    display flex
    flex-wrap nowrap
    &-n1
        @media $xs
            padding-top 15px
            padding-bottom 12px
            justify-content flex-end
        @media $smPlus
            position absolute
            right 0
            top 2px
    &_item
        padding-left 19px
        &:first-child
            padding-left 0
    &_link
        display flex
        align-items flex-start
        flex-wrap nowrap
    &_text
        font-weight 500
        letter-spacing 0.1px
        @media $xs
            font-size 1.2rem
            padding-top 8px
        @media $smPlus
            padding-top 6px
            font-size 1.4rem
    &_icoWrap
        color #fabf2e