.Map
    &-fullscreen
        width 100%
        height calc(100vh - 64px)
        position relative
        @media $xs
            height auto
            overflow-x hidden
    &-infrastructure, &-contact,  &-location
        a[href^="http://maps.google.com/maps"]
            display none !important
        a[href^="https://maps.google.com/maps"]
            display none !important
        .gm-style-cc, .gm-bundled-control-on-bottom, .gm-style-mtc, .gm-fullscreen-control, .gm-svpc
            display none
        .gm-bundled-control.gmnoprint
            left auto !important
            bottom 75px
            right 53px
            top auto !important
            @media $xs
                display none
    &-location, &-contact, &-infrastructure
        background #F2F2F2
    &-fullscreen &_map
        height 100%
        @media $xs
            height 445px
    &-contact
        @media $xs
            height auto
            overflow-x hidden
    &-contact &_map
        @media $xs
            height 480px
    &_header
        font-size 28px
        font-weight bold
        position absolute
        left 30px
        top 30px
        z-index 999
        @media $xs
            display none
    &_map
        width 100%
        display block
        background #E5E3DF
        @media $xs
            height 298px
        @media $sm
            height 513px
        @media $md
            height 450px
    &-fullscreen &_map
        @media $xs
            height calc(85vh - 55px) !important