.MapLocations
	width 272px
	&-infrastructure, &-location, &-contact
		position absolute
		right 35px
		top 35px
		z-index 999
		border-radius 2px
		overflow hidden
		box-shadow 0 10px 65px 15px rgba(0,0,0,.1)
		@media $xs
			right auto
			top auto
			left 30px
			bottom 30px
			display none
	&-infras
		position absolute
		right 35px
		top 35px
		z-index 999
		border-radius 2px
		overflow hidden
		box-shadow 0 10px 65px 15px rgba(0,0,0,.1)
		@media $xs
			position relative
			top 0
			right 0
			display block
			margin 0 auto
			width 90%
			margin-top 20px
			margin-bottom 35px
	&-contact &_slide
		background white
	&-contact
		@media $xs
			&:before
				content ''
				display block
				background linear-gradient(to bottom, transparent 60%, #E6E6E6)
				position absolute
				top 25px
				left 0
				width 100%
				height 40px
	&-slider
		position absolute
		bottom 25px
		left 50%
		width 100%
		transform translateX(-50%)
		@media $xs
			position relative
		@media $smPlus
			display none
	&-slider &_header
		color white
		background linear-gradient(99deg, #86c98b, #86d3a4 49%, #7dcac5)
		border none
	&_slide
		width 85vw !important
	&_header
		font-weight 600
		font-size 13px
		line-height 50px
		background white
		padding 0 20px !important
		border-radius 2px
		margin 0 !important
		position relative
		z-index 10
		transition color .3s ease
		&:first-child
			border-bottom 1px solid #eeeeee
			border-bottom-left-radius 0
			border-bottom-right-radius 0
		&:last-child
			border-top 1px solid #eeeeee
			border-bottom-left-radius 0
			border-bottom-right-radius 0
		&:not(:first-child):not(:last-child)
			border-top 1px solid #eeeeee
			border-bottom 1px solid #eeeeee
			border-radius 0px
		&:after
			content ''
			display block
			position absolute
			left 0
			top 0
			width 100%
			height 100%
			background linear-gradient(99deg, #86c98b, #86d3a4 49%, #7dcac5)
			opacity 0
			transition opacity .3s ease
			pointer-events none
			z-index -1
	&_header.ui-state-active &_headerIcon
		transform rotate(0deg) translateY(-3px)
		color white
	&_header.ui-state-active
		color white
		&:after
			opacity 1
	&-infras &_header
		@media $xs
			color white
			&:after
				opacity 1
	&_headerIcon
		transform rotate(180deg) translateY(-3px)
		transition transform .3s ease
		float right
	&-infras &_headerIcon
		@media $xs
			display none
	&_wrapper
		padding 0 !important
		background white
		border none
		@media $xs
			max-height unset
	&-infrastructure &_wrapper, &-location &_wrapper, &-contact &_wrapper, &-infras &_wrapper
		max-height 305px
		@media $xs
			max-height unset
	&_textWrapper
		padding 18px 20px 0 20px
	&_text
		font-size 12px
		font-style normal
		font-weight normal
		margin-bottom 20px
		color $gray
		@media $xs
			line-height 16px
			padding-bottom 5px
			margin-bottom 16px
	&_text-bold
		font-weight 600
		font-size 14px
	&_img
		position relative
		top 4px
	&:not(&-infras) &_item
		cursor pointer
	&_item
		position relative
		padding 0 20px
		background rgb(250, 250, 250)
		&:not(:last-of-type):before
			content ''
			display block
			position absolute
			height 1.5px
			right 20px
			bottom 0
			left 20px
			background #efefef
	&_itemBullet
		display block
		height 10px !important
		width 10px !important
		border-radius 50px
		transition all .1s ease
		position absolute
		top 50%
		transform translateY(-50%)
		right 24px
	&_itemBulletShadow
		position absolute
		right 15px
		top 50%
		left 50%
		transform translate(-50%, -50%)
		height 20px
		width 20px
		border-radius 50px
	&_itemText
		font-size 12px
		line-height 17px
		font-weight 500
		min-height 50px
		padding 10px 0
		padding-right 30px
		line-height 1.3
		overflow hidden
		display flex
		align-items center
	&_item &_icoWrap
		position absolute
		top 50%
		transform translateY(-50%)
		right 24px
	&_item.isOff > &_icoWrap
		color gray !important
		filter grayscale(1)
	&_item.isOff &_itemBullet, &_item.isOff &_itemBulletShadow
		background gray !important