.MapMore
	width 263px
	height 45px
	border-radius 2px
	background white
	position absolute
	bottom 30px
	left 30px
	padding 0 10px
	z-index 10
	box-shadow 0 7px 100px 15px rgba(0,0,0,0.1)
	@media $xs
		width 136px
		height 30px
		left auto
		right 10px
		bottom auto
		top 10px
	&-contact
		@media $smPlus
			display none
	&_text
		@media $xs
			display none
		& + svg
			@media $xs
				display none
	&_textMobile
		@media $smPlus
			display none
		& + svg
			@media $smPlus
				display none
	&_link
		height 100%
		width 100%
		display: flex
		flex-flow row nowrap
		justify-content space-around
		align-items center
	&_text
		font-size 13px
		font-weight 600
		line-height 1.08
	&_textMobile
		font-size 12px
		font-weight 600