.MapObjects
	width 272px
	&-infrastructure, &-contact, &-location
		position absolute
		right 40px
		top 40px
		z-index 999
		border-radius 2px
		overflow hidden
		box-shadow 0 10px 65px 15px rgba(0,0,0,.1)
		@media $xs
			right auto
			top auto
			left 30px
			bottom 30px
			display none
	&-contact
		@media $xs
			&:before
				content ''
				display block
				background linear-gradient(to bottom, transparent 60%, #E6E6E6)
				position absolute
				top 25px
				left 0
				width 100%
				height 40px
	&_header
		font-weight 600
		font-size 13px
		line-height 45px
		background #fafafa
		padding 0 20px !important
		border-radius 2px
		margin 0 !important
		position relative
		z-index 10
		transition color .3s ease
		&:before
			content ''
			display block
			position absolute
			left 0
			top 0
			width 100%
			height 100%
			background linear-gradient(99deg, #86c98b, #86d3a4 49%, #7dcac5)
			z-index -1
			opacity 0
			transition opacity .3s ease
	&_header.ui-state-active &_headerIcon
		transform rotate(0deg) translateY(-3px)
		color white
	&_header.ui-state-active
		color white
	&_header.ui-state-active:before
		opacity 1
	&_headerIcon
		transform rotate(180deg) translateY(-3px)
		transition transform .3s ease
		float right
	&_wrapper
		padding 0 !important
		border none
		max-height 405px
		@media $xs
			max-height unset
	&_textWrapper
		padding 18px 20px 0 20px
	&_text
		font-size 12px
		font-style normal
		font-weight normal
		margin-bottom 20px
		color $gray
		@media $xs
			line-height 16px
			padding-bottom 5px
			margin-bottom 16px
	&_text-bold
		font-weight 600
		font-size 14px
	&_img
		position relative
		top 4px
	&-location &_item:after
		content: '';
		display block
		width 10px
		height 10px
		border-radius 10px
	&_item
		background #fafafa
		display: flex
		flex-flow row nowrap
		justify-content space-between
		align-items center
		position relative
		padding 0 20px
		&-blue:after
			background #6F9EFC
			box-shadow 0 0 0 6px rgba(111,158,252,.2)
		&-purple:after
			background #AC6CFC
			box-shadow 0 0 0 6px rgba(172,108,252,.2)
		&-orange:after
			background #FD856B
			box-shadow 0 0 0 6px rgba(253,133,107,.2)
		&:before
			content ''
			display block
			position absolute
			height 1.5px
			right 20px
			bottom 0
			left 20px
			background #efefef
	&_itemText
		font-size 12px
		line-height 45px
		font-weight 500