.fancybox-slide
	@media $xs
		padding 0 0 !important

.MapPopup
	height 70%
	width 88%
	a[href^="http://maps.google.com/maps"]
		display none !important
	a[href^="https://maps.google.com/maps"]
		display none !important
	.gm-style-cc, .gm-bundled-control-on-bottom, .gm-style-mtc, .gm-fullscreen-control, .gm-svpc
		display none
	.gm-bundled-control.gmnoprint
		left auto !important
		right 43px
		top 50% !important
		bottom auto !important
		transform translateY(-50%)
		.gmnoprint
			margin-top -22.5px	
	@media $xs
		height 60%
		width 100%
	@media $xs
		// transform translateY(-4%)	
	@media $sm
		transform translateY(-4%)
	&_tabGroup
		position absolute
		left 0
		top -70px
		@media $xs
			left 50%
			transform translateX(-50%)
			width 100%
			top calc(-31px - 1vw)
			height 33px
			display flex
			flex-flow row nowrap
			justify-content center
			align-items flex-start
			&:before
				content ''
				height 100%
				width 0
				display inline-block
				vertical-align middle
	&_tab
		font-size 22px
		color white
		opacity .5
		font-family: 'Gilroy'
		&:before
			content ''
			display block
			position absolute
			width 100%
			height 3px
			background #ffce77
			left 0
			bottom -13px
			opacity 0
			transition opacity .2s ease
			@media $xs
				background linear-gradient(92deg, #86c98b, #7dcac5)
		&:not(:last-child)
			margin-right 24px !important
		&:only-child
			margin-right 0 !important
		&-active
			opacity 1
			&:before
				opacity 1
		@media $xs
			font-size 3.3vw
	&_tabLink
		padding 0 0 !important
	&_wrapper
		height 100%
		width 100%
	&_map
		height 100%
		width 100%
	&_info
		position absolute
		left 0
		bottom -70px
		width 100%
		overflow visible !important
		@media $xs
			bottom -33%
			height 33%
			padding 10px 25px 10px 25px !important
			display flex
			flex-flow row wrap
			align-items center
			justify-content flex-start
		@media $sm
			bottom -119px
		@media $smPlus
			padding 0 0 !important
	&_transport
		float left
	&_distance
		float right
		padding-left 64px
		@media $sm
			padding-left 0
	&_time
		float right
		@media $sm
			float unset !important
			clear both
	&_term
		display inline-block
	&_transport, &_distance, &_time
		// display flex
		// flex-flow row nowrap
		// align-items center
		// justify-content: flex-start
		// &:before
		// 	content ''
		// 	height 100%
		// 	width 0
		// 	display inline-block
		// 	vertical-align middle
		font-family: 'Gilroy'
		@media $xs
			float unset
			padding-left 0
			flex-basis 100%
		@media $sm
			padding-top 30px
	&_termIcon
		color white
		margin-right 10px
		@media $xs
			transform scale(.7)
	&_termText
		font-size 14px
		font-weight normal
		color white
		padding-right 7px
		@media $xs
			font-size 10px
	&_termValue
		font-size 22px
		font-weight 500
		color #ffce77
		display inline-block
		@media $xs
			font-size 14px