.MapSection
    &_desc
        @media $xs
            padding 0 30px 30px
        @media $smPlus
            text-align center
            margin 0 auto  
        @media $sm
            max-width 714px
            padding 0 20px 45px
        @media $md
            max-width 1046px
            padding 0 20px 30px