.MapSlider
	width 100%
	position relative
	top -27px
	@media $xs
		display block
	@media $smPlus
		display none
	&_slide
		width 85vw
		background white
		border-radius 3px
		overflow hidden
	&_header
		font-weight 600
		font-size 13px
		line-height 50px
		background linear-gradient(99deg, #86c98b, #86d3a4 49%, #7dcac5)
		padding 0 20px !important
		border-radius 2px
		border-bottom-left-radius 0
		border-bottom-right-radius 0
		margin 0 !important
		position relative
		z-index 10
		transition color .3s ease
		color white
		&:before
			content ''
			display block
			position absolute
			left 0
			top 0
			width 100%
			height 100%
			background linear-gradient(99deg, #86c98b, #86d3a4 49%, #7dcac5)
			z-index -1
			opacity 0
			transition opacity .3s ease
	&_headerIcon
		transform rotate(180deg) translateY(-3px)
		transition transform .3s ease
		float right
	&_wrapper
		padding 0 !important
		border none
		max-height 405px
		@media $xs
			max-height unset
	&_textWrapper
		padding 18px 20px 0 20px
	&_text
		font-size 12px
		font-style normal
		font-weight normal
		margin-bottom 20px
		color $gray
		@media $xs
			line-height 16px
			padding-bottom 5px
			margin-bottom 16px
	&_text-bold
		font-weight 600
		font-size 14px
	&_img
		position relative
		top 4px
	&_item
		background #fafafa
		position relative
		padding 0 20px
		position relative
		&:not(:last-child):before
			content ''
			display block
			position absolute
			height 1.5px
			right 20px
			bottom 0
			left 20px
			background #efefef
	&_itemBullet
		display block
		height 10px
		width 10px
		border-radius 10px
		transition all .1s ease
		position absolute
		top 50%
		transform translateY(-50%)
		right 24px
	&_itemBulletShadow
		position absolute
		top 50%
		left 50%
		transform translate(-50%, -50%)
		height 20px
		width 20px
		border-radius 500%
	&_itemText
		font-size 12px
		line-height 17px
		font-weight 500
		min-height 50px
		padding-right 30px
		display flex
		align-items center
	&_item.isOff &_itemBullet, &_item.isOff &_itemBulletShadow
		background gray !important