.MapTip
	position absolute
	left 30px
	bottom 40px
	width 263px
	height 86px
	padding 18px 0 18px 20px
	background white
	display: flex
	flex-flow row nowrap
	justify-content space-between
	align-items center
	box-shadow 0 7px 100px 15px rgba(0,0,0,0.1)
	transition all .3s ease
	visibility visible
	border-radius 2px
	opacity 1
	&-location
		bottom 85px
	@media $xs
		bottom auto
		top 200px
		left 50%
		transform translateX(-50%)
	@media $sm
		left 30px
		bottom 40px
		&-location
			bottom 85px
	&_text
		font-size 12px
		line-height 1.37
		font-weight 500
		border-radius 2px
	&_close
		position absolute
		right 0
		top -19px
		width 58px
		height 19px
		background #ff748c
		font-size 10px
		font-weight 500
		color white
		line-height 19px
		text-align center
		cursor pointer
	&-hidden
		transform translateX(-30px)
		visibility hidden
		opacity 0
		