.MenuFooter
    height 52px
    width 100%
    margin-left auto
    max-width 320px
    &-forMobileMenu
        padding 0 25px
    &,
    &_sociconsWrap,
    &_developersIconsWrap
        display flex
        flex-wrap nowrap
        align-items center
    &_sociconsWrap,
    &_developersIconsWrap
        justify-content space-between
        
    &_sociconsWrap
        flex 34
        padding-right 20px
        border-right 2px solid #f4f4f4
    &_developersIconsWrap
        flex 20
        padding-left 20px
    &_iconLink
        color #b2b2b2
        &:hover
            color #42474b