.Minigenplan
    transform translateZ(0)
    @media $xs
        margin-bottom 30px
    @media $sm
        max-width 768px
        margin-bottom 64px
    @media $md
        display flex
        padding 44px 0
    &_cell
        @media $md
            width 50%
            max-width 50%
        &-n1
            @media $xs
                padding 30px
            @media $sm
                padding 32px 30px 66px
            @media $md
                padding-left 196px
                padding-right 78px
    &_list
        
        @media $xs
            margin 0 -30px
            margin-top 30px
        @media $sm
            margin-top 25px
        @media $md
            margin-top 35px
            min-height 480px
    &_listLeaf
        background white
        border-top 1px solid #ebebeb
        border-bottom 1px solid #ebebeb
        margin-top -1px
        border-right 4px solid #f6f6f7
        border-left 4px solid #f6f6f7
        &:first-child
            border-top 4px solid #f6f6f7
        &:last-child
            border-bottom 4px solid #f6f6f7
    &_listLink
        display flex !important
        justify-content space-between !important
        align-items center !important
        font-weight 500 !important
        letter-spacing 0.1px !important
        margin 0 0 !important
        @media $xs
            height 50px
            padding 0 30px 0 20px
            font-size 12px
            color #000
        @media $smPlus
            height 49px
            padding 0 20px !important
            font-size 14px
        &-active
            background-image linear-gradient(99deg, #86c98b, #7dcac5)
            color white
            &:hover
                background-image linear-gradient(97deg, #ffd46c, #fabf2e) !important
        &:hover
            color #fff
            background-image linear-gradient(99deg, #86c98b, #7dcac5)
    &_listLink-active &_plusIco
        transform rotate(45deg)
    &_tabText
        padding-left 20px !important
    &_plusIco
        font-size 1.9em
        font-weight 400
        transition transform .3s ease
    &_marker
        position absolute
        width 25px
        height 25px
        margin-left -12px
        margin-top -12px
        transition transform .3s ease
        &:before, &:after
            content ''
            display block
            position absolute
            left 0
            top 0
            height 100%
            width 100%
            border-radius 50%
            box-shadow 0 0 32px 0 rgba(0, 0, 0, 0.47), 0 0 32px 0 rgba(255, 206, 119, 0.72)
        &:before
            background #7FCAB7 url(/img/svg/plus.svg) center no-repeat
            background-size 50% 50%
        &:after
            background #FCC94A url(/img/svg/plus.svg) center no-repeat
            background-size 50% 50%
            opacity 0
            transition opacity .3s ease
            z-index 10
        &-active
            transform rotate(45deg)
            &:after
                opacity 1