.MirrorSliderSection
    margin 0 auto
    overflow hidden
    @media $xs
        margin-bottom 72px
    @media $sm
        max-width 768px
        margin-bottom 112px
    @media $md
        clearfix()
        max-width $containerWidth
        margin-bottom 122px
    &_cell
        @media $md
            width 50%
        &-n1
            @media $md
                float left
                padding 14px 0 0 84px
        &-n2
            @media $smMinus
                max-width 768px
            @media $md
                float right
        &-n3
            @media $md
                float right
                padding 14px 84px 0 0
        &-n4
            @media $smMinus
                max-width 768px
            @media $md
                float left