.MobMenu
    position fixed
    left 0
    width 100%
    bottom 0
    z-index 1000
    overflow auto
    display none
    @media $xs
        top 55px
    @media $smPlus
        top 64px
        display none!important
    &_overlay
        position absolute
        top 0px
        left 0px
        width 100%
        height 100%
        opacity 0.8
        background $overlayColor
    &_list
        display none
        position relative
        &-active
            display block
    &_item
        border-bottom 1px solid #f6f6f6
        background #fff
    &_link
        display block
        width 100%
        height 54px
        line-height 54px
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        font-size 1.2rem
        font-weight 500
        letter-spacing 0.4px
        color #42474b
        padding 0 25px
        position relative
        &-withSubmenu,&-toBack
            &:after
                content ""
                position absolute
                width 5px
                height 7px
                background  url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjQzMiIgaGVpZ2h0PSI1MTIiIHZpZXdCb3g9IjAgMCA0MzIgNTEyIj4KPHBhdGggZD0iTS0xMzUuMDQ4LTc5Ljk5bDU1OS45ODEgMzM1Ljk5LTU1OS45ODEgMzM1Ljk5eiIgZmlsbD0iIzQyNDc0YiI+PC9wYXRoPgo8L3N2Zz4K') center no-repeat
                background-size 100% 100%
                top 50%
                right 25px
                margin-top -4px
        &-toBack
            padding-left 40px
            background #f8f8f8
            &:after
                right auto
                left 25px
                transform scaleX(-1)