.MortgageSlider
	@media $smPlus
		display none
	&_order
		float left
		font-size 10rem
		font-weight bold
		background: linear-gradient(to right,#86c98b,#86d3a4 49%,#7dcac5);
		margin-right 15px
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	&_header
		font-size 1.8rem
		font-weight bold
		line-height 1
		padding-top 17px
		padding-bottom 5px
	&_text
		font-weight 500
		line-height 18px
		line-height 1.8
		letter-spacing 0.1px
	&_pagination
		position static
		margin-top 15px
	.swiper-pagination-bullet
		background #C4C8CC
		opacity 1
		margin 0 8px !important
		&-active
			background linear-gradient(to right,#86c98b,#86d3a4 49%,#7dcac5);		
