.MortgagePluses
	display flex
	flex-flow row nowrap
	justify-content center
	align-items center
	margin-bottom 30px
	@media $smMinus
		flex-wrap wrap
	&_block
		flex-basis 25%
		min-height 240px
		display flex
		flex-flow column nowrap
		justify-content center
		padding 60px 60px
		position relative
		@media $xs
			display none
		&:hover:before
			opacity 1
		&:hover:before, &:hover:after
			@media $md
				transform translate3d(-50%, -80%, 0) scale(.5)
		&:hover .MortgagePluses_content
			@media $md
				transform translate3d(0,55%,0)
		&:before
			content attr(data-turn)
			display block
			font-size 20rem
			position absolute
			left 50%
			top 50%
			transform translate3d(-50%, -50%, 0)
			font-weight bold
			background: linear-gradient(to right,#86c98b,#86d3a4 49%,#7dcac5);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			transition all .25s cubic-bezier(.22,.58,.7,.99)
			opacity 0
			z-index 9
			will-change transform
			@media $smMinus
				display none
		&:after
			content attr(data-turn)
			display block
			font-size 20rem
			position absolute
			left 50%
			top 50%
			transform translate3d(-50%, -50%, 0)
			font-weight bold
			color #F3F3F4
			z-index 8
			transition all .25s cubic-bezier(.22,.58,.7,.99)
			will-change transform
		@media $sm
			flex-basis 50%
			padding 60 35px
	&_content
		transition transform .25s cubic-bezier(.22,.58,.7,.99)
		z-index 10
		will-change transform
	&_header
		font-size 1.8rem
		font-weight bold
		line-height 1
		position relative
		z-index 10
		text-align center
		padding-bottom 10px
	&_text
		font-weight 500
		line-height 18px
		letter-spacing 0.1px
		position relative
		z-index 10
		text-align center