.Multycheckbox
    display inline-flex
    align-items center
    justify-content space-between
    cursor pointer
    &_ttl
        padding-right 10px
    &_ico
        &-type1
            width 14px
            height 14px
            border-radius 2px
            border solid 1px #f2f2f2
            position relative
            &:after
                content ''
                position absolute
                width 8px
                height 8px
                border-radius 1px
                left 50%
                top 50%
                margin-top -4px
                margin-left -4px
                display block
        &-disabled
            color #434143
            pointer-events none


.Multycheckbox_inp[value='1'] + .Multycheckbox_ico
    &-type1
        border-color #7dcac5
        &:after
            background-image linear-gradient(135deg, #86c98b, #7dcac5)

.Multycheckbox_inp[value='0'] + .Multycheckbox_ico
    &-type1
        border-color #7dcac5
        &:after
            background: embedurl("../assets/img/svg/form_none.svg", "utf8") center no-repeat;
            background-size contain

/*.Multycheckbox:hover
    color #fabf2e
    .Multycheckbox_ico
        &-type1
            border-color #fabf2e*/