.Nav
    padding-top 3px
    @media $smMinus
        display none
    @media $smPlus
        height inherit
        padding-top 0
    &_menu
        display flex
        justify-content flex-end
        flex-wrap nowrap
        padding 0
        margin 0
        @media $md
            height inherit
    &_item
        list-style none
        white-space nowrap
        margin-left 27px
        @media $md
            height inherit
            position relative
        &:first-child
            margin-left 0
        &-active
            @media $smPlus
                &:before
                    content ''
                    display block
                    width 100%
                    height 3px
                    position absolute
                    left 0
                    bottom 0
                    background linear-gradient(to bottom, #ffd46c, #fabf2e)
    &_link
        @media $sm
            line-height $headerHeightSm
        @media $md
            height 100%
            display block
        @media $md
            line-height $headerHeightMd