.NewsMain
    &_item
        display flex
        flex-direction column
        height 100%
        position relative
        &._item1
            & .NewsMain_txtBlock
                padding-top 21px
                @media $smMinus
                    padding-top 34px
                    padding-left 20px
            & .NewsMain_tlt
                position absolute
                left 0
                bottom calc(100% - 5px)
                width 50%
                padding 20px 15px 0
                margin 0
                background #fff
                @media $smMinus
                    bottom calc(100% - 24px)
                    padding 14px 10px 0 20px
            & .NewsMain_img
                height 393px
                mask: url('/img/cutshapes/mask_desktop_newsIndex.svg') center / cover;
                &:after
                    content ''
                    position absolute
                    left 50%
                    top 40px
                    width 50%
                    height 10px
                    background #fbc338
        &._item2
            justify-content space-between
            & .NewsMain_img
                order 2
                &:before
                    top auto
                    bottom 0
            & .NewsMain_txtBlock
                @media $smMinus
                    padding-top 0
    &_img
        height 338px
        background-position center
        background-repeat no-repeat
        background-size cover
        position relative
        @media $xs
            height auto
            padding-top 79.07%
        &:before
            content ''
            position absolute
            left 0
            top 0
            width 100%
            height 10px
            background #fbc338
            @media $xs
                height 5px
    &_txtBlock
        padding 15px
        position relative
        @media $smMinus
            padding 18px 10px 9px
        @media $xs
            padding 11px 15px 0
    &_tlt
        font-weight bold
        font-size 22px
        line-height 27px
        margin-bottom 15px
        @media $smMinus
            font-size 18px
            line-height 22px
            margin-bottom 10px
        @media $xs
            font-size 14px
            line-height 18px
            position absolute
            left 0
            bottom 100%
            width 50%
            padding 7px 15px 5px
            margin 0
            background #fff
            box-sizing border-box
    &_txt
        font-weight 500
        font-size 14px
        line-height 24px
        @media $smMinus
            line-height 19px
        @media $xs
            font-size 12px
            line-height 18px
    &_more
        display inline-block
        margin-top 11px
        font-weight bold
        line-height 1
        color #80cdb8
        transition color .5s ease
        &:hover
            color $linkHoverColor
        @media $smMinus
            margin-top 6px
    &_mob
        //
    &_slPager
        position absolute
        right 0
        top 0
        width 50%
        height 47px
        display flex
        align-items center
        justify-content center
        background #fff
        border-bottom 5px solid #fbc338
        z-index 1
        & .DotsPager_arrow
            margin 0 5px
        & .SvgIco
            width 11px