.NewsCard
	height 100%
	min-height 337px
	border-radius 2px
	background #ffffff
	position relative
	box-shadow: 0 10px 50px rgba(0,0,0,.15)
	padding-top 35px
	padding-bottom 35px
	&:hover &_border:before
		opacity 0
	&:hover &_img_iconFirst
		opacity 0
	@media $xs
		padding-top 0
		padding-bottom 0
		min-height 100px
		flex-basis 100%
		display flex
		flex-flow row wrap
		background-position center
		background-size cover
	&_border
		position absolute
		left 0
		width 100%
		height 5px
		display block
		transition all .3s ease
		&:before, &:after
			content ''
			display block
			position absolute
			left 0
			top 0
			width 100%
			height 100%
			transition opacity .3s ease
		&:before
			background linear-gradient(to right, #86c98b, #86d3a4 49%, #7dcac5)
			z-index 5
		&:after
			background linear-gradient(271deg, #ffd46c, #fed061 20%, #fdcc56 40%, #fcc74a 60%, #fbc33d 80%, #fabf2e);
			z-index 4
	&_border-top
		top 0
	&_border-bottom
		bottom 0
	&_date
		margin-left 30px
		float left
		@media $xs
			float none
			order 2
			padding 0 0 0 0
			margin 0 0 0 0
			font-size 1rem
			position absolute
			left calc(30% + 15px)
			top 20px
	&_social
		margin-right 30px
		float right
		width 72px
		display flex
		flex-flow row nowrap
		justify-content space-between
		align-items center
		position relative
		top -7px
		@media $xs
			display none
	&_socialLink
		padding 7px 7px
		&:hover
			color $orange
	&_headerLink
		width 100%
	&_header
		font-size 1.8rem
		font-weight normal
		padding-bottom 20px
		padding-left 30px
		padding-right 30px
		padding-top 20px
		clear both
		@media $xs
			padding-bottom 20px
			order 3
			padding 38px 20px 20px calc(30% + 15px)
			margin 0 0 0 0
			font-size 1.4rem
			flex-basis 100%
			font-weight 500
	&_subHeader
		line-height 1.67
		padding 30px 30px 0 30px
		position relative
		overflow hidden
		z-index 10
		&:before
			content url("/img/pages/news/gradient.jpg")
			display block
			position absolute
			left 50%
			top 0
			transform translateX(-50%)
			z-index -1
		@media $xs
			display none
	&_img
		width 100%
		height 150px
		transform scale(1.05)
		box-shadow: 0 10px 70px rgba(0,0,0,0.3);
		position relative
		z-index 11
		@media $xs
			transform: scale(1)
			box-shadow none
			height: calc(100% - 10px)
			width 30%
			position absolute
			left 0
			top 5px