#newsSection
    position relative
    & .BgText
        position absolute
        top -40px

.NewsSection
    max-width 1366px
    @media $sm
        max-width 768px
        padding-top 60px
        margin-bottom 100px
    @media $md
        margin-bottom 90px
    &-n2
        @media $xs
            padding-bottom 35px
        @media $md
            padding-bottom 65px
    &_headWrap
        position relative
        @media $xs
            padding 0 6px 0 30px
        @media $sm
            padding-bottom 5px
        @media (max-width: 1023px)
            padding-left 30px
        @media $md
            padding-bottom 2px
    & .SectionHead
        @media $xs
            margin-bottom 12px
    & .LinksList-n1
        right -8px
        @media (max-width: 1023px)
            right 20px
    & .LinksList_item:last-child
        padding-left 35px
        @media $xs
            padding-left 27px
            padding-right 5px
    &_figuresWrap
        display flex
        flex-wrap nowrap
        justify-content center
        @media $xs 
            flex-direction column
    &_col
        width 50%
        max-width 50%
        @media $xs 
            width 100%
            max-width 100%
        &-n2, &-n3
            width 25%
            max-width 25%
    &_mobileNewsBlock
        position relative
        padding-bottom 75px
        & .Shape_mask-n10, .Shape_mask-n11
            box-shadow none
        & .Shape_mask-n11
            top 43px
        & .Shape_area-n12
            height 43px
            background #fff
        
    &_mobileLinksSlider
        position absolute
        left 50%
        bottom 46px
        margin-left -115px
        z-index 50
        overflow hidden
        width 230px
        box-shadow 0 24px 32px 0 rgba(0, 0, 0, .08), 0 24px 32px 0 rgba(54, 44, 34, .1)
    &_mobileLinkItem
        display flex
        background-color #ffffff
        justify-content space-between
        min-height 60px
    &_mobileLinkText
        display flex
        padding 12px 20px
        font-size 1.2rem
        line-height 1.33
        color #000000
        align-items center
    &_mobileLinkArrow
        color #fff
        width 28px
        min-width 28px
        display flex
        justify-content center
        align-items center
        background-image linear-gradient(155deg, #ffd46c, #fabf2e)