.PageHeader
	line-height 1.6
	font-size 2rem
	font-weight 500
	&-payment
		text-align center
		padding-top 40px
		padding-bottom 30px
	&-maternal,
	&-instalments,
	&-commercial
		text-align center
		padding-top 40px
		padding-bottom 40px
		@media $xs
			padding 30px 30px
	&-commercial
		max-width value
		max-width 896px
		padding-top 45px
		margin 0 auto
	&-mortgage
		text-align center
		padding-top 50px
		padding-bottom 30px
		font-weight 500
		@media $xs
			font-size 1.6rem