.PartnersList
    display flex
    flex-wrap wrap
    @media $xs
        padding 31px 0 5px
    @media $sm
            max-width 888px
            margin 0 auto
    @media $smPlus
        padding 63px 0
    &_item
        @media $xs
            padding 0 15px
            margin-bottom 20px
        @media $smMinus
            width 100%
        @media $smPlus
            padding 0 30px
            margin-bottom 25px
        @media $md
            width 50%
        & > .FirmCard
            height 100%