.PayCard
	height 100%
	min-height 337px
	border-radius 2px
	background #ffffff
	position relative
	box-shadow: 0 10px 50px rgba(0,0,0,.15)
	padding-top 60px
	padding-bottom 40px
	overflow hidden
	@media $xs
		padding-top 25px
		padding-bottom 25px
		min-height 0
	&_border
		position absolute
		left 0
		width 100%
		height 5px
		display block
		transition all .3s ease
		&:before, &:after
			content ''
			display block
			position absolute
			left 0
			top 0
			width 100%
			height 100%
			transition opacity .3s ease
		&:before
			background linear-gradient(to right, #86c98b, #86d3a4 49%, #7dcac5)
			z-index 5
		&:after
			background linear-gradient(271deg, #ffd46c, #fed061 20%, #fdcc56 40%, #fcc74a 60%, #fbc33d 80%, #fabf2e);
			z-index 4
	&-maternal, &-instalments
		padding-top 40px
	&_border-top
		top 0
	&_border-bottom
		bottom 0
	&_link
		position absolute
		left 0
		top 0
		width 100%
		height 100%
		padding-top 60px
		padding-bottom 40px
		@media $xs
			position static
	&_text
		padding 0 20px
	&_text-maternal, &_text-instalments
		padding 0 40px
		@media $sm
			padding-right 20px
	&_textList
		padding-bottom 30px
	&_textListItem
		position relative
		padding-left 35px
		font-weight 500
		line-height 18px
		&:not(:last-of-type)
			padding-bottom 20px
		&:before
			content ''
			display block
			width 10px
			height 2px
			position absolute
			left 0
			top 6px
			background-image linear-gradient(101deg, #86c98b, #7dcac5)
	&_header
		font-size 1.8rem
		font-weight bold
		text-align center
		padding-bottom 30px
		line-height 1.22
		@media $xs
			padding-bottom 20px
	&_header-maternal, &_header-instalments
		text-align left
		@media $xs
			padding-bottom 30px
	&_subHeader
		text-align center
		line-height 18px
		font-weight 500
	&_subHeader-maternal, &_subHeader-instalments
		text-align left
	&_subHeader-big
		font-size 6.2rem
		line-height 64px
		font-weight bold
		text-align left
		-webkit-background-clip text
		background-clip text
		-webkit-text-fill-color transparent
		background-image linear-gradient(94deg, #86c98b, #7dcac5)
		padding-bottom 30px
		@media $xs
			font-size 12vw
			padding-bottom 20px
		@media $sm
			font-size 4.2rem
	&_img
		position relative
		padding-bottom 120px
		overflow hidden
		@media $xs
			padding-bottom 100px
	&_ico
		position relative
		position absolute
		top 0
		left 50%
		transform translateX(-50%)
		transition opacity .3s ease
		&-first
			z-index 10
		@media $xs
			height 70px
		svg
			height 100%
			width auto
	&_link:hover > &_border:before
	&_link:hover > &_img > &_ico-first
	&:hover > &_border:before
	&:hover > &_img > &_ico-first
		opacity 0