.PlanCard
    border-radius 2px
    background-color #ffffff
    display block
    &-placehold
        position relative
        &:before
            content ''
            display block
            width 100%
            height 100%
            position absolute
            top 0
            left 0
            z-index 20
            opacity .9
            background linear-gradient(310deg, #86c98b, #7dcac5)
    &-placehold > &_inner
        &:before, &:after
            color white
            z-index 21
            font-family 'Gilroy'
            position absolute
            left 50%
            transform translateX(-50%)
        &:before
            content 'НЕТ РЕЗУЛЬТАТОВ'
            font-weight 500
            top 40%
            @media $xs
                top 30%
        &:after
            content 'Планировки по заданным параметрам не найдены, пожалуйста измените параметры поиска.'
            font-size 12px
            line-height 18px
            text-align center
            font-weight 300
            top 47%
            @media $xs
                width 100%
    @media $xs
        width 100%
        min-height 125px
        margin-bottom 15px
        box-shadow 0 7px 20px 0 rgba(0, 0, 0, 0.05)
    @media $sm
        width calc(50% - 10px)
        margin-bottom 20px
    @media $smPlus
        box-shadow 0 12px 32px 0 rgba(0, 0, 0, 0.1)
        padding 25px 25px 20px
    @media $md
        width calc(33.3333% - 16px)
        margin-bottom 21px
    &_inner
        display flex
        @media $xs
            height 100%
        @media $smPlus
            flex-direction column
            height 100%
    &_controls
        @media $xs
            order 3
            height 100%
            margin-left auto
            border-left 1px solid #f2f2f2
        @media $smPlus
            display flex
            align-items center
    &_ico
        color #ebebec
        @media $xs
            height 33.33333%
            border-top 1px solid #f2f2f2
            padding 0 13px
            display flex
            align-items center
        @media $smPlus
            padding 0 10px 10px 10px
        &:first-child
            @media $xs
                border none
            @media $smPlus
                padding-left 0
        &:hover
            color #fcc642
        &-star
            @media $smPlus
                margin-left auto
                position relative
                right -10px
        &-active,
        &-active:hover
            color #83caa1
            
    &_details
        display flex
        @media $xs
            padding 15px 17px 15px 28px
            margin-left auto
            flex-direction column
            min-width 122px
        @media $smPlus
            width 100%
            justify-content space-between
            min-height 36px
    &_price
        @media $xs
            order 2
        @media $smPlus
            display flex
            align-items center
    &_area
        @media $xs
            padding-bottom 15px
        @media $smPlus
            display flex
            align-items center
    &_schemeWrap
        flex 1
        display block
    &_scheme1
        width 100%
        height auto
        display block
        @media $smPlus
            display none
    &_scheme2
        background-size contain
        background-position center
        background-repeat no-repeat
        &:after
            content ''
            display block
            padding-top 89%
        @media $xs
            display none
    &_priceTitle,&_areaTitle
        @media $xs
            font-size 1rem
            letter-spacing 0.2px
            padding-bottom 8px
        @media $smPlus
            font-size 1.2rem
            letter-spacing 0.3px
    &_priceText
        @media $xs
            display block
            font-size 1.4rem
        @media $smPlus
            font-size 1.5rem
        &-fix
            color #83caa1
        &-old
            color #d7d7d7
        &-new
            color #fbc43e
            padding-bottom 2px
    &_priceVals,&_areaValue
        letter-spacing 0.3px
        font-weight 500
        @media $smPlus
            padding-left 3px
    &_priceVals
        @media $smPlus
            display flex
            flex-direction column
            