.PopupInfo
    box-shadow 0 25px 32px 0 rgba(0, 0, 0, 0.15)
    width 215px
    &_head
        font-size 16px
        font-weight bold
        letter-spacing 0.1px
        color #ffffff
        padding 18px 20px
        display flex
        justify-content space-between
        background linear-gradient(103deg, #ffd46c, #fabf2e)
        &-v0
            background #84ddf8
        &-v1
            background #91a3fe
        &-v2
            background #ce96ff
        &-v3
            background #ffac94
        &-discount
            background linear-gradient(103deg, #ffd46c, #fabf2e)
    &_list
        background #fff
        clearfix()
    &_dt,
    &_dd
        float left
        width 50%
        border-bottom 1px solid #f2f2f2
        height 50px
        display flex
        align-items center
        overflow hidden
        &-gray
            background #f2f2f2
        &-fullWidth
            width 100%
            padding 0 22px
        &-hAuto
            height auto
    &_dt
        font-size 1.2rem
        font-weight 500
        padding-left 22px
    &_dd
        font-size 1.4rem
        padding-right 22px
        font-weight 700
        letter-spacing .1px
        justify-content flex-end
        &-del
            text-decoration line-through
            color #ADB3B9
    &_defText
        font-size 1.2rem
        font-weight 500
        padding 22px
        background #fff
    &_boldTxtRow
        font-size 1.2rem
        display block
        padding-top 2px
        font-weight 700
    &_tinyTxtRow
        font-size 1rem
        color #717274
        display block
        padding-top 4px
        