.PostCard
    box-shadow 0 24px 32px 0 #1321240c, 0 24px 32px 0 #334c560c
    border-radius 2px
    overflow hidden
    background #fff url('/img/pages/promos/cardspattern.svg') top center no-repeat
    background-size contain
    position relative
    padding 5px 0
    &_inner
        display flex
        flex-wrap wrap
        height 100%
    &_half
        @media $xs
            width 100%
            min-width 100%
        &-left
            @media $xs
                padding 15px 15px 17px
            @media $sm
                width 50%
                padding 30px 26px 28px 30px
            @media $md
                width 51%
                padding 25px 25px 28px 28px
        &-right
            @media $sm
                width 50%
            @media $md
                width 49%
    &_pic
        background-size cover
        background-position center
        @media $smPlus
            min-height 100%
        &:after
            content ''
            display block
            @media $xs
                padding-top 57%
            @media $md
                padding-top 130%
                
    &_details
        @media $xs
            padding-bottom 13px
        @media $smPlus
            display flex 
            flex-wrap no-wrap
            justify-content space-between
            align-items center
            padding-bottom 24px
    &_date
        @media $xs
            font-size 1rem
            letter-spacing 0.2px
        @media $smPlus
            font-size 1.4rem
            letter-spacing 0.3px
            
    &_title
        font-weight 500
        @media $xs
            font-size 1.4rem
            line-height 1.57
        @media $smPlus
            font-size 1.8rem
            padding-bottom 25px
    &_text
        @media $xs
            display none
        @media $smPlus
            font-size 1.2rem
            line-height 1.67
            letter-spacing 0.3px
            padding-bottom 20px
    &_social
        @media $xs
            display none
        @media $sm
            padding-right 30px
    &_readMoreLink
        @media $xs
            opacity 0
            position absolute
            top 0
            left 0
            right 0
            bottom 0
        @media $smPlus
            font-size 1.2rem
            font-weight 500
            letter-spacing 0.1px
            color #80cdb8
            &:hover
                color $linkHoverColor
    &_socialLink
        display inline-block
        margin-left 15px
        &:hover
            color $linkHoverColor
        &:first-child
            margin-left 0
    &_border
        position absolute
        left 0
        right 0
        height 5px
        background linear-gradient(to right, #86c98b, #86d3a4 49%, #7dcac5)
        &-top
            top 0
        &-bottom
            bottom 0