.Prefooter
    &_inner
        max-width $containerWidth
        margin 0 auto
        display flex
        align-items flex-end
    &_item
        flex 1
        border-color #1B1E22
        border-style solid
        @media $xs
            padding 20px
        @media $sm
            padding 30px 15px
        @media $md
            padding 30px

        &-n1
            @media $xs
                border-bottom-width 20px
            @media $smPlus
                border-bottom-width 50px
        &-n2
            @media $xs
                border-bottom-width 20px
            @media $smPlus
                border-bottom-width 100px
        &-n3
            @media $smPlus
                border-bottom-width 50px
    &_link
        display flex
        align-items center
        justify-content space-between
        @media $xs
            justify-content center
    &_linkText
        font-size 1.4rem
        font-weight 500
        font-style normal
        font-stretch normal
        line-height normal
        letter-spacing 0.5px
        text-align left
        color #000000
        @media $xs
            display none
    &_linkIco
        text-align center
        overflow hidden
        @media $xs
            width 36px
            height 36px
            line-height 36px
            background-image linear-gradient(135deg, #ffd46c, #fabf2e)
        @media $smPlus
            width 42px
            height 42px
            line-height 42px
            background-color #fdca4e
        &-white
            color #fff
        &-n1,&-n2,&-n3
            color transparent
        &-n4
            transform rotate(-90deg)