.Preloader
    position fixed
    background rgba(255, 255, 255, .5)
    width 100%
    height 100%
    z-index 999999
    overflow hidden
    top 0
    left 0
    opacity 0
    visibility hidden
    transition opacity 0.2s
    transform translateZ(0)
    &-active
        opacity 1
        visibility visible