.PrivacyPolicy
	position relative
	max-height 462px
	padding-right 35px
	overflow scroll
	
	&_title, &_text
		font-weight 500
		font-family: 'Roboto', sans-serif
		line-height normal
		color #19191A
	
	&_title
		margin-bottom 42px
		font-size 24px
	
	&_text
		font-size 14px
		
		& > h3
			margin-bottom 9px
		
		& > p
			margin-bottom 34px
		
		& > ul, & > ol
			& > li
				margin-bottom 8px
		
		& > *:last-child
			margin-bottom 0