.ProgressBar
    border-radius 2px
    background-color #4a5565
    width 100%
    &-n1
        margin-bottom 16px
    &_bar
        height 4px
        width 0%
        border-radius 3px
        background-image linear-gradient(to right, #86c98b, #86d3a4 49%, #7dcac5)
        box-shadow 0 2px 4px 0 rgba(85, 138, 118, 0.31)