.PromoCardsList
    display flex
    flex-wrap wrap
    padding 48px 0 23px
    @media $sm
        max-width 888px
        margin 0 auto
    &_item
        width 50%
        padding 0 30px
        margin-bottom 25px
        @media $smMinus
            width 100%
        & > .PostCard
            height 100%