.PromoCard
    background-color #fff
    box-shadow 0 24px 32px 0 rgba(19, 33, 36, 0.1), 0 24px 32px 0 rgba(51, 76, 86, 0.1)
    border-radius 2px
    overflow hidden
    @media $md
        margin-bottom 33px
        transition all 0.3s
    &_pic
        background center no-repeat
        background-size cover
        @media $xs
            padding-top 92.6%
        @media $smPlus
            padding-top 130%
    &_linksRow
        @media $md
            overflow hidden
            transition all 0.3s
            height 5px
    &_linksWrap
        display flex
        align-items center
        background linear-gradient(to right, #86c98b, #86d3a4 49%, #7dcac5)
        height 38px
        padding 0 21px
    
    &_socialLink
        color #fff
        display inline-block
        margin-right 11px
    &_readMoreLink
        color #fff
        margin-left auto
        font-size 1.1rem
        font-weight 500
        letter-spacing 0
    &_socialLink,
    &_readMoreLink
        &:hover
            color $linkHoverColor
    &_readMoreText
        margin-right 9px
    &_titleRow
        font-weight 500
        display flex
        align-items center
        justify-content center
        text-align center
        @media $xs
            padding 16px 21px
            font-size 12px
            letter-spacing 0.4px
        @media $smPlus
            font-size 14px
            letter-spacing 0.5px
            padding 16px 21px
            min-height 64px
        @media $md
            line-height 1.14
    &:hover
        @media $md
            margin-bottom 0px
    &:hover > &_linksRow
        @media $md
            height 38px