.PseudoImg
    background-size cover
    background-position center
    background-repeat no-repeat
    user-select none
    &,&_pusher
        width 100%
        max-width 100%
        display block
    &_pusher
        visibility hidden
        pointer-events none