.RangeSlider
	width 100%
	&_track
		width 100%
		height 4px
		border-radius 4px
		background #546072
		border none
	&-mortgage
		position absolute
		bottom -4px
		left 0
	&_progress
		background linear-gradient(to right, #86c98b, #86d3a4 49%, #7dcac5)
		border none
		outline none
		border-radius 4
		// &-active
		// 	background linear-gradient(359deg, #ffd46c, #fabf2e)
	&_handle
		width 14px
		height 14px
		background linear-gradient(to right, #86c98b, #86d3a4 49%, #7dcac5)
		box-shadow 0 4px 4px 0 rgba(85, 138, 118, 0.31), 0 0 0 7px rgba(128,205,185,.2)
		border-radius 20px
		border none
		top -6px
		cursor pointer
		&.ui-state-active,
		&.ui-state-hover
			background $orange
			box-shadow 0 4px 4px 0 rgba(85, 138, 118, 0.31), 0 0 0 7px rgba(252,202,82,.2)
	&_handle.ui-state-active + &_progress, &_handle.ui-state-hover + &_progress
		background linear-gradient(359deg, #ffd46c, #fabf2e)
	&_rangeVals
		width 100%
		height 40px
		border-radius 2px
		border solid 1px #3b4145
		display flex
	&_valViewWrap
		width 50%
		max-width 50%
		padding 0 15px
		height 100%
		display flex
		align-items center
		font-size 1.2rem
		letter-spacing 0.2px
		font-weight 500
		color #fff
		&-max
			justify-content flex-end
			border-left 1px solid #3b4145
	&_minValViewEl,
	&_maxValViewEl
		margin-right 4px
		transform translateZ(0)