.RouteCard
    @media $smPlus
        display flex
        flex-direction column
    &_descWrap
        @media $xs
            padding 25px 38px 15px 30px
        @media $sm
            padding 40px 31px 52px 35px
        @media $smPlus
            color #000000
        @media $md
            padding 46px 54px 30px 35px
    &_controls
        display flex
        justify-content space-between
        align-items center
        color #fff
        font-weight 500
        font-size 14px
        background-image linear-gradient(to top, #ffd46c, #fabf2e)
        box-shadow inset 4px 4px 3px 0 rgba(0, 0, 0, 0.08)
        @media $xs
            height 38px
            padding 0 0 0 20px
        @media $smPlus
            height 42px
            padding 0 0 0 23px
    &_picWrap
        &:after
            @media $xs
                content ''
                display block
                height 5px
                background-image linear-gradient(to top, #ffd46c, #fabf2e)
                box-shadow inset 4px -4px 3px 0 rgba(0, 0, 0, 0.08)
    &_head
        text-transform uppercase
        @media $xs
            font-weight 700
            line-height 1.71
        @media $smPlus
            line-height 1.33
            font-size 1.8rem
            font-weight bold
    &_text
        font-size 1.2rem
        line-height 2
        @media $smPlus
            line-height 1.33
            font-size 1.8rem
    &_pic
        background  center no-repeat
        background-size cover
        @media $xs
            padding-top 50%
        @media $sm
            padding-top 87.8%
        @media $md
            padding-top 92.4%
    &_fullscreenBtn
        border none
        height 100%
        display flex
        justify-content center
        align-items center
        @media $xs
            padding 0 16px
        @media $smPlus
            width 44px
            padding 0 0 0 4px
            overflow hidden
            position relative
            &:after
                content ''
                width 1px
                height 100%
                display block
                position absolute
                box-shadow 3px 0px 2px rgba(0, 0, 0, 0.2)
                left 0px
                top 0
    &-flipped > &_picWrap
        @media $smPlus
            order 1
    &-flipped > &_controls
        @media $smPlus
            order 2
            background-image linear-gradient(to bottom, #ffd46c, #fabf2e)
            box-shadow inset 0 -4px 3px 0 rgba(0, 0, 0, 0.08)
    &-flipped > &_descWrap
        @media $smPlus
            order 3