.SectionsSlider
    width 100%
    margin-top auto
    &_slide
        display flex
        justify-content center
        @media $smPlus
            width auto 
            opacity  0.2 
            transition opacity 0.4s 
            align-self flex-end 
            pointer-events none
            &-active,
            &-next,
            &-prev
                opacity 1 
                pointer-events auto
    &_arrow
        border none
        background none
        position absolute
        top 50%
        padding 20px
        margin-top -30px
        z-index 2
        transition all 0.1s
        &:hover
            color #96999A
        &-prev
            transform scaleX(-1)
            @media $xs
                left 7px
            @media $smPlus
                left 75px
        &-next
            @media $xs
                right 7px
            @media $smPlus
                right 75px
        &-disabled
            opacity 0
            pointer-events none