.SectChoose
    min-height 100%
    background-image url(../img/stripe_pattern.png)
    display flex
    justify-content center
    align-items center
    position relative
    @media $xs
        padding 81px 16px 100px
    @media $smPlus
        padding 114px 56px 100px
    &_picWrapper
        position relative
        @media $md
            min-width 50%
    &_background
        pointer-events none
        display block
        max-width 100%
        line-height 0
        height auto
        @media $md
            width 100%
    &_plan
        position absolute
        top 0
        left 0
        width 100%
        max-height 100%
    &_link
        fill #86C98B
        cursor pointer
        &:hover
            fill #FDCA4E
    &_arrow
        padding 10px
        $buttonWidth = (17px + @padding * 2)
        width $buttonWidth
        position absolute
        @media $smMinus
            bottom 30px
            left 50%
        @media $md
            top 50%
            margin-top -17px
        &-left
            transform scaleX(-1)
            @media $smMinus
                margin-left (-1 * ($buttonWidth + 16px))
            @media $md
                left 5%
        &-right
            @media $smMinus
                margin-right -16px
            @media $md
                right 5%
        & > .SvgIco-arrowRight
            width 100%
        &:hover > .SvgIco-arrowRight
            color gray
    &_compass
        position absolute
        width 34px
        height 34px
        left 30px
        bottom 30px
        z-index 10
        pointer-events none
        background url("/img/pics/compass.svg") center no-repeat
        background-size contain
    &_title
        font-size 28px
        font-weight 700
        letter-spacing .3px
        color #4a5565
        position absolute
        top 30px
        left 30px
        pointer-events none