.SectionLeadText
    line-height 1.6
    letter-spacing 0.2px
    @media $xs
        font-size 15px
        font-weight 500
    @media $sm
        font-size 18px
        font-weight 500
    @media $md
        font-size 18px
        font-weight 700