.SectionHead
    font-weight bold
    @media $xs
        font-size 2.2rem
        margin-bottom 15px
    @media $smPlus
        font-size 2.8rem
        letter-spacing 0.3px
        margin-bottom 50px
    &-bordered
        position relative
        @media $sm
            padding-left 17px
        @media $md
            padding-left 19px
        &:before
            @media $smPlus
                content ''
                position absolute
                width 3px
                height calc(100% - 0.1em)
                background #ffce77
                left 0
    &-offsetLeft
        @media $md
            margin-left 25%
    &_markedText
        display inline-block
        position relative
        &:after
            content ''
            height 3px
            opacity 0.9
            border-radius 2px
            background-image linear-gradient(to right, #86c98b, #86d3a4 49%, #7dcac5)
            position absolute
            left 0
            right 0
            @media $xs
                bottom -4px
            @media $smPlus
                bottom -2px
        &-yellow
            &:after
                background-image linear-gradient(91deg, #ffd46c, #fabf2e)