.SectionText
    @media $xs
        font-size 1.2rem
        line-height 2.0
        letter-spacing 0.2px
        
    @media $smPlus
        font-size 1.4rem
        line-height 1.71
        letter-spacing 0.2px