.Shape
    position relative
    max-width 100%
    @media $xs
        width 100%
    &_content
        position relative
        z-index 20
        min-height 100%
        mask-size 100% 100%
        mask-repeat no-repeat
        mask-image url(/img/cutshapes/mask5.svg)
        &-n1
            @media $sm
                mask-image url(/img/cutshapes/mask6.svg)
            @media $md
                mask-image url(/img/cutshapes/mask1.svg)
        &-n7
            mask-image url(/img/cutshapes/mask7.svg)
        &-n8
            @media $sm
                mask-image url(/img/cutshapes/mask8.svg)
            @media $md
                mask-image url(/img/cutshapes/mask9.svg)
        &-n14
            mask-image url(/img/cutshapes/mask14.svg)
        &-n15
            mask-image url(/img/cutshapes/mask15.svg)
        &-n16
            mask-image url(/img/cutshapes/mask16.svg)
        &-n17
            @media $xs
                mask-image url(/img/cutshapes/mask17-xs.svg)
            @media $sm
                mask-image url(/img/cutshapes/mask6.svg)
            @media $md
                mask-image url(/img/cutshapes/mask17-md.svg)
        &-n18
            @media $sm
                mask-image url(/img/cutshapes/mask18-sm.svg)
            @media $md
                mask-image url(/img/cutshapes/mask18-md.svg)
        &-n19
            @media $sm
                mask-image url(/img/cutshapes/mask19-sm.svg)
            @media $md
                mask-image url(/img/cutshapes/mask19-md.svg)
        &-n20
            @media $sm
                mask-image url(/img/cutshapes/mask20-sm.svg)
            @media $md
                mask-image url(/img/cutshapes/mask20-md.svg)
    &_areaText
        display block
        @media $sm
            font-size 16px
            line-height 1.25
            color #000000
            padding 20px
            font-weight 400
        @media $md
            font-size 14px
            font-weight 500
            line-height 1.14
            padding 0 14px 0 25px
        &-size2
            font-weight 400
            @media $xs
                font-size 12px
                line-height 1.33
            @media $sm
                line-height 1.14
                font-size 14px
            @media $md
                font-size 18px
                line-height 1.33
    &_areaBtn
        display flex
        align-items center
        justify-content center
        @media $sm
            color #fff
            width 40px
        @media $md
            height 60px
            width 60px
        &-n1
            background-image linear-gradient(to bottom, #ffd46c, #fabf2e)
            box-shadow inset 4px 4px 3px 0 rgba(0, 0, 0, .08)
            @media $smPlus
                height 100%
                margin-left auto
        &-n2,
        &-n3,
        &-n4
            @media $sm
                height 90px
        &-n2
            position absolute
            left 100%
            top 0
            background linear-gradient(to top, #ffd46c, #fbc338)
            box-shadow inset 4px 0 3px 0 rgba(0, 0, 0, .08)
        &-n3,
        &-n4
            background linear-gradient(to bottom, #ffd46c, #fbc338)
            box-shadow inset 4px 0 3px 0 rgba(0, 0, 0 , .08)
        &-n3
            position absolute
            bottom 0
            @media $sm
                min-width 42px
                left 100%
            @media $md
                right 0
        &-n4
            position absolute
            left 100%
            bottom 0
    &_area,
    &_mask
        position absolute
        z-index 20
        width 50%
        display block
            
    &_area
        display flex
        align-items center
        &-bg
            background-size cover
            background-position center
            width unset
        &-n3
            bottom 0
            right 0
            height 12%
            justify-content center
            @media $xs
                padding-top 5px
        &-n4
            background-image linear-gradient(to right, #86c98b, #86d3a4 49%, #7dcac5) !important
            box-shadow inset 0 -4px 3px 0 rgba(0, 0, 0, .08)
            bottom 12%
            color #fff
            @media $xs
                width 12.5%
                left 50%
                bottom 0
                height calc(12% + 5px)
                justify-content center
                z-index 100
            @media $smPlus
                height 52px
                right 0
                justify-content space-between
                padding 0 24px
        &-n5
            @media $sm
                bottom 0
                left 0
                height 15.6%
            @media $md
                bottom 0
                left 0
                height 13.6%
        &-n6
            @media $sm
                bottom 0
                left 0
                height 15.44%
                width 39.05%
            @media $md
                bottom 0
                left 0
                height 13.46%
                padding-right 60px
        &-n7
            box-shadow 4px 4px 3px 0 rgba(0, 0, 0, .08)
            @media $sm
                top 0
                left 0
                height 17.6%
            @media $md
                top 0
                left 0
                height 13.6%
        &-n8
            background #fff
            @media $sm
                top 39.8%
                right 0
                height 15.5%
            @media $md
                top 39.8%
                right 0
                height 13.6%
                justify-content space-between
        &-n9
            top 0
            left 0
            width 100%
            @media $md
                width 100%
                height 53.4%
            @media $sm
                height 39.8%
        &-n10
            bottom 0
            width 50%
            left 0
            @media $md
                top 53.4%
            @media $sm
                top 39.8%
                
        &-n11
            left 50%
            width 50%
            top 53.4%
            height 46.6%
        &-n12
            top 0
            left 50%
            display flex
            align-items center
            height 13%
            justify-content center
        &-n13
            @media $xs
                bottom 0
                left 0
                padding 10px 10px 10px 20px
                height 30%
            @media $sm
                bottom 0
                left 0
                height 15.8%
            @media $md
                bottom 0
                left 0
                height 16%
        &-n14
            @media $sm
                left 0
                width 50%
                top 39.8%
                height 60.2%
            @media $md
                left 0
                width 50%
                top 47%
                height 33%
        &-n15
            @media $sm
                top 0
                left 0
                width 100%
                height 39.8%
            @media $md
                top 0
                left 0
                width 100%
                height 47%
        &-n16
            box-shadow 4px 4px 3px 0 rgba(0, 0, 0, .08)
            @media $sm
                top 0
                left 0
                height 19.8%
            @media $md
                top 0
                left 0
                height 24%
        &-n17
            @media $sm
                bottom 0
                left 0
                height 15.44%
            @media $md
                bottom 0
                left 0
                height 20%
                padding-right 60px
        &-n18
            left 50%
            bottom 0
            width 50%
            @media $sm
                height 46.6%
            @media $md
                height 37%
        &-n19
            background #fff
            @media $sm
                top 39.8%
                right 0
                height 15.5%
            @media $md
                top 47%
                right 0
                height 16%
                justify-content: space-between
        &-w25
            width 25%
        &-w50
            width 50%
        &-n20
            top 0
            left 0
            @media $sm
                height 75%
            @media $md
                height 68%
        &-n21
            top 0
            left 25%
            height 100%
        &-n22
            bottom 0
            left 75%
            @media $sm
                height 74%
            @media $md
                height 77%
        &-n23
            &waved:before
                content ''
                display block
                background-image url('/img/wavesbg_reverse.svg')
                background-size cover
                position absolute
                bottom -124px
                height 235px
                width 100%
                z-index -1
            left 0
                @media $sm
                    bottom -74px
                    height 219px
            @media $sm
                height 25%
                bottom 1%
            @media $md
                height 33%
                bottom 0
                
        &-n24
            top 0
            left 25%
            justify-content center
            @media $sm
                height 14%
            @media $md
                height 25%
        &-n25
            top 0
            left 75%
            &:before
                content ''
                display block
                background-image url('/img/wavesbg.svg')
                background-size cover
                position absolute
                top -155px
                height 235px
                width 100%
                z-index -1
                @media $sm
                    top -100px
                    height 253px
            @media $sm
                height 26%
            @media $md
                height 24%
        &-n26
            top 42%
            left 25%
            @media $sm
                height 70%
            @media $md
                height 56%
        &-n27
            top 0
            left 50%
            height 100%
                
        &-n28
            top 0
            left 25%
            justify-content center
            height 42%
                
        &-n29
            top 0
            left 75%
            @media $sm
                height 27%
            @media $md
                height 42%
                
    &_footer
        @media $xs
            padding 20px 25px 2em
            text-align center
            font-size 3.75vw
            line-height 1.33
            
    &_mask
        z-index 100
        background-image linear-gradient(to right, #86c98b, #86d3a4 49%, #7dcac5)
        box-shadow inset 0 4px 3px 0 rgba(0, 0, 0, .08)
        @media $xs
            height 5px
        @media $smPlus
            height 10px
        &-n1
            top 7%
            left 0
        &-n2
            top 0
            left 50%
        &-n3,
        &-n4
            box-shadow inset 0 -4px 3px 0 rgba(0, 0, 0, .08)
        &-n3
            bottom 0
            top auto
            left 0
        &-n4
            bottom 12%
            top auto
            left 50%
        &-n5,
        &-n6,
        &-n8,
        &-n10,
        &-n11
            background #FBC338
            box-shadow inset 4px 4px 3px 0 rgba(0, 0, 0, .08)
        &-n7,
        &-n9,
        &-n12,
        &-n13
            background #FBC338
            box-shadow inset 4px -4px 3px 0 rgba(0, 0, 0, .08)
        &-green
            background-image linear-gradient(to right, #86c98b, #86d3a4 49%, #7dcac5)
        &-yellow
            background #FBC338
            box-shadow inset 0 0 3px 1px rgba(0, 0, 0, .08)
        &-n5
            @media $xs
                top 6.8%
                left 0
            @media $smPlus
                top 0
                left 0
        &-n6
            @media $xs
                top 0
                left 50%
            @media $sm
                top 7.8%
                left 50%
            @media $md
                top 7%
                right 0
        &-n7
            bottom 0
            @media $smPlus
                left 50%
        &-n8
            top 0
            left 50%
        &-n9
            @media $sm
                left 39.05%
                right 0
                width auto
                bottom 0
            @media $md
                bottom 0
                left calc(50% - 60px)
                right 0
                width auto
        &-n10
            top 0
            left 0
        &-n11
            top 12%
            left 50%
        &-n12
            bottom 0
            left 50%
        &-n13
            top 12%
            left 50%
        &-w25
            width 25%
        &-n14
            top 0
            left 0
        &-n15
            bottom 0
            right 0
        &-n16
            bottom 0
            left 25%
        &-n17
            top 0
            left 50%