.Slideshow
	position relative
	color #fff
	&_slide
		background-size cover
		background-position center
		position relative
		@media $xs
			min-height calc(100vh - 55px)
		@media $sm
			min-height calc(100vh - 64px)
		@media $md
			min-height calc(100vh - 64px)
		&:before
			content ''
			display block
			position absolute
			left 0
			bottom 0
			width 100%
			height 100%
			background linear-gradient(to bottom, rgba(27, 30, 34, 0), rgba(27, 30, 34, .6))
	&_inner
		position absolute
		top 0
		left 0
		height 100%
		width 100%
		display flex
		flex-direction column
		justify-content center
		z-index 100
		@media $xs
			// padding 0 20px/* 78px*/
			padding 94px 20px 0
		@media $sm
			padding 0 40px
		@media $md
			padding 0 35px
	&_slideTitle
		font-weight 700
		@media $xs
			font-size 3rem
			letter-spacing -.7px
		@media $sm
			line-height .88
			letter-spacing -1.4px
			font-size 6rem
		@media $md
			letter-spacing -1.7px
			font-size 7rem
	&_slideDesc
		padding-top 30px
		@media $xs
			padding-top 10px
		@media $smPlus
			padding-right 45vw
		@media $md
			font-size 1.6rem
			line-height 22px
	&_logo
		position absolute
		top 0
		left 30px
		width 150px
		margin-top 34px

		&._finalist
			width 195px
			left 155px
			margin-top 7px

		@media (max-width: 768px)
			top auto
			bottom 90px

			&._finalist
				bottom 70px

		@media (max-width: 640px)
			top 120px
			bottom auto
			width 100px
			left auto
			right 125px

			&._finalist
				bottom auto
				width 140px
				left auto
				right 0
				top 125px

	&_nav
		display flex
		align-items center
		@media $xs
			padding-bottom 19px
		@media $smPlus
			padding-bottom 25px
	&_arrow
		display inline-block
		border 0
		background none
		color #fff
		padding 5px
		&:hover
			color $linkHoverColor
		&-next
			transform scaleX(-1)
		&>.SvgIco
			@media $smPlus
				width 19px
				height 17px
	&_counter
		font-weight 700
		@media $xs
			font-size 1.3rem
			padding 0 10px
		@media $sm
			padding 0 16px
			font-size 1.9rem
			letter-spacing .3px
		@media $md
			padding 0 15px
			font-size 2rem
			letter-spacing .4px

	&_linksList
		position absolute
		left 0
		width 100%
		clearfix()
		@media $xs
			bottom 0
			padding 0
		@media $sm
			bottom 45px
		@media $md
			bottom 51px
		&:after,
		&:before
			content ''
			position absolute
			opacity .5
			left 50%
			top 50%
		&:after
			@media $xs
				width 1px
				height 82px
				background-image linear-gradient(to top, rgba(215, 215, 215, 0), #aeaeae 52%, rgba(215, 215, 215, 0))
				margin-top -51px
		&:before
			@media $xs
				width 320px
				margin-left -160px
				margin-top -10px
				height 1px
				opacity .5
				background-image linear-gradient(to right, rgba(215, 215, 215, 0), #aeaeae 50%, rgba(215, 215, 215, 0))
	&_linkWrap
		float left
		white-space nowrap
		overflow hidden
		@media $xs
			width 50%
			margin-bottom 20px
			text-align center
		@media $sm
			position relative
			&:before
				content ''
				position absolute
				left 0
				background rgba(255, 255, 255, .5)
				height 6px
				width 1px
				top 50%
				margin-top -3px
			&:first-child:before
				content none
		@media $smPlus
			width 25%
			text-align center
	&_link
		font-weight 700
		@media $xs
			font-size 1.2rem
		@media $sm
			font-size 1.4rem
		&:hover
			color $linkHoverColor
		&>.SvgIco
			margin-left 2px
			transform rotate(90deg) translateX(-2px)
			@media $xs
				display none
	&_toastsWrap
		position absolute
		overflow hidden
		@media $xs
			top 55px
			right 15px
			left 15px
		@media $smPlus
			top 64px
			right 35px
	.stack
		height 90px
		@media $xs
			width 100%
		@media $smPlus
			width 424px
	.stack__item
		text-align left
	.fg-card
		border none
	&_messagersWrapper
		position absolute
		left 20px
		top 125px
		width 160px
		z-index 10
		display flex
		flex-flow row
		align-items center
		@media $xs
			flex-wrap wrap
			top 133px
	&_messagersText
		font-size 12px
		padding-right 15px
		white-space nowrap
		@media $xs
			width 100%
			padding-bottom 10px
			font-weight 600
			text-transform uppercase
			font-size 10px
	&_messagersLink
		&:last-of-type
			margin-left 10px
	&_messagersImg
		height 26px
		width 26px
