.Subscribe
	max-width 688px
	margin-left auto
	margin-right auto
	&-payment
		margin-bottom 70px
		@media $xs
			margin-bottom 40px
	@media $xs
		padding 0 20px
	&-mortgage
		margin-bottom 70px
		@media $xs
			margin-bottom 40px
			
	&-maternal, &-instalments
		margin-bottom 70px

	@media $xs
		padding 0 20px
	&_header
		font-size 20px
		text-align center
		letter-spacing 2px
		line-height 32px
		padding-bottom 8px
		font-weight 500
		@media $xs
			font-size 1.6rem
			line-height 24px

	&_text
		line-height 20px
		text-align center
		font-weight 500

	&_form
		margin-top 30px
		@media $smPlus
			display: flex
			flex-flow row nowrap
			justify-content center
			align-items center

	&_inp
		@media $xs
			display block
			margin-right auto
			margin-left auto
		@media $smPlus
			border-radius 0!important
		&-textField
			width 206px
			height 49px
			border-style solid
			border-width 2px
			border-image-slice 1
			border-image-source linear-gradient(103deg, #86c98b, #7dcac5)
			text-align center
			@media $xs
				margin-bottom 15px
		&-submit
			width 206px
			height 49px
			border-radius 2px
			border none
			font-size 1.2rem
			color white
