.TextSlider
    max-width 688px
    @media $xs
        padding 0 30px
    &_item
        position relative
        @media $smPlus
            padding-left 110px
    &_num
        @media $xs
            display none
        font-size 6.8rem
        font-family Arial, Helvetica, sans-serif
        font-weight 700
        letter-spacing 0.4px
        color #84d1aa
        text-align right
        position absolute
        left 0
        top 0
        width 94px
        white-space nowrap
        line-height 0.8
            
    &_head,
    &_text
        @media $md
            max-width 406px
            padding-right 26px
    &_head
        font-size 2.8rem
        font-weight bold
        letter-spacing 0.3px
        @media $sm
            max-width 74%
        &-bordered
            position relative
            &:before
                position absolute
                content ''
                width 3px
                bottom 10%
                display block
                top 0
                background-image linear-gradient(to right, #86c98b, #86d3a4 49%, #7dcac5)
                @media $xs
                    display none
                @media $sm
                    left -15px                    
                @media $md
                    left -17px
    &_text
        font-size 1.4rem
        line-height 1.71
        letter-spacing -0.3px
        @media $xs
            padding-top 15px
            padding-bottom 29px
        @media $sm
            padding-bottom 26px
        @media $smPlus
            padding-top 25px
        @media $md
            padding-bottom 43px
        &>p
            margin-bottom 1em
        &>ul>li
            position relative
            padding-left 24px
            padding-bottom 1em
            line-height 1.43
            letter-spacing -0.3px
            &:before
                content ''
                width 10px
                height 2px
                position absolute
                left 0
                top 7px
                background-image linear-gradient(101deg, #86c98b, #7dcac5)
    &_link
        font-weight 600
        letter-spacing 0.1px
        color #85d2a6
        @media $xs
            font-size 14px
        @media $smPlus
            font-size 16px
        &>.SvgIco-arrowRight
            margin-left 12px
            @media $smPlus
                display none
    &_bottom
        @media $smPlus
            padding-left 110px