.Toast
    position relative
    width 100%
    min-height 90px
    border-radius 2px
    font-size 14px
    font-weight 500
    line-height 1.29
    letter-spacing 0.1px
    color #5b6573
    padding 18px 105px 18px 15px
    display flex
    align-items center
    box-shadow 0 24px 32px 0 #13212429, 0 24px 32px 0 #334c5622
    background #fff;
    &_circleWrapper
        height 40px
        width 40px
        position absolute
        top 50%
        right 15px
        transform translateY(-50%)
        &:before
            content ''
            display block
            width 10px
            height 10px
            background #81c8a8
            border-radius 50px
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%)
            animation pointBounce 2s cubic-bezier(.33,.02,.93,.25) .3s infinite
    &_circle
        position absolute
        border 1px solid #81c8a8
        border-radius 200px
        width 50px
        height 50px
        top 50%
        left 50%
        margin-left - 25px
        margin-top -25px
        transform scale(0)
        &:nth-child(1) {
            animation circlesFast 2s cubic-bezier(0,.55,.55,1) .78s infinite
        }
        &:nth-child(2) {
            animation circlesSlow 2s cubic-bezier(0.1, 0.54, 0.55, 1) .6s infinite
        }
    &_strongText
        font-size 16px
        font-weight bold
        line-height 1.12
        color #ebbb47
    &-info
        @media $xs
            padding-right 46px
        @media (max-width 480px)
            padding 10px
        .Toast_circleWrapper
            @media $xs
                right 5px
            @media (max-width 480px)
                display none