.TranspSection
    margin 0 auto
    @media $xs
        padding 0 0 34px
    @media $sm
        padding 0 0 55px
        max-width 1022px
    @media $md
        padding 0 0 146px
        max-width $containerWidth
    //tmp
    //background pink
    &_headWrap
        position relative
        @media $xs
            padding 0 30px
        @media $sm
            padding 0 20px
    &_cardsList
        @media $smPlus
            width 100%
            display flex
        @media $sm
            flex-wrap wrap
            padding-top 14px
    &_item
        //tmp
        //box-shadow 0px 0px 1px 1px red
        @media $sm
            width 50%
            max-width 50%
            margin-bottom 68px
        @media $md
            flex 1