.Underlay
    position fixed
    z-index -99999
    bottom 0
    top 0
    right 0
    width 100%
    height 100%
    pointer-events none
    left 50%
    transform translateX(-50%)
    max-width $containerWidth
    &_line
        position absolute
        top 0
        bottom 0
        width 1px
        background #f2f2f2
        &-n1
            left 25%
        &-n2
            left 50%
        &-n3
            left 75%
        @media $xs
            &-n1,
            &-n3
                display none
        //- tmp
        /*background-color red
        width 4px
        transform translateX(-2px)*/