.Undefined
	height 100%
	background white
	@media $xs
		overflow hidden
		width 100%
	&_header
		font-size 20px
		font-weight bold
		text-align center
		padding-bottom 14px
		padding-top 130px
		@media $xs
			padding-top 67px
		@media $sm
			padding-top 100px
	&_text
		font-weight normal
		text-align center
		line-height 1.4
		padding-bottom 100px
		@media $xs
			padding 0 15px 35px 15px
		@media $sm
			padding-bottom 80px