.UndefinedContent
	&_numbers
		font-size 30rem
		font-weight 800
		text-align center
		user-select none
		pointer-events none
		@media $xs
			font-size 15rem
		&-under
			margin-bottom -150px
			background linear-gradient(105deg, #86c98b, #7dcac5)
			-webkit-background-clip text
			-webkit-text-fill-color transparent
			@media $xs
				margin-bottom -72px
		&-over
			position relative
			top -150px
			background linear-gradient(102deg, #f1faf8, #82ccc6)
			-webkit-background-clip text
			-webkit-text-fill-color transparent		
			@media $xs
				top -78px
	&_over
		background linear-gradient(105deg, #86c98b, #7dcac5)
		overflow hidden
		position relative
		z-index 10
		height 375px
		@media $xs
			height auto
			min-height 45vh
		@media $sm
			height auto
			min-height 56vh
	&_link
		font-size 16px
		font-weight bold
		color white
		line-height normal
		display flex
		display flex
		flex-flow column nowrap
		align-items center
		justify-content center
		position absolute
		bottom 0
		top 19%
		width 100%
		@media $xs
			font-size 14px
	&_icon
		box-shadow 0 14px 11px 0 rgba(0, 0, 0, 0.06)
		margin-bottom 10px
	