.Well
    position relative
    margin 0 auto
    @media $xs
        padding-bottom 26px
    @media $sm
        max-width 752px
        padding 0 10px 18px
    @media $md
        max-width 1192px
        padding 0 17px 18px
    &-n1
        @media $xs
            margin-bottom 50px
        @media $sm
            margin-bottom 64px
        @media $md
            margin-bottom 57px
    &_underlay
        position absolute
        top 18px
        left 0
        width 100%
        bottom 0
        @media $xs
            background linear-gradient(to bottom, #ffd46b, #e4b336);
        @media $smPlus
            background linear-gradient(124deg, #ffd46b, #f9c02f);
        &-green
            background linear-gradient(to bottom,#86c98b,#7dcac5)
        &:after
            content ''
            position absolute
            left 0
            right 0
            bottom 0
            top 0
            background-image url('/img/wavesbg-map.svg')
            background-size auto 100%