mixin DotsPager(additionalClasses)
    div(class=`DotsPager ${additionalClasses || ''}`)
        a(href="#").DotsPager_arrow.DotsPager_arrow-left
            include ../svg/arrow_right.svg
        .DotsPager_dotsWrap
            //- .DotsPager_dot
            //- .DotsPager_activeDot 02
            //- .DotsPager_dot
        a(href="#").DotsPager_arrow.DotsPager_arrow-right
            include ../svg/arrow_right.svg

