mixin FiltersOpts(page="filters")
	.FiltersOpts
		.FiltersOpts_showFilterSidePanelBtn(data-toggle-filter-panel="")
			.FiltersOpts_tabletShowBtn.FiltersOpts_tabletShowBtn-n1
				include ../svg/filter.svg
				div Фильтр
			.FiltersOpts_tabletShowBtn.FiltersOpts_tabletShowBtn-n2
				include ../svg/arrow_short.svg
		.FiltersOpts_mobTopbar
			button.FiltersOpts_mobTopBtn.FiltersOpts_mobTopBtn-close(data-toggle-filter-panel="")
				include ../svg/close.svg
				span.FiltersOpts_mobTopBtnTxt Закрыть
			//-button.FiltersOpts_mobTopBtn.FiltersOpts_mobTopBtn-find(data-toggle-filter-panel="")
				include ../svg/search.svg
				span.FiltersOpts_mobTopBtnTxt Найти
		.FiltersOpts_inner
			form#filterForm(method="get" autocomplete="off" class=`FiltersOpts_form ${page === "flat" ? "FiltersOpts_form-disabled" : ""}` data-typical=`${ page === "plan" ? "15" : "all"}`)
				div(class=`FiltersOpts_item ${ page === "plan" ? "FiltersOpts_item-disabled" : ""}`)
					.FiltersOpts_label Площадь
					.RangeSlider#areaRangeSliderCont(data-slider-range='{"min":24, "max":84}')
						.RangeSlider_rangeVals
							.RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
								span.RangeSlider_minValViewEl
								span м²
							.RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
								span.RangeSlider_maxValViewEl
								span м²
						input(type='hidden', name='area_from' value="31" data-persist-id='area_from')
						input(type='hidden', name='area_to' value="84" data-persist-id='area_to')
				div(class=`FiltersOpts_item ${ page === "plan" ? "FiltersOpts_item-disabled" : ""}`)
					.FiltersOpts_label Количество спален
					.FiltersOpts_checkboxesRow.FiltersOpts_checkboxesRow-justify
						each rooms in ['0', '1', '2', '3']
							.CustomCheckbox
								label.CustomCheckbox_label
									input(type="checkbox" name="bedrooms[]" data-persist-id=`rooms_${rooms}` value=`${rooms}`).CustomCheckbox_input
									span.CustomCheckbox_view #{rooms === '0' ? 'C' : rooms}
				.FiltersOpts_item
					.FiltersOpts_label Этаж
					.RangeSlider#floorsRangeSliderCont(data-slider-range='{"min":2, "max":25}')
						.RangeSlider_rangeVals
							.RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
								span.RangeSlider_minValViewEl
							.RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
								span.RangeSlider_maxValViewEl
						input(type='hidden', name='floor_from' data-persist-id='floor_from' value="2")
						input(type='hidden', name='floor_to' data-persist-id='floor_to' value="25")
				.FiltersOpts_item
					.FiltersOpts_label Корпус
					.FiltersOpts_checkboxesRow
						each house in ['1', '2', '3', '4', '5', '6', '7']
							.CustomCheckbox
								label.CustomCheckbox_label
									input(type="checkbox" name="house[]" data-persist-id=`house_${house}` value=`${house}`).CustomCheckbox_input
									span.CustomCheckbox_view #{house}
				.FiltersOpts_item
					.FiltersOpts_label Вид из окна
					.FiltersOpts_checkboxesRow
						each side in [['Ю', 2], ['З', 3], ['С', 0], ['В', 1]]
							.CustomCheckbox
								label.CustomCheckbox_label
									input(type="checkbox" name="sides[]" data-persist-id=`side_${side[1]}` value=`${side[1]}`).CustomCheckbox_input
									span.CustomCheckbox_view #{side[0]}
				.FiltersOpts_item
					.FiltersOpts_label Отделка
					.FiltersOpts_checkboxesRow(id='CheckboxGroup')
						each type in [['Полная', 0], ['Whitebox', 1]]
							.CustomCheckbox._wide
								label.CustomCheckbox_label
									input(type="checkbox" name="finish_option" data-persist-id=`type_${type[1]}` value=`${type[1]}`).CustomCheckbox_input
									span.CustomCheckbox_view #{type[0]}
				.FiltersOpts_item
					.FiltersOpts_label Стоимость
					.RangeSlider#priceRangeSliderCont(data-slider-range='{"min":1199008, "max":8724370}')
						.RangeSlider_rangeVals
							.RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
								span.RangeSlider_minValViewEl
								span ₽
							.RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
								span.RangeSlider_maxValViewEl
								span ₽
						input(type='hidden', name='price_from' value="2199008" data-persist-id='price_from')
						input(type='hidden', name='price_to' value="7724370" data-persist-id='price_to')
				.FiltersOpts_item
					.FiltersOpts_label Стадия строительства
					.RangeSlider#finishRangeSliderCont(data-slider-range='{"min":1517274658, "max":1880346658}')
						.RangeSlider_rangeVals
							.RangeSlider_valViewWrap.RangeSlider_valViewWrap-min
								span.RangeSlider_minValViewEl
							.RangeSlider_valViewWrap.RangeSlider_valViewWrap-max
								span.RangeSlider_maxValViewEl
						//в инпуты нужно выводить дату в формате 'UTC' (в секундах)
						input(type='hidden' name="entry_date_from" value='1517274658'  data-persist-id='entry_date_from')
						input(type='hidden' name="entry_date_to" value='1580346658'  data-persist-id='entry_date_to')
				.FiltersOpts_item
					button(type="button").FiltersOpts_resetBtn Сбросить фильтр
						include ../svg/refresh.svg
			button.FiltersOpts_tabletHideFilterBtn(data-toggle-filter-panel="")
				span Скрыть фильтр
				include ../svg/arrow_short.svg
