.FiltersMobBar
    a.FiltersMobBar_btn.FiltersMobBar_btn-genplan(href="/genplan.html")
        span.FiltersMobBar_genplancon
            include ../svg/house_filters.svg
        span.FiltersMobBar_genplanText Выбрать на генплане
    a(href="/favorites.html").FiltersMobBar_btn.FiltersMobBar_btn-fav
        include ../svg/star.svg
        span.FiltersMobBar_txt Избранное
    button.FiltersMobBar_btn.FiltersMobBar_btn-filter(data-toggle-filter-panel="")
        include ../svg/filter.svg
        span.FiltersMobBar_txt Фильтр