mixin Fitblock(img, width, height, additionalClasses)
    div(class=`Fitblock${additionalClasses ? ' ' + additionalClasses : ''}`)
        .Fitblock_inner
            // необходимо выводить реальные размеры картинки в атрибуты 'width' и 'height'
            img(src=`${img}` width=`${width}` height=`${height}` alt="").Fitblock_pusher
            block 