mixin FormPopup(additionalClasses)
	.FormPopup#FormPopup(style="display: none;")
		h3.FormPopup_header Подписка на новости
		form.FormPopup_form
			block
			input.FormPopup_inputSubmit.Btn(type="submit", value="Подписаться")