mixin MenuFooter
    .MenuFooter(class!=attributes.class)
        .MenuFooter_sociconsWrap
            a(href="#").MenuFooter_iconLink
                include ../svg/menu_line_facebook.svg
            a(href="#").MenuFooter_iconLink
                include ../svg/menu_line_vk.svg
            a(href="#").MenuFooter_iconLink
                include ../svg/menu_line_instagram.svg
            a(href="#").MenuFooter_iconLink
                include ../svg/menu_line_youtube.svg
        .MenuFooter_developersIconsWrap
            a(href="#").MenuFooter_iconLink
                include ../svg/menu_line_rusich.svg
            a(href="#").MenuFooter_iconLink
                include ../svg/menu_line_blueant.svg