.Prefooter.hidden-xs
    .Prefooter_inner
        .Prefooter_item.Prefooter_item-n1
            a(href="/instalments.html").Prefooter_link.Prefooter_link-n1
                .Prefooter_linkText РАССРОЧКА
                .Prefooter_linkIco.Prefooter_linkIco-white
                    include ../svg/arrow_right.svg
        .Prefooter_item.Prefooter_item-n2
            a(href="/contacts.html").Prefooter_link.Prefooter_link-n2
                .Prefooter_linkText ОФИС НА ОБЪЕКТЕ
                .Prefooter_linkIco.Prefooter_linkIco-white
                    include ../svg/arrow_right.svg
        .Prefooter_item.Prefooter_item-n3
            a(href="/furnish.html").Prefooter_link.Prefooter_link-n3
                .Prefooter_linkText ШОУРУМ С ОТДЕЛКОЙ
                .Prefooter_linkIco.Prefooter_linkIco-white
                    include ../svg/arrow_right.svg
        .Prefooter_item.Prefooter_item-n4
            a(href="/mortgage.html").Prefooter_link.Prefooter_link-n4
                .Prefooter_linkText ИПОТЕКА
                .Prefooter_linkIco.Prefooter_linkIco-white
                    include ../svg/arrow_right.svg