.Prefooter
    .Prefooter_inner
        .Prefooter_item.Prefooter_item-n1
            a(href="/gallery.html").Prefooter_link.Prefooter_link-n1
                .Prefooter_linkText ГАЛЕРЕЯ
                .Prefooter_linkIco.Prefooter_linkIco-n1
                    include ../svg/gallery.svg
        .Prefooter_item.Prefooter_item-n2
            a(href="/panorama.html").Prefooter_link.Prefooter_link-n2
                .Prefooter_linkText ПАНОРАМА 360
                .Prefooter_linkIco.Prefooter_linkIco-n2
                    include ../svg/panorama.svg
        .Prefooter_item.Prefooter_item-n3
            a(href="/webcams.html").Prefooter_link.Prefooter_link-n3
                .Prefooter_linkText ВЕБ КАМЕРЫ
                .Prefooter_linkIco.Prefooter_linkIco-n3
                    include ../svg/camera_online.svg
        .Prefooter_item.Prefooter_item-n4
            a(href="/").Prefooter_link.Prefooter_link-n4
                .Prefooter_linkText К ГЛАВНОЙ
                .Prefooter_linkIco.Prefooter_linkIco-n4
                    include ../svg/arrow_right.svg