mixin PromoCard(title, imagePath)
    .PromoCard
        .PromoCard_pic(style=`background-image:url(${imagePath});`)
        .PromoCard_linksRow
            .PromoCard_linksWrap
                a.PromoCard_socialLink(href="#")
                    include ../svg/facebook.svg
                a.PromoCard_socialLink(href="#")
                    include ../svg/twitter.svg
                a.PromoCard_socialLink(href="#")
                    include ../svg/vk.svg
                a.PromoCard_readMoreLink(href="#")
                    span.PromoCard_readMoreText Подробнее 
                    include ../svg/arrow_right.svg
        h6.PromoCard_titleRow #{title}